{% extends "base.html" %}
{% load representatives feedback_form %}

{% block title %}Обратная связь с разработчиками Системы | Помощь{% endblock title %}

{% block inlinejs %}
{% endblock inlinejs %}
{% block content %}

<h2>Обратная связь с разработчиками Системы ИСТИНА - Наука МГУ</h2>

<p>Если у Вас (или у Вашего коллеги) возникает проблема с регистрацией или входом в Систему, то прежде чем
обращаться к ответственным, пожалуйста, следуйте инструкциям на странице
<a href="{% url help_registration_problems %}">Вопросы, связанные с регистрацией или входом в Систему</a>.</p>

В связи с большим количеством сообщений от пользователей механизм общения с
разработчиками Системы был изменен. Если при работе с Системой у Вас возникают
какие-либо вопросы или предложения, <b> свяжитесь с ответственным
сотрудником по вашему подразделению</b>. Список ответственных, представленный далее, сформирован на основании <a href=
"http://www.msu.ru/news/official/2012/pr2012_921.pdf" title="Перейти на страницу
приказа" target="_blank">приказа № 921</a> от 13 сентября 2012 года "Об
Информационно-аналитической системе "Наука-МГУ". Что делать, если при
взаимодействии с ответственными возникают вопросы, см. ниже под таблицей.

<h3 class="margin-top">Список {% if not full %}активных {% endif %}ответственных сотрудников {% if full %}всех подразделений МГУ{% else %}в вашем подразделении{% endif %}</h3>

{% if full %}
    Ниже представлен полный список ответственных сотрудников по всем подразделениям МГУ.
    Список активных ответственных только по вашему подразделению <a href="{% url help_feedback %}" title="Перейти к краткому списку ответственных">доступен по ссылке</a>.
{% else %}
    Ниже представлен список <i>активных</i> ответственных сотрудников по вашему подразделению.
    {% comment %}
    Полный список ответственных по всем подразделениям МГУ <a href="{% url help_feedback_full %}" title="Перейти к полному списку ответственных">доступен по ссылке</a>.
    {% endcomment %}
{% endif %}

{% show_representatives user full %}

<h3 class="margin-top">Если ответственный не может решить вопрос</h3>

Попросите его связаться с разработчиками, и мы ответим ему, а уже он ответит вам.

<h3 class="margin-top">Если в списке нет ответственного по вашему подразделению</h3>

Обратитесь в научный отдел своего подразделения или к ответственному по организации, которую вы представляете, из следующего списка.
Сообщите ему ваше подразделение и отметьте, что по нему нет ответственного. Опишите также вопрос, по
которому вы хотели к нему обратиться.

<h3 class="margin-top">Если ответственный не отвечает (заболел / ушел в отпуск)</h3>

Обратитесь в научный отдел своего подразделения или к ответственному по организации в целом из списка далее.

<h3 class="margin-top">Список ответственных сотрудников по Московскому университету</h3>

<b>Внимание</b>! Пожалуйста, обращайтесь к ответственным из этого списка только в том случае, если возникают вопросы
при взаимодействии с ответственными по вашему подразделению (или если таких ответственных нет).

{% show_representatives user full 1 %}

<h3 class="margin-top">Если ответственный по организации тоже не может помочь</h3>

Если у Вас не получилось решить проблему ни с помощью ответственных по подразделению, ни с помощью
научного отдела, ни с помощью ответственных по организации, обратитесь к разработчикам, используя  <a href="javascript:PopUpShow()">ссылку</a>. Пожалуйста, предполагайте, что ответ может прийти с задержкой. В первую очередь разработчиками
обрабатываются письма от ответственных. Если вы хотите получать от разработчиков оперативные ответы на
ваши вопросы, пожалуйста, становитесь ответственным по своему подразделению. Информация об этом
приведена ниже.


<br />
<h3 class="margin-top">Меня назначили ответственным. Что мне делать?</h3>
Ознакомьтесь с <a href="/help/feedback/representatives/manual/" title="Перейти на страницу с инструкцией для ответственных">
инструкцией для ответственных</a>.

<h3 class="margin-top">Вы хотите стать ответственным?</h3>
<hr>

<br/>Если вы научились работать в Системе и хотите помочь другим, мы приглашаем Вас стать ответственным по Вашему
подразделению. Вы можете по желанию стать ответственным по своей лаборатории, кафедре, факультету и т.д. Сообщите
Александре Резниковой (её координаты приведены выше) название подразделения и Ваши
контактные данные. Мы внесем Вас в список на этой странице. Отметим, что по одному подразделению может быть несколько
ответственных.

<h4 class="margin-top">Зачем становиться ответственным?</h4>

Во-первых, Вы сможете помогать своим коллегам разобраться в Системе и, тем самым, будете способствовать развитию Московского
университета и повышению его репутации в мире (кроме радости от помощи другим). Во-вторых, письма от ответственных
обрабатываются разработчиками Системы в первую очередь и, таким образом, вы получаете прямой канал оперативной связи с ними.

<h4 class="margin-top">Какие обязанности у ответственных?</h4>

Ответственные должны отвечать на вопросы пользователей Системы по электронной почте, телефону и, при необходимости, при
личной встрече (если вы укажете ваш рабочий адрес, мы добавим его в таблицу). Полная инструкция для ответственных находится
на странице <a href="/help/feedback/representatives/manual/" title="Перейти на страницу с инструкцией для ответственных" target=
"_blank">Инструкция для ответственных по системе</a>.

<h4 class="margin-top">Мои контактные данные не попадут в базы данных спамеров?</h4>

Список ответственных доступен для просмотра только авторизованным пользователям Системы, поэтому ваши контактные данные не
смогут автоматически попасть в базы данных спамеров. Вы можете выйти из Системы и затем снова перейти на эту страницу, чтобы
убедиться в том, что она недоступна для неавторизованных (анонимных) пользователей.

{% endblock %}
