{% extends "base.html" %}
{% load feedback_form %}

{% block title %}Проблемы с регистрацией или входом в систему | Помощь{% endblock title %}

{% block content %}
<h2>Проблемы с регистрацией или входом в систему</h2>

Во-первых, убедитесь, что при регистрации Вы следуете инструкции: <a href="/help/registration/">Как зарегистрироваться в системе?</a>

<h3 class="margin-top">Что нужно вводить в качестве имени пользователя и пароля при регистрации?</h3>

В качестве имени пользователя (логина) введите произвольное сочетание <b>латинских букв</b> без пробелов. Обратите внимание, что логин будет использоваться в адресе Вашей общедоступной страницы в системе (вида http://istina.msu.ru/profile/<логин>/). В качестве пароля введите
другое произвольное сочетание <b>латинских букв</b> без пробелов. В поле "подтверждение пароля" введите то же значение, что
и в поле "пароль". Нажмите на кнопку "Регистрация". Если все поля заполнены верно, отобразится сообщение на зеленом фоне об
успешной регистрации. Вам на электронную почту придет письмо со ссылкой, на которую нужно нажать для подтверждения Вашего
электронного адреса. После нажатия на эту ссылку Вы вернетесь в систему и сможете пользоваться всеми ее функциями.

<h3 class="margin-top">Письмо для подтверждения адреса электронной почты не пришло.</h3>
<ol>
    <li>Проверьте папку "Спам" в Вашей почтовой программе.</li>
    <li>Если это не помогло, отправьте письмо еще раз со страницы <a href="{% url email_validation_reset %}" title="Перейти на страницы повторной посылки письма для подтверждения электронного адреса">Повторная посылка письма для подтверждения электронного адреса.</a></li>
</ol>

<h3>Ссылка в письме для подтверждения адреса электронной почты устарела.</h3>
Отправьте письмо еще раз со страницы <a href="{% url email_validation_reset %}" title="Перейти на страницы повторной посылки письма для подтверждения электронного адреса">Повторная посылка письма для подтверждения электронного адреса.</a>

<h3 class="margin-top">При входе в систему появляется сообщение "Эта учетная запись отключена".</h3>
Вам необходимо подтвердить адрес Вашей электронной почты. Для этого отправьте письмо для его подтверждения со страницы <a
href="{% url email_validation_reset %}" title="Перейти на страницы повторной посылки письма для подтверждения электронного
адреса">Посылка письма для подтверждения электронного адреса.</a> Когда письмо придет, откройте его и нажмите ссылку в
теле письма. Ссылка имеет вид http://istina.msu.ru/accounts/email/validation/&lt;код подтверждения&gt;. Перейдя по ссылке из
письма, вы попадете на страницу входа в систему. Ваша учетная запись активирована, теперь вы можете войти в систему под своим
именем пользователя и паролем.

<h3 class="margin-top">Я забыл(а) пароль (или же появляется сообщение "Пожалуйста, введите верные имя пользователя и пароль").</h3>
Воспользуйтесь <a href="{% url password_reset %}" title="Перейти на страницу сброса пароля">функцией сброса пароля</a>.

<h3 class="margin-top">Если ничего не помогло.</h3>

Если вы выполнили инструкции, приведенные на этой странице, но проблема не решилась, воспрользуйтесь <a href="javascript:PopUpShow()">формой</a> создания обращения. Подробно опишите проблему и <b>обязательно укажите свой электронный адрес</b>, чтобы мы могли ответить вам.

{% endblock %}