{% with patent=object %}
<ul class="activity"><!-- patent short information -->
    <li>
        <b>{{ patent.date|date:"Y"}}</b>
        {% if not no_links %}
            <a href="{{ patent.get_absolute_url }}" title="Перейти на страницу патента">{{ patent.title }}</a>
        {% else %}
            {{ patent.title }}
        {% endif %}
    </li>
    {% include "common/workers_list.html" with object=patent %}
    <li>#{{ patent.number }}, {{ patent.date|date:"j E" }}</li>
</ul>
{% endwith %}
