{% extends "base.html" %}

{% block title %}Список прав Ваших коллег{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}unified_permissions/css/datatable.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/base.js"></script>
{%  endblock %}

{% block extrajs %}
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables-1.10.4.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.editable.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.jeditable.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}unified_permissions/js/datatables.js"></script>
{% endblock %}

{% block content %}
    <h2>Роли и разрешения пользователей в организациях и подразделениях.</h2>
    <ul type="disc">

        {% if request.user.representatives.organization_level %}
            <li>
                <h4>
                    <a href="/unified_permissions/role_permission/organization/add/">
                    Добавить разрешение в рамках организации
                    </a>
                </h4>
            </li>
        {% endif %}

        <li>
            <h4>
                <a href="/unified_permissions/role_permission/department/add/">
                Добавить разрешение в рамках подразделения
                </a>
            </h4>
        </li>

        {% if request.user.representatives.organization_level %}
            <li>
                <h4>
                    <a href="/organizations/representative/organization/add/">
                    Назначить ответственного по организации
                    </a>
                </h4>
            </li>
        {% endif %}

        <li>
            <h4>
                <a href="/organizations/representative/department/add/">
                Назначить ответственного по подразделению
                </a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="/unified_permissions/history/" target="_blank">История изменений</a>
            </h4>
        </li>
    </ul>
    <form method="post" action="/unified_permissions/user/department/list/">
    {% csrf_token %}
    {% autoescape off %}
        {{ selector }}
    {% endautoescape %}
    <input type="submit" name="sorting_button" value="Показать" class="sorting_button"/>
    <div class="dataTables_wrapper">
        <table id="tblData">
            <thead>
                <th>№</th>
                <th>Пользователь</th>
                <th>Место работы пользователя</th>
                <th>Название разрешения</th>
                <th>Подразделение/Организация</th>
                <th>Активно</th>
                <th>Ред. список</th>
                <th></th>
            </thead>
            <tbody>
                {% for permission in authority_permissions_custom_dict_objects %}
                    <tr>
                        <td>{{ permission.num }}</td>
                        <td><a href={{ permission.user_profile_dict.url }}>
                            {{ permission.user_profile_dict.name }}
                            </a>
                        </td>
                        <td>
                            {% for department in permission.user_profile_dict.workership_departmemts_dicts %}
                                {% if department.name != "" %}
                                    <a href={{ department.url }}>{{ department.name }};</a>
                                    <br/>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="/unified_permissions/role_permission/{% if permission.org_level %}organization{% else %}department{% endif %}/{{ permission.id }}/edit/">
                             {{ permission.name }}
                            </a>
                        </td>
                        <td>
                            <a href={{ permission.object_dict.url }}>{{ permission.object_dict.name }}</a>
                        </td>
                        <td>
                            <div onmouseover="activateApprovementSelector(event, this, {{ permission.id }}, 'permission',
                                    '{{ csrf_token }}', $(this).closest('tr').index())">
                                {% if permission.is_active %}Да{% else %}Нет{% endif %}
                            </div>
                        </td>
                        <td><a href="/unified_permissions/user/{{ permission.user_profile_dict.id }}/{% if permission.org_level %}organization{% else %}department{% endif %}/{{ permission.object_dict.id }}/edit/">ред.</a> </td>
                        <td><input type="checkbox" name="perm_delete_list" value="{{ permission.id }}"/></td>
                    </tr>
                {% endfor %}
                {% for representative in fellow_representatives_custom_dict_objects %}
                    <tr>
                        <td>{{ representative.num }}</td>
                        <td><a href={{ representative.user_profile_dict.url }}>{{ representative.user_profile_dict.name }}</a></td>
                        <td>
                            {% for department in representative.user_profile_dict.workership_departmemts_dicts %}
                                {% if department.name != "" %}
                                    <a href={{ department.url }}>{{ department.name }};</a>
                                    <br/>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="/organizations/representative/{% if representative.org_level %}organization{% else %}department{% endif %}/{{ representative.id }}/edit/">{{ representative.name }}</a></td>
                        <td><a href={{ representative.object_dict.url }}>{{ representative.object_dict.name }}</a></td>
                        <td>
                            <div onmouseover="activateApprovementSelector(event, this, {{ representative.id }}, 'representative',
                                                                   '{{ csrf_token }}', $(this).closest('tr').index())">
                                {% if representative.is_active %}Да{% else %}Нет{% endif %}
                            </div>
                        </td>
                        <td></td>
                        <td><input type="checkbox" name="repr_delete_list" value="{{ representative.id }}"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <input type="submit" value="Удалить выбранные разрешения"/>
    </form>
{% endblock content %}