{% extends "base.html" %}

{% block title %}Управление правами доступа{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
    <h2>Управление ролями и правами доступа</h2>
    <ul type="disc">
        <h3>Разрешения в рамках подразделения</h3>
        {% if request.user.representatives.organization_level %}
            <li>
                <h4>
                    <a href="/unified_permissions/role_permission/organization/add/">
                    Добавить разрешение в рамках организации
                    </a>
                </h4>
            </li>
        {% endif %}
        <li>
            <h4>
                <a href="/unified_permissions/role_permission/department/add/">
                Добавить разрешение в рамках подразделения
                </a>
            </h4>
        </li>
         {% if request.user.representatives.organization_level %}
            <li>
                <h4>
                    <a href="/organizations/representative/organization/add/">
                    Назначить ответственного по организации
                    </a>
                </h4>
            </li>
        {% endif %}
        <li>
            <h4>
                <a href="/organizations/representative/department/add/">
                Назначить ответственного по подразделению
                </a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="/unified_permissions/user/department/list/">
                Список выданных разрешений
                </a>
            </h4>
        </li>
    </ul>
{% endblock %}