{% extends "base.html" %}
{% load admin_urls %}
{% load url from future %}

{% block title %}История изменений{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}unified_permissions/css/datatable.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block extrajs %}
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}unified_permissions/js/datatables.js"></script>
{% endblock %}

{% block content %}
    <h2>История изменений</h2>
    <h4>
        {% if analized_user %}
            {% if about_flag %}
                На данной странице отображаются все изменения, связанные с работой с разрешениями и назначением ответственных,
                которые выполнялись "над" пользователем {{ analized_user.get_profile.name }}.
                {% else %}
                На данной странице отображаются все изменения, связанные с работой с разрешениями и назначением ответственных,
                которые выполнялись пользователем {{ analized_user.get_profile.name }}.
                {% endif %}
        {% else %}
            На данной странице отображаются все изменения, связанные с работой с разрешениями и назначением ответственных,
            которые были совершены Вашими коллегами из Вашего и/или дочерних подразделений.
        {% endif %}
    <br>
    Щёлкнув на ссылку в колонке "Пользователь", Вы перейдёте на страницу истории действий данного пользователя.
    <br>
    Щёлкнув на ссылку с ФИО пользователя в колонке "Пользователь, Объект", Вы перейдёте на страницу истории действий,
    совершённых "над" пользователем.
    </h4>
    <div id="content-main">
        <div class="dataTables_wrapper">
            {% if object_action_list %}
                <table id="tblData">
                    <thead>
                        <tr>
                            <th scope="col">Дата</th>
                            <th scope="col">Пользователь</th>
                            <th scope="col">Действие</th>
                            <th scope="col">Пользователь, Объект</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for action in object_action_list %}
                            <tr>
                                <td>{{action.revision.date_created}} </a> </td>
                                <td>
                                    {% if action.revision.user %}
                                        <a href="/unified_permissions/history/{{action.revision.user.username}}/">{{action.revision.user.username}}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {{action.comment}}
                                    {% if action.permission_russian_codename %}
                                        "{{action.permission_russian_codename}}"
                                    {% endif %}
                                </td>
                                <td>
                                {% if action.object.user %}

                                    {% if action.object.user.get_profile.get_absolute_url %}
                                        <a href="/unified_permissions/history/about/{{action.object.user.username}}/">
                                            {{action.object.user.get_profile.name}},
                                        </a>
                                    {% else %}
                                         {{action.object.user.get_profile.name}},
                                    {% endif %}

                                    {% if action.object.unit %}
                                        <a href="{{action.object.unit.get_absolute_url}}">{{action.object.unit}}</a>
                                    {% endif %}


                                    {% if action.object_target %}
                                        {% if action.object_target.get_absolute_url %}
                                            <a href="{{ action.object_target.get_absolute_url }}">
                                                {{ action.object_target }}
                                            </a>
                                        {% else %}
                                            {{ action.object_target }}
                                        {% endif %}
                                    {% endif %}

                                {% else %}
                                    {{ action.object }}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Нет действий для отображения</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}