{% extends "base.html" %}
{% load i18n myforms %}

{% block extracss %}

    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}admin/css/widgets.css" type="text/css"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/widgets.css" type="text/css"/>

    <style type="text/css">
        .selector { display: flex }
    </style>

{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}base/js/add_edit_object.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/formset_add_form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>


    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectBox.js"></script>
{% endblock %}

{% block nocompressjs %}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
{% endblock %}

{% block title %}Редактировать роли для сотрудника в {% if org_level %}организации{% else %}подразделении{% endif %}{% endblock %}

{% block content %}
    <h5>
        На данной странице Вы можете отредактировать список ролей и разрешений пользователя {{ auth_user.get_profile.name }}
        в рамках {% if org_level %}организации{% else %}подразделения{% endif %} {{ auth_object.name }}.
    </h5>
    <div class="form">
    <form action="/unified_permissions/user/{{ auth_user.id }}/{% if org_level %}organization{% else %}department{% endif %}/{{ auth_object.id }}/edit/?redirect_url={{ redirect_url }}" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="form-row">
                {% if form.non_field_errors %}
                    <div class="error">
                        <span class="ui-icon ui-icon-alert" ></span>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for hidden_field in form.hidden_fields %}
                    <div class="field">
                        {{ hidden_field }}
                    </div>
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="field{% if field.errors %} error-container{% endif %}">
                        {% if field.errors %}
                            <div class="error">
                                <span class="ui-icon ui-icon-alert"></span>
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {% if field.label %}{{ field.label_tag }}{% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <br/><span class="help_text">({{ field.help_text }})</span>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <input type="submit" value="Сохранить" />
        <input type="submit" name="cancel_button" value="Отмена" />
    </form>
    </div>
{% endblock %}