{% extends "base.html" %}
{% load i18n myforms %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/dynatree/ui.dynatree.css" type="text/css" id="skinSheet"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}unified_permissions/css/dynatree.css" type="text/css" media="all" charset="utf-8"/>
{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree_widgets.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}base/js/add_edit_object.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/formset_add_form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
{% endblock %}

{% block title %}
    {% if edit_mode %}
        Отредактировать роль сотрудника
    {% else %}
        Выдать сотруднику роль
    {% endif %}
{% endblock %}

{% block content %}
    <h5>
    {% if edit_mode %}
        {% if org_level %}
            На данной странице Вы можете отредактировать роль некоторого сотрудника из Вашей
            организации. Напоминаем, что Вы можете редактировать роли пользователя в рамках всей организации,
            только если Вы являетесь ответственным по этой организации.
        {% else %}
            На данной странице Вы можете отредактировать роль некоторого сотрудника из Вашего или
            "дочернего" для Вашего подразделения. Напоминаем, что Вы можете редактировать роли пользователя в подразделении,
            только если Вы являетесь ответственным по этому подразделению или если это подразделение
            является "дочерним" для того, по которому Вы являетесь ответственным.
        {% endif %}
    {% else %}
        {% if org_level %}
            На данной странице Вы можете выдать пользователю определённую роль в рамках некоторой организации.
        {% else %}
            На данной странице Вы можете выдать пользователю определённую роль в рамках некоторого подразделения:
            либо  того, по которому Вы являетесь ответственным, либо по тому, которое является "дочерним" для подазделения,
            по которому Вы являетесь ответственным.
        {% endif %}
        <br/>
        Для осуществления поиска пользователя, начните его вводить его фамилию
    {% endif %}
    </h5>
    <form action="/unified_permissions/role_permission/{% if org_level %}organization{% else %}department{% endif %}/{% if edit_mode %}{{ role_permission_id }}/edit{% else %}add{% endif %}/?redirect_url={% if redirect_url %}{{ redirect_url }}{% else %}/unified_permissions/user/department/list/{% endif %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                Информация о роли сотрудника в {% if org_level %}организации{% else %}подразделении{% endif %}
            </legend>
        <div class="form">
                {% if form.non_field_errors %}
                    <div class="error">
                        <span class="ui-icon ui-icon-alert" ></span>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for hidden_field in form.hidden_fields %}
                    <div class="field">
                        {{ hidden_field }}
                    </div>
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="field{% if field.errors %} error-container{% endif %}">
                        {% if field.errors %}
                            <div class="error">
                                <span class="ui-icon ui-icon-alert"></span>
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {% if field.label %}{{ field.label_tag }}{% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <br/><span class="help_text">({{ field.help_text }})</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <input type="submit" value="{% if edit_mode %}Сохранить{% else %}Выдать{% endif %}"/>
        <input type="submit" name="cancel_button" value="Отмена" />
    </form>
{% endblock %}