{% load i18n myforms %}

{% if worker and alias_formset %}
    <h3 class="margin-top">Ваши альтернативные имена</h3>
    <hr />
    {# <span class="margin-left">Подсказка: например, добавьте Ваше имя на английском языке.</span> #}
    <form id="aliases_form" method="post" action="{% url workers_registration_aliases %}">{% csrf_token %}
        {% show_formset alias_formset %}
        <br/>
        <input type="submit" value="Сохранить альтернативные имена" title="Сохранить альтернативные имена в системе">
    </form>
{% endif %}

