{% load i18n myforms %}

<script type="text/javascript">
  function showDiv(divname) {
       var all_divs = ["div_add_degree", "div_add_rank", "div_add_academian_rank"];
       for(i=0; i < all_divs.length; i++) {
           if(all_divs[i] != divname) {
               var e = document.getElementById(all_divs[i]);
               e.style.display = 'none';
           }
       }
       var e = document.getElementById(divname);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
      // should be assigned each time div is displayed
      $('#id_ordinary-date, #id_academy-date').datepicker({ changeMonth: true, changeYear: true, yearRange: '1930:2020' });
  }

$(document).ready(function() {
  document.getElementById("toggle_{{show_form}}").click();
});
</script>


{% if worker %}
<a id="toggle_degree" onclick="showDiv('div_add_degree')">Добавить степень</a>&nbsp;&nbsp;&nbsp;
<a id="toggle_ordinary" onclick="showDiv('div_add_rank')">Добавить звание</a>&nbsp;&nbsp;&nbsp;
<a id="toggle_academy" onclick="showDiv('div_add_academian_rank')">Добавить академическое звание</a>

<div id="div_add_degree" style="display:none;">
    <form id="add_degree_form" class="personal" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>Добавить степень</legend>
            {% show_form degree_form %}
            <div class="submit">
                <input id="degree_submit" type="submit" value="Добавить степень"  title="Сохранить информацию в системе" />
            </div>
        </fieldset>
    </form>
</div>

<div id="div_add_rank" style="display:none;">
    <form id="add_ordinary_rank_form" class="personal" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>Добавить звание</legend>
            {% show_form ordinary_rank_form %}
            <div class="submit">
                <input id="rank_submit" type="submit" value="Добавить звание"  title="Сохранить информацию в системе" />
            </div>
        </fieldset>
    </form>
    <b>Внимание!</b>
    Присвоенное ранее учёное звание старшего научного сотрудника и доцента по кафедре соответствует ученому званию доцента, а звание профессора по кафедре&ndash; учёному званию профессора (Постановление Правительства Российской Федерации от 10 декабря 2013 года  № 1139).
</div>

<div id="div_add_academian_rank" style="display:none;">
    <form id="add_academian_rank_form" class="personal" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>Добавить академическое звание</legend>
            {% show_form academy_rank_form %}
            <div class="submit">
                <input id="rank_submit" type="submit" value="Добавить звание"  title="Сохранить информацию в системе" />
            </div>
        </fieldset>
    </form>    
</div>
{% endif %}


{% if worker.degrees.exists %}

    <div id="degrees">
        <h3 class="margin-top">Степен{{ worker.degrees.count|pluralize:"ь,и" }}</h3>

        <ul>
            {% for degree in worker.degrees.all %}
                <li>
                    <ul class="activity">
                        <li>
                            <b>
                                {{ degree.degree.name }}{% if degree.year %} с {{ degree.year }} года{% endif %}
                            </b>
                        </li>
                        <li>
                            <a class="degree_delete inner" href="">Удалить степень</a>
                            <input type="hidden" value="{{ degree.id }}">
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


{% if worker.ranks.exists %}

    <div id="ranks">
        <h3 class="margin-top">Звани{{ worker.degrees.count|pluralize:"е,я" }}</h3>

        <ul>
            {% for rank in worker.ranks.all %}
                <li>
                    <ul class="activity">
                        <li>
                            <b>
                                {{ rank.get_fullname }}{% if rank.date %} с {{ rank.date }}{% endif %}
                            </b>
                        </li>
                        <li>
                            <a class="rank_delete inner" href="">Удалить звание</a>
                            <input type="hidden" value="{{ rank.id }}">
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="." method="post">{% csrf_token %}
  <input type="submit" name="nextstep" value="Продолжить"/>
</form>
