{% load i18n myforms %}

{% if worker %}
    <form id="add_employment_form" class="personal" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>{{employment_form.instance.id|yesno:"Изменить,Добавить"}} место работы</legend>
            {% show_form organization_form %}
            <div id="divDepSelect" style="display: none;">
              <div id="myDivbaby" style="max-height: 450px; height:auto; width:600px; overflow:auto">
                <div id="org_tree"></div>
              </div>
            </div>
            <div class="chosen_department">
                <label>Выбранное место работы:</label>
                <h4 id="chosen_department"></h4>
                <a id="change_department" href="#" onClick="show_department_tree(); return false;">Изменить</a>&nbsp;&nbsp;
                <a id="ext_institution">{{ employment_form.fields.institution.label|slice:":-1" }}</a>
            </div>
            {% show_form employment_form %}
            <div id="div_submit">
                <input id="submit" type="submit" value="{{employment_form.instance.id|yesno:"Изменить,Добавить"}} место работы"  title="Сохранить информацию в системе" />
            </div>
        </fieldset>
    </form>

    {% if worker.employments.exists %}
        <div id="employments">
            <h3>Подтвержденн{{worker.employments.count|pluralize:"ое,ые"}} мест{{ worker.employments.count|pluralize:"о,а" }} работы</h3>
            <hr />
            <ul>
                {% for employment in worker.employments.all %}
                    <li> {% include "workers/employment_snippet.html" %} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    {% if worker.employments_claimed.exists or worker.institution %}
        <div id="employments">
            {% with institution=worker.institution|yesno:"1,0" %}
            <h3>Мест{{ worker.employments_claimed.count|add:institution|pluralize:"о,а" }} работы</h3>
            {% endwith %}
            <hr />
            <ul>
              {% if worker.institution %}
              <ul class="activity">
                <li>{{worker.institution}}</li>
                <li>
                  <a class="employment_delete inner" href="">Удалить место работы</a>
                  <input type="hidden" value="-{{worker.id}}">
                </li>
              </ul>
              {% endif %}
                {% for employment in worker.employments_claimed.all %}
                    <li> {% include "workers/employment_snippet.html" with can_edit=0 %} </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endif %}

<form action="." method="post">{% csrf_token %}
  <input type="submit" name="nextstep" value="Продолжить"/>
</form>
