{% load i18n myforms %}

    <h3>Полное имя</h3>
    <hr />
    <form class="personal" action="{% url workers_registration_fullname %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% show_form main_form %}
        <hr class="space" />
        <input type="submit" value="Сохранить изменения" title="Сохранить информацию в системе" />
    </form>
