{% load i18n myforms %}

<style>
  #ta_keywords, #ta_engkeywords {height: 100px;}
</style>

{% if keywords_form %}
<div class="span-16">
<form action="." method="POST">{% csrf_token %}
Пожалуйста, укажите ключевые слова, которые описывают область Ваших научных интересов.<br/>

На русском языке:<br/>
<textarea rows="6" name="keywords" id="ta_keywords" class="span-14">{{keywords}}</textarea>

<br/>На английском языке:<br/>
<textarea rows="4" name="engkeywords" id="ta_engkeywords" class="span-14">{{engkeywords}}</textarea>
<input type="submit" value="Продолжить"/>
</form>
</div>
{% endif %}
