{% block userprofile_content %}

{% if linking_form %}
<h3 class="margin-top">Похожие сотрудники в системе</h3>
<hr />
{% if worker %}
<h4 class="margin-left">
Ваш профиль связан с сотрудником <a href="{{ worker.get_absolute_url }}" title="Перейти на вашу страницу">{{ worker.fullname }}</a>.
<a class="inner toggle_similar_workers_form" href="" title="Связать себя с другим сотрудником">изменить</a>
<a class="inner toggle_similar_workers_form hide" href="" title="Скрыть область выбора сотрудника">скрыть</a>
</h4>
{% endif %}

<form id="similar_workers_form" class="personal{% if worker %} hide{% endif %}" action="." method="post" enctype="multipart/form-data">{% csrf_token %}

    <fieldset>
        <legend>В системе найдены сотрудники с похожими именами</legend>
        <table class="worker-list">
            <thead>
                <tr>
                    <th>Ваше имя</th>
                    <th>Похожие сотрудники в системе</th>
                </tr>
            </thead>
            <tbody>
                <tr class="workers_not_chosen hide">
                    <td colspan="2">
                        <div class="error">
                            <span class="ui-icon ui-icon-alert" ></span>
                            Пожалуйста, выберите похожих сотрудников в системе или добавьте новых:
                        </div>
                    </td>
                </tr>
                <tr>
                    {% include 'workers/worker_form.html' with form=linking_form %}
                </tr>
           </tbody>
        </table>
        <input type="submit" value="Сохранить выбор сотрудника" title="Сохранить информацию" />
    </fieldset>
</form>
{% endif %}

{% endblock %}
