{% load i18n myforms %}

{% block userprofile_content %}

{% if other_systems_form %}
<div class="span-16">
Пожалуйста, выберите название системы из списка или введие название другой системы.

<form class="personal" action="." method="post">{% csrf_token %}
  {% show_form other_systems_form %}
  <hr class="space" />
  <input type="submit" value="Сохранить" title="Сохранить информацию в системе" />
</form>


{% if worker.external_ids.exists %}
  Ваши идентификаторы:
<table>
  {% for eid in worker.external_ids.all %}
    <tr>
      <td><b>{{eid.system_name}}</b>:</td>
      <td>
      {% if eid.get_url %}
         <a href="{{eid.get_url}}" target="_blank">{{eid.userid}}</a>
      {% else %}
         {{eid.userid}}
      {% endif %}
      </td>
      <td><a href="{% url workers_registration_other_systems_delete eid.id %}">удалить</a>
    </tr>
  {% endfor %}
</table>
Пожалуйста, проверьте, что при нажатии на ссылку открывается Ваша страница в указанной системе.
Ссылки работают только для систем, выбранных из предложенного списка.
{% else %}
  Вы не указали ни одного идентификатора в других системах.
{% endif %}

<br/><br/>
<form action="." method="post">{% csrf_token %}
  <input type="submit" name="nextstep" value="Продолжить"/>
</form>

</div>
{% endif %}


{% endblock %}
