{% load workers_show %}
{% block userprofile_content %}

<style language="text/css">
{# hide images; #}
div.worker_short > div.span-2 { display: none; }

{# highlight selected worker #}
div.worker_short {
    background: #eee;
    border-top: 1px solid #eee;
}
div.worker_short:hover {
    background: #e1e1e1;
    border-top: 1px solid #d0d0d0;
}
</style>

<script type="text/javascript">
  function show_details(id) {
    // initialize dialog
    var dialog1 = $("#details_dialog").dialog({
      autoOpen: false,
      width: "990px",
      height: "auto",
      position: ["center",20],
      draggable: true,
      modal: true,
      title: "Информация о сотруднике (последние добавленные работы)",
      buttons: [ { text: "Да, это мои работы",
                   click: function() {
                       $("#cb_" + id).prop('checked', true);
                       $( this ).dialog( "close" );
                    }
                },
                { text: "Нет, это не мои работы",
                   click: function() {
                       $("#cb_" + id).prop('checked', false);
                       $( this ).dialog( "close" );
                    }
                } ]
    });

   // load content and open dialog
   dialog1.load('/workers/' + id + '/ajax/').dialog('open');
  }
</script>


<h3 class="margin-top">Похожие авторы в системе</h3>
<hr />

{% if similar_workers %}
В системе найдены записи, которые могут содержать данные о Ваших публикациях. Пожалуйста,
просмотрите приведенный ниже список авторов и отметьте те строчки, которые содержат Ваши работы.
Если какая-либо запись включает как Ваши, так и чужие работы, то Вы можете на данном этапе добавить
все работы, а в дальнейшем "отказаться" от авторства лишних работ.

<form method="post" action=".">{% csrf_token %}
{% for sw in similar_workers %}
  <div class="worker_short span-24">
    <input type="checkbox" id="cb_{{sw.id}}" name="worker_id" value="{{sw.id}}"/>
    {% show_worker_short sw no_links=1 show_activities=0 %}    
  </div>
  <a onClick="show_details({{sw.id}})" class="worker_details">Подробнее</a>
  <div id="details_dialog"></div>
  <hr class="space"/>
{% endfor %}

<hr class="space"/>
<input type="submit" name="save" value="Продолжить"/>
</form>

{% else %}
Нам не удалось найти в системе записи, соответствующие Вашему имени. <b>Это не является ошибкой</b>.
Для более точного поиска своих работ, которые возможно уже были внесены в базу, после окончания регистрации перейдите по ссылке "Мои потерянные статьи" на домашней странице.
<form method="post" action=".">{% csrf_token %}
<input type="submit" name="nextstep" value="Продолжить"/>
</form>
{% endif %}

{% endblock %}
