{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#manage_users").addClass("current");
</script>

<h3>Регистрация нового сотрудника</h3>
<p>
На данной странице Вы можете добавить информацию о сотрудниках, которые работают в Вашей организации, но еще не зарегистрировались в системе.
</p>

<form action="." method="POST">{% csrf_token %}
  {% show_form addworker_form %}
  <input type="hidden" name="digest" value="{{ digest }}"/>

  <hr class="space"/>
  <input id="add_btn" type="submit" value="Создать"/>
</form>

 <hr class="space"/>

{% if added_worker.id %}
 Добавлена информация о следующем сотруднике:<br/>
 <a href="/workers/{{ added_worker.id }}/"  target="_blank"> {{ added_worker }}</a>
 {% if emp %}
 <a href="{% url workers_employment_edit added_worker.id emp.id %}" target="_blank">&nbsp;[Изменить должность]</a>
 {% endif %}
{% endif %}

{% endblock %}
