{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
{% endblock %}



{% block content %}

<script>
  $(".top-menu").find("#manage_users").addClass("current");
</script>


<h3>Уволнение сотрудника {{ employment.worker }}</h3>
<a href="{% url depadmin_users_posts %}">вернуться к списку должостей</a>
<hr class="space"/>

Информация о занимаемой должности:<br/>
Подразделение: <b>{{employment.department}}</b><br/>
Должность: <b>{{ e.position|default:'должность не указана' }}</b><br/>
Период работы: <b>{{e.startdate|default:'Дата начала работы не указана'}} - {% if e.enddate %}{{e.enddate}}{% else %} по наст.вр.{%endif%}</b><br/>
{% if e.parttime != 0 %}<b>По совместительству</b>{% endif %}

<hr class="space"/>

Пожалуйста, укажите дату увольнения (дата может быть как в прошлом, так и в будущем).
<form action="." method="POST">{% csrf_token %}
  {% show_form form %}
  <hr class="space"/>
  <input type="submit" value="Сохранить дату увольнения"/>
</form>


{% endblock %}
