{% extends "base.html" %}
{% load i18n myforms sign_url %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#manage_users").addClass("current");
</script>


<a href="{% sign_url '/common/workers/profile/merge_wizard/' %}">Объединение профилей</a>


{% endblock content %}
