{% extends "base.html" %}
{% load role_permissions %}
{% load common_dict %}
{% block title %}{{ report.title }} - отчет{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_authorscience.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/add_authorscience.js"></script>
{% endblock %}

{% block content %}
<h2>{{ report.title }}<span class="detail_label">отчет</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- report detailed information -->
        {% include "common/workers_list_detail.html" with object=report %}
        <li>
            <span>Организация:</span>
            <span><a href="{{ report.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ report.organization.name }}</a></span>
        </li>
        {% if report.department %}
        <li>
            <span>Подразделение:</span>
            <span><a href="{{ report.department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ report.department.name }}</a></span>
        </li>
        {% endif %}
        <li>
            <span>Номер:</span>
            <span>{{ report.number }}</span>
        </li>
        <li>
            <span>Год выпуска:</span>
            <span>{{ report.date.year }}</span>
        </li>
        {% if report.pages %}
        <li>
            <span>Количество страниц:</span>
            <span>{{ report.pages }}</span>
        </li>
        {% endif %}
        {% if report.abstract %}
        <li>
            <span>Аннотация:</span>
            <p>{{ report.abstract }}</p>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=report.creator %}
    {% ifhaspermission user "edit" report as can_edit %}
        {% if can_edit %}
            {% with authorsdict=report.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" {% if not author.flag_validate %}class="unvalidated"{% endif %}>{{ author.worker }}</a>
                    {% if not author.flag_validate %}<span class="authorscience_links small">(<a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},1)">подтвердить</a>,
                    <a onclick="$(this).parent().siblings('.confirm_deletion').show();$(this).parent().hide();">отклонить</a>{% ifequal request.user author.worker.user %}, <a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>{% endifequal %})</span>
                    <span class="confirm_deletion small hide">Вы уверены, что хотите удалить участие данного сотрудника?
                    <a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},0)">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    <span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>{% endif %}
                    {% if not forloop.last%}, {% endif %}
                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% else %}
            {% with authorsdict=report.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    {% ifequal author.flag_validate 1 %}
                    {% if forloop.counter > 1%}, {% endif %}
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя">{{ author.worker }}</a>
                    {% endifequal %}
                    {% if not author.flag_validate %}
                    {% ifequal request.user author.worker.user %}
                    {% if forloop.counter > 1%}, {% endif %}<a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" class="unvalidated">{{ author.worker }}</a>
                    <span class="authorscience_links small">(<a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>)</span><span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    {% endifequal %}
                    {% endif %}

                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% endif %}
    </ul>
</div>

{% include "common/object_actions.html" with object=report edit_url="reports_edit" delete_url="reports_delete" additional_actions_template="reports/additional_actions.html" %}

{% endblock %}
