{% with report=object %}
<ul class="activity"><!-- report short information -->
    <li>
        <b>{{ report.date.year }}</b>
        {% if not no_links %}
            <a href="{{ report.get_absolute_url }}" title="Перейти на страницу отчета">{{ report.title }}</a>
        {% else %}
            {{ report.title }}
        {% endif %}
    </li>
    {% include "common/workers_list.html" with object=report %}
    <li>#{{ report.number }}{% if report.pages %}, {{ report.pages }} с.{% endif %}</li>
</ul>
{% endwith %}
