{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load sign_url %}

{% block title %}{{ department.name }} | Сводные данные {% if year %} за {{ year }} год{% endif %}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

<h2>{{ department.name }}, сводные данные{% if year %} за {{ year }} год{% endif %}<span class="detail_label">подразделение</span></h2>

<h4>
Отфильтровать по году: 
<a href="{% url department_detail_stats dep_id=department.id %}">все</a>
{% for year in years_for_filter %}
 | <a href="{% url department_detail_stats dep_id=department.id year=year %}">{{year}}</a>
{% endfor %}
</h4>

<h3 class="margin-top">Число публикаций различных типов</h3>

<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Тип</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for pt in pubtypesstat %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ pt.typename }}</td>
            <td>{{ pt.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# <a href="{% url statistics.department.hirsh dep_id=department.id %}">Показатели цитирования сотрудников</a> #}
<a href="/statistics/department/{{department.id}}/hirsh/">Показатели цитирования сотрудников</a> <br/>
<a href="/statistics/department/{{department.id}}/ccby/">Распределение количества ссылок на статьи сотрудников</a> <br/>
<a href="{% sign_url "/sqlreports/createreport/sum_of_impacts/?f_department_id={{department.id}}" adata=adata %}">Суммарный импакт фактор журналов</a>

<hr class="space"/>

<a href="?data=conf">Участие в конференциях</a> | <a href="?data=conf&excel=1">экспорт в excel</a> <br/>
<a href="?data=confcomm">Участие в программных комитетах</a> | <a href="?data=confcomm&excel=1">экспорт в excel</a> <br/>
<a href="?data=pubs">Публикации</a> | <a href="?data=pubs&excel=1">экспорт в excel</a> <br/>
<a href="?data=jboards">Участие в редколлегиях</a> | <a href="?data=jboards&excel=1">экспорт в excel</a> <br/>
<a href="?data=dissovets">Участие в советах</a> | <a href="?data=dissovets&excel=1">экспорт в excel</a> <br/>


<h3 class="margin-top">Список журналов, в которых часто публикуются сотрудники</h3>

<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Журнал</th>
            <th>Количество статей</th>
            <th>Количество авторов</th>
        </tr>
    </thead>
    <tbody>
        {% for pj in popularjournals %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url journals_detail object_id=pj.id %}">{{ pj.name }}</a></td>
            <td>{{ pj.narticles }}</td>
            <td>{{ pj.nauthors }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3 class="margin-top">Сотрудники, имеющие публикации в журналах из Топ-25%</h3>

{% if workers %}
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Сотрудник</th>
            <th>Коэффициент</th>
            <th>Подразделение</th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url workers_worker_detail worker_id=worker.id %}">{{ worker.name }}</a></td>
            <td>{{ worker.rating }}</td>
            <td>{{ worker.department|default_if_none:"<не указано>" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
Нет.
{% endif %}

<h3 class="margin-top">Число зарегистрированных сотрудников</h3>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Подразделение</th>
            <th>Количество зарегистрированных сотрудников</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>{{ department.name }}</td>
            <td>{{ department.own_users_count }}</td>
        </tr>
        {% for subdep in department.current_children %}
        <tr>
            <td>{{ forloop.counter|add:"1" }}</td>
            <td>{{ subdep.name }}</td>
            <td>{{ subdep.users_count }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><b>Всего</b></td>
            <td>{{ department.users_count }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}

