{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}

{% block title %}{{ department.name }} | Данные о цитировании{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block extrajs %}
{# <script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script> #}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
   $('#hirsh').dataTable({
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ строк на странице",
            "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
            "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": "Показаны строки с 0 по 0 из 0",
            "sInfoFiltered": "(отобрано по условию из _MAX_ записей)",
            "oPaginate": {
               "sNext": "  Следующая",
               "sPrevious": "Предыдущая  "
            },
            "sSearch": "Поиск (по всем полям):"
        }
   });
} );
</script>
{% endblock %}


{% block content %}
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>

<style type="text/css">
.dataTables_wrapper {
    clear: both;
    position: relative;
}
.dataTables_processing {
    background-color: white;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 250px;
}

.dataTables_filter {
    float: right;
    text-align: right;
    width: 50%;
}
.dataTables_info {
    float: left;
    width: 30%;
}

.top .dataTables_info {
    float: none;
    width: 30%;
}


table.display {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
table.display thead th {
    border-bottom: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 18px 3px 10px;
}

.sorting_asc {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc.png") no-repeat scroll right center
    transparent;
}
.sorting_desc {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc.png") no-repeat scroll right center
    transparent;
}
.sorting {
    background: url("http://datatables.net/release-datatables/media/images/sort_both.png") no-repeat scroll right center
    transparent;
}
.sorting_asc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc_disabled.png") no-repeat scroll right
    center transparent;
}
.sorting_desc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc_disabled.png") no-repeat scroll right
    center transparent;
}
</style>


<h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

<h2>{{ department.name }}, сводные данные<span class="detail_label">подразделение</span></h2>


<h3 class="margin-top">Сотрудники, имеющие цитируемые публикации (по данным Web of Science и Scopus)</h3>
Для каждого сотрудника может выводиться две строки. Графы "Всего статей", "Число ссылок", "Статей за 5 лет" и "Ссылок на статьи 5-ти лет" вычисляются
отдельно для каждого источника (Web of Science или Scopus).</br>

Для быстрого поиска можно в строку "поиск (по всем полям)" ввести
часть фамилии сотрудника, название источника. Модно вводить несколько
слов через пробел.  Например, "александрович scopus". Для сортировки
по выбранному полю нужно нажать на его заголовок. Возможна сортировка
по нескольким полям. Для этого нужно при выборе полей удерживать
клавишу SHIFT.
<p>
</p>

<table id="hirsh">
    <thead>
        <tr>
            {# <th>№</th> #}
            <th>Сотрудник</th>
            <th>Источник</th>
            <th>H-индекс</th>
            <th>Всего статей</th>
            <th>Число ссылок</th>
            <th>Статей за 5 лет</th>
            <th>Ссылок на статьи 5-ти лет</th>
            <th>Число статей из top25</th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
        <tr>
            {# <td>{{ forloop.counter }}</td> #}
            <td><a href="{% url workers_worker_detail worker_id=worker.id %}">{{ worker.name }}</a></td> 
            {# <td><a href="{% url workers_worker_report_infolist worker_id=worker.id %}">{{ worker.name }}</a></td> #}
            <td>{{ worker.bibsource }}</td>
            <td>{{ worker.hirsh }}</td>
            <td>{{ worker.narticles }}</td>
            <td>{{ worker.total }}</td>
            <td>{{ worker.nlatest_wos }}</td>
            <td>{{ worker.total5 }}</td>
            <td>{{ worker.ntop }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

