{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}

{% block title %}Наукометрические показатели подразделений МГУ за 2005-2012 годы{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/datatables.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}base/js/jquery.dataTables.sorting.numeric-comma.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/datatables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}statistics/js/departments_achievements.js"></script>
{% endblock %}

{% block content %}

<h2>Наукометрические показатели подразделений МГУ за 2005-2012 годы</h2>

<h3>Примечания</h3>

<ol>
    <li>Показатели рассчитаны только по зарегистрированным пользователям, которые указали место работы в подразделении или в одном из его дочерних подразделений.</li>
    <li>В настоящее время в системе нет сведений по делению сотрудников на ППС и НПР. Поэтому в таблице данные суммируются по всем сотрудникам подразделения.</li>
    <li><i>Статей в журналах из Scopus:</i> количество статей сотрудников подразделения, которые опубликованы в 2005-2012 годах в журналах, индексируемых в Scopus. Также сюда добавлено количество статей, опубликованных в российских журналах в 2005-2012 годах, которые цитируются хотя бы один раз в базе Web of Science.</li>
    <li><i>Статей в журналах с импакт-фактором > 3:</i> количество статей сотрудников подразделения, которые опубликованы в 2005-2012 годах в журналах, индексируемых в Web of Science и имеющих импакт-фактор больше 3 по данным Web of Science на 2010 или 2011 год (двухлетний или пятилетний).</li>
    <li><i>Статей в российских журналах из списка ВАК:</i>количество статей сотрудников подразделения, которые опубликованы в 2005-2012 годах в российских журналах из перечня ВАК.</li>
    <li><i>Цитирований статей в журналах из Scopus:</i> общее количество цитирований статей сотрудников подразделения, которые опубликованы в 2005-2012 годах в журналах, индексируемых в Scopus. Показатели цитирования отдельных статей получены из Web of Science.</li>
    <li><i>Среднее число цитирований 1 статьи:</i> количество цитирований (пятый столбец), деленное на количество статей (третий столбец).</li>
    <li><i>Сотрудников с индексом Хирша >= 5:</i> количество сотрудников с индексом Хирша не менее 5, в настоящее время работающих в подразделении. Это число может быть меньше значения на странице статистики подразделения, на которой перечислены все сотрудники, когда-либо работавшие в нем.</li>
    <li>Если среди авторов статьи есть сотрудники разных факультетов/институтов, или автор статьи работает на нескольких факультетах/институтах МГУ, то такая статья учитывается по одному разу для каждого подразделения.</li>
    <li>Если (корневое) подразделение не указано в таблице, это означает, что у его зарегистрированных в системе сотрудников нет добавленных статей 2005-2012 года в журналах, индексируемых в Scopus.</li>
</ol>

Для сортировки по столбцу нажмите на его заголовок.

<table class="datatable">
    <thead>
    <tr>
        <th>№</th>
        <th>Подразделение</th>
        <th class="number">Статей в журналах из Scopus</th>
        <th class="number">Статей в журналах с импакт-фактором > 3</th>
        <th class="number">Статей в российских журналах из списка ВАК</th>
        <th class="number">Цитирований статей в журналах из Scopus</th>
        <th class="number-float">Среднее число цитирований 1 статьи</th>
        <th class="number">Сотрудников с индексом Хирша >= 5</th>
      </tr>
    </thead>
    <tbody>
    {% for department in departments %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ department.department.name }}</td>
            <td>{{ department.articles_scopus }}</td>
            <td>{{ department.articles_wos_if3 }}</td>
            <td>{{ department.articles_vak }}</td>
            <td>{{ department.citations_scopus }}</td>
            <td>{{ department.citations_per_article|floatformat }}</td>
            <td>{{ department.workers_hirsh5 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

