{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}

{% load activity_description %}

{% block title %}Информация о публикациях{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}statistics/css/base.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block inlinecss %}
<style type="text/css">
    #vse input {
        margin: 0;
        padding: 0;
        /* display:block; */
        display: inline;
        height: 30px;
        width: 25px;
        /* overflow:hidden */
    }
    .cbox {
       display: inline;
       padding:0;
       height: 30px;
       width: 30px;
    }
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}statistics/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}statistics/js/dynamic.js"></script>
{% endblock %}

{% block externaljs %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
    google.load('visualization', '1', {packages: ['table']});
    google.load('visualization', '1', {packages: ['corechart']});
</script>
{% endblock %}


{% block content %}

<h2>Информация о публикациях</h2>
<a href="/help/statistics/dynamic/">Инструкция и правила расчета коэффициентов</a>

<div id="vse">
   <div style="margin-bottom: 10px; padding: 5px; border: 1px solid gray;
   background-color: buttonface;">
      <span id="vse_loading" class="hide loading-ui-anim-indicator-on-the-left" style="float:right;font-weight:bold">Обработка запроса</span>
      <span> Выберите параметры запроса</span>
<br />
      <form id="filterParamsForm" action="">{% csrf_token %}
        <span style="float:right"><button type="button" onClick="dynamic.reload_all_data()">Обновить</button></span>

        <span style="padding-left: 5px; font-size: 12px;">Тип публикации </span>
          <select name="pub_type" style="font-size: 12px" id='publication_type' onChange='dynamic.setParam("pub_type",this.value)'>
            <option value="top25j">Журналы из Top-25</option>
            <option value="wosj">Журналы из JCR</option>
            <option value="scopus">Журналы из Scopus</option>
            <option value="vak">Журналы ВАК</option>
            <option value="allj">Все журналы</option>
            <option value="onlyp">Только сборники</option>
            <option value="all">Все</option>
         </select>

        <span style="padding-left: 5px; font-size: 12px;">Только проверенные</span>
        <input type="checkbox" name="confirmed" id="show_confirmed" class="cbox" onclick='dynamic.setParam("confirmed", (this.checked)?1:0)'>
        <span style="padding-left: 5px; font-size: 12px">Метрика</span>
          <select style="font-size: 12px" id='performance_metric_type' onchange='dynamic.setParam("metric",this.value)'>
            <option value="count">Число статей</option>
            <option value="coef">Сумма коэф.</option>
            <option value="nauthors">Число сотрудников</option>
            <option value="weightedsum">Взвешенная сумма</option>
            <option value="citcount">Число ссылок WoS (на статью)</option>
            <option value="citcount_ktu">Число ссылок WoS (вклад автора)</option>
         </select>

        <span style="padding-left: 5px; font-size: 12px">Год</span>
          <select name="year" style="font-size: 12px" id='publication_year' onChange='dynamic.setParam("year",this.value)'>
            {% for year in years %}
            <option value='{{year}}'>{{year}}</option>
            {% endfor %}
            <option value='All'>Все</option>
         </select>
        <input name="department_id" type="hidden" id="department_id" value=""/>
        <input name="rub_id" type="hidden" id="rub_id" value=""/>
        <input name="q" type="hidden" id="query_q" value="1"/>
      </form>
   </div>

<div class="selected_dep"><h3 id="depname"></h3></div>

<div class="span-8" id="table"> </div>
<!--[if IE]>  <div class="span-14 prepend-2 last" style="paddings: 1px;"><![endif]-->
<!--[if !IE]><!--> <div class="span-16 last"> <!--<![endif]-->
  <div class="selected_rub"><h3> </h3></div>
        <span id="rubpie_loading" class="hide loading-ui-anim-indicator-on-the-left" style="float:right;font-weight:bold">Обработка</span>

        <span style="font-size: 12px;">Рубрикатор:</span>
        <select style="font-size: 12px" id="rubtype" onchange="dynamic.setRubpieType(this.value)">
          <option selected="selected" value="scopus">Scopus</option>
          <option value="GRNTI">ГРНТИ</option>
          <!-- <option value="wos">Web of Science</option> -->
        </select>
        <span style="padding-left: 5px; font-size: 12px;">Порог:</span>
        <select style="font-size: 12px" onchange="dynamic.setRubpieTreshold(this.value)">
          <option value="0">Все рубрики</option>
          <option value="0.1">1/10</option>
          <option selected="selected" value="0.0333">1/30</option>
          <option value="0.02">1/50</option>
          <option value="0.01">1/100</option>
        </select>
        <span style="padding-left: 5px; font-size: 12px;">Фильтровать подразделения:</span>
        <input type="checkbox" id="filter_deps_by_rub" onclick='dynamic.setDeprubLink((this.checked)?1:0)'>

    <br/>
        <span style="padding-left: 5px; font-size: 12px">Метрика</span>
          <select style="font-size: 12px" id='rub_performance_metric_type' onchange='dynamic.setRubpieMetric(this.value)'>
            <option selected="selected" value="">Из запроса</option>
            <option value="count">Число статей</option>
            <option value="coef">Сумма коэф.</option>
            <option value="nauthors">Число сотрудников</option>
            <option value="weightedsum">Взвешенная сумма</option>
            <option value="citcount">Число ссылок WoS (на статью)</option>
            <option value="citcount_ktu">Число ссылок WoS (вклад автора)</option>
         </select>

        <span style="padding-left: 5px; font-size: 12px;">Скрыть неизвестные:</span>
        <input type="checkbox" id="hide_unknown_rub" class="cbox" checked="checked" onChange='dynamic.setParam("hide_unknown_rub", (this.checked)?1:0)'>
        <!-- <input type="checkbox" id="hide_unknown_rub" class="cbox" checked="checked" onChange='dynamic.setRubpieUnknown(this.checked)?1:0)'> -->


  <div id="pie_pubrub" style="width: 450px; height: 400px;"></div>
</div>


<div class="span-16 last" id="table_kaf"></div>
<div class="clear" id="table_pub"></div>

<button type="button" onClick="dynamic.list_matching_articles()">Показать отобранные статьи в новом окне</button>

<div id="pie_dep" style="width: 800px; height: 400px;"></div>

{% endblock %}
