{% extends "base.html" %}

{% load activity_description %}
{% load article_list %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}statistics/css/base.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}statistics/js/top_publications.js"></script>
{% endblock %}

{% block title %}Статьи, найденные в Web of Science{% endblock %}

{% block content %}

<div class="span-24 last">
    <h2>{{ worker.fullname }}</h2>
    <h2>Статьи, для которых получены показатели цитирования из внешних источников</h2>

    <h4>Количество цитирований статей сотрудника в журналах: </h4>
    {% for citation_count in worker.citation_counts_dict %}
        по данным {{ citation_count.system__full_name }}: {{ citation_count.value }}<br/>
    {% endfor %}

    Далее приведен список статей, для которых были получены показатели
    цитирования из внешних источников. Данные по именно этим статьям
    учитываются при расчете общего количества цитирований статей сотрудника.
    Подробнее про механизм получения статистических данных написано на странице
    помощи <a href= "/help/statistics/webofscience/"
    target="_blank">Статистические данные из внешних источников</a>.<br/><br/>

    {% for citation in citations %}
      <a href="?system_short_name={{ citation.system_short_name }}"> {{ citation.system_full_name }} ({{ citation.number_of_papers }})</a>
    {% endfor %}

    {% if articles %}
        <table>
            {% get_article_list articles worker all_in_systems=1 as article_list %}
            {% for article in article_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <div class="float-left">{% include "publications/article_icons.html" %}</div>
                    {% show_activity_description article no_links=0 %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="hide" id="workers_registered">{{ workers_registered|join:"," }}</div>
    {% else %}
        <h4 class="margin-top clear">Список пуст.</h4>
    {% endif %}


    <h3 class="margin-top clear">Проверьте корректность данного списка</h3>
    <hr/>
    <br/>Пожалуйста, убедитесь, что:
    <ol>
        <li>В списке нет дубликатов статей. Если это не так, удалите дублирующие статьи в соответствии с инструкцией на странице помощи <a href="/help/faq/works/duplicate/" target="_blank">Как избавиться от дубликатов работ?</a></li>
        <li>

        Фамилии всех ваших соавторов-сотрудников МГУ выделены жирным шрифтом. Если для какого-либо
        соавтора это не так, то это означает, что он либо не зарегистрирован в системе, либо не привязан к данной
        публикации. В этом случае он не будет включен в списки для премирования. Пожалуйста, отредактируйте
        такие публикации и "привяжите" их авторов к нужным сотрудникам, либо сообщите своим соавторам об
        обнаруженной неточности в данных. Если в списке публикаций ни одна фамилия не выделена жирным (даже
        ваша), это означает, что в вашем браузере отключен Javascript. Для его включения следуйте инструкциям на
        странице <a href="http://www.enable-javascript.com/ru/" target= "_blank">Как включить JavaScript в вашем
        веб-браузере</a> и затем обновите страницу.

        </li>
    </ol>

    <h3 class="margin-top clear">Если Вы не обнаружили свою публикацию в этом списке</h3>
    <hr/>
    <br/>
    Следуйте инструкциям на странице помощи <a href="/help/statistics/webofscience/" target="_blank">Статистические данные из внешних источников </a>.

</div>

{% endblock %}

