{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}

{% block title %}{% if department %}{{ department.name }} | {% else %}{% if worker %}{{ worker.fullname }} | {% endif %}{% endif %}{{ report_title|default:"Сводные данные" }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/datatables.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
   $('#tblData').dataTable({
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ записей на странице",
            "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
            "sInfo": "Показаны записи с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": "Показаны строки с 0 по 0 из 0",
            "sInfoFiltered": "(отобрано по условию из _MAX_ записей)",
            "oPaginate": {
               "sNext": "&nbsp;&nbsp;&nbsp;&nbsp;Следующая страница >>",
               "sPrevious": "<< Предыдущая страница"
            },
            "sSearch": "Поиск (по всем полям):"
        },
        "iDisplayLength": 30
   });
} );
</script>
{% endblock %}


{# {% block header %} #}
{# {% endblock %} #}

{% block content %}

{% if department %}
    <h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

    <h2><a href="{{ department.get_absolute_url }}">{{ department.name }}</a><span class="detail_label">подразделение</span></h2>
{% endif %}
{% if worker %}
    <h2><a href="{{ worker.get_absolute_url }}">{{ worker.fullname }}</a><span class="detail_label">сотрудник</span></h2>
{% endif %}

{% if report_title %}
    <h3>{{ report_title }}</h3>
{% endif %}

{% block before_table %}
{% endblock %}

{%if header_message %}
<pre>
{{ header_message }}
</pre>
{%endif%}

<br/>
{% if data %}
<hr/>
<table id="tblData">
    {% if headers %}
    <thead>
    <tr>
      {% for header in headers %}
        <th>{{ header }}</th>
      {% endfor %}
      </tr>
    </thead>
    {% endif %}
    <tbody>
    {% for row in data %}
      <tr>
      {% for cell in row %}
        <td>{{ cell|default_if_none:"" }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

