<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load role_permissions %}

{% block title %}Статьи сотрудников МГУ 2014 года в высокорейтинговых журналах{% endblock %}

{% block content %}

<h2>Статьи сотрудников МГУ 2014 года в высокорейтинговых журналах</h2>

<p>
    Список Ваших публикаций 2014 года в высокорейтинговых журналах Вы можете
    посмотреть по ссылке: <h4 class="margin-left"><a href="{% url statistics_my_top_articles %}" target="_blank">Мои высокорейтинговые статьи 2014 года</a></h4>
</p>

<p>
    Список всех Ваших публикаций, для которых были получены показатели цитирования из внешних систем, Вы можете посмотреть по ссылке: <h4 class="margin-left"><a href="{% url workers_worker_report_ext_articles %}" target="_blank">Статьи,
    для которых получены показатели цитирования из внешних систем</a></h4>
</p>

<p>
    Если у Вас возникают вопросы или предложения, связанные с работой в системе или распределением
    поощрительных надбавок, обратитесь, пожалуйста, к ответственному сотруднику Вашего подразделения:
    <a href="{% url  help_feedback %}" target="_blank">Список ответственных сотрудников</a>.
</p>

<h4><a href="{% url statistics_top_articles year=2014 by_department='by_department' edit='edit' %}">Список статей для проверки ответственными по Вашему подразделению</a></h4>


<h3 class="margin-top">Дополнительная информация</h3>
<hr />

<div class="span-23 prepend-1 prepend-top append-bottom last">
    <h4><a href="{% url statistics_top_journals %}">Список Топ-25% журналов</a></h4>
    <h4><a href="{% url statistics_top_articles year=2014 %}">Статьи сотрудников МГУ 2014 года в высокорейтинговых журналах</a></h4>
    <h4><a href="{% url statistics_dynamic %}">Интегральные характеристики подразделений по публикациям и тематикам</a></h4>
    <h4><a href="{% url statistics_top_departments %}">Распределение суммарных коэффициентов среди подразделений МГУ по итогам 1го полугодия 2012 года</a></h4>
    {% ifhaspermission user "view_top_workers_by_specialty" organization %}
    <h4><b><a href="{% url statistics_top_workers_by_specialty_index organization.id %}">Список топ-сотрудников по специальностям</a></b></h4>
    {% endifhaspermission %}
</div>

{% ifhaspermission user "analyze_top_articles" %}
<h3>Для администраторов</h3>
<hr />
<div class="span-23 prepend-1 last">
    <h4 class="margin-top"><a href="{% url statistics_top_journals_rubrics_stats %}">Количество журналов из Топ-25% по рубрикам</a></h4>
    <h4><a href="{% url statistics_top_articles_by_rubrics %}">Статьи в журналах из Топ-25% по рубрикам</a></h4>
    <h4><a href="{% url statistics_top_workers %}">Зарегистрированные пользователи, имеющие публикации в журналах из Топ-25%</a></h4>
    <h4><a href="{% url statistics_top_articles year=2014 edit='edit' %}">Все отобранные статьи (редактирование)</a></h4>
</div>
{% endifhaspermission %}

{% endblock %}
