{% extends "base.html" %}

{% block title %}Публикации за последние 30 дней{% endblock title %}

{% block content %}
<h3>Публикации, добавленные за последние 30 дней</h3>

{{ paging }}

<table>
{% with activities=paginator.objects %}
{% include "common/activities_last_added.html" %}
{% endwith %}
</table>

{% endblock %}
