<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% load activity_description %}
{% load article_list %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}statistics/css/base.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}statistics/js/top_publications.js"></script>
{% endblock %}

{% block title %}Статьи в высокорейтинговых журналах ({{ project.name }}){% endblock %}

{% block content %}

<h2>Статьи в высокорейтинговых журналах ({{ project.name }})</h2>

Ниже можно посмотреть список научных статей сотрудников МГУ в 2012 году ({{ project.name }})
в <a href="{% url statistics_top_journals %}"> высокорейтинговых
журналах Топ-25%</a>, отсортированный по названию статьи.

<!--
в порядке убывания импакт-фактора журнала.
-->
<!--
  Также по ссылке (вставить) можно посмотреть список этих статей
распределенный по различным подразделениям МГУ (в соответствии с местом
работы соавторов), а по ссылке (вставить) по областям наук
(соответственно тематикам журналов).
-->

<table>
    {% get_article_list articles worker hide_top=1 set_confirmed=1 as article_list %}
    {% for article in article_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% include "publications/article_icons.html" %}</td>
            <td>{% show_activity_description article no_links=0 %}</td>
        </tr>
    {% endfor %}
</table>
<div class="hide" id="workers_registered">{{ workers_registered|join:"," }}</div>

{% endblock %}