{% extends "base.html" %}

{% load activity_description %}
{% load article_list %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}statistics/css/base.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}statistics/js/top_publications.js"></script>
{% endblock %}

{% block title %}Отобранные публикации{% endblock %}

{% block content %}

<div class="span-24 last">

    <h2>{{ worker.fullname }}</h2>
    <h2>Отобранные публикации</h2>

    <h3 class="margin-top clear">Критерии для отбора публикаций</h3>
    <hr/>
    <ol>
        <li>Публикация относится к журналу, который входит в <a href="{% url statistics_top_journals %}" target="_blank">список Топ-25% журналов</a> по критерию импакт-фактора согласно рейтингу Thomson Reuters.</li>
        <li>Работа опубликована в {{ year }} году.</li>
        <li>Сотрудник-автор публикации зарегистрирован в системе ИСТИНА.</li>
        <li>Публикация введена в систему ИСТИНА до 25 ноября {{ year }} года включительно и отображается на <a href="{% url home_profile %}" target="_blank">личной странице</a> сотрудника.</li>
    </ol>

    <h3 class="margin-top clear">Что означают иконки рядом с названиями статей?</h3>
    <hr/>
    <ol class="icons">
        <li><span class="ui-icon ui-icon-check" title="Сведения о статье проверены и подтверждены"></span> означает, что сведения о статье проверены и подтверждены. Эта иконка появляется, когда ответственный сотрудник за проверку статей вручную подтвердит правильность сведений о статье. Если какие-то из Ваших отобранных публикаций не подтверждены, следуйте инструкциям внизу этой страницы.
        <li><span class="ui-icon ui-icon-star" title="Статья опубликована в высокорейтинговом журнале"></span> означает, что статья опубликована в журнале из <a href="{% url statistics_top_journals %}" target="_blank">списка Топ-25% журналов</a> (на данной странице отображены только такие статьи).</li>
        <li><img class="article-icon" src="{{ STATIC_URL }}publications/img/webofscience.png" height="12" width="12" style="padding-left: 2px" title="Статистические данные о цитировании статьи получены из внешних систем" /> означает, что для данной статьи получены показатели цитирования из внешних систем. Полный список Ваших статей, для которых получены показатели цитирования из внешних систем, приведен на странице <a href="{% url workers_worker_report_ext_articles worker.id %}" target="_blank">Статьи, для которых получены показатели цитирования из внешних систем</a>.</li>
    </ol>

    <h3 class="margin-top clear">Список отобранных публикаций</h3>
    <hr />
    {% if not edit and can_edit %}
    <h4 class="margin-top"><a href="{% url statistics_top_articles_by_worker_edit worker_id=worker.id %}">Редактировать список</a></h4>
    {% endif %}
    {% if articles %}
        <table>
            {% get_article_list articles worker all_top=1 hide_confirmed=edit as article_list %}
            {% for article in article_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% if edit %}
                <td>{{ article.id }}</td>
                {% endif %}
                <td>
                    {% if edit %}
                    <span class="ui-autocomplete-loading-padded hide"></span>
                    <a class="article_confirm no{% if not article.is_confirmed %} hide{% endif %}"><span class="ui-icon ui-icon-circle-check"></span></a>
                    <a class="article_confirm yes{% if article.is_confirmed %} hide{% endif %}"><span class="ui-icon ui-icon-close"></span></a>
                    <span class="article_id hide">{{ article.id }}</span>
                    {% endif %}
                </td>
                <td>
                    <div class="float-left">{% include "publications/article_icons.html" %}</div>
                    {% show_activity_description article no_links=0 %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="hide" id="workers_registered">{{ workers_registered|join:"," }}</div>
    {% else %}
    <h4 class="margin-top clear">Нет публикаций.</h4>
    {% endif %}

    <h3 class="margin-top">Проверьте корректность данного списка</h3>
    <hr/>
    <br/>Пожалуйста, убедитесь, что:
    <ol>
        <li>В списке нет дубликатов статей. Если это не так, удалите дублирующие статьи в соответствии с инструкцией на странице помощи <a href="/help/faq/works/duplicate/" target="_blank">Как избавиться от дубликатов работ?</a></li>
        <li>В сведениях о статьях указаны индексы DOI. При необходимости ознакомьтесь с инструкцией на странице помощи <a href="/help/doi/" target="_blank">Что такое DOI и как его определить?</a></li>
        <li>

        Фамилии всех Ваших соавторов-сотрудников МГУ выделены жирным шрифтом. Если для какого-либо
        соавтора это не так, то это означает, что он либо не зарегистрирован в системе, либо не привязан к данной
        публикации. В этом случае он не будет включен в списки для премирования. Пожалуйста, отредактируйте
        такие публикации и "привяжите" их авторов к нужным сотрудникам, либо сообщите своим соавторам об
        обнаруженной неточности в данных. Если в списке публикаций ни одна фамилия не выделена жирным (даже
        ваша), это означает, что в вашем браузере отключен Javascript. Для его включения следуйте инструкциям на
        странице <a href="http://www.enable-javascript.com/ru/" target="_blank">Как включить JavaScript в вашем
        веб-браузере</a> и затем обновите страницу.

        </li>
    </ol>

    Для редактирования публикации перейдите на ее страницу (для этого нажмите на ее название), а затем
    нажмите на ссылку "редактировать публикацию" в меню в правой части страницы на синем фоне. Список
    публикаций на данной странице автоматически обновляется при обновлении данных в системе. После
    редактирования статей вернитесь на эту страницу и проверьте, что список содержит все необходимые
    публикации и правильно указанных соавторов.

    <h3 class="margin-top clear">Если статьи нет в списке, или она есть, но не подтверждена</h3>
    <hr/><br/>
    Если Вы считаете, что какие-либо Ваши публикации {{ year }} года ошибочно не входят в этот список, или входят, но не отмечены галочкой (не подтверждены), убедитесь в том, что:
    <ol>
        <li><b>У статьи нет подтвержденных дубликатов.</b> Список возможных дубликатов Ваших статей можно
 посмотреть <a href="{% url home_lost_articles %}">по этой ссылке</a>. Список всех публикаций в высокорейтинговых журналах
 можно посмотреть <a href="{% url statistics_top_articles year=2013 %}">здесь</a>.
 Если Вы обнаружили свою статью в этих списках, то вы можете нажать на ее название и указать свое авторство,
 нажав на ссылку "Привязать публикацию к себе" в правой части страницы публикации.
 Дополнительная информация о поиске введенных ранее публикаций приведена на странице помощи:
 <a href="/help/faq/works/lost/" target="_blank">Я (или мой соавтор) добавил(а) работу, но она не появилась на моей личной странице. Что делать?</a>
<li>При нажатии на ссылку DOI (если он есть) открывается страница журнала с описанием Вашей работы.
</li>
<!--
        <li>Публикация отображается на Вашей <a href="{% url home_profile %}" target="_blank">личной странице</a>. Если это не так, следуйте инструкциям на странице помощи: <a href="/help/faq/works/lost/" target="_blank">Я (или мой соавтор) добавил(а) работу, но она не появилась на моей личной странице. Что делать?</a></li>
-->
        <li>Журнал, к которому относится публикация, входит в <a href="{% url statistics_top_journals %}" target="_blank">список Топ-25% журналов</a> по критерию импакт-фактора согласно рейтингу Thomson Reuters.</li>
        <li>Московский университет указан в качестве места Вашей работы на титульной странице публикации.</li>
    </ol>

    Если Вы считаете, что все перечисленные условия выполнены, но тем не менее Ваша работа не подтверждена, пожалуйста, пришлите <a href="{% url help_feedback %}" target="_blank">ответственному по Вашему подразделению</a>:
<ol>
<li>ссылку на статью в системе;</li>
<li>полный текст работы (pdf);</li>
<li>DOI или ссылку на страницу журнала.</li>
</ol>

    <h3 class="margin-top clear">Обратная связь</h3>
    <hr/><br/>

    <p>
        Если у Вас возникают вопросы или предложения, связанные с работой в системе или распределением
        поощрительных надбавок, обратитесь, пожалуйста, к ответственному сотруднику Вашего подразделения:
        <a href="{% url  help_feedback %}" target="_blank">Список ответственных сотрудников</a>.
    </p>

</div>

{% endblock %}
