<h3 class="margin-top clear">Критерии формирования списка журналов</h3>
На этой странице перечислены журналы, которые входят хотя бы в одну из следующих категорий:
 <ol>
     <li>Топ-25% по импакт-фактору 2010 года (либо 2-летнему, либо 5-летнему) в своей тематической рубрике в <a href="{% url journals_index_detail 113542 %}">Thomson Reuters Science Citation Index</a> или <a href="{% url journals_index_detail 113716 %}">Social Sciences Citation Index</a>.</li>
	 <li>Топ-25% по импакт-фактору 2011 года (либо 2-летнему, либо 5-летнему) в своей тематической рубрике в <a href="{% url journals_index_detail 113542 %}">Thomson Reuters Science Citation Index</a> или <a href="{% url journals_index_detail 113716 %}">Social Sciences Citation Index</a>.</li>     
     <li>Все журналы из списка <a href="{% url journals_index_detail 113514 %}">Thomson Reuters Arts &amp; Humanities Citation Index</a>.</li>
</ol>

<h3 class="margin-top clear">Почему в этом списке есть журнал X, но нет журнала Y, у которого импакт-фактор выше?</h3>
Дело в том, что этот список формируется следующим образом. Для каждой рубрики Web of Science (она
указана в колонке "Рубрика") выбираются топ-25% журналов по импакт-фактору <i>в этой рубрике</i>. 
Это означает, что журналы X и Y просто принадлежат к разным рубрикам, в которых пороги вхождения в топ-25% разные.

