{% if not all %}
    <h4><a href="{% url statistics_top_journals_all %}">Полный список Топ-25% журналов по всем рубрикам</a></h4>
{% endif %}
{% if not index_page %}
    <h4{% if all %} class="margin-top"{% endif %}><a href="{% url statistics_top_journals %}">Начальная страница списка</a></h4>
{% endif %}

<h3 class="margin-top clear">Список рубрик</h3>
{% for rubric in rubrics %}
    {% if forloop.first %}
        <div class="span-8">
        <ol start={{ forloop.counter }}>
    {% endif %}
    <li><a href="{% url statistics_top_journals_rubric rubric_name=rubric|slugify %}">{{ rubric|title }}</a></li>
    {% if forloop.counter|divisibleby:75 %}
        </ol>
        </div>
        <div class="span-8{% if forloop.counter == 150 %} last{% endif %}">
        <ol start={{ forloop.counter|add:"1" }}>
    {% endif %}
    {% if forloop.last %}</ol></div>{% endif %}
{% endfor %}
</ol>

