<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% load activity_description article_list my_cache %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}statistics/css/base.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables-1.10.4.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/datatables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}statistics/js/top_publications.js"></script>
{% endblock %}

{% block inlinejs %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
       var options = {
        "iDisplayLength": 50,
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ строк на странице",
            "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
            "sInfo": "Показаны записи с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": "Нет записей",
            "sInfoFiltered": "(отобрано по условию из _MAX_ записей)",
            "oPaginate": {
               "sNext": "  Следующая страница",
               "sPrevious": "Предыдущая страница  "
            },
            "sSearch": "Поиск (по всем полям):",
        },
        "aoColumnDefs": [
            {"sType": "numeric-comma", "aTargets": ["number-float"] },
            {"asSorting": [ "desc" ], "aTargets": ["number", "number-float", "percentage"] },
            { "bSortable": false, "aTargets": [ 2, 3 ] }
        ],
        "bJQueryUI": true,
        "aaSorting": [[0,'asc']],
        "bFilter": true,
        "bInfo": false,
        "bPaginate": false
       };
       $('#tbl_articles_to_confirm').dataTable(options);
});
</script>
{% endblock %}

{% block title %}Статьи сотрудников {% if by_department %}Вашего подразделения{% else %}МГУ{% endif %} {{ year }} года в высокорейтинговых журналах{% endblock %}

{% block content %}

<h2>Статьи сотрудников {% if by_department %}Вашего подразделения{% else %}МГУ{% endif %} {{ year }} года в высокорейтинговых журналах</h2>

{% if by_department %}
    На этой странице представлен список научных статей сотрудников Вашего подразделения
    в {{ year }} году в <a href="{% url statistics_top_journals %}">высокорейтинговых журналах из Топ-25%</a>.
{% else %}
    {% if year == '2013' %}
        На этой странице представлен список проверенных и подтвержденных на данный
        момент научных статей сотрудников МГУ в 2013 году в
        <a href="{% url statistics_top_journals %}">высокорейтинговых журналах из Топ-25%</a>.
        В 2013 году проверка статей осуществляется ответственными сотрудниками подразделений.
        Полный список статей Вашего подразделения можно
        <a href="{% url statistics_top_articles year=year by_department='by_department' %}">посмотреть по ссылке</a>.
    {% else %}
        На этой странице представлен полный список научных статей сотрудников МГУ в
        {{ year }} году в <a href="{% url statistics_top_journals %}">высокорейтинговых журналах из Топ-25%</a>.
    {% endif %}
{% endif %}

Статьи отсортированы в порядке убывания импакт-фактора журнала.
Жирным шрифтом выделены фамилии авторов-сотрудников МГУ, зарегистрированных в системе.
Фамилии-ссылки без жирного шрифта обозначают незарегистрированных в системе ученых (из МГУ или нет).
Фамилии, не являющиеся ссылками, обозначают нераспознанных авторов.
<!--
Статьи отсортированы в порядке убывания рейтинга журнала в своей тематической группе.
Статьи отсортированы по алфавиту.
-->

{% include "no_ie.html" %}

{% if edit and by_department %}
    <h3 class="margin-top clear">Инструкция для ответственных</h3>
    <hr/><br/>
    <ol class="icons">
        <li>На этой странице отображаются все статьи {{ year }} года в высокорейтинговых журналах из Топ-25%, у которых есть хотя бы один автор из подразделения, по которому вы являетесь ответственным.
        <li><span class="ui-icon ui-icon-check" title="Сведения о статье проверены и подтверждены"></span> означает, что эту статью подтвердил хотя бы один ответственный (вы или другой).</li>
        <li><span class="ui-icon ui-icon-circle-check" title="Сведения о статье проверены и подтверждены вами"></span> означает, что эту статью подтвердили вы.</li>
        <li><span class="ui-icon ui-icon-close" title="Сведения о статье не подтверждены вами"></span> означает, что эту статью вы еще не подтвердили (или сняли подтверждение).</li>
        <li>Для подтверждения статьи щелкните на иконку <span class="ui-icon ui-icon-close" title="Сведения о статье не подтверждены вами"></span> слева от статьи. <span class="ui-icon ui-icon-close" title="Сведения о статье не подтверждены вами"></span> превратится в <span class="ui-icon ui-icon-circle-check" title="Сведения о статье проверены и подтверждены вами"></span>, что означает, что статья подтверждена.</li>
        <li>Для отмены подтверждения статьи щелкните на <span class="ui-icon ui-icon-circle-check" title="Сведения о статье проверены и подтверждены вами"></span> - она снова превратится в <span class="ui-icon ui-icon-close" title="Сведения о статье не подтверждены вами"></span>, что означает, что подтверждение снято.</li>
        <li>Подтверждение проходит независимо для каждого ответственного. На этой странице отображаются только <span class="ui-icon ui-icon-circle-check" title="Сведения о статье проверены и подтверждены вами"></span>, поставленные вами.</li>
        <li>Если хотя бы один ответственный подтвердил статью, то на ее странице будет отображаться информация о том, что она подтверждена.</li>
        <li>На странице статьи вы можете просмотреть историю всех действий со статьей, в том числе подтверждения и отмены подтверждения статьи (см. блок "История действий со статьей" в правой части страницы статьи).</li>
        <li>Для облегчения проверки статей, найденных в Web of Science/Scopus, вы можете перейти на страницу статьи в этих системах. Для этого перейдите на страницу статьи в ИСТИНЕ и нажмите на ссылку Web of Science/Scopus под названием статьи (если у статьи есть иконка глобуса).</li>
        <li>Для облегчения проверки и информирования авторов вы можете установить дополнительные статусы (метки) проверки статьи. Для этого нажмите на ссылку "Установить статус проверки" на странице статьи в меню справа. Выберите один или несколько статусов и сохраните данные. Эти метки появятся на странице статьи и будут отображаться ее авторам (а также ответственным). Важно: эти метки являются вспомогательными и никак не влияют на официальный статус подтверждения статьи, который устанавливается только на данной странице со списком статей.</li>
    </ol>
{% endif %}


<h3 class="margin-top clear">Что означают иконки рядом с названиями статей?</h3>
    <hr/><br/>
    <ol class="icons">
        <li><span class="ui-icon ui-icon-star" title="Статья опубликована в высокорейтинговом журнале"></span> означает, что статья опубликована в высокорейтинговом журнале из Топ-25%.</li>
        <li><span class="ui-icon {% if edit %}ui-icon-circle-check{% else %}ui-icon-check{% endif %}" title="Сведения о статье проверены и подтверждены"></span> означает, что сведения о статье проверены и подтверждены.</li>
        <li><img class="article-icon" src="{{ STATIC_URL }}publications/img/webofscience.png" height="12" width="12" style="padding-left: 2px" title="Статистические данные о цитировании статьи получены из Web of Science/Scopus" /> означает, что для данной статьи получены показатели цитирования из Web of Science/Scopus.</li>
    </ol>



{% if not edit and not by_department %}
    {% my_cache cache_disabled 86400 statistics_top_articles_template year %}
    <table>
        {% get_article_list articles worker all_top=1 set_confirmed=1 as article_list %}
        {% for article in article_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{% include "publications/article_icons.html" %}</td>
                <td>{% show_activity_description article no_links=0 %}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="hide" id="workers_registered">{{ workers_registered|join:"," }}</div>
    {% endcache %}

{% else %}
    {% if edit %}
        <table id="tbl_articles_to_confirm">
          <thead>
            <tr>
              <td>#</td>
              <td>ID</td>
              <td></td>
              <td>Выходные данные работы</td>
            </tr>
          </thead>
          <tbody>
            {% if by_department %}
                {% get_article_list articles worker all_top=1 set_confirmed=1 confirmed_by_user=user as article_list %}
            {% else %}
                {% get_article_list articles worker all_top=1 hide_confirmed=1 set_confirmed=1 as article_list %}
            {% endif %}
            {% for article in article_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ article.id }}</td>
                    <td>
                        {% include "publications/article_icons.html" %}
                        <span class="ui-autocomplete-loading-padded hide"></span>
                        <a class="article_confirm no{% if not article.confirmed %} hide{% endif %}"><span class="ui-icon ui-icon-circle-check"></span></a>
                        <a class="article_confirm yes{% if article.confirmed %} hide{% endif %}"><span class="ui-icon ui-icon-close"></span></a>
                        <span class="article_id hide">{{ article.id }}</span>
                    </td>
                    <td>{% show_activity_description article no_links=0 %}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="hide" id="workers_registered">{{ workers_registered|join:"," }}</div>
        <div class="hide" id="deconfirm_all">{{ deconfirm_all }}</div>

    {% else %}<!-- by department and not edit -->
        <table>
            {% get_article_list articles worker all_top=1 as article_list %}
            {% for article in article_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{% include "publications/article_icons.html" %}</td>
                    <td>{% show_activity_description article no_links=0 %}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="hide" id="workers_registered">{{ workers_registered|join:"," }}</div>
    {% endif %}

{% endif %}

{% endblock %}
