{% extends "base.html" %}
{% load role_permissions %}

{% block title %}Зарегистрированные пользователи, имеющие публикации в журналах из Топ-25%{% endblock %}

{% block content %}

<h2>Зарегистрированные пользователи, имеющие публикации в журналах из Топ-25%</h2>
<p>
Напротив фамилии каждого сотрудника указывается коэффициент, вычисленный по формуле
sum_i(1/n_i), где n - количество соавторов в публикации i, а
суммирование ведется по всем статьям {{year}} года из top25% журналов.
Подразделение указано в соответствии с данными указанными пользователями
при регистрации.
</p>

{% ifhaspermission user "analyze_top_articles" as can_analyze_top_articles %}

<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Сотрудник</th>
            <th>Коэффициент</th>
            <th>Подразделение</th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
        {% if can_analyze_top_articles or worker.department %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url workers_worker_detail worker_id=worker.id %}">{{ worker.name }}</a></td>
            <td><a href="{% url statistics_top_articles_by_worker worker_id=worker.id %}">{{ worker.rating }}</a></td>
            <td>{{ worker.department|default_if_none:"<не указано>" }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
