<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}
{% load activity_description %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}statistics/css/base.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}statistics/js/top_publications.js"></script>
{% endblock %}


{% block title %}Публикации в журналах из Топ-25% по рубрикам{% endblock %}

{% block content %}

<h2>Количество журналов из Топ-25% по рубрикам</h2>

<table>
    <thead>
        <tr>
            <th>№ статьи</th>
            <th>Рубрика</th>
            <th>Статья</th>
        </tr>
    </thead>
    <tbody>
        {% for item in artsbyrubs %}
        <tr>
            <td><a href="{% url publications_publication_detail publication_type='article',publication_id=item.article_id %}">{{ item.article_id }}</a></td>
            <td>{{ item.rubname }}</td>
            <td>{{ item.authors }} {{ item.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
