{% extends "statistics/generic_table.html" %}

{% block title %}Топ-сотрудники по специальности {{ specialty }}{% endblock %}

{% block before_table %}

{% with number=specialty.number %}

<h2>Топ-сотрудники по специальности {{ specialty }}</h2>

В данной таблице представлен список зарегистрированных в системе сотрудников МГУ, которые являются докторами наук и отвечают хотя бы одному из следующих условий:
<ul class="bulleted">
	<li>имеет научное звание профессора, доцента или с.н.с. по специальности {{ number }} (столбец "Звание по спец.");</li>
	<li>является членом диссертационного совета по специальности {{ number }} (столбец "Чл. в совете по спец.");</li>
	<li>защитил диссертацию по специальности {{ number }} (столбец "Соотв. спец. по дисс.");</li>
	<li>является научным руководителем/консультантом по диссертации по специальности {{ number }} (столбец "Руковод.", по нему изначально выполняется сортировка);</li>
	<li>является оппонентом по диссертации по специальности {{ number }} (столбец "Оппон.").</li>
</ul>

По каждому сотруднику, кроме перечисленных выше критериев, представлены следующие статистические данные:
<ul class="bulleted">
	<li>индекс Хирша, рассчитанный по данным Web of Science;</li>
	<li>количество цитирований статей в журналах по данным Web of Science;</li>
	<li>количество цитирований статей в журналах по данным Scopus;</li>
	<li>количество рейтинговых баллов по формуле своего подразделения.
		<b>Помните, что формулы расчета баллов в разных подразделениях отличаются, поэтому сравнивать их можно только внутри одного подразделения.</b>
	</li>
</ul>

{% endwith %}

{% endblock %}

