{% extends "base.html" %}

{% block title %}{% if rubric_name %}{{ rubric_name|title }} | {% endif %}Список Топ-25% журналов по импакт-фактору по версии Thomson Reuters{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}journals/js/journal_index_detail.js"></script>
{% endblock %}

{% block content %}

<style ttype="text/css">
.dataTables_wrapper .dataTables_paginate {
  float: left;
  text-align: left;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
  border: 1px solid transparent;
}
</style>


<h2>Список Топ-25% журналов по импакт-фактору по версии Thomson Reuters</h2>

{% if index_page %}
    {% include "statistics/top_journals_preamble.html" %}
    <h4 class="margin-top"><a href="{% url journals_index_detail 113542 %}">Список журналов Thomson Reuters Science Citation Index</a></h4>
    <h4 class="margin-top"><a href="{% url journals_index_detail 113716 %}">Список журналов Thomson Reuters Social Sciences Citation Index</a></h4>
    <h4 class="margin-top"><a href="{% url journals_index_detail 113514 %}">Список журналов Thomson Reuters Arts &amp; Humanities Citation Index</a></h4>
    <h4 class="margin-top"><a href="{% url journals_index_detail 901598 %}">Список журналов Scopus</a></h4>
    {% include "statistics/top_journals_rubrics.html" %}
{% else %}
    {% if all %}
        {% include "statistics/top_journals_preamble.html" %}
        {% include "statistics/top_journals_rubrics.html" %}
    {% endif %}
    <h3 class="margin-top clear">{% if not rubric_name %}Список Топ-25% журналов{% else %}Рубрика {{ rubric_name|title }}{% endif %}</h3>
    <table id="journals">
        <thead>
            <tr>
                <th>№</th>
                <th>Рубрика</th>
                <th>Название журнала</th>
            </tr>
        </thead>
        <tbody>
            {% for journal in journals %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ journal.rubric|title }}</td>
                <td><a href="/journals/{{journal.id}}/">{{ journal.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br clear="both"/>
    <br/>
    {% if rubric_name %}
        {% include "statistics/top_journals_rubrics.html" %}
        {% include "statistics/top_journals_preamble.html" %}
    {% endif %}
{% endif %}

{% endblock %}
