<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}

{% block title %}Количество журналов из Топ-25% по рубрикам{% endblock %}

{% block content %}

<h2>Количество журналов из Топ-25% по рубрикам</h2>

<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Рубрика</th>
            <th>Количество журналов</th>
        </tr>
    </thead>
    <tbody>
        {% for rubric in rubrics %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ rubric.name }}</td>
            <td>{{ rubric.journals_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
