{% extends "base.html" %}

{% block title %}Список специальностей{% endblock %}

{% block content %}

<h2>Список специальностей</h2>

<ul>
	{% for specialty in object_list %}
		<li>
			{% if specialty.level < 3 %}
				<br/>
				<b>
			{% endif %}
			<a href="{% url statistics_top_workers_by_specialty organization.id specialty.number %}" target="_blank">{{ specialty }}</a>
			{% if specialty.level < 3 %}
				</b>
				{% if specialty.level == 1 %}
					<hr/>
				{% endif %}
			{% endif %}
		</li>
	{% endfor %}
</ul>

{% endblock %}
