{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}

{% load activity_description %}

{% block title %}Информация о публикациях{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}statistics/css/base.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2>Распределение суммарных коэффициентов среди подразделений МГУ</h2>

На данной странице представлена информация по состоянию на 8 июня 2012 года.
Эти данные были использованы при распределении части стимулирующей
надбавки за первое полугодие 2012 года. Текущие показатели подразделений, с
учетом новых введенных статей и некоторых исправленных неточностей Вы можете
посмотреть на <a href="{% url statistics_dynamic %}" title="Перейти на страницу
статистики МГУ имени М.В. Ломоносова">странице статистики МГУ имени М.В.
Ломоносова</a>.

<table class="margin-top">
<tr><td>74.69</td><td>
Научно-исследовательский институт ядерной физики имени Д.В.Скобельцына
</td></tr><tr><td>56.25</td><td>
Химический факультет
</td></tr><tr><td>51.45</td><td>
Физический факультет
</td></tr><tr><td>25.36</td><td>
Биологический факультет
</td></tr><tr><td>18.04</td><td>
НИИ ФХБ имени А.Н. Белозерского
</td></tr><tr><td>14.70</td><td>
Государственный астрономический институт имени П.К.Штернберга
</td></tr><tr><td>6.54</td><td>
Факультет вычислительной математики и кибернетики
</td></tr><tr><td>5.88</td><td>
Механико-математический факультет
</td></tr><tr><td>4.61</td><td>
Факультет наук о материалах
</td></tr><tr><td>3.65</td><td>
Факультет биоинженерии и биоинформатики
</td></tr><tr><td>2.14</td><td>
Геологический факультет
</td></tr><tr><td>1.89</td><td>
Научно-исследовательский вычислительный центр
</td></tr><tr><td>1.88</td><td>
НИИ механики МГУ
</td></tr><tr><td>1.17</td><td>
Институт комплексных исследований образования
</td></tr><tr><td>1.00</td><td>
Институт стран Азии и Африки
</td></tr><tr><td>0.87</td><td>
Географический факультет
</td></tr><tr><td>0.37</td><td>
Факультет фундаментальной медицины
</td></tr><tr><td>0.35</td><td>
Международный учебно-научный лазерный центр
</td></tr><tr><td>0.35</td><td>
Факультет почвоведения
</td></tr>
</table>

{% endblock %}


