.dynatree_container { max-height: 400px; overflow: auto; }

#id_place, #id_descr, #id_schedule, #id_techdata, #id_fullname, #id_shortname, #id_regnumber, #id_number { width: 650px; }
#dynatree_container_id_department { max-width: 750px; }
#id_place { height: 80px; }
#id_descr { height: 160px; }