<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}

{% block title %}Информация о научных коллективах МГУ{% endblock %}

{% block content %}

<h2>Информация о научных коллективах МГУ</h2>

<p>
<a href="/schools/add/1/">Add</a>
</p>

<!--
<hr/>
<form action="/schools/add/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<hr/>
-->

<div class="span-23 prepend-1 prepend-top last">
<h3><a href="{% url statistics_top_journals %}">Список Топ-25% журналов</a></h3>

{% endblock %}


