<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}
{% load i18n myforms %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/add.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/ui.dynatree.css" type="text/css" id="skinSheet">
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}schools/js/schools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>

{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
$(function() {
    current_step = '{{ wizard.steps.current }}';
});
current_step = '{{ wizard.steps.current }}';
</script>
{% endblock %}


{% block title %}Информация о научных коллективах МГУ{% endblock %}


{% block content %}

<style type="text/css">
<!--
#id_info-keywords, #id_info-keywordseng, #id_info-descr, #id_info-descreng, #id_info-name, #id_info-nameeng, #id_info-achievements {
    width: 600px;
}
#id_info-keywords, #id_info-keywordseng {
    height: 50px;
}

#id_info-name, #id_info-nameeng {
    height: 30px;
}

.school-reference {
    width: 600px;
    height: 50px;
}

.grant-name {
    width: 400px;
    height: 40px;
}

{% if wizard.steps.step1 == 4 or wizard.steps.step1 == 5 or wizard.steps.step1 == 6 or wizard.steps.step1 == 7 %}
label {
    width: 20em;
    padding-left: 6px;
}
{% endif %}

-->
</style>

<h2>Информация о научных коллективах МГУ <small><a href="{% url schools_index %}">вернуться к списку (без сохранения изменений)</a></small></h2>

<p>
<img width="50" height="50" align="left" src="http://serg.tk/no-ie-logo.png"/>
<b>Уважаемые коллеги!</b> Если при редактировании данных у вас возникают ошибки, пожалуйста, напишите письмо
 на адрес <a href="mailto:info@istina.msu.ru" target="_blank">info@istina.msu.ru</a>, в котором напишите
о том, какой браузер вы используете, и после какого действия возникает ошибка.
<b>Пожалуйста, не используете Internet Explorer при работе с этой формой.</b>
Вы можете загрузить Firefox с сайта <a href="http://www.mozilla.org/en-US/products/download.html">mozilla.org</a>.
</p>

<h4>
<b>Блок {{ wizard.steps.step1 }} из {{ wizard.steps.count }}</b>.
{% if wizard.steps.step1 == 1 %}
<b><u>Общие сведения.</u></b><br/>

Необходимо заполнить следующие поля:
1. Название тематики на русском (желательно не более 10 слов)
2. Название тематики на английском (желательно не более 10 слов)
3. Резюме на русском языке должно (не более 200 слов.
4. Резюме на английском языке (не более 200 слов)
5. Ключевые слова на русском языке (рекомендуется не более 10 сочетаний ключевых слов через запятую)
6. Ключевые слова на английском языке (рекомендуется не более 10 сочетаний ключевых слов через запятую)
7. Ведущее подразделение (выбирается кафедра или факультет (для межкафедральных групп) из выпадающего списка)

{% endif %}
{% if wizard.steps.step1 == 2 %}
<b><u>Классификаторы.</u></b><br/>
8. Необходимо выбрать области наук по классификаторам Scopus и ГРНТИ
(выбирается из выпадающего списка; рекомендуется не более трех областей по
каждому из классификаторов).
{% endif %}

{% if wizard.steps.step1 == 3 %}
<b><u>Руководители и основные участники.</u></b><br/>
9. Вводятся Фамилия, Имя и Отчество и другие характеристики участников коллектива.
Вводится любое число участников. Каждому присваивается роль из выпадающего классификатора
(руководитель, заместитель руководителя, участник коллектива). Достаточно ввести служебный
телефон и адрес электронной почты только руководителя коллектива. Должность вводится
БЕЗ СОКРАЩЕНИЙ в соответствии с записью в штатном расписании подразделения.
<br/>
Для добавления следующей записи нажать «Добавить». Для удаления ошибочно выбранных
записей необходимо поставить галочку в поле «Удалить» и нажать кнопку
«Продолжить» (аналогично на всех остальных блоках анкеты).
<br/>
<b>Для поиска сотрудника</b> в базе введите начальные буквы фамилии и выберите соответствующую строчку в появившемся окне.
{% endif %}

{% if wizard.steps.step1 == 4 %}
<b><u>Основные публикации.</u></b><br/>
10. Вводится любое количество (рекомендуется не менее 5 и не более 20) основных наиболее значимых и
цитируемых публикаций научного коллектива.
<!-- Каждая публикация должна быть заранее внесена в сервис.
В свободную строчку вносится библиографическая ссылка из сервиса «Наука-МГУ». В качестве ссылки можно вносить ссылку на страницу публикации из сервиса «Наука-МГУ» (можно скопировать из строки браузера на странице публикации или навести мышь на буквы «http» в нижнем правом углу текста статьи на странице публикации, нажать правую клавишу мыши и выбрать «скопировать ссылку»), либо полная библиографическая ссылка с авторами, названием и т.п.
<br/><br/>
-->
<b>Для поиска публикации</b> в базе введите начальные буквы названия работы и выберите соответствующую строчку в появившемся окне.
В поле может быть введена полная библиографическая ссылка с авторами, названием и т.п. (для работ, которые не были ранее
введены в ИСТИНу).
{% endif %}

{% if wizard.steps.step1 == 5 %}
<b><u>Данные о грантах и проектах.</u></b><br/>
11. Вносится информация о текущих грантах (всех), выполненных грантах (не более 10), договорах о НИР с организациями (хоздоговора): текущие – все, а законченные – не более 10. Номер проекта – в соответствии с номером, присвоенным организацией-источником гранта. «Номер ЦИТИС» - номер темы, присвоенной при регистрации тематики данного проекта (гранта) в ЦИТИС (http://www.rntd.citis.ru/). В окошке РФ (Российская Федерация) указывается, является ли грант российским.
<!--
Номер РНТД заполняется только в том случае, если по данному гранту (договору, контракту) был зарегистрирован соответствующий РНТД (для остальных случаев номер зарегистрированных коллективом РНТД указывается в блоке (шаге) 8.
-->
{% endif %}

{% if wizard.steps.step1 == 6 %}
<b><u>Данные о полученных свидетельствах на интеллектуальную собственность.</u></b><br/>
12. Вносятся данные о полученных патентах, зарегистрированных программах и т.п. (необязательный блок).
{% endif %}

{% if wizard.steps.step1 == 7 %}
<b><u>Данные о созданных технологиях.</u></b><br/>

13. Вносятся данные о созданных технологиях (необязательный блок).
{% endif %}

{% if wizard.steps.step1 == 8 %}
<b><u>Данные о регистрации РНТД (необязательный блок).</u></b><br/>

14. Номер РНТД заполняется только в том случае, если по грантам (договорам, контрактам) был зарегистрирован соответствующий РНТД.
{% endif %}
</h4>


{% if wizard.steps.step1 == 2 %}
<h3>Классификатор ГРНТИ</h3>
<a href="#" id="btnCollapseAll">Свернуть все</a>
&nbsp;&nbsp;
<a href="#" id="btnShowChecked">Показть выбранные</a>
  <div id="myDivbaby" style="height:400px; width:800px; overflow:scroll">
        <div id="tree_grnti"></div>
  </div> 

<br/>
<h3>Классификатор Scopus</h3>
<a href="#" id="btnCollapseAll_Scopus">Свернуть все</a>
&nbsp;&nbsp;
<a href="#" id="btnShowChecked_Scopus">Показать выбранные</a>
  <div id="myDivbaby" style="height:400px; width:800px; overflow:scroll">
        <div id="tree_scopus"></div>
  </div>

{% endif %}


<form action="" method="post" {% if wizard.steps.step1 > 1 %} id="main_form" {% endif %} >{% csrf_token %}
  {{ wizard.management_form }}
  {% if wizard.form.forms %}
      {% show_formset wizard.form %}
  {% else %}
      {% show_form wizard.form %}
  {% endif %}


{% if False and wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first}}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev}}">{% trans "prev step" %}</button>
{% endif %}

<br/>
{% if wizard.steps.prev %}
<button class="gostep2" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev}}">Вернуться назад</button>
{% endif %}
<input type="submit" value="{% if wizard.steps.step1 == wizard.steps.count %}Сохранить{% else %}Продолжить{% endif %}"/>

</form>

<hr/>

{% endblock %}
