<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}
{% load i18n myforms %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/add.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/ui.dynatree.css" type="text/css" id="skinSheet">
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}schools/js/schools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>

{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
$(function() {
    current_step = '{{ wizard.steps.current }}';
});
current_step = '{{ wizard.steps.current }}';
</script>
{% endblock %}


{% block title %}Информация о научных школах МГУ{% endblock %}


{% block content %}

<style type="text/css">
<!--
#id_info-keywords, #id_info-keywordseng, #id_info-descr, #id_info-descreng, #id_info-name, #id_info-nameeng, #id_info-achievements {
    width: 600px;
}
#id_info-keywords, #id_info-keywordseng {
    height: 50px;
}

#id_info-name, #id_info-nameeng {
    height: 30px;
}

.school-reference {
    width: 600px;
    height: 50px;
}

.grant-name {
    width: 400px;
    height: 40px;
}

.messages div
{
    clear:none;
}


{% if wizard.steps.step1 == 4 or wizard.steps.step1 == 5 or wizard.steps.step1 == 6 or wizard.steps.step1 == 7 %}
label {
    width: 20em;
    padding-left: 6px;
}
{% endif %}

-->
</style>

<h2>Информация о научных школах МГУ <small><a href="{% url schools_index_schools %}">вернуться к списку (без сохранения изменений)</a></small></h2>

{#<p>#}
{#<img width="50" height="50" align="left" src="http://serg.tk/no-ie-logo.png"/>#}
{#<b>Уважаемые коллеги!</b> Если при редактировании данных у вас возникают ошибки, пожалуйста, напишите письмо#}
{# на адрес <a href="mailto:info@istina.msu.ru" target="_blank">info@istina.msu.ru</a>, в котором напишите#}
{#о том, какой браузер вы используете, и после какого действия возникает ошибка.#}
{#<b>Пожалуйста, не используете Internet Explorer при работе с этой формой.</b>#}
{#Вы можете загрузить Firefox с сайта <a href="http://www.mozilla.org/en-US/products/download.html">mozilla.org</a>.#}
{#</p>#}

<h3>
{% if wizard.steps.count > 1 %}
    Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}.
{% endif %}
    Введите информацию о научной школе
</h3>




<form action="" method="post" {% if wizard.steps.step1 > 1 %} id="main_form" {% endif %} >{% csrf_token %}
  <div id="main_form_div">
        <fieldset>
        <legend>
                {% if current_step_info.title %}
                   {{ current_step_info.title }}
                {% else %}
                    Информация {% if model.locative.0 == 'о' %}об {% else %}о {% endif %}{{ model.locative }}
                {% endif %}
        </legend>
        {% if current_step_info.help_text %}
            {% for message  in current_step_info.help_text %}
            <div class="messages span-22 last">
                    <div class="message info span-22 last">
                        <div class="span-18">
                            <span class="ui-icon"></span>
                            {{ message|safe }}
                        </div>
                        <div class="span-2 last">
                            &nbsp;
                        </div>
                        <div class="span-2 last">
                            <a class="message_hide" title="Скрыть сообщение">скрыть</a>
                        </div>
                    </div>

            </div>
            {% endfor %}
        {% endif %}
    {{ wizard.management_form }}
        {% if wizard.steps.step1 == 2 %}
<h3>Классификатор ГРНТИ</h3>
<a href="#" id="btnCollapseAll">Свернуть все</a>
&nbsp;&nbsp;
<a href="#" id="btnShowChecked">Показть выбранные</a>
  <div id="myDivbaby" style="height:400px; width:800px; overflow:scroll">
        <div id="tree_grnti"></div>
  </div>

<br/>
<h3>Классификатор Scopus</h3>
<a href="#" id="btnCollapseAll_Scopus">Свернуть все</a>
&nbsp;&nbsp;
<a href="#" id="btnShowChecked_Scopus">Показать выбранные</a>
  <div id="myDivbaby" style="height:400px; width:800px; overflow:scroll">
        <div id="tree_scopus"></div>
  </div>

{% endif %}
  {% if wizard.form.forms %}
      {% show_formset wizard.form %}
  {% else %}
      {% show_form wizard.form %}
  {% endif %}


{% if False and wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first}}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev}}">{% trans "prev step" %}</button>
{% endif %}

<br/>
{% if wizard.steps.prev %}
<button class="gostep2" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev}}">Вернуться назад</button>
{% endif %}
<input type="submit" value="{% if wizard.steps.step1 == wizard.steps.count %}Сохранить{% else %}Продолжить{% endif %}"/>
</fieldset>
  </div>
</form>

<hr/>

{% endblock %}
