<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load i18n %}

{% block title %}Информация о научных коллективах МГУ{% endblock %}

{% block content %}

<h2>Информация о научных коллективах МГУ</h2>

<p>
Спасибо. Информация сохранена.
</p>

<hr/>

{% endblock %}



