<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}

{% block title %}Информация о научных коллективах МГУ{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
   $('#tblSchools').dataTable({
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ строк на странице",
            "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
            "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": "Показаны строки с 0 по 0 из 0",
            "sInfoFiltered": "(отобрано по условию из _MAX_ записей)",
            "oPaginate": {
               "sNext": "  Следующая",
               "sPrevious": "Предыдущая  "
            },
            "sSearch": "Поиск (по всем полям):"
        }
   });
} );
</script>
{% endblock %}


{% block content %}

<style type="text/css">
.dataTables_wrapper {
    clear: both;
    position: relative;
}
.dataTables_processing {
    background-color: white;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 250px;
}

.dataTables_filter {
    float: right;
    text-align: right;
    width: 50%;
}
.dataTables_info {
    float: left;
    width: 30%;
}

.top .dataTables_info {
    float: none;
    width: 30%;
}


table.display {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
table.display thead th {
    border-bottom: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 18px 3px 10px;
}

.sorting_asc {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc.png") no-repeat scroll right center
    transparent;
}
.sorting_desc {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc.png") no-repeat scroll right center
    transparent;
}
.sorting {
    background: url("http://datatables.net/release-datatables/media/images/sort_both.png") no-repeat scroll right center
    transparent;
}
.sorting_asc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc_disabled.png") no-repeat scroll right
    center transparent;
}
.sorting_desc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc_disabled.png") no-repeat scroll right
    center transparent;
}
</style>


<table id="tblSchools">
  <thead>
    <tr>
      <th>Название</th>
      <th>Сумма</th>
      <th>Сроки</th>
      <th>Руководитель</th>
      <th>Кафедра</th>
      <th>Факультет</th>
      <th>Коллектив</th>
      <th>Статус</th>
    </tr>
  </thead>
<tbody>
{% for sg in schoolgrants %}
<tr>
  <td> {{ sg.name }} </td>
  <td> {{ sg.budget }} </td>
  <td> {{ sg.dates }} </td>
  <td> {{ sg.leader_name }} </td>
  <td> {{ sg.maindep_name }} </td>
  <td> {{ sg.topdep_name }} </td>
  <td> <a href="/schools/print/{{sg.school_id}}/" target="_">{{ sg.school_name }}</a> </td>
  <td> <p style="background-color: {%if sg.school_state == "approved" %}LawnGreen{%endif%}
              {%if sg.school_state == "signed"   %}Yellow{%endif%}
              {%if sg.school_state == "rejected" %}Red{%endif%};">
       {{ sg.school.state_name }} </p> </td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}

