<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}
{% load common_dict %}
{% block title %}Информация о научных {% if isschool %}школах{% else %}коллективах{% endif %} МГУ{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
   $('#tblSchools').dataTable({
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ строк на странице",
            "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
            "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": "Показаны строки с 0 по 0 из 0",
            "sInfoFiltered": "(отобрано по условию из _MAX_ записей)",
            "oPaginate": {
               "sNext": "  Следующая",
               "sPrevious": "Предыдущая  "
            },
            "sSearch": "Поиск (по всем полям):"
        }
   });
} );
</script>
{% endblock %}


{% block content %}

<style type="text/css">
.dataTables_wrapper {
    clear: both;
    position: relative;
}
.dataTables_processing {
    background-color: white;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 250px;
}

.dataTables_filter {
    float: right;
    text-align: right;
    width: 50%;
}
.dataTables_info {
    float: left;
    width: 30%;
}

.top .dataTables_info {
    float: none;
    width: 30%;
}


table.display {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
table.display thead th {
    border-bottom: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 18px 3px 10px;
}

.sorting_asc {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc.png") no-repeat scroll right center
    transparent;
}
.sorting_desc {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc.png") no-repeat scroll right center
    transparent;
}
.sorting {
    background: url("http://datatables.net/release-datatables/media/images/sort_both.png") no-repeat scroll right center
    transparent;
}
.sorting_asc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc_disabled.png") no-repeat scroll right
    center transparent;
}
.sorting_desc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc_disabled.png") no-repeat scroll right
    center transparent;
}
</style>




{#<font color="red">Срок заполнения продлен до 10 декабря 2012 года.</font>#}
<h2>Информация о научных {% if isschool %}школах{% else %}коллективах{% endif %} МГУ</h2>

{% if show_all %}
{% if not isschool %}<h3> (перейти к <a href="{% url school_list_all_schools %}">научным школам</a>)</h3>
{% else %}<h3> (перейти ко всем <a href="{% url school_list_all %}">научным коллективам</a>)</h3>{% endif %}
<h4>
Вы попали на эту страницу так как являетесь ответственным. Ниже
<b>показываются все введенные научные {% if isschool %}школы{% else %}коллективы{% endif %} Вашего подразделения.</b>
</h4>
<hr/>
<p>
Для сортировки по одному полю нажмите на название поля один или два раза (сортировка по возрастанию или
убыванию). Для сортировки по нескольким полям нажмите на название поля при нажатой клавише SHIFT.
Сортировка производится в порядке выбора полей (сначала по первому выбранному полю, потом - по второму).
</p>
<p>
При нажатии на ID происходит переход на страницу редактирования записи (если есть права на редактирование).
Нажатие на название коллектива открывает в новом окне страницу с его описанием. Если форма была
подписана автором, то Вы можете ее либо <b>утвердить</b>, либо <b>веруть на доработку</b>.
</p>
<hr/>
{% if isschool %}
<table id="tblSchools">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название научной школы</th>
      <th>Код научного направления по приказу Минобрнауки РФ №59 от 25.02.09</th>
      <th>Руководитель, ведущие учёные</th>
      <th>Краткая информация об основных достижениях научной школы</th>
    </tr>
  </thead>
<tbody>
{% for school in schools %}
<tr>
  <td> <a href="/schools/edit/{{school.id}}/" target="_">{{ school.id }}</a></td>
  <td> <a href="/schools/print/{{school.id}}/" target="_">{{ school.name }}</a> </td>
  <td> {% for spec in school.specialties %}{% if forloop.counter > 1 %}, {% endif %}{{ spec|get_dict_value:'rubric__code' }}
      {% endfor %}</td>
    <td> {% for member in school.members.all|slice:":5" %}{% if forloop.counter > 1 %}, {% endif %}{{ member.worker.fullname }}{% endfor %}</td>
    <td>{{ school.achievements }} </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<table id="tblSchools">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Руководитель</th>
      <th>Кафедра</th>
      <th>Факультет</th>
      <th>Статус</th>
      <th>Дата посл.оп.</th>
      <th>Кто добавил</th>
    </tr>
  </thead>
<tbody>
{% for school in schools %}
<tr>
  <td> <a href="/schools/edit/{{school.id}}/" target="_">{{ school.id }}</a></td>
  <td> <a href="/schools/print/{{school.id}}/" target="_">{{ school.name }}</a> </td>
  <td> {{ school.leader_name }} </td>
  <td> {{ school.maindep.name }} </td>
  <td> {{ school.maindep.roots.0.name }} </td>
  <td> <p style="background-color: {%if school.state == "approved" %}LawnGreen{%endif%}
              {%if school.state == "signed"   %}Yellow{%endif%}
              {%if school.state == "rejected" %}Red{%endif%};">
       {{ school.state_name }} </p> </td>
  <td> {{ school.datesigned|date:"d.m.Y" }} </td>
  <td> {{ school.creator.get_profile.worker.fullname }} </td>
{% endfor %}
</tbody>
</table>
{% endif %}
{% else %}

<ol>
{% for school in schools %}
<li><a href="/schools/edit/{{school.id}}/"> {{ school.name }}</a>
Форма {{ school.state_name }}
<b><a href="{% url school_print school_id=school.id %}">
{% if not school.state or school.state == "edit" %} Проверить и подписать {% else %} Печать {% endif %} </a></b>
</li>
{% endfor %}
</ol>

<p>
<b>Внимание!</b> Данные о научных {% if isschool %}школах{% else %}коллективах{% endif %} доступны для просмотра и редактирования
только тому пользователю системы, который их вносит. Форма ввода состоит из 8 страниц.
Информация сохраняется в базе данных <u>только после нажатия на кнопку "Сохранить"
<b>на последней форме</b></u>. Формы могут быть заполнены частично. 
 Введенная информация может быть в дальнейшем отредактирована и Вы можете вводить данные
постепенно. Например, можно заполнить первую форму и пропустить все остальные (до кнопки "сохранить").
В дальнейшем можно заполнить остальные формы.
</p>
<p>
После заполнения всех данных <b>форму необходимо подписать</b>. Только подписанные формы будут доступны
для просмотра и утверждения ответственными сотрудниками факультета. При нажатии на ссылку
"проверить и подписать" будет показана старница подтверждения со всеми введенными данным и кнопкой "Подписать".
</p>

{% endif %}

<p>
<br/>
{% if isschool %}<a href="/schools/schools/add/">Добавить</a>
{% else %}<a href="/schools/addwiz/">Добавить</a>{% endif %}
</p>


<br/>
<p>
Формы ввода работают в программах Firefox, Opera и Google Chrome.
В некоторых версиях Internet Explorer формы отображаются некорректно и при редактировании данных могут
возникать ошибки. Если Вы пользуетесь програмой Internet Explorer, перед началом ввода данных, пожалуйста,
проверьте, что Вы можете сохранить данные. Для этого заполните форму на шаге 1,
введите данные о руководителе работы на шаге 3 и сохраните введенную информацию, оставив остальные формы
пустыми. При повторном редактировании можно вводить правильные данные. Приносим извинения за доставленные неудобства.
</p>


{% endblock %}

