<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}
{% load common_dict %}
{% block header %}{% endblock %}

{% block title %}Информация о {% if school.isschool %}научной школе{% else %}научном коллективе{% endif %} МГУ{% endblock %}


{% block content %}

<style type="text/css">
<!--
#blockheader {
  font-weight:bold;
}
td {
  vertical-align: top;
}
-->
</style>

{% if can_sign %}
  {% if not school.state or school.state == "edit" %}
  <h2>Пожалуйста, проверьте данные и нажмите кнопку "Подписать"</h2>
  <hr/>
  <hr/>
  {% endif %}
{% endif %}
{% if can_approve %}
  <br/>
  {% if school.state == "signed" %}
   <table><tr>
   <td>
    <form action="{% url school_sign school_id=school.id %}" method="POST">{% csrf_token %}
    <input type="hidden" name="action" value="unsign"/>
    <input type="submit" value="Вернуть на доработку"/>
    </form>
   </td>
   <td align="right">
    <form action="{% url school_sign school_id=school.id %}" method="POST">{% csrf_token %}
    <input type="hidden" name="action" value="approve"/>
    <input type="submit" value="Утвердить"/>
    </form>
   </td>
   </tr></table>
  Если Вы возвращаете форму автору на доработку, пожалуйста, сообщите ему об этом. В настоящее время
  уведомления по электронной почте не отправляются.
  {% elif school.state == "edit" or not school.state %}
   <h3>Эта форма еще не подписана автором</h3>
  {% endif %}
  <hr/>
  <br/>
{% endif %}

<h2>{{ school.name }}</h2>
<h3>{{ school.nameeng }}</h3>
<table>
<tr><td>Описание</td><td>{{ school.descr }}</td></tr>
<tr><td>Ключевые слова</td><td>{{ school.keywords }}

<tr><td>Описание на английском</td><td>{{ school.descreng }}</td></tr>
<tr><td>Ключевые слова на английском</td><td>{{ school.keywordseng }}</td></tr>

<td>Ведущее подразделение</td><td>
{% for pd in school.maindep.current_parents %}
  {{ pd.name }},
{% endfor %}
{{ school.maindep.name }}
</td>

<tr><td>Специальность</td>
<td>{% for spec in school.specialties %}
    {{ spec|get_dict_value:'rubric__code' }} - {{ spec|get_dict_value:'rubric__name' }}<br>
{% endfor %}</td>
</tr>

<tr><td>Рубрики ГРНТИ</td><td>
    {% for id,rub in school.grnti_rubrics.items %}
       {%if forloop.count > 1 %} {% endif %} {{ rub }}<br/>
    {% endfor %}
</td></tr>

<tr><td>Рубрики Scopus</td><td>
    {% for id,rub in school.scopus_rubrics.items %}
       {%if forloop.count > 1 %} {% endif %} {{ rub }}<br/>
    {% endfor %}
</td></tr>

{% if school.regnums.all %}
<tr><td>Коды РНТД</td><td>
    {% for rntd in school.regnums.all %}
       {%if forloop.count > 1 %}, {% endif %} {{ rntd.value }}
    {% endfor %}
</td></tr>
{% endif %}

</table>


<div id="blockheader">Руководители и основные участники</div>
<hr/>
<table>
{% for m in school.members.all %}
{% with worker=m.worker %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{ m.role.name }}</td>
{% if worker %}
<td><a href="{{ worker.get_absolute_url }}">{{ worker.fullname }}</a></td>
<td>{{ m.worker.degree_text}}{%if m.worker.rank_str_full %}, {{ m.worker.rank_str_full }} {% endif %}</td>
    {% with employment=m.worker.current_main_employments.0 %}
<td>{% if employment.position %}{{ employment.position }}{% endif %}</td>
<td>
{% for pd in employment.department.current_parents %}
  {{ pd.name }},
{% endfor %}
{{ employment.department.name }}
</td>
{% endwith %}
{% else %}
<td>{{ m.lastname }} {{ m.firstname }} {{ m.middlename }}</td>
<td>{{ m.degree_name}}{%if m.rank %}, {{ m.rank }} {% endif %}</td>
<td>{{ m.post }}</td>
<td>
{% for pd in m.maindep.current_parents %}
  {{ pd.name }},
{% endfor %}
{{ m.maindep.name }}
</td>
{% endif %}
</tr>
{% endwith %}
{% endfor %}
</table>

{% if school.pubs.all %}
<div id="blockheader">Публикации</div>
<hr/>
<table>
{% for p in school.pubs.all %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{ p.reference }}</td>
</tr>
{% endfor %}
</table>
{% endif %}


{% if school.grants.all %}
<div id="blockheader">Гранты и проекты</div>
<hr/>
<table>
<tr><th></th> <th>Источник</th> <th>Номер</th> <th>Название</th> <th>Руководитель</th> <th>Сроки</th> <th>Сумма</th> <th># ЦИТИС</th> </tr>
{% for m in school.grants.all %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{ m.source }}</td>
<td>{{ m.number }}</td>
<td>{{ m.name }}</td>
<td>{{ m.leader }}</td>
<td>{{ m.start }} - {% if m.end %} {{ m.end }} {% else %} по наст.вр. {% endif %}</td>
<td>{{ m.budget }}</td>
<td>{{ m.citis }}</td>
</tr>
{% endfor %}
</table>
{% endif %}




{% if school.patents.all %}
<div id="blockheader">Патенты</div>
<hr/>
<table>
<tr><th></th> <th>Название</th> <th>Тип</th> <th>Дата выдачи</th> <th>Организация</th> <th>Авторы</th> <th>Сведения о коммерциализации</th> </tr>
{% for m in school.patents.all %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{ m.name }}</td>
<td>{{ m.type }}</td>
<td>{{ m.date }}</td>
<td>{{ m.issuedby }}</td>
<td>{{ m.authors }}</td>
<td>{{ m.commerce }}</td>
</tr>
{% endfor %}
</table>
{% endif %}




{% if school.technos.all %}
<div id="blockheader">Технологии</div>
<hr/>
<table>
<tr><th></th> <th>Название</th> <th>Область применения</th> <th>Степень разработки</th> <th>Готовность к внедрению</th> <th>Авторы</th> <th>Примечания</th> </tr>
{% for m in school.technos.all %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{ m.name }}</td>
<td>{{ m.area }}</td>
<td>{{ m.development }}</td>
<td>{{ m.readyness }}</td>
<td>{{ m.authors }}</td>
<td>{{ m.comment }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if school.achievements %}
<div id="blockheader">Основные достижения</div>
{{ school.achievements }}
{% endif %}


<hr/>

{% if can_sign %}
{% if not school.state or school.state == "edit" %}
<br/>
<b><font color="red">Внимание!</font> После нажатия кнопки "Подписать" внесение изменений будет невозможно.</b>
<br/>
<br/>
<form action="{% url school_sign school_id=school.id %}">
<input type="submit" value="Подписать"/>
</form>
<br/>
{% else %}
  <hr/>Идентификатор записи: {{ school.id }} Дата подписания: {{ school.datesigned|date:"d.m.Y" }} Напечатано: {% now "d.m.Y H:i" %}
{% endif %}
{% endif %}

{% endblock %}
{% block footer %}{% endblock %}

