.pmodel_container table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.pmodel_container td {
  border: 1px solid lightgray;
  text-align: center;
}

.pmodel_container th {
  background-color: lightgray;
  border: 1px solid gray;
  text-align: center;
}

#histogram_placeholder {
  width: 660px;
  height: 400px;
  float: left;
}

#positions_placeholder {
  width: 255px;
  height: 400px;
  float: left;
  overflow: scroll;
}

.pmodel_container input.cell_input {
  box-sizing: border-box;
  width: 100%;
}

.pmodel_container input.modifier_small_input {
  box-sizing: border-box;
  width: 15%;
}

.pmodel_container input.label_input {
  margin-left: 4px;
  width: 200px;
}

.pmodel_container select.category_select,
.pmodel_container select.educ_stage_select,
.pmodel_container select.modifier_select,
.pmodel_container select.parameter_select {
  max-width: 100%;
}

.pmodel_container ul.restrictions_ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.pmodel_container ul.restrictions_ul select.parameter_select {
  max-width: 130px;
}

.pmodel_container span.help {
  color: darkblue;
  cursor: help;
  margin-left: 5px;
}

td.category_editor {
  text-align: left;
  padding: 5px;
  background-color: #ccffcc;
}

#startyear, #endyear {
  margin-left: 2px;
  margin-right: 2px;
}


/* Histogram parameters */
text {
  font: 10px sans-serif;
}

rect.background {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

input[type=submit] {
  width: 120px;
}
