{% load i18n workers_show common_bool %}

{% with users_worker=user.get_profile.worker %}
{% set_is_profile_owner user worker %}
{% with worker_reliable=worker|logic_or:users_worker %}

{% comment %}
@worker_reliable is not a magic thing. It's just a useful variable which means
"worker which profile we are editing now".
    Why not just use @worker? Because when we're on avatar/email/password edit pages,
    @worker is not set, and the current worker is users_worker (=user.get_profile.worker)
So @worker_reliable is just @worker that is "always" set (see below).
Actually, there can be cases where @worker_reliable is None. 
    It's not a problem. It just means that current user is editing his own profile,
    and he is not linked to worker yet.
    To such user we don't show "edit employment" and "edit degrees" links,
    see the code below.
-- goldan
{% endcomment %}

{% if user.is_authenticated %}
<h2>
{% if is_profile_owner %}
    {% if user.get_profile.fullname_initials %}
        {{ user.get_profile.fullname_initials }}
    {% else %}
        {% if users_worker %}{{ users_worker.fullname_initials }}{% else %}{{ user }}{% endif %}
    {% endif %}
{% else %}
    {{ worker.fullname_initials }}
{% endif %}
- {% if is_profile_owner %}<a href="{% url workers_profile_edit %}">редактирование профиля</a>{% else %}редактирование профиля{% endif %} <a class="edit" href="{% if is_profile_owner %}{% url home %}{% else %}{% url workers_worker_detail worker.id %}{% endif %}" title="Перейти на {% if is_profile_owner %}вашу страницу{% else %}страницу сотрудника{% endif %}">просмотреть профиль</a></h2>
<div id="nav" class="{{ css_classes.nav }}">
    <ul class="hmenu">
        {% if is_profile_owner %}
        <li{% ifequal section "personal" %} class="active"{% endifequal %}>
            <a href="{% url workers_registration %}" title="Перейти на страницу редактирования личной информации">{% trans "Personal information" %}</a>
        </li>
        {% endif %}

        {% if false %} {# <---------------- These links are now accessable from workers_registration page #}
        {% if worker_reliable %}
        <li{% ifequal section "employment" %} class="active"{% endifequal %}>
            <a href="{% url workers_employment_edit worker_id=worker_reliable.id %}" title="Перейти на страницу выбора места работы">Место работы</a>
        </li>
        
         <li{% ifequal section "degrees" %} class="active"{% endifequal %}>
            <a href="{% url workers_degree_edit worker_reliable.id %}" title="Перейти на страницу редактирования степеней и званий">Ученые степени и звания</a>
        </li>
        {% endif %}
        {% endif %}
        
        {% if is_profile_owner %}
        <li{% ifequal section "avatar" %} class="active"{% endifequal %}>
            <a href="{% url profile_edit_avatar %}" title="Перейти на страницу выбора фотографии">Фотография</a>
        </li>

        <li{% ifequal section "email" %} class="active"{% endifequal %}>
            <a href="{% url email_validation %}" title="Перейти на страницу смены e-mail">Изменить e-mail</a>
        </li>

        <li{% ifequal section "password" %} class="active"{% endifequal %}>
            <a href="{% url password_change %}" title="Перейти на страницу смены пароля">Изменить пароль</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% endwith %}
{% endwith %}
