form.personal .field {
    margin: 15px 0 15px 0;
}
form.personal input, form.personal select {
    margin: 0;
}
form.personal input~label {
    display: inline;
}
form.personal label {
    float: left;
    font-weight: normal;
    margin-right: 1em;
    text-align: right;
    width: 12em;
}
#id_year {
     width: 100px;
}

#submit {
     width: 200px;
     margin-left: 120px;
}