#merge_form input[type=submit] {
    height: 26px;
    width: 200px;
    border-color: lightblue;
    background: #eff8ff;
    margin-top: 5px;
    font-weight: normal;
}

.merge_message {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    display: block;
    background: #E5ECF9;
    border-color: lightblue;    
}

.merge_message .ui-icon {
    float: left;
    margin-right: .3em;
    background-image: url(../../base/css/redmond/images/ui-icons_217bc0_256x240.png);
    background-position: -16px -144px;    
}
