{% extends "base.html" %}
{% load i18n %}
{% load avatars paging_extras %}

{% block title %}Список пользователей{% if organization %} - {{ organization.name }}{% else %}{% if department %} - {{ department.name }}{% endif %}{% endif %}{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

{% if organization %}
    <a href="{{ organization.get_absolute_url }}" title="Перейти на страницу организации">{{ organization.name }}</a>
{% else %}
    {% if department %}
        <a href="{{ department.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ department.organization.name }}</a>,
        {% for ancestor in department.ancestors %}
            <a href="{{ ancestor.get_absolute_url }}" title="Перейти на страницу подразделения">{{ ancestor.name }}</a>,
        {% endfor %}
        <a href="{{ department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ department.name }}</a>
    {% endif %}
{% endif %}

<h2>Список пользователей</h2>

{% if organization %}
    {% paginate organization.profiles from request as profiles per_page 10 %}
{% else %}
    {% if department %}
        {% paginate department.full_profiles from request as profiles per_page 10 %}
    {% else %}
        {% paginate profiles from request as profiles per_page 10 %}
    {% endif %}
{% endif %}

{{ profiles.paging }}

<ul class="object_list avatar"><!-- list of users -->
    {% for profile in profiles.objects %}
        <li>
            <a href="{{ profile.get_absolute_url }}" title="Перейти на страницу пользователя">
                <img class="border float" src="{% avatar 64 profile.user %}" alt="{{ profile.user }}"/>
            </a>
            <h3>
                {% if profile.fullname %}
                    <a href="{{ profile.get_absolute_url }}" title="Перейти на страницу пользователя">{{ profile.fullname }} ({{ profile.user.username }})</a>
                {% else %}
                    {% if profile.worker %}
                        <a href="{{ profile.get_absolute_url }}" title="Перейти на страницу пользователя">{{ profile.worker.fullname }} ({{ profile.user.username }})</a>
                    {% else %}
                        <a href="{{ profile.get_absolute_url }}" title="Перейти на страницу пользователя">{{ profile.user.username }}</a>
                    {% endif %}
                {% endif %}
                {% if profile.worker %}<span class="detail_label">сотрудник</span>{% endif %}
            </h3>
        </li>
    {% empty %}
        <li>В системе не зарегистрировано ни одного пользователя.</li>
    {% endfor %}
</ul>

{{ profiles.paging }}

{% endblock %}

