{% extends "base.html" %}
{% load i18n role_permissions %}

{% block title %}{{ profile.name }} - пользователь{% if profile.worker %}, сотрудник{% endif %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/expand.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}userprofile/css/profile_public.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}workers/css/merge_workers.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/expand.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filter_activities.js"></script>
{% endblock %}

{% block content %}

{% with worker=profile.worker %}

<div class="span-3">
    {% include "common/avatar.html" with size=DEFAULT_AVATAR_SIZE user=profile.user %}
    {% if profile.user == user %}<a href="{% url profile_edit_avatar %}" title="Перейти на страницу редактирования фотографии">Изменить фотографию</a>{% endif %}
    <a href="{% url send_private_email profile.user.username %}" title="Отправить личное сообщение по email">отправить сообщение</a>
    {# FIXME: The following links are assumed to be visible to profile.user's representatives only #}
    {% if profile.user and user.representatives.exists or user.is_superuser %}
        <hr/>
        <a href="{% url admin_set_password profile.user %}">изменить пароль</a>
    {% endif %}
    {% if user.is_superuser and profile.user %}
        <a href="{% url admin:actstream_action_changelist %}?o=-7&actor_object_id={{ profile.user.id }}">журнал действий</a>
        <a href="{% url su_as_user profile.user.username %}">авторизоваться</a>
        <a href="{% url invalidate_cache profile.user.username %}">сбросить кэш</a>
        <a href="{% url user_history profile.user.username %}">история изменения объектов</a>
    {% endif %}
</div>

<div class="span-21 last">
    {% if profile.user == user %}
        <div id="user_actions" class="box float-right">
            <h3>Работа с системой</h3>
            <ul class="home_menu">{% include "common/user_actions.html" %}</ul>
        </div>
    {% else %}
        {% if user.is_authenticated and worker %}
            {% include "workers/worker_actions.html" %}
        {% endif %}
    {% endif %}

    <h2>{{ profile.name }}
        {# show login only to representatives #}
        {% if user.representatives.exists %}
          <span class="detail_label">{% if profile.fullname or worker %}{{ profile.user }}{% endif %}</span>
        {% else %}
          <span class="detail_label">{% if profile.user %}пользователь{% endif %}</span>
        {% endif %}
        {% ifhaspermission profile.user "is_representative_for" %}
            <span class="detail_label">ответственный</span>
        {% endifhaspermission %}
        {% ifhaspermission request.user "edit" profile.worker as can_manage_this_profile %}
        {% if profile.user == user or can_manage_this_profile %}
          {% with points=profile.get_points_for_default_formula %}
            {% if points >= 0 %}
              {% if profile.user == user %}
                <span class="detail_label"><a href="/pmodel/run/personal/" title="Перейти на страницу Вашего персонального рейтинга"><b>баллов:&nbsp;{{points}}</b></a></span>
              {% else %}
                <span class="detail_label"><a href="{% url pmodel.default_worker_report worker.id %}" title="Перейти на страницу персонального рейтинга"><b>баллов:&nbsp;{{points}}</b></a></span>
              {% endif %}
            {% endif %}
          {% endwith %}
        {% endif %}
    </h2>
    {% if worker %}
        {% include "workers/worker_full_info.html" %}
    {% endif %}
    {% if profile.get_researcher_id %}
        <h4>ResearcherID:
            <a href="http://www.researcherid.com/rid/{{ profile.get_researcher_id }}" title="Перейти на страницу исследователя в системе ResearcherID.com" target="_blank">
                {{ profile.get_researcher_id }}
            </a></h4>
    {% endif %}
</div>

{% if worker %}
    {% if not new_home %}
        {% include "common/worker_activities.html" %}
    {% else %}
        {% include "workers/home.html" %}
    {% endif %}
{% endif %}

{% endwith %}

{% endblock %}
