<h2 title="Вы можете ввести одну или несколько библиографических ссылок (разделенных пустой строкой), либо одну или несколько BibTeX-записей, либо адрес страницы автора или публикации на elibrary.ru">Шаг 1. Введите информацию о публикации</h2>
<a class="help_input inner" title="Показать список возможных типов информации о публикации для ввода">Что можно вводить?</a>
<a class="help_input inner hide" title="Скрыть список возможных типов информации о публикации для ввода">Скрыть подсказку</a>
При вводе нескольких библиографических ссылок разделяйте их пустыми строками.

<div class="help_input hide margin-top">
    Вы можете ввести:
    <ul class="examples bulleted">
        <li>
            <b>библиографическую ссылку</b>
            <a class="inner" title="Показать пример библиографической ссылки для ввода">показать пример</a>
            <a class="inner hide" title="Скрыть пример библиографической ссылки для ввода">скрыть пример</a>
            <div class="hide">
                <pre>В.А. Васенин, С.А. Афонин, А.С. Козицын. Автоматизированная система тематического анализа информации. Информационные технологии, 4, 1-32, 2009.</pre>
            </div>
        </li>
        <li>
            несколько библиографических ссылок, разделенных пустой строкой
            <a class="inner" title="Показать пример нескольких библиографических ссылок для ввода">показать пример</a>
            <a class="inner hide" title="Скрыть пример нескольких библиографических ссылок для ввода">скрыть пример</a>
            <div class="hide">
                <pre>В.А. Васенин, В.А. Садовничий, В.И. Трухин, А.Н. Сандалов.
Учебно-образовательная сеть Московского университета // Физическое образование в ВУЗах, 5, 5–22, 1999.
                </pre>

                <pre>К.А. Шапченко. Современные методы проверки свойств безопасности в моделях логического разграничения доступа. Проблемы информатики, 3, 10–19, 2009.
                </pre>

                <pre>Д.Д. Голомазов. Выделение терминов из коллекции текстов с заданным тематическим делением. Информационные технологии, 2, 8–13, 2010.
                </pre>
            </div>
        </li>
        <li>
            <b>Идентификатор DOI</b>
            <a class="inner" title="Показать пример DOI-записи для ввода">показать пример</a>
            <a class="inner hide" title="Скрыть пример DOI-записи для ввода">скрыть пример</a>
            <div class="hide">
                <pre>10.1134/S0361768813010076</pre>
        </li>
        <li>
            несколько индентификаторов DOI, разделённых пустой строкой

            <a class="inner" title="Показать пример нескольких DOI-записей для ввода">показать пример</a>
            <a class="inner hide" title="Скрыть пример нескольких DOI-записей для ввода">скрыть пример</a>
            <div class="hide">
                <pre>10.1134/S0361768813010076</pre>

                <pre>10.1134/S0361768812040056</pre>
            </div>
        </li>
        </li>
        <li>
            <b>BibTeX-запись</b>
            <a class="inner" title="Показать пример BibTeX-записи для ввода">показать пример</a>
            <a class="inner hide" title="Скрыть пример BibTeX-записи для ввода">скрыть пример</a>
            <div class="hide">
                <pre>@inproceedings{galatenko2004analiz211959,
    author = "Васенин, В.А. and Галатенко, А.В. and Макаров, А.А.",
    title = "Анализ отдельных компонент трафика в системах активного аудита компьютерных сетей",
    booktitle = "Математика и безопасность информационных технологий. Материалы конференции в МГУ 23-24 октября 2003 г.",
    year = "2004",
    pages = "352--364",
    publisher = "М.: МЦНМО",
    url = "http://istina.msu.ru/publications/article/211959/"
}               </pre>
            </div>
        </li>
        <li>
            несколько BibTeX-записей
            <a class="inner" title="Показать пример нескольких BibTeX-записей для ввода">показать пример</a>
            <a class="inner hide" title="Скрыть пример нескольких BibTeX-записей для ввода">скрыть пример</a>
            <div class="hide">
                <pre>@book{andronov2006vikhrevye212507,
    author = "Андронов, П.Р. and Гувернюк, С.В. and Дынникова, Г.Я.",
    title = "Вихревые методы расчёта нестационарных гидродинамических нагрузок",
    year = "2006",
    pages = "184",
    publisher = "Изд-во Московского университета Москва",
    url = "http://istina.msu.ru/publications/book/212507/"
}
@article{guvernyuk1988adiabat212529,
    author = "Guvernyuk, S.V.",
    title = "Adiabat for a permeable wall",
    journal = "Fluid mechanics. Soviet research",
    year = "1988",
    volume = "17",
    number = "3",
    pages = "90--101",
    url = "http://istina.msu.ru/publications/article/212529/"
}
@inproceedings{astapov2008monitoring211668,
    author = "Астапов, И.С. and Дзыба, М.С. and Коршунов, А.А.",
    title = "Мониторинг телекоммуникационной среды Института механики МГУ как составной части распределенного экспериментального полигона",
    booktitle = "Ломоносовские чтения. Тезисы докладов научной конференции. Секция механики. Апрель 2008",
    year = "2008",
    pages = "26--26",
    url = "http://istina.msu.ru/publications/article/211668/"
}               </pre>
            </div>
        </li>
        <li>
            Адрес страницы автора на сервисе <b>elibrary.ru</b> (<i>временно не работает</i>)
            <a class="inner" title="Показать пример адреса страницы автора для ввода">показать пример</a>
            <a class="inner hide" title="Скрыть пример адреса страницы автора для ввода">скрыть пример</a>
            <div class="hide">
                <pre>http://elibrary.ru/author_items.asp?authorid=1569</pre>
            </div>
        </li>
        <li>
            Адрес страницы публикации на сервисе <b>elibrary.ru</b> (<i>временно не работает</i>)
            <a class="inner" title="Показать пример адреса страницы публикации для ввода">показать пример</a>
            <a class="inner hide" title="Скрыть пример адреса страницы публикации для ввода">скрыть пример</a>
            <div class="hide">
                <pre>http://elibrary.ru/item.asp?id=9205236</pre>
            </div>
        </li>
        <li>
            Данные из системы <b>Web of Knowledge / Web of Science</b>
            <a href="/help/import/" title="Перейти на страницу с инструкцией по добавлению данных из системы Web of Knowledge / Web of Science">инструкция по добавлению</a>
        </li>
        <li>
            Данные из системы <b>ResearcherID.com</b>
            <a href="/help/import/" title="Перейти на страницу с инструкцией по добавлению данных из системы ResearcherID.com">инструкция по добавлению</a>
        </li>
        <li>
            Данные из системы <b>Scopus</b>
            <a href="/help/import/" title="Перейти на страницу с инструкцией по добавлению данных из системы Scopus">инструкция по добавлению</a>
        </li>
        <li>
            Данные из системы <b>Math-Net.ru</b>
            <a href="/help/import/" title="Перейти на страницу с инструкцией по добавлению данных из системы Math-Net.ru">инструкция по добавлению</a>
        </li>
        <li class="not_bulleted">
            Если вы не знаете, что ввести, или же хотите заполнить подробную форму ввода данных вручную, просто нажмите на&nbsp;кнопку&nbsp;"Продолжить&nbsp;добавление&nbsp;публикации".
        </li>
    </ul>
</div>

<div class="margin-top prepend-1 append-1">Внимание! Перед началом ввода данных, пожалуйста, ознакомьтесь с <a href="/help/general/" title="Перейти на страницу помощи по общим принципам работы с системой">общими принципами работы с системой</a>. Это займет у Вас 3 минуты, но сэкономит время в дальнейшем и поможет избежать распространенных ошибок.<br/>
При добавлении статьи в журнале из списка ВАК рекомендуется вводить название журнала в том виде, в котором он указан в <a href="{% url journals_index_detail 1 %}" target="_blank">списке ВАК в системе</a>.
</div>

<form method="post" action="{% url publications_add_step2 %}">{% csrf_token %}
    <textarea id="citation_input" name="citation" title="Вы можете ввести одну или несколько библиографических ссылок (разделенных пустой строкой), либо одну или несколько BibTeX-записей, либо адрес страницы автора или публикации на elibrary.ru">{{ input_data }}</textarea><br/>
    <input type="submit" value="Продолжить добавление публикации" title="Перейти к следующему шагу добавления публикации">
    <input class="clear_form" type="button" value="Очистить форму" title="Очистить все поля формы" />
</form>
