{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}publications/css/save_work.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_citation.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/form.js"></script>
{% endblock %}

{% block title %}Добавление публикации - шаг 1{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="messages span-22 last">
                    <div class="message info span-22 last">
                        <div class="span-20">
                            <span class="ui-icon"></span>
                            Теперь Вы можете добавить публикацию по её идентификатору DOI.
                        </div>
                        <div class="span-2 last">
                        <a class="message_hide" title="Скрыть сообщение">скрыть</a>
                    </div>
                    </div>
            </div>
    <div class="span-22" id="step1">{% include "publications/add_publication_form.html" %}</div>
{% else %}
    <h4 class="margin-left">Для добавления публикаций, пожалуйста, <a href="{% url signup %}" title="Перейти на страницу регистрации">зарегистрируйтесь</a> или <a href="{% url login %}" title="Перейти на страницу входа в систему">войдите в систему</a>.</h4>
{% endif %}

{% endblock content %}
