{% extends "base.html" %}

{% load switch_tag common_string %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/worker_info.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_work_step3.js"></script>
{% endblock %}

{% block title %}{% if request.POST.edit_publication_id %}Редактирование публикации{% else %}{% if forms %}Добавление публикации - шаг 3{% else %}{{ block.super }}{% endif %}{% endif %}{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
    $('#id_redpages').value = $('#id_redpages').val().replace(",", ".");
    $('#id_redpages').keyup(function() {
      this.value = this.value.replace(",", ".");
    });
});
</script>

{% if forms %}
{% if request.POST.edit_publication_id %}
    <h2>Проверьте введенные данные</h2>
{% else %}
    <h2>Шаг 3. Проверьте введенные данные</h2>
{% endif %}
<div class="error hide_json">Пожалуйста, включите JavaScript в Вашем браузере и перезагрузите страницу</div>

<form action="{% url publications_add_step3_save %}" method="post" class="" id="add_publication_form">
    {% with forms.main as form %}
    <fieldset>
        <legend>Информация о публикации</legend>
        <br/>
        {% if forms.main.title.errors %}{{ forms.main.title.errors }}{% endif %}
        <h3 class="margin-left">{{ forms.main.title.value }}<span class="detail_label">{{ work_type_verbose }}</span></h3>
        <ul class="hide_jsoff object_detail">
        {% for field in form.visible_fields %}
            <li>
            {% switch field.name %}
                {% case "title" %}
                    {{ field.as_hidden }}
                {% case "theses" %}
                    <span>{{ field.label }}:</span>
                    <span>
                    {% if field.value %}да{% else %}нет{% endif %}
                    </span>
                    {# input field is located in the collection section #}
                {% case "journal" %}
                    {% with form.get_similar as similars %}
                    {% with "id" as field_name %}
                    {% if similars and similars.objects %}
                        {% if similars.very_similar %}
                           {% with similars.objects.0 as similar %}
                                  <span>{{ field.label }}:</span>
                                  <span>
                                      <input type="hidden" name="{{ field_name }}"  id="id_{{ field_name }}-{{ similar.id }}" value="{{ similar.id }}" />
                                      <label for="id_{{ field_name }}-{{ similar.id }}">
                                          {{ similar.name }}{% if similar.publisher %}, издательство {{ similar.publisher.short_info }}{% endif %}
                                           {% if similar.index_memberships.all%}
                                                <span class="ui-icon check vak-icon" title="Этот журнал принадлежит одному из списков ВАК, SCOPUS и т.д." ></span>
                                            {% endif %}
                                      </label>
                                  </span>
                            {% endwith %}
                        {% else %}
                            <span>{{ field.label }}. Выберите журнал{% if similars.objects|length_is:"1" %}, найденный в системе{% else %} из найденных в системе{% endif %}:</span>
                            <ul class="radio-ul">
                            {% for similar in similars.objects %}
                                <li>
                                      <input {% if forloop.first and not form.id.value or form.id.value == similar.id|stringformat:"s" %} checked="checked"{% endif %}type="radio" name="{{ field_name }}"  id="id_{{ field_name }}-{{ similar.id }}" value="{{ similar.id }}" />
                                      <label for="id_{{ field_name }}-{{ similar.id }}">
                                          {{ similar.name }}{% if similar.publisher %}, издательство {{ similar.publisher.short_info }}{% endif %}
                                          {% if similar.index_memberships.all%}
                                                <span class="ui-icon check vak-icon" title="Этот журнал принадлежит одному из списков ВАК, SCOPUS и т.д." ></span>
                                            {% endif %}
                                      </label>
                                </li>
                            {% endfor %}
                            </ul>
                            <span class="label">или добавьте новый журнал:</span>
                            <ul class="radio-ul">
                                <li>
                                    <input type="radio" name="{{ field_name }}"  id="id_{{ field_name }}-create" value="0" />
                                    <label for="id_{{ field_name }}-create">{{ field.value }}</label>
                                </li>
                            </ul>
                        {% endif %}
                    {% else %}
                        <span>{{ field.label }}:</span>
                        <span>
                            <input type="hidden" name="{{ field_name }}"  value="0" />
                            {{ field.value }} <span class="not-found">(не найден в системе)</span><br />
                            <small>В систему будет добавлен новый журнал. Пожалуйста, еще раз проверьте его название. Если вы нашли ошибку, нажмите кнопку "вернуться на предыдущий шаг" и исправьте ее.</small>
                        </span>
                    {% endif %}
                    {% for field in form.visible_fields %}{{ field.as_hidden }}{% endfor %}
                    {% endwith %}
                    {% endwith %}
                {% case "collection" %}
                    {% with form.get_similar as similars %}
                    {% with "id" as field_name %}
                    {% if similars %}
                        <span>{{ field.label }}. Выберите сборник{% if similars|length_is:"1" %}, найденный в системе{% else %} из найденных в системе{% endif %}:</span>
                        <ul class="radio-ul">
                        {% for similar in similars %}
                            <li>
                                  <input {% if forloop.first and not form.id.value or form.id.value == similar.id|stringformat:"s" %} checked="checked"{% endif %}type="radio" name="{{ field_name }}"  id="id_{{ field_name }}-{{ similar.id }}" value="{{ similar.id }}" />
                                  <label for="id_{{ field_name }}-{{ similar.id }}">
                                    {{ similar.title }}
                                    {% if similar.published_in %}/ {{ similar.published_in }}{% endif %}
                                    {% if similar.series %}/ {{ similar.series }}{% endif %}
                                    {% if similar.year %}/ {{ similar.year }}г.{% endif %}
                                    {% if similar.volume %}/ том {{ similar.volume }}{% endif %}
                                    {% if similar.theses %}/ тезисы {% endif %}
                                  </label>
                            </li>
                        {% endfor %}
                        </ul>
                        <span class="label">или добавьте новый сборник:</span>
                        <ul class="radio-ul">
                            <li>
                                <input type="radio" name="{{ field_name }}"  id="id_{{ field_name }}-create" value="0" />
                                <label for="id_{{ field_name }}-create">{{ field.value }}</label>
                            </li>
                        </ul>
                    {% else %}
                        <span>{{ field.label }}:</span>
                        <span>
                            <input type="hidden" name="{{ field_name }}"  value="0" />
                            {{ field.value }}
                        </span>
                    {% endif %}
                    {% for field in form.visible_fields %}{{ field.as_hidden }}{% endfor %}
                    {% endwith %}
                    {% endwith %}
                    </span>
                {% case "series" %}
                    {% with form.get_similar as similars %}
                    {% if similars %}
                        {# all buttons in the collection part #}
                    {% else %}
                    <span>{{ field.label }}:</span>
                    <span>
                        <input type="hidden" name="{{ field_name }}"  value="0" />
                        {{ field.value }}
                    </span>
                    {% endif %}
                    {% endwith %}
                {% case "abstract" %}
                    <span class="hide">{{ field.label }}:</span>
                    <span class="normal hide">
                        {% if field.errors %}{{ field.errors }}{{ field }}{% else %}{{ field.value|default:'<i>&lt;не задано&gt;</i>' }}{{ field.as_hidden }}{% endif %}
                    </span>
                {% else %}
                    {% if field.name|startswith:"book_category_" or field.name|startswith:"collection_category_" %}
                        {% if field.errors %}
                            {{ field.errors }}{{ field }}
                        {% else %}
                            {% if field.value %}
                                <span>{{ field.label }}:</span>
                                <span>да</span>
                            {% endif %}
                            {{ field.as_hidden }}
                        {% endif %}
                    {% else %}
                        <span>{{ field.label }}:</span>
                        <span>
                        {% if field.errors %}{{ field.errors }}{{ field }}{% else %}{{ field.value|default:'<span class="normal"><i>&lt;не задано&gt;</i></span>' }}{{ field.as_hidden }}{% endif %}
                        </span>
                    {% endif %}
            {% endswitch %}
            </li>
        {% endfor %}
        {% endwith %}

        {% if forms.publisher %}
            <li>
                {% with forms.publisher as form %}
                {% with form.similar as similar_publishers %}
                {% with form.prefix|add:"-id" as field_name %}
                {% if similar_publishers %}
                    <span>Место издания. Выберите издательство{% if similar_publishers|length_is:"1" %}, найденное в системе{% else %} из найденных в системе{% endif %}:</span>
                    <ul class="radio-ul">
                        {% for similar_publisher in similar_publishers %}
                        <li>
                              <input{% if forloop.first and not form.id.value or form.id.value == similar_publisher.id|stringformat:"s" %} checked="checked"{% endif %}type="radio" name="{{ field_name }}"  id="id_{{ field_name }}-{{ similar_publisher.id }}" value="{{ similar_publisher.id }}" />
                              <label for="id_{{ field_name }}-{{ similar_publisher.id }}">{{ similar_publisher.short_info }}</label>
                        </li>
                        {% endfor %}
                    </ul>
                    <span class="label">или добавьте новое издательство:</span>
                    <ul class="radio-ul">
                        <li>
                            <input type="radio" name="{{ field_name }}"  id="id_{{ field_name }}-create" value="0" />
                            <label for="id_{{ field_name }}-create">{{ form.fullname }}</label>
                        </li>
                    </ul>
                {% else %}
                    <span>Место издания:</span>
                    <span>
                        <input type="hidden" name="{{ field_name }}"  value="0" />
                        {{ form.fullname|default:"<i>&lt;не задано&gt;</i>" }}
                    </span>
                {% endif %}
                {% for field in form.visible_fields %}{{ field.as_hidden }}{% endfor %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            </li>
        {% endif %}

        {% if parsing_event_form %}
            <div class="hide">
                {{ parsing_event_form.as_p }}
            </div>
        {% endif %}

        {% if additional_form %}
            <div class="hide">
                {{ additional_form.as_p }}
            </div>
        {% endif %}

            <li>
                {% if request.POST.edit_publication_id %}
                <input type="hidden" value="{{ request.POST.edit_publication_id }}" name="edit_publication_id" />
                {% else %}
                <input type="hidden" value="{{ request.POST.xml_hash }}" name="xml_hash" />
                {% endif %}
                <input type="hidden" name="authors" value="{{ request.POST.authors }}" />
                <textarea name="citation" class="hide">{{ request.POST.citation }}</textarea>
                <input type="hidden" name="work_type" value="{{ work_type }}" />
                {% csrf_token %}
            </li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Авторы. Выберите сотрудник{{ forms.authors.forms|length_is:"1"|pluralize:"а,ов" }} из найденных в системе или добавьте нов{{ forms.authors.forms|length_is:"1"|pluralize:"ого,ых" }}</legend>
        {% include "workers/link_workers_form.html" with workers_formset=forms.authors %}
    </fieldset>

    <div class="span-24 last hide_jsoff">
        <div class="prepend-top">
            <input id="submit_step3" type="submit" value="Сохранить {% if request.POST.edit_publication_id %}изменения{% else %}публикацию{% endif %} в систему" title="Сохранить {% if request.POST.edit_publication_id %}изменения{% else %}публикацию{% endif %} и перейти к следующему шагу {% if request.POST.edit_publication_id %}редактирования{% else %}добавления{% endif %} публикации" />
            <input class="gostep2" name="goback" type="submit" value="Вернуться на предыдущий шаг" title="Вернуться к странице редактирования данных о публикации" />
        </div>
    </div>

</form>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
