{% extends "publications/publication_detail.html" %}
{% load role_permissions %}

{% block extra_publication_meta %}
    {% with article=publication %}
    {% if article.journal %}
        <meta name="citation_journal_title" content="{{ article.journal.name }}" />
        {% if article.number %}
            <meta name="citation_issue" content="{{ article.number }}" />
        {% endif %}
    {% else %}
        {% if article.collection %}
            <meta name="citation_conference_title" content="{{ article.collection.title }}" />
        {% endif %}
    {% endif %}
    {% if article.get_volume %}
        <meta name="citation_volume" content="{{ article.get_volume }}" />
    {% endif %}
    {% if article.firstpage %}
        <meta name="citation_firstpage" content="{{ article.firstpage }}" />
    {% endif %}
    {% if article.lastpage %}
        <meta name="citation_lastpage" content="{{ article.lastpage }}" />
    {% endif %}
    {% endwith %}
{% endblock %}

{% block publication_rewards %}
    {% with article=publication %}
    {% with urls=article.external_urls_with_citation %}
    <div class="span-16 last" style="padding-left: 10px">
        <i>
            {% with icons=article.icons_detail %}
            {% if icons.top %}
                <span class="ui-icon ui-icon-star float-left" title="Статья опубликована в высокорейтинговом журнале"></span>
                Статья опубликована в высокорейтинговом журнале
            {% endif %}
            {% if icons.confirmed %}
                {% if icons.top %}<br/>{% endif %}
                <span class="ui-icon ui-icon-check float-left" title="Сведения о статье проверены и подтверждены"></span>
                Сведения о статье проверены и подтверждены
            {% endif %}
            {% if icons.in_systems %}
                {% if icons.top or icons.confirmed %}<br/>{% endif %}
                <img src="{{ STATIC_URL }}publications/img/webofscience.png" height="12" width="12" title="Информация о цитировании статьи получена из внешних систем" />
                Информация о цитировании статьи получена из
                {% for system, item in urls.items %}
                    {% if item.url %}
                        <a href="{{ item.url }}" title="{{ item.external_id }}">{{ system }}</a>{% if not forloop.last %}, {% endif %}
                    {% else %}
                        <span title="{{ item.external_id }}">{{ system }}</span>{% if not forloop.last %}, {% endif %}
                    {% endif %}
                {% endfor %}
                <br/>
            {% endif %}
            {% endwith %}
            {% if article.is_vak %}
                Статья опубликована в журнале из перечня ВАК<br/>
            {% endif %}
            {% if article.is_wos_or_scopus %}
                Статья опубликована в журнале из списка Web of Science и/или Scopus<br/>
            {% endif %}
            {% if latest_search_date %}
                Дата последнего поиска статьи во внешних источниках: {{ latest_search_date }}
                {% if show_request_button%}
                <span style="border: 1px solid #cacaca; background-color: #efefef; border-radius: 4px; padding: 2px 4px 2px 4px;">
                  <a href="{% url publications_request_search 'article' article.id %}">
                    {% if latest_search_request_date %}
                      Повторный поиск запрошен {{ latest_search_request_date }}
                    {% else %}
                      Запросить повторный поиск
                    {% endif %}
                  </a>
                </span><br/>
                {% endif %}
            {% endif %}
            {% ifhaspermission user "view_object_history" article %}
                {% with tags=article.confirmation_tags %}
                    {% if tags %}
                        Статус проверки: {% for tag in tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% endif %}
                {% endwith %}
            {% endifhaspermission %}
        </i>
    </div>
    {% endwith %}
    {% endwith %}
{% endblock %}

{% block publication_published_in %}
    {% with article=publication %}
    {% if article.journal %}
        <li>
            <span>Журнал:</span>
            <span><a href="{{ article.journal.get_absolute_url }}" title="Перейти на страницу журнала">{{ article.journal.name }}</a></span>
        </li>
        {% if article.volume %}
        <li>
            <span>Том:</span>
            <span>{{ article.volume }}</span>
        </li>
        {% endif %}
        {% if article.number %}
        <li>
            <span>Номер:</span>
            <span>{{ article.number }}</span>
        </li>
        {% endif %}
    {% else %}
        {% if article.collection %}
            {% with article.collection as collection %}
            <li>
                <span>Сборник:</span>
                <span><a href="{{ collection.get_absolute_url }}" title="Перейти на страницу сборника">{{ collection.title }}</a></span>
            </li>
            {% if collection.editors.count %}
            <li>
                <span>Редактор{{ collection.editors.count|pluralize:"ы" }}:</span>
                <span>
                    {% for editor in collection.editors.all %}
                        <a href="{{ editor.get_absolute_url }}" title="Перейти на страницу сотрудника">{{ editor }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </li>
            {% endif %}
            {% if collection.series %}
            <li>
                <span>Серия:</span>
                <span><a href="{{ collection.series.get_absolute_url }}" title="Перейти на страницу серии">{{ collection.series.title }}</a></span>
            </li>
            {% endif %}
            {% if collection.volume %}
            <li>
                <span>Том:</span>
                <span>{{ collection.volume }}</span>
            </li>
            {% endif %}
            {% if collection.theses %}
            <li>
                <span>Тезисы</span>
            </li>
            {% endif %}

            {% for category in collection.categories.all %}
            <li>
                <span>{{ category.article_name }}</span>
            </li>
            {% endfor %}
            {% endwith %}
        {% endif %}
    {% endif %}
    {% endwith %}
{% endblock %}

{% block publication_pages %}
    {% with article=publication %}
    {% if article.firstpage %}
    <li>
        <span>Первая страница:</span>
        <span>{{ article.firstpage }}</span>
    </li>
    {% endif %}

    {% if article.lastpage %}
    <li>
        <span>Последняя страница:</span>
        <span>{{ article.lastpage }}</span>
    </li>
    {% endif %}
    {% endwith %}
{% endblock %}

{% block publication_projects %}
    {% with article=publication %}
    {% if article.project_articles.exists %}
        <hr class="space"/>
        <li>Работа выполнена в рамках проекта (проектов):</li>
        <ul>
        {% for pa in article.project_articles.all %}
          <li><a href="{% url projects_detail pa.project.id %}">{{ pa.project.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
{% endblock %}

