{% load activity_description %}
{% load article_list %}

{% if articles %}
<ul>
    {% get_article_list articles worker as article_list %}
    {% for article in article_list %}
        <li>
        	<div class="float-left">{% include "publications/article_icons.html" %}</div>
        	{% include "publications/article_short.html" with article=article no_links=no_links additional_controls_template=additional_controls_template %}
    	</li>
    {% endfor %}
</ul>
{% endif %}
