{% with icons=article.icons %}
{% if icons.top %}
    <span class="ui-icon ui-icon-star" title="Статья опубликована в высокорейтинговом журнале"></span>
{% endif %}

{% if icons.confirmed %}
    <span class="ui-icon ui-icon-check" title="Сведения о статье проверены и подтверждены"></span>
{% endif %}

{% if icons.in_systems %}
<img class="article-icon" src="{{ STATIC_URL }}publications/img/webofscience.png" height="12" width="12" style="padding-left: 2px" title="Информация о цитировании статьи получена из внешних систем" />
{% endif %}

{% if icons.full_text %}
<img class="article-icon" src="{{ STATIC_URL }}publications/img/pdf.gif" height="16" width="16" title="Доступен полный текст статьи" />
{% endif %}

{% endwith %}
