{% comment %}
Переменные, влияющие на результат шаблона:
  no_links        Если имеет значние отличное от 0, то гиперссылки
                  на авторов, журналы и т.д. не выводятся
  show_title_link Если установлена, то ссылка на название статьи выводится
                  даже при no_links==1.
{% endcomment %}

{% with journal=article.journal %}
{% with collection=article.collection %}
{% with publisher=article.publisher %}
<ul class="activity"><!-- article short information -->
    <li>
        <b>
        {% if article.year %}
            {{ article.year }}
        {% else %}
            {% if collection.year %}
                {{ collection.year }}
            {% endif %}
        {% endif %}
        </b>
        {% if not no_links or show_title_link %}
            <a href="{{ article.get_absolute_url }}" title="Перейти на страницу статьи">{{ article.title }}</a>
        {% else %}
            {{ article.title }}
        {% endif %}
    </li>

    {% with article.authors_list as authors_list %}
    {% if authors_list %}
    <li>
        {% if not no_links %}
            {% for author in authors_list %}
            {% if author.worker %}<a href="{{ author.worker.get_absolute_url }}" title="{{ author.worker }} (перейти на страницу сотрудника)">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            {% for author in authors_list %}
                {{ author.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    {% endif %}
    {% endwith %}

    {% if journal or collection or article.doi %}
    <li>
        {% if journal %}

            {% with a=article %}

            {% if not no_links %}
                в журнале <i><a href="{{ journal.get_absolute_url }}" title="Перейти на страницу журнала">{{ journal.name }}</a></i>{% if publisher %}, издательство <i><a href="{{ publisher.get_absolute_url }}" title="Перейти на страницу издательства">{{ publisher.name }}</a>{% if publisher.city %} ({{ publisher.city }}){% endif %}</i>{% endif %}{% if a.volume %}, том&nbsp;{{ a.volume }}{% endif %}{% if a.number %}, №&nbsp;{{ a.number }}{% endif %}{% if a.firstpage %}, с.&nbsp;{{ a.firstpage }}{% if a.lastpage %}-{{ a.lastpage }}{% endif %}{% endif %}

            {% else %}
                в журнале <i>{{ journal.name }}</i>{% if publisher %}, издательство <i>{{ publisher.name }}{% if publisher.city %} ({{ publisher.city }}){% endif %}</i>{% endif %}{% if a.volume %}, том&nbsp;{{ a.volume }}{% endif %}{% if a.number %}, №&nbsp;{{ a.number }}{% endif %}{% if a.firstpage %}, с.&nbsp;{{ a.firstpage }}{% if a.lastpage %}-{{ a.lastpage }}{% endif %}{% endif %}
            {% endif %}

            {% endwith %}

        {% else %}
            {% if collection %}

                {% with a=article %}
                {% with c=collection %}
                {% with series=collection.series %}

                {% if not no_links %}
                    в сборнике <i><a href="{{ c.get_absolute_url }}" title="Перейти на страницу сборника">{{ c.title }}</a></i>{% if series %}, серия <i><a href="{{ series.get_absolute_url }}" title="Перейти на страницу серии">{{ series.title }}</a></i>{% endif %}{% if publisher %}, издательство <i><a href="{{ publisher.get_absolute_url }}" title="Перейти на страницу издательства">{{ publisher.name }}</a>{% if publisher.city %} ({{ publisher.city }}){% endif %}</i>{% else %}{% if c.location %}, место издания <i>{{ c.location }}</i>{% endif %}{% endif %}{% if c.volume %}, том&nbsp;{{ c.volume }}{% endif %}{% if c.theses %}, тезисы{% endif %}{% if a.firstpage %}, с.&nbsp;{{ a.firstpage }}{% if a.lastpage %}-{{ a.lastpage }}{% endif %}{% endif %}
                {% else %}
                    в сборнике <i>{{ c.title }}</i>{% if series %}, серия <i>{{ series.title }}</i>{% endif %}{% if publisher %}, издательство <i>{{ publisher.name }}{% if publisher.city %} ({{ publisher.city }}){% endif %}</i>{% else %}{% if c.location %}, место издания <i>{{ c.location }}</i>{% endif %}{% endif %}{% if c.volume %}, том&nbsp;{{ c.volume }}{% endif %}{% if c.theses %}, тезисы{% endif %}{% if a.firstpage %}, с.&nbsp;{{ a.firstpage }}{% if a.lastpage %}-{{ a.lastpage }}{% endif %}{% endif %}
                {% endif %}

                {% endwith %}
                {% endwith %}
                {% endwith %}

            {% endif %}

        {% endif %}

        {% if article.doi %}
        <a href="http://dx.doi.org/{{ article.doi }}" title="Перейти на страницу с информацией о публикации на сайте издателя" target="_blank">DOI</a>
        {% endif %}

    </li>
    {% endif %}

    {% if collection.editors.count %}
    <li>
        редактор{{ collection.editors.count|pluralize:"ы" }}
        {% if not no_links %}
            {% for editor in collection.editors.all %}
                <a href="{{ editor.get_absolute_url }}" title="Перейти на страницу сотрудника">{{ editor }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            {% for editor in collection.editors.all %}
                {{ editor }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}

    </li>
    {% endif %}

    {% if additional_controls_template %}
    <li>
        {% include additional_controls_template with publication_type='article' publication=article %}
    </li>
    {% endif %}

</ul>
{% endwith %}
{% endwith %}
{% endwith %}

