{% load activity_description %}
<ul>
    {% for book in books %}
        <li>{% include "publications/book_short.html" with book=book no_links=no_links additional_controls_template=additional_controls_template %}</li>
    {% endfor %}
</ul>
