<ul class="activity"><!-- book short information -->
    <li><b>{{ book.year }} </b>
    {% if not no_links %}
        <a href="{{ book.get_absolute_url }}" title="Перейти на страницу книги">{{ book.title }}</a></li>
    {% else %}
        {{ book.title }}
    {% endif %}

    {% with book.authors_list as authors_list %}
    {% if authors_list %}
    <li>
        {% if not no_links %}
            {% for author in authors_list %}
                {% if author.worker %}<a href="{{ author.worker.get_absolute_url }}" title="{{ author.worker }} (перейти на страницу сотрудника)">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            {% for author in authors_list %}
                {{ author.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    {% endif %}
    {% endwith %}

    {% if book.publisher or book.location or book.pages or book.isbn or book.doi %}
    <li>
        {% if book.publisher %}
            издательство
            <i>
                {% if not no_links %}
                    <a href="{{ book.publisher.get_absolute_url }}" title="Перейти на страницу издательства">{{ book.publisher.name }}</a>
                {% else %}
                    {{ book.publisher.name }}
                {% endif %}

                {% if book.publisher.city %}
                    ({{ book.publisher.city }})
                {% endif %}
            </i>
            {% if book.isbn %}, ISBN {{ book.isbn }}{% endif %}{% if book.pages %}, {{ book.pages }}&nbsp;с.{% endif %}
        {% else %}
            {% if book.location %}
                место издания <i>{{ book.location }}</i>{% if book.isbn %}, ISBN {{ book.isbn }}{% endif %}{% if book.pages %}, {{ book.pages }}&nbsp;с.{% endif %}
            {% else %}
                {% if book.isbn %}
                    ISBN {{ book.isbn }}{% if book.pages %}, {{ book.pages }}&nbsp;с.{% endif %}
                {% else %}
                    {% if book.pages %}{{ book.pages }}&nbsp;с.{% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if book.doi %}
        <a href="http://dx.doi.org/{{ book.doi }}" title="Перейти на страницу с информацией о публикации на сайте издателя" target="_blank">DOI</a>
        {% endif %}
    </li>
    {% endif %}

    {% if additional_controls_template %}
    <li>
        {% include additional_controls_template with publication_type='book' publication=book %}
    </li>
    {% endif %}

</ul>
