{% extends "publications/publication_detail.html" %}

{% block publication_pages %}
    {% with book=publication %}
    {% if book.pages or book.redpages %}
    <li>
        <span>Объём:</span>
        <span>
          {% if book.pages %} {{ book.pages }} страниц {% endif %}
          {% if book.redpages and book.pages %}
              ({{ book.redpages }} печатных листов)
          {% elif book.redpages %}
              {{ book.redpages }} печатных листов
          {% endif %}
        </span>
    </li>
    {% endif %}
    {% endwith %}
{% endblock %}

{% block publication_isbn %}
    {% with book=publication %}
    {% if book.isbn %}
    <li>
        <span>ISBN:</span>
        <span>{{ book.isbn }}</span>
    </li>
    {% endif %}
    {% endwith %}
{% endblock %}

{% block publication_ncopies %}
    {% with book=publication %}
    {% if book.ncopies %}
    <li>
        <span>Тираж:</span>
        <span>{{ book.ncopies }} экз.</span>
    </li>
    {% endif %}
    {% endwith %}
{% endblock %}

{% block publication_categories %}
    {% with book=publication %}
    {% for category in book.categories.all %}
    <li>
        <span>{{ category.name }}</span>
    </li>
    {% endfor %}
    {% endwith %}
{% endblock %}
