{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}publications/css/save_work.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_citation.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/form.js"></script>
{% endblock %}

{% block title %}Преобразование библиографической ссылки в BibTeX-запись{% endblock %}

{% block content %}

<h2>Преобразование библиографической ссылки в BibTeX-запись</h2>

{% if bibtex %}
<h3>Полученная BibTeX-запись</h3>
<pre class="bib">{{ bibtex }}</pre>
{% endif %}

<h3>Введите библиографическую ссылку</h3>
{% if not bibtex %}
Пример: В.А. Васенин, В.А. Садовничий, В.И. Трухин, А.Н. Сандалов. Учебно-образовательная сеть Московского университета // Физическое образование в ВУЗах, 5, 5–22, 1999.
{% endif %}
<form method="post" action=".">{% csrf_token %}
    <textarea id="citation_input" name="citation">{% if original_string %}{{ original_string }}{% endif %}</textarea><br/>
    <input type="submit" value="Преобразовать в BibTeX">
    <input class="clear_form" type="button" value="Очистить форму" title="Очистить все поля формы" />
</form>

Программный доступ (замените username на имя Вашего пользователя): wget "http://istina.msu.ru/publications/citation2bibtex/?user=username&citation=Д.Д. Голомазов. Выделение терминов из коллекции текстов с заданным тематическим делением. Информационные технологии, (2):8–13, 2010." -O bibtex.bib

{% endblock content %}
