{% extends "base.html" %}
{% load bibtex %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block title %}Все публикации {{ year }} года{% endblock %}

{% block content %}

<h2>Все публикации {{ year }} года на сайте</h2>
<h3>{% show_publication_list_links year 'publications_list_by_year' 'publications_list_by_year_bibtex' 'publications_list_by_year_in_style' %}</h3>

{% if books or books_html %}
<h4 class="activity_label">Книги</h4>
    {% if books %}
        {% include "publications/book_list.html" %}
    {% else %}
        {{ books_html|safe }}
    {% endif %}
{% endif %}

{% if articles or articles_html %}
<h4 class="activity_label">Статьи и тезисы докладов</h4>
    {% if articles %}
        {% include "publications/article_list.html" %}
    {% else %}
        {{ articles_html|safe }}
    {% endif %}
{% endif %}

{% if articles_html or books_html %}
    {% include "publications/bibtex2html_thanks.html" %}
{% endif %}

{% endblock %}
