{% extends "base.html" %}

{% block title %}Все публикации по годам{% endblock %}

{% block content %}

<h2>Список всех публикаций на сайте по годам</h2>
{% for year in years %}
    <a class="margin-left" href="{% url publications_list_by_year year %}" title="Показать все публикации {{ year }} года">{{ year }}</a>
{% endfor %}

{% endblock %}
