{% extends "base.html" %}
{% load workers_show paging_extras %}

{% block title %}Результаты поиска{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/search_results.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block inlinejs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/search_paginating_ext.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/search_results.js"></script>
{% endblock %}

{% block content %}

<style>

.floatL {
    float: left;
}

.floatR {
    float: right;
}

ul.refineResults {
    list-style: none outside none;
}

ul.refineResults li{
    display: inline-block;
    width: 100%;
}


.resultsLeftColumn {
    float: left;
    margin-left: 6px;
    width: 220px;
}

</style>

<input type="hidden" id="id_search_string" value="{{ search_string }}">

<form id="id_publication_search" class= "search_form"  action="{{ request.build_absolute_uri }}" method="GET">
    <input  type="text" id="src_string" value= "{{ search_string }}" name="publication_name" class="search_box" >
    <input type="submit" id="search_button"  name="search" value="Поиск" title="Поиск по базе публикаций" />


<h2> Результаты поиска:  </h2>
{% if articles or books or theses %}
<table>
<tbody>


<tr>
{% if years %}
<td width="300px" style="vertical-align: top;">


<div class="marginT1 alignTextCenter refineButtons">
<input style="padding: 0px 7px 2px; width: 145px;" title="Уточнение результатов поиска" alt="Уточнение результатов поиска" class="btnLmtExcDisabled limitToButton" value="Уточнить поиск" name="limitTo" type="submit"/>
<input style="padding: 0px 7px 2px; width: 145px;" title="Сброс фильтров" alt="Сброс фильтров" class="marginL9 btnLmtExcDisabled excludeButton" value="Сброс фильтров" name="exclude" type="submit" />
</div>





{% if years %}
<div class="floatL" width="100%" style="font-size: 20px"> Год </div> <br />
<ul class="refineResults">  
    {% for year, count in years %}

    <li id="li_{{year}}">
        <table>
        <tr>
            <td><label class="floatL"><input style="margin: 0 5px 0 0; "class="floatL" name="year" value="{{year}}" id="cat_{{year}}" type="checkbox"  {% if year in checked_years %} checked {% endif %} />{{ year }}</label></td>
            <td><span class="floatR">{{ count }}</span></td>
        </tr>
        </table>
    </li>
    {% endfor %}
</ul>
{% endif %}


{% if departments %}
<div class="floatL" width="100%" style="font-size: 20px"> Подразделение </div> <br />
<ul class="refineResults">  
    {% for departmentId, name, count in departments %}

    <li id="li_{{departmentId}}">
        <table>
        <tr>
            <td>  <label class="floatL"><input  style="margin: 0 5px 0 0;" class="floatL" name="selectedDepartment" value="{{departmentId}}" id="department_{{departmentId}}" type="checkbox" {% if departmentId in checked_deps %} checked {% endif %} />{{name}}</label></td>
            <td><span class="floatR">{{count}}</span></td>
        </tr>
        </table>
    </li>
    {% endfor %}
</ul>
{% endif %}
</td>
{% endif %}
<td>
        {% if publication_type == "articles" %}
          {% paginate articles from request as search_results per_page 25 %}
        {% endif %}
 
        
        {% if publication_type == "theses" %}
           {% paginate theses from request as search_results per_page 25 %}
        {% endif %}

        {% if publication_type == "books" %}
           {% paginate books from request as search_results per_page 25 %}
        {% endif %}

        <div class="search_labels">
            {% if articles %}
            <a href = {% url search_publications publication_type='articles' %} {% if publication_type == "articles"%} class="current_work_type" {%  endif %}> статьи ({{articles.count}})</a>
            {% endif %}

            {% if theses %}
             <a href = {% url search_publications publication_type='theses' %} {% if publication_type == "theses"%} class="current_work_type" {%  endif %}>тезисы ({{theses.count}})</a>
            {% endif %}

            {% if books %}
            <a href = {% url search_publications publication_type='books' %} {% if publication_type == "books"%} class="current_work_type" {%  endif %}>книги ({{books.count}})</a>
            {% endif %}
        </div>

      
        {{ search_results.paging }}
        {% if publication_type == "books" %}
            {% include "publications/book_list.html" with books=search_results.objects %}
        {% else %}
            {% include "publications/article_list.html" with articles=search_results.objects %}
        {% endif %}
        {{ search_results.paging }}

     

{% elif search_string_too_short %}
    <h4>Ваш запрос слишком короткий, он должен содержать хотя бы 3 символа.</h4>
{% else %}
    <h4>По вашему запросу ничего не найдено.</h4>
{% endif %}

</td>
</tr>
</tbody>
</table>
</form>
{% endblock %}
