{% load url from future %}
{% load common_string %}

<a class="edit" href="{% url bibtex_url object_id %}" title="Экспортировать список публикаций в BibTeX" target="_blank"><img src="{{ STATIC_URL}}publications/img/bibtex.gif" alt="Экспорт в BibTeX" /></a>
<span class="edit">стиль:&nbsp;
    <a{% if not current_style %} class="active"{% endif %} href="{% url object_url object_id %}" title="Показать список публикаций в стиле по умолчанию">обычный</a> | 
    {% for style in bibtex_styles %}
        <a{% ifequal style current_style %} class="active"{% endifequal %} href="{% url style_url object_id style %}" title="Показать список публикаций в стиле {{ style|replace_comma_sep:'gost,ГОСТ' }}">{{ style|replace_comma_sep:'gost,ГОСТ' }}</a>{% if not forloop.last %} | {% endif %}
    {% endfor %}
</span>
