{% extends "base.html" %}
{% load role_permissions %}
{% load myforms %}

{% block extracss %}
{{ additional_form.media.css }}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}publications/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}publications/css/add_additional_info.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_additional_info.js"></script>
{% endblock %}

{% block inlinejs %}
{{ additional_form.media.js }}
{% endblock inlinejs %}

{% block title %}Добавление дополнительной информации{% endblock %}

{% block content %}
<h2>Добавьте дополнительную информацию о публикации</h2>
<div class="box">
    <h3>{{ publication.short_info_html }}</h3>
</div>
<div id="nav" class="{{ css_classes.nav }}">
    <ul class="hmenu">
        <li {% ifequal section 'abstract' %}class="active" {% endifequal %} id='id_menu_abstract'>
            <a href="" title="Изменить аннотацию или DOI статьи">Аннотация и DOI</a>
        </li>
        {% ifequal publication.nominative_en 'article'%}
        <li {% ifequal section 'tags' %}class="active" {% endifequal %} id='id_menu_article_tags'>
            <a href="" title="Указать категории, к которым относится ваша статья">Типы статьи</a>
        </li>
        {% endifequal %}
        <li{% ifequal section 'projects' %} class="active" {% endifequal %}  id='id_menu_add_project'>
            <a href="" title="Добавить данную {{publication.accusative}} к проекту">Проекты</a>
        </li>
        <li{% ifequal section 'attachments' %} class="active" {% endifequal %}  id='id_menu_add_file'>
            <a href="" title="Прикрепить какие-либо файлы к данной статье">Прикрепить файл</a>
        </li>
        {% ifhaspermission user "edit_status_tags" publication %}
            {% ifequal publication.nominative_en 'article'%}
            <li {% ifequal section 'tags_confirmation' %}class="active" {% endifequal %} id='id_menu_article_tags_confirmation'>
                <a href="" title="Указать статусы проверки статьи">Статус проверки</a>
            </li>
            {% endifequal %}
        {% endifhaspermission %}
    </ul>
</div>
<form id="additional_form" method="post" action="{% url publications_save_additional_info publication.nominative_en publication.id %}" enctype="multipart/form-data">{% csrf_token %}
    {% show_form additional_form %}<br/>
    {% include "common/attachments.html" with obj=publication attachment_formset=attachment_formset can_edit_attachments=1 hide_form=1 %}
    <input type="submit" value="Сохранить данные" title="Сохранить информацию в систему">
</form>

<div class="span-23 last prepend-1 prepend-top">
    <h4>Дальнейшие действия</h4>
    <hr />
    <ul>
        <li><a href="{% url add_work %}" title="Перейти на страницу добавления работы">Добавить еще одну работу</a></li>
        <li><a href="{% url publications_publication_detail publication.nominative_en publication.id %}" title="Перейти на страницу данной публикации">Перейти на страницу данной публикации</a></li>
        <li><a href="{% url home %}" title="Перейти на страницу с моими публикациями">Перейти на мою страницу</a></li>
    </ul>
</div>

{% endblock %}
