{% extends "base.html" %}
{% load common_string %}
{% load common_dict %}
{% load role_permissions %}

{% block extrameta %}
    <meta name="citation_title" content="{{ publication.title }}" />
    {% for author in publication.authors_list_meta %}
        <meta name="citation_author" content="{{ author }}" />
    {% endfor %}
    {% if publication.get_year %}
        <meta name="citation_date" content="{{ publication.get_year }}" />
    {% endif %}
    {% block extra_publication_meta %}{% endblock %}
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}publications/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_authorscience.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/detail.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/object_actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/add_authorscience.js"></script>
{% endblock %}

{% block title %}{{ publication.title }} - {{ publication.nominative }}{% endblock %}

{% block content %}

<h2>
    {{ publication.title }}<span class="detail_label">{{ publication.nominative|nbsp_space|safe }}</span>
    {% for tag in publication.publication_type_tags %}
        <span class="detail_label">{{ tag }}</span>
    {% endfor %}
</h2>


{% block publication_rewards %}{% endblock %}

{% ifhaspermission user "edit" publication as can_edit_publication %}
{% ifhaspermission user "edit_additional" publication as can_edit_publication_additional %}

<div class="span-16 colborder">
    <ul class="object_detail"><!-- publication detailed information -->
        {% with publication.authors_list as authors_list %}
        {% if authors_list %}
        <li>
            <span>Автор{{ authors_list|length|pluralize:"ы" }}:</span>
            <span>
                {% for author in authors_list %}
                    {% if author.worker %}<a href="{{ author.worker.get_absolute_url }}" title="{{ author.worker }} (перейти на страницу сотрудника)">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
        </li>
        {% endif %}
        {% endwith %}

        {% block publication_published_in %}{% endblock %}

        {% if publication.get_year %}
        <li>
            <span>Год издания:</span>
            <span>{{ publication.get_year }}</span>
        </li>
        {% endif %}

        {% if publication.publisher %}
            {% include "publishers/detail_short.html" with publisher=publication.publisher %}
        {% else %}
            {% if publication.location %}
            <li>
                <span>Место издания:</span>
                <span>{{ publication.location }}</span>
            </li>
            {% endif %}
        {% endif %}

        {% block publication_pages %}{% endblock %}

        {% block publication_isbn %}{% endblock %}

        {% block publication_ncopies %}{% endblock %}

        {% block publication_categories %}{% endblock %}

        {% if publication.language %}
        <li>
            <span>Язык:</span>
            <span>{{ publication.language }}</span>
        </li>
        {% endif %}

        {% if publication.get_doi %}
        <li>
            <span>DOI:</span>
            <span><a href="http://dx.doi.org/{{ publication.get_doi }}" title="Перейти на страницу с информацией о публикации на сайте издателя" target="_blank">{{ publication.get_doi }}</a></span>
        </li>
        {% endif %}

        {% if publication.abstract %}
        <li>
            <span>Аннотация:</span>
            <span class="small">{{ publication.abstract }}</span>
        </li>
        {% endif %}

        {% block publication_projects %}{% endblock %}

        {% if publication.creator and publication.creator.get_profile %}
        {% with profile=publication.creator.get_profile %}
        <li>
            <span>Добавил в систему:</span>
            <span><a href="{{ profile.get_absolute_url }}" title="Перейти на страницу пользователя">{% if profile.worker %}{{ profile.worker.fullname }}{% else %}{{ publication.creator }}{% endif %}</a></span>
        </li>
        {% endwith %}
        {% endif %}

        {% if can_edit_publication %}
            {% with authorsdict=publication.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" {% if not author.flag_validate %}class="unvalidated"{% endif %}>{{ author.worker }}</a>
                    {% if not author.flag_validate %}<span class="authorscience_links small">(<a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},1)">подтвердить</a>,
                    <a onclick="$(this).parent().siblings('.confirm_deletion').show();$(this).parent().hide();">отклонить</a>{% ifequal request.user author.worker.user %}, <a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>{% endifequal %})</span>
                    <span class="confirm_deletion small hide">Вы уверены, что хотите удалить участие данного сотрудника?
                    <a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},0)">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    <span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>{% endif %}
                    {% if not forloop.last%}, {% endif %}
                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% else %}
            {% with authorsdict=publication.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    {% ifequal author.flag_validate 1 %}
                    {% if forloop.counter > 1%}, {% endif %}
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя">{{ author.worker }}</a>
                    {% endifequal %}
                    {% if not author.flag_validate %}
                    {% ifequal request.user author.worker.user %}
                    {% if forloop.counter > 1%}, {% endif %}<a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" class="unvalidated">{{ author.worker }}</a>
                    <span class="authorscience_links small">(<a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>)</span><span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    {% endifequal %}
                    {% endif %}

                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% endif %}
    </ul>
</div>

<div class="span-7 last">
    <div class="box" id="publication_actions">
        <h3>Работа с {{ publication.instrumental }}</h3>
        <div id="show_in_format_links">
            <span id="show_in_format">Показать публикацию в формате:</span>
            <span id="in_format_error" class="ajax_error hide" >ошибка</span><br/>
            {% for format in publication.export_formats %}
                <a class="{{ format.extension }}" title="Показать публикацию в формате {{ format.full_name }}">{{ format.short_name }}</a>{% if not forloop.last %} |{% endif %}
            {% endfor %}
            <br/>
        </div>
        <div class="hide"><!-- for search engine indexing purposes -->
            {% for format in publication.export_formats %}
                <a href="{% url publications_publication_detail_in_format publication.nominative_en publication.id format.extension|replace:'_.' %}">{{ format.short_name }}</a>
            {% endfor %}
        </div>
        <ul class="br">
        {% if can_edit_publication %}
            <li><a href="{% url publications_edit publication.nominative_en publication.id %}">Редактировать публикацию</a></li>
            {% ifequal publication.nominative_en 'article' %}
                <li><a href="{% url publications_publication_detail_additional_tags publication.nominative_en publication.id %}">Редактировать типы статьи</a></li>
                {% ifhaspermission user "edit_status_tags" publication %}
                    <li><a href="{% url publications_publication_detail_additional_tags_confirmation publication.nominative_en publication.id %}">Установить статус проверки</a></li>
                {% endifhaspermission %}
            {% endifequal %}
        {% else %}
            {% ifhaspermission user "view_locked_message" publication %}
            <li><span class="quiet">Редактирование публикации заблокировано. Если Вы хотите отредактировать или удалить ее, обратитесь к ответственным.</span></li>
            {% endifhaspermission %}
        {% endif %}

        {% if can_edit_publication_additional %}
            <li><a href="{% url publications_publication_detail_additional_abstract publication.nominative_en publication.id %}">{% if not publication.abstract %}Добавить{% else %}Редактировать{% endif %} аннотацию</a></li>
            <li><a href="{% url publications_publication_detail_additional_abstract publication.nominative_en publication.id %}">{% if not publication.doi %}Добавить{% else %}Редактировать{% endif %} DOI</a></li>
            <li><a href="{% url publications_publication_detail_additional_projects publication.nominative_en publication.id %}">Добавить {{publication.accusative}} к НИР</a></li>
            <li><a class="show_attachment_edit" href="#attachment_container">Прикрепить файл</a></li>
            {% ifhaspermission user "delete" publication %}
                <li>
                    <a class="delete_publication_initial" href="">Удалить публикацию</a>
                    <span class="delete_publication_question hide">Вы уверены, что хотите удалить публикацию?</span>
                    <a class="delete_publication_question confirm hide" href="{% url publications_publication_delete publication.nominative_en publication.id %}">да</a>
                    <a class="delete_publication_question cancel hide" href="">нет</a>
                </li>
            {% endifhaspermission %}
        {% endif %}

        {% ifhaspermission user "link_to" publication %}
            <li>
                <a class="link_to_object_initial" href="">Привязать {{ publication.accusative_short }} к себе</a>
                <span class="link_to_object_question hide">Вы уверены, что хотите привязать {{ publication.accusative_short }} к себе?</span>
                <a class="link_to_object_question confirm hide" href="{% url common_link_to_object publication.content_type.id publication.id %}">да</a>
                <a class="link_to_object_question cancel hide" href="">нет</a>
            </li>
        {% endifhaspermission %}
        {% ifhaspermission user "unauthor" publication %}
            <li>
                <a class="unauthor_object_initial" href="">Отказаться от {{ publication.genitive_short }}</a>
                <span class="unauthor_object_question hide">Вы уверены, что хотите отказаться от {{ publication.genitive_short }}?</span>
                <a class="unauthor_object_question confirm hide" href="{% url common_unauthor_object publication.content_type.id publication.id %}">да</a>
                <a class="unauthor_object_question cancel hide" href="">нет</a>
            </li>
        {% endifhaspermission %}
        {% if roles %}
            <li>
                <a href="{% url add_authorscience publication.id %}"><strong>Добавить участие в создании публикации</strong></a>
            </li>
        {% endif %}
        </ul>
    </div>
    {% ifhaspermission user "view_object_history" publication %}
        {% include "activity/actions_box.html" with object=publication %}
    {% endifhaspermission %}

</div>

{% include "common/attachments.html" with obj=publication attachment_formset=attachment_formset can_edit_attachments=can_edit_publication %}

<div class="prepend-top prepend-1 span-23 last">
    <h4 id="show_in_style_links">Библиографическая ссылка на публикацию в стиле&nbsp;&nbsp;&nbsp;
        {% for style in publication.bibtex_styles %}
            <a class="{{ style }}" title="Показать библиографическую ссылку в стиле {{ style|replace_comma_sep:'gost,ГОСТ' }}">{{ style|replace_comma_sep:'gost,ГОСТ' }}</a>{% if not forloop.last %} |{% endif %}
        {% endfor %}
        <span id="style_loading">&nbsp;</span>
        <span id="in_style_error" class="ajax_error hide" >ошибка</span><br/>
    </h4>
    <hr />
    <div id="citation_inner_container">
        {% for style in publication.bibtex_styles %}
            <div class="{{ style }}">{% ifequal style "gost" %}{{ publication.citation|safe }}{% endifequal %}</div>
        {% endfor %}
    </div>
</div>

<div id="in_format_container" class="hide prepend-top prepend-1 span-23 last">
    <h4>Публикация в формате <span id="in_format_name"></span>
        <span id="in_format_download_links">
            {% for format in publication.export_formats %}
                <a class="edit {{ format.extension }}" href="{% url publications_publication_detail_in_format_download publication.nominative_en publication.nominative_en publication.id format.extension|replace:'_.' %}" title="Сохранить файл в формате {{ format.full_name }} на компьютер">сохранить в файл</a>
            {% endfor %}
        </span>
        <a class="edit hide_in_format" href="" title="Скрыть область с {{ publication.instrumental }}">скрыть</a>
    </h4>
    <hr />
    <div id="in_format_inner_container">
        {% for format in publication.export_formats %}
            <pre class="{{ format.extension }}"></pre>
        {% endfor %}
    </div>
</div>


{% endblock %}
