{% extends "base.html" %}
{% load expand common_dict common_string %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}publications/css/save_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/expand.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jqXMLUtils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/formatxml.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/getselection.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/lower_case.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/expand.js"></script>
{% endblock %}

{% block inlinejs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_citation.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_work.js"></script>
{% endblock %}

{% block title %}{% if not edit_publication_id %}Добавление публикации - шаг 2{% else %}Редактирование публикации{% endif %}{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
    $('#input_redpages').value = $('#input_redpages').val().replace(",", ".");
    $('#input_redpages').keyup(function() {
      this.value = this.value.replace(",", ".");
    });
});
</script>

<div id="step1" class="step hide">{% include "publications/add_publication_form.html" with input_data=fields.raw_string %}</div>

<div id="step15" class="step{% if not has_similar_works or request.GET.step = 2 %} hide{% endif %}">
    <h2>Проверьте, нет ли вашей работы в списке</h2>
    <h3>Вы добавляете работу:</h3>
    <div class="box"><h3>{{ fields.raw_string|expand:"10,0"|linebreaksbr }}</h3></div>
    <h3>В системе найдены похожие работы:</h3>
    {% if similar_articles %}
    <h4 class="activity_label">Статьи и тезисы докладов</h4>
    <ul>
        {% for article in similar_articles %}
            {% include "publications/article_short.html" with no_links=1 show_title_link=1 %}
        {% endfor %}
    </ul>
    {% endif %}
    {% if similar_books %}
    <h4 class="activity_label">Книги</h4>
    <ul>
        {% for book in similar_books %}
            {% include "publications/book_short.html" with no_links=1 %}
        {% endfor %}
    </ul>
    {% endif %}
    <div class="span-24">
    <form method="post" action="{% url publications_add_step2 %}?step=2">{% csrf_token %}
        <textarea name="citation" class="hide">{{ fields.raw_string }}</textarea>
        <input class="gostep2" type="submit" title="Продолжить добавление публикации" value="В списке нет моей работы" />
        <input class="gostep1_permanent"  type="button" title="Вернуться на страницу ввода библиографической ссылки на работу" value="Моя работа уже есть в списке" />
        <a class="gostep1_permanent hide" href="{% url publications_add %}"></a>
    </form>
    </div>
</div>

<div id="step2" class="span-24 last step{% if has_similar_works and request.GET.step != 2 %} hide{% endif %}">
    {% if fields.raw_string %}
        <h2>Шаг 2. Отредактируйте данные о работе</h2>
        <div class="box">
           <h3 id="raw_string">

             {{fields.raw_string|expand:"10,0"|linebreaksbr}}

           </h3>


        </div>
    {% else %}
        {% if edit_publication_id %}
            <h2>Отредактируйте данные о работе</h2>
        {% else %}
            <h2>Шаг 2. Введите данные о работе</h2>
        {% endif %}
    {% endif %}
    <div id="paste_selection" class="hide">
        <span>Вставить выделенный текст в поле: </span><br/>
        <button class="authors in_all" title="Вставить выделенный текст в поле Авторы">Авторы</button>
        <button class="title in_all" title="Вставить выделенный текст в поле Название">Название <span class="in_journal in_collection">статьи</span>
                                                                      <span class="in_book">книги</span></button>
        <button class="journal in_journal" title="Вставить выделенный текст в поле Журнал">Журнал</button>
        <button class="collection in_collection" title="Вставить выделенный текст в поле Сборник">Сборник</button>
        <button class="series in_collection" title="Вставить выделенный текст в поле Серия">Серия</button>
        <button class="volume in_journal in_collection" title="Вставить выделенный текст в поле Том">Том</button>
        <button class="number in_journal" title="Вставить выделенный текст в поле Номер">Номер</button>
        <button class="publisher_name in_book in_collection" title="Вставить выделенный текст в поле Издательство">Издательство</button>
        <button class="institution hide" title="Вставить выделенный текст в поле Организация">Организация</button>
        <button class="publisher_city in_book in_collection" title="Вставить выделенный текст в поле Место издания">Место издания</button>
        <button class="year in_all" title="Вставить выделенный текст в поле Год издания">Год издания</button>
        <button class="pages in_all" title="Вставить выделенный текст в поле Страницы">Страницы</button>
        <button class="isbn in_book" title="Вставить выделенный текст в поле ISBN">ISBN</button>
        <button class="tech hide" title="Вставить выделенный текст в поле Технический отчет">Технический отчет</button>
    </div>

    <div class="span-24 last">
        <form action="{% url publications_add_step3 %}" method="post" id="input_fields">{% csrf_token %}
            <fieldset>
                <legend>Основная информация</legend>
                <div class="radio">
                    <fieldset>
                        <legend><span>Тип работы</span></legend>
                        <div>
                            <input type="radio" id="in_journal" name="work_type" value="in_journal"{% if fields.work_type == "journal" %} checked="checked"{% endif %} />
                            <label for="in_journal">статья в журнале</label>
                        </div>
                        <div>
                            <input type="radio" id="in_collection" name="work_type" value="in_collection"{% if fields.work_type == "collection" %} checked="checked"{% endif %} />
                            <label for="in_collection">статья в сборнике</label>
                        </div>
                        <div>
                            <input type="radio" id="in_book" name="work_type" value="in_book"{% if fields.work_type == "book" %} checked="checked"{% endif %} />
                            <label for="in_book">книга</label>
                        </div>
                    </fieldset>
                </div>
                <div class="field-row authors in_all wide">
                    <label for="input_authors">Авторы</label>
                    <input type="text" id="input_authors" name="authors" value="{{ fields.authors }}" />
                    {% if fields.authors == fields.authors|upper and fields.authors != ""  %}
                    <input class="lower_case authors" type="button" value="в нижний регистр" title="Перевести поле &quotАвторы&quot в нижний регистр. Полезно при импорте из eLibrary.ru" />
                    {% endif %}
                </div>
                <div class="field-row title in_all wide">
                    <label for="input_title">Название
                        <span class="in_journal in_collection">статьи</span>
                        <span class="in_book">книги</span>
                    </label>
                    <input class="required" type="text" id="input_title" name="title" value="{{ fields.title }}" />
                    {% if fields.title == fields.title|upper and fields.title != ""  %}
                    <input class="lower_case" type="button" value="в нижний регистр" title="Перевести поле &quotНазвание&quot в нижний регистр. Полезно при импорте из eLibrary.ru" />
                    {% endif %}
                </div>

                <div class="field-row theses in_collection">
                    <label for="input_theses">Тезисы</label>
                    <input type="checkbox" id="input_theses" name="theses" value="1"{% if fields.theses %} checked="checked"{% endif %} />
                </div>
                <div class="field-row collection_categories categories_choice in_collection">
                    {% for category in collection_categories %}
                        {% with id=category.id|to_string %}
                        {% with key='collection_category_'|add:id %}
                        <div class="field-row in_collection">
                            <label for="input_collection_category_{{ id }}">{{ category.article_name }}</label>
                            <input type="checkbox" id="input_collection_category_{{ id }}" name="collection_category_{{ id }}" {% if fields|get_dict_value:key %}checked{% endif %} />
                        </div>
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                Дополнительную информацию о типе работы (электронная публикация, рецензия и т.д.) можно будет указать
                на 4 шаге добавления работы.
            </fieldset>

            <fieldset>
                <legend>Информация о
                    <span class="legend_type in_journal">статье в журнале</span>
                    <span class="legend_type in_collection hide">статье в сборнике</span>
                    <span class="legend_type in_book hide">книге</span>
                </legend>
                <div class="field-row journal in_journal wide">
                    <label for="input_journal">Журнал</label>
                    <input class="required" type="text" id="input_journal" name="journal" value="{{ fields.journal }}" />
                </div>
                <div class="field-row collection in_collection wide">
                    <label for="input_collection">Сборник</label>
                    <input class="required" type="text" id="input_collection" name="collection" value="{{ fields.collection }}" />
                </div>
                <div class="field-row series in_collection wide">
                    <label for="input_series">Серия</label>
                    <input class="" type="text" id="input_series" name="series" value="{{ fields.series }}" />
                </div>
                <div class="field-row volume in_journal in_collection narrow">
                    <label for="input_volume">Том</label>
                    <input class="digits" type="text" id="input_volume" name="volume" value="{{ fields.volume }}" />
                </div>
                <div class="field-row number in_journal narrow">
                    <label for="input_number">Номер</label>
                    <input type="text" id="input_number" name="number" value="{{ fields.number }}" />
                </div>
                <div class="field-row publisher_name in_collection in_book wide">
                    <label for="input_publisher_name">Название издательства</label>
                    <input type="text" id="input_publisher_name" name="publisher_name" value="{{ fields.publisher }}" />
                </div>
                <div class="field-row publisher_city in_collection in_book wide">
                    <label for="input_publisher_city">Место издания</label>
                    <input type="text" id="input_publisher_city" name="publisher_city" value="{{ fields.location }}" />
                </div>
                <div class="field-row institution hide wide">
                    <label for="input_institution">Организация</label>
                    <input type="text" id="input_institution" name="institution" value="{{ fields.institution }}" />
                </div>
                <div class="field-row year in_all narrow">
                    <label for="input_year">Год издания</label>
                    <input class="{range: [1000,2100]}" type="text" id="input_year" name="year" value="{{ fields.year }}" />
                </div>
                <div>
                    <div class="field-row firstpage in_journal in_collection narrow">
                    <label for="input_firstpage">Первая страница</label>
                    <input type="text" id="input_firstpage" name="firstpage" value="{{ fields.firstpage }}" />
                    </div>
                    <div class="field-row lastpage in_journal in_collection narrow">
                    <label for="input_lastpage">Последняя страница</label>
                    <input type="text" id="input_lastpage" name="lastpage" value="{{ fields.lastpage }}" />
                    </div>
                </div>
                <div class="field-row pages in_book narrow">
                    <label for="input_pages">Количество страниц</label>
                    <input class="digits" type="text" id="input_pages" name="pages" value="{{ fields.pages }}" />
                </div>
                <div class="field-row redpages in_book narrow">
                    <label for="input_redpages">Объём (п.л.)</label>
                    <input type="text" id="input_redpages" name="redpages" value="{{ fields.redpages|safe }}" />
                </div>
                <div class="field-row isbn in_book">
                    <label for="input_isbn">ISBN</label>
                    <input type="text" id="input_isbn" name="isbn" value="{{ fields.isbn }}" />
                </div>
                <div class="field-row ncopies in_book">
                    <label for="input_ncopies">Тираж</label>
                    <input type="text" id="input_ncopies" name="ncopies" value="{{ fields.ncopies }}" />
                </div>
                <div class="field-row book_categories categories_choice in_book">
                    {% for category in book_categories %}
                        {% with id=category.id|to_string %}
                        {% with key='book_category_'|add:id %}
                        <div class="field-row in_book">
                            <input type="checkbox" id="input_book_category_{{ id }}" name="book_category_{{ id }}" {% if fields|get_dict_value:key %}checked{% endif %} />
                            <label class="wide" for="input_book_category_{{ id }}">{{ category.name }}</label>
                        </div>
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </fieldset>
            {% if not edit_publication_id and parsing_event_form %}
            <fieldset>
                <legend>Разное</legend>
                <div id="parsing_event_form" class="field-row in_all narrow" title="Отметьте, если Вы не довольны результатами автоматического разбора введенной на первом шаге информации. Мы постараемся улучшить наши алгоритмы, используя исправленные Вами данные.">
                    {{ parsing_event_form.as_p }}
                </div>
            </fieldset>
            {% endif %}
            <div class="span-24">
                <input type="submit" id="submit_form" value="Продолжить {% if edit_publication_id %}редактирование{% else %}добавление{% endif %} публикации" title="Перейти к следующему шагу {% if edit_publication_id %}редактирования{% else %}добавления{% endif %} публикации" />
                {% if not edit_publication_id %}
                <input class="gostep1" type="button" value="Вернуться на шаг 1"  title="Вернуться на страницу ввода библиографической ссылки на работу" />
                <input class="clear_form" type="button" value="Очистить форму" title="Очистить все поля формы" />
                {% endif %}
                {% if edit_publication_id %}
                <input type="hidden" value="{{ edit_publication_id }}" name="edit_publication_id" />
                {% else %}
                <input type="hidden" value="{{ xml_hash }}" name="xml_hash" />
                {% endif %}
                <textarea name="citation" class="hide">{% if fields.raw_string %}{{ fields.raw_string }}{% else %}{{ request.POST.citation }}{% endif %}</textarea>
                <input id="input_abstract" type="hidden" name="abstract" value="{{ fields.note }}" />
                <input id="input_doi" type="hidden" name="doi" value="{{ fields.doi }}" />
            </div>
            {% if debug and xml %}
            <br />
            <br />
            <div class="span-24 last">
                <a class="show_xml inner">показать XML</a>
                <a class="show_xml inner hide">скрыть XML</a>
                <div class="xml box hide">
                    <h4>XML</h4>
                    <pre>{{ xml }}</pre>
                </div>
            </div>
            {% endif %}
        </form>
    </div>

</div><!-- /step2 -->
{% endblock content %}
