table.journal_vak_table {
    width: 60%;
    margin-left: 30px;
}

 table.journal_vak_table td {
     font-weight: bold;
 }

 .rangs {
      margin-top: 10px;
  }

input[type='submit'] {
    font-size: 0.8em;
}
input{
 width: 700px;
}

input[name$='year'], input[name$='date'], input[name$='value'] {
  width: 12em;
}
