input[type=submit]{
    width: 200px;
}

#id_search_in_found {
    width: 15px;
}
.div_new_line {
    clear:both;
}
input.delete {
    width: 100px;
    padding-left: 3px;
    background-color: #b3ffa5;
}
tr.selected td {
    background: #bfffbb;
}
tr.main_selected td {
    background: #ffd97b;
}

span.auto_added {
    background-image: url("../../base/css/redmond/images/ui-icons_f9bd01_256x240.png");
    background-position: -64px -144px;
}

.dataTables_wrapper {
    clear: both;
    position: relative;
}
.dataTables_processing {
    background-color: white;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 7px;
    position: absolute;
    text-align: center;
    width: 250px;
}

.dataTables_filter {
    padding-top: 7px;
    text-align: right;
    width: 100%;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

.dataTables_info {
    float: left;
    width: 30%;
}

.dataTables_length {
	width: 40%;
	float: left;

}


.top .dataTables_info {
    float: none;
    width: 30%;
}


table.display {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
table.display thead th {
    border-bottom: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 18px 3px 10px;
}

.sorting_asc {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc.png") no-repeat scroll right center
    transparent;
}
.sorting_desc {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc.png") no-repeat scroll right center
    transparent;
}
.sorting {
    background: url("http://datatables.net/release-datatables/media/images/sort_both.png") no-repeat scroll right center
    transparent;
}
.sorting_asc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc_disabled.png") no-repeat scroll right
    center transparent;
}
.sorting_desc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc_disabled.png") no-repeat scroll right
    center transparent;
}

.instance_missing {
    color: red;
}