<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- for Firefox -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}base/img/favicon.png" type="image/x-icon" />
    <!-- Blueprint CSS framework -->
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/blueprint/screen.css" type="text/css" media="screen, projection" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/blueprint/print.css" type="text/css" media="print" charset="utf-8" />
    <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}base/css/blueprint/ie.css" type="text/css" media="screen, projection" charset="utf-8" /><![endif]-->
    <!-- /Blueprint CSS framework -->
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/redmond/jquery-ui-1.8.23.custom.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}userprofile/css/django-profile.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/base.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}feedback/css/feedback.css" type="text/css" media="all" charset="utf-8" />

    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/base.js"></script>

    <title>{{ title|default:"Dummy page" }} | ИСТИНА - Интеллектуальная Система Тематического Исследования НАучно-технической информации</title>

</head>

<body class="js_off {% block body_class %}{% endblock %}">
    <script type="text/javascript">document.body.className = document.body.className.replace("js_off", "js_on"); </script>
    <div class="container">
        {{ content|safe }}
    </div> <!-- /container -->
</body>
</html>
