{% extends "base.html" %}

{% block title %}Первичный сбор данных о педагогической нагрузке{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/expand.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}userprofile/css/profile_public.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}workers/css/merge_workers.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}journals/js/journal_index_detail.js"></script>
{% endblock %}

{% block content %}

 <h2>Список учебных групп</h2>
 <form method="POST" action="." id="educgroup">{% csrf_token %}
	 <table id="table_educgroup">
	    <thead>
	        <tr>
	            <th>Включить в нагрузку</th>
	            <th>Название группы</th>
	            <th>Кол-во бюджетных студентов</th>
	            <th>Кол-во платных студентов</th>
	        </tr>
	    </thead>
	    <tbody>
	        {% for educgroup in form.educgroups %}
	        <tr>
	        	<td>
					<input type="checkbox" {% if educgroup.in_educwork %} checked = "checked"  {% endif %} value={{educgroup.id}} name = "chk_in_educwork">
				</td>  
				<td> {{educgroup.studygroup_name}}</td>	
				<td> {{educgroup.studbudjet}}</td>
				<td> {{educgroup.studpaid}}</td>
	        </tr>
	        {% endfor %}    
		</tbody>
	 </table>

	<input type="submit" value="Сохранить и закрыть"/>
</form>

{% endblock %}

