{% extends "base.html" %}

{% block title %}Первичный сбор данных о педагогической нагрузке{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/expand.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}userprofile/css/profile_public.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}workers/css/merge_workers.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}journals/js/journal_index_detail.js"></script>
{% endblock %}

{% block content %}

 <h2>Фактическая нагрузка</h2>


<div class="box float-left">
	<a  href="/eduwork/add_row/{{department}}/{{year}}">Добавить новую запись</a>
	<a  href="./copy_year/{{department}}/{{year}}" > Скопировать все на другой учебный год</a>
    <a  href="add_row/{{department}}/{{year}}" > Сформировать заявку отвественному</a>
</div>

<table id="eduworks">
    <thead>
        <tr>
            <th>Действия</th>
            <th>Список групп</th>
            <th>Доля участия</th>
            <th>Вид работы</th>
            <th>Дисциплина(Наименование курса)</th>
            <th>Целевой факультет</th>
            <th>Вид подготовки</th>
            <th>Форма обучения</th>
            <th>Курс</th>
            <th>Семестр</th>
            <th>Кол-во недель</th>
            <th>Кол-во часов в неделю</th>
            <th>Общее кол-во часов</th>
            <th>Кол-во бюджетных студентов</th>
            <th>Кол-во платных студентов</th>
            <th>Отметка о совмещении</th>
            <th>Кол-во листов</th>
            <th>Кол-во работ</th>
            <th>Включено в заявку</th>
            <th>Передано в Пед нагрузку</th>
            
            
        </tr>
    </thead>
    <tbody>
        {% for eduwork in eduworks %}
        <tr>
            <td>
            	<a href="/eduwork/copy_row/{{eduwork.id}}/">Копировать</a>
            	<a href="/eduwork/edit_row/{{eduwork.id}}/">Изменить</a> 
            	<a href="/eduwork/delete_row/{{eduwork.id}}/" onclick="return confirm('Вы действительно хотите удалить запись?') ? true : false;">Удалить</a>
            </td>
            <td>	
            	<a href="/eduwork/educgroup_list/{{eduwork.id}}/">Список групп</a>
            </td>
            <td>
            	<a href="/eduwork/educgroup_list/{{eduwork.id}}/">Доля участия</a>
            </td>
            <td>{{ eduwork.eductype.name }}</td>
            <td>  {% if  eduwork.discipline.id  == empty %}
	        		{{eduwork.name}}
 				  {% else %}    
        			{{eduwork.discipline.name}}
    			  {% endif %}  
            </td>
            <td>{{ eduwork.faculty.name }} </td>
            <td>{{ eduwork.edustage.name }}</td>
            <td>{{ eduwork.eduform.name }}</td>
            <td></td>
            <td>{{ eduwork.semester }}</td>
            <td>{{ eduwork.hour_count }}</td>
            <td style="background-color: #7FFFD4;">{{eduwork.week_count}}  *  {{eduwork.hour_count}}</td>
            <td>{{ eduwork.studbudjet}}</td>
            <td>{{ eduwork.studpaid}}</td>
            <td></td>
            <td>{{ eduwork.page_count}}</td>
            <td>{{ eduwork.work_count}}</td>
            <td>{{ eduwork.keyparent}}</td>
         </tr>
         

        {% endfor %}
    </tbody>
</table>



{% endblock %}

