{% extends "base.html" %}
{% load myforms %}

{% block title %}Редактирование нагрузки{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}eduwork/js/eduwork.js"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />

{% endblock %}


{% block inlinejs %}
  
{% endblock %}

{% block content %}

<script type="text/javascript">

function f_action(m_action){ 
	window.document.getElementById('fh_action').value = m_action;
    window.document.getElementById('add_row_form').submit();            
}

</script>


<form method="POST" action="." id="add_row_form">{% csrf_token %}
  
  <fieldset>
  
    <legend>Редактирование педагогической нагрузки</legend>
    <input type='hidden' name='fh_action' value='1' id='fh_action'/>
    <table>
    	 <tr>
	    	<td>{{ form.eductype.label }}</td>
	    	<td>{{ form.eductype }}</td>
	    </tr>
	     <tr>
			<td>{{ form.discipline.label }}</td>
			<td>{{ form.discipline }}</td>
	    </tr>
	    <tr>
			<td>{{ form.name.label }}</td>
			<td>{{ form.name }}</td>
	    </tr>
	    <tr>
			<td>{{ form.faculty.label }}</td>
			<td>{{ form.faculty }}</td>
	    </tr>
	    <tr>
			<td>{{ form.eduform.label }}</td>
			<td>{{ form.eduform }}</td>
	    </tr>
	    <tr>
			<td>{{ form.edustage.label }}</td>
			<td>{{ form.edustage }}</td>
	    </tr>
	    <tr>
			<td>{{ form.semester.label }}</td>
			<td>{{ form.semester }}</td>
	    </tr>
	    
	    <tr>
			<td>{{ form.week_count.label }}</td>
			<td>{{ form.week_count }}</td>
	    </tr>
	    <tr>
			<td>{{ form.hour_count.label }}</td>
			<td>{{ form.hour_count }}</td>
	    </tr>
	     <tr>
			<td>{{ form.work_count.label }}</td>
			<td>{{ form.work_count}}</td>
	    </tr>
	    <tr>
			<td>{{ form.page_count.label }}</td>
			<td>{{ form.page_count}}</td>
	    </tr>
	    
    </table>
		
  </fieldset>
  
  <input type="button" value="Сохранить и закрыть" onclick='f_action(2);'/>
  
</form>

{% endblock %}