{% extends "base.html" %}
{% load myforms %}

{% block title %}Первичный ввод данных педагогической нагрузки{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block inlinejs %}
  
{% endblock %}

{% block content %}


<form method="POST" action=".">{% csrf_token %}
  
  <fieldset>
    <legend>Укажите подразделение и учебный год</legend>
    <table>
	    <tr>
	    	<td>Кафедра</td>
	    	<td>{{ form.department }}</td>
	    </tr>
	    <tr>
	    	<td>Учебный год</td>
	    	<td>{{ form.year }}</td>
	    </tr>
    </table>
		
  </fieldset>
  <input type="submit" value="Перейти к заполнению"/>
  
</form>

{% endblock %}
