<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% block title %}Отчеты | {{ department.name }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

<h2><a href="{{ department.get_absolute_url }}">{{ department.name }}</a><span class="detail_label">подразделение</span></h2>

<h2>Отчеты</h2>

<h3 class="margin-left">
    <a href="{% url organizations_department_reports_monitoring department.id 2015 %}" title="Показать отчет">Об организации мониторинга деятельности сети диссертационных советов</a>
</h3>
<h3 class="margin-left">
	Список академиков, докторов и кандидатов наук
    <div style="font-size: 0.7em; margin-top: 10px;">
        <a href="{% url organizations_department_reports_degrees department.id %}">
            <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
            Просмотреть на сайте
        </a>
        <a href="{% url organizations_department_reports_degrees_excel department.id %}">
            <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
            Скачать Excel-файл
        </a>
    </div>
</h3>
<h3 class="margin-left">
    Список всех сотрудников с указанием степеней и званий
    <div style="font-size: 0.7em; margin-top: 10px;">
        <a href="{% url organizations_department_reports_workers_degrees department.id %}">
            <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
            Просмотреть на сайте
        </a>
        <a href="{% url organizations_department_reports_workers_degrees_excel department.id %}">
            <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
            Скачать Excel-файл
        </a>
    </div>
</h3>


{% endblock %}
