<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% block title %}Отчеты | {{ department.name }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

<h2><a href="{{ department.get_absolute_url }}">{{ department.name }}</a><span class="detail_label">подразделение</span></h2>

<h2>Отчет "Об организации мониторинга деятельности сети диссертационных советов"</h2>

<ol style="font-size: 1.3em">
    <li style="margin-bottom: 20px">
        Сведения о научных и научно-педагогических работниках (Приложение 1)
        <div style="font-size: 0.85em;">
            <a href="{% url organizations_department_reports_monitoring_degrees department.id %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% url organizations_department_reports_monitoring_degrees_excel department.id %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Монографии, изданные за {{year|add:"-4"}}-{{year}} годы (Приложение 4)
        <div style="font-size: 0.85em;">
            <a href="{% url organizations_department_reports_monitoring_books department.id year|add:"-4" year %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% url organizations_department_reports_monitoring_books_excel department.id year|add:"-4" year %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Список публикаций {{year|add:"-4"}}-{{year}} годов в журналах, индексируемых в международных системах цитирования (Приложение 5)
        <div style="font-size: 0.85em">
            <a href="{% url organizations_department_reports_monitoring_publications_indexed department.id year|add:"-4" year %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% url organizations_department_reports_monitoring_publications_indexed_excel department.id year|add:"-4" year %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Список публикаций {{year|add:"-4"}}-{{year}} годов в научных журналах, входящих в Перечень ВАК (Приложение 6)
        <div style="font-size: 0.85em">
            <a href="{% url organizations_department_reports_monitoring_publications_vak department.id year|add:"-4" year %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% url organizations_department_reports_monitoring_publications_vak_excel department.id year|add:"-4" year %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Патенты на изобретения, полученные в {{year|add:"-9"}}-{{year}} годах (Приложение 7)
        <div style="font-size: 0.85em;">
            <a href="{% url organizations_department_reports_monitoring_patents department.id year|add:"-9" year %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% url organizations_department_reports_monitoring_patents_excel department.id year|add:"-9" year %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
        </div>
    </li>

</ol>

<h3>Примечания</h3>

<ol>

    <li>Вспомогательные материалы, которые представлены в системе ИСТИНА, рассчитываются только по сотрудникам, зарегистрированным в системе и явно указавшим свое место работы в МГУ.</li>
    <li>В отчеты попадает информация о результатах деятельности, в авторах которых есть хотя бы один пользователь, указавший место работы в подразделении или его дочернем подразделении.</li>
    <li>Результаты деятельности (публикации и т.д.) в отчетах не разбиты по группам специальностей, так как в системе в настоящее время нет этой информации.</li>
    <li>Библиографические описания публикаций отображаются по ГОСТ 7.1.</li>
    <li>В качестве электронного адреса размещения указывается адрес публикации в Scopus (если статья была найдена в Scopus), иначе указывается адрес ее страницы в системе ИСТИНА.</li>
    <li>Импакт-факторы по Scopus обновлены до последней версии 2012 года.</li>
    <li>Импакт-факторы по РИНЦ взяты со <a href="http://elibrary.ru/titles_compare.asp">страницы eLibrary.ru</a>, показатель "пятилетний импакт-фактор с учетом переводной версии".</li>
    <li>Пустые ячейки в отчетах означают, что соответствующих данных в настоящее время нет в системе ИСТИНА.</li>

</ol>

{% endblock %}
