<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}
{% load common_dict %}
{% load sign_url %}
{% block title %}Приоритетные направления (ПННИ){% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/add_edit_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
{% endblock %}

{% block content %}

<a href="{% sign_url "/scireport/pnreditor/?report_year=2016&f_department_id={{dep_id}}" adata=adata %}">Вернуться к перечню приоритетных направлений научных исследований</a><br/>

Пожалуйста, введите название приоритетного направления научных исследований (ПННИ) и выберите наиболее подходящие для данного ПННИ значения классификаторов.
Оставьте пустой дату окончание срока ПННИ, если не известен срок его завершения.
<hr class="space"/>

<form action="." method="POST">{% csrf_token %}
<div class="form">
  {{ form.management_form }}
  {% for field in form %}
  <div class="field {% if field.errors %}error{%endif%}">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
    <hr class="space"/>
  </div>
  {% endfor %}
</div>

<input type="submit" value="Сохранить">
</form>

{% endblock %}
