<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load sign_url %}

{% block title %}Приоритетные направления (ПННИ){% endblock %}

{% block content %}

{{ message }}

<a href="/scireport/department/{{dep_id}}/">Вернуться к списку отчетов</a><br/>
<h3>{{ department }}</h3>
Перечень приоритетных направлений научных исследований (ПННИ) подразделения<br/>
<table>
  <thead>
    <tr>
{% if isTop %}
      <th> Название приоритетного направления научных исследований</th>
      <th> Срок окончания </th>
      <th> Число рубрик (всего 4) </th>
{% else %}
      <th> NN </th>
      <th> Название приоритетного направления научных исследований</th>
{% endif %}
    </tr>
  </thead>
  <tbody>
{% if isTop %}
    {% for pnr in pnrs %}
    <tr>
      <td> <a href="{% sign_url "/scireport/pnreditor/{{pnr.id}}" adata=adata %}">{{ pnr.name }}</a> </td>
      <td> {% if pnr.actual_date %}{{ pnr.actual_date }} {% endif %}</td>
      <td> {{ pnr.rubrics.count }} </td>
    </tr>
    {% endfor %}
{% else %}
    {% for r in result %}
    <tr>
      <td> {{ r.NN }}</a> </td>
      <td> {{ r.name }} </td>
    </tr>
    {% endfor %}
{% endif %}
  </tbody>
</table>
{% if isTop %}
<br/><a href="/scireport/pnradd/{{dep_id}}/">Добавить приоритетное направление научных исследований</a>
{% endif %}
{% endblock %}
