{% extends "base.html" %}
{% load i18n myforms %}

{% load sign_url %}
{% load role_permissions %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#reports").addClass("current");
</script>

<p>
Часть данных, которые вводят пользователи в ситему, нуждаются в
проверке или подтверждении. Ниже приводятся ссылки на соответствующие
страницы.
</p>

<ul>

<li><a href="{% url depadmin_reports_confirm_personal %}">Подтверждение персональных отчетов</a></li>

<li>
<a href="{% url depadmin_reports_confirm_projects %}">Подтверждение НИР</a>
</li>

<li><a href="{% url achievements_list_all %}">Подтверждение достижений</a></li>

<li><a href="{% url statistics_top_articles year=year by_department='by_department' edit='edit' %}">Подтверждение публикаций {{ year }} года в высокорейтинговых журналах</a></li>

<li> Патенты
  <ul>
    <li><a href="{% sign_url "/sqlreports/createreport/patents_assign_owner/" %}">Указание правообладателей патентов (МГУ / не МГУ)</a></li>
    <li><a href="{% sign_url "/sqlreports/createreport/patprograms_assign_owner/" %}">Указание правообладателей свидетельств о регистрации ПО (МГУ / не МГУ)</a></li>
  </ul>
</li>


{# {% ifhaspermission user can_edit_all_estimates %} #}
   <hr class="space"/>
   <li>
     Просмотр и редактирование смет всех НИР (выберите год выполнения проекта)
   </li>
   <li>
   <a href="{% sign_url "/sqlreports/createreport/project_smeta_edit/?report_year=2015" adata=adata %}">2015</a>&nbsp;&nbsp;
   <a href="{% sign_url "/sqlreports/createreport/project_smeta_edit/?report_year=2014" adata=adata %}">2014</a>&nbsp;&nbsp;
   <a href="{% sign_url "/sqlreports/createreport/project_smeta_edit/?report_year=2013" adata=adata %}">2013</a>&nbsp;&nbsp;
   <a href="{% sign_url "/sqlreports/createreport/project_smeta_edit/?report_year=2012" adata=adata %}">2012</a>&nbsp;&nbsp;
   <a href="{% sign_url "/sqlreports/createreport/project_smeta_edit/?report_year=2011" adata=adata %}">2011</a>&nbsp;&nbsp;
   <a href="{% sign_url "/sqlreports/createreport/project_smeta_edit/?report_year=2010" adata=adata %}">2010</a>&nbsp;&nbsp;
   <a href="{% sign_url "/sqlreports/createreport/project_smeta_edit/?report_year=2009" adata=adata %}">2009</a>&nbsp;&nbsp;
   <a href="{% sign_url "/sqlreports/createreport/project_smeta_edit/?report_year=2008" adata=adata %}">2008</a>&nbsp;&nbsp;
   </li>
{# {% endifhaspermission %} #}

</ul>
{% endblock %}
