{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block content_top_submenu %}
<ul>
  <li>Отчеты подразделения</li>
  <li>Заполняемость</li>
</ul>
{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#reports").addClass("current");
</script>

<h2>Список проектов для утверждения</h2> В приведенной ниже таблице
перечислены все проекты Вашего подразделения, которые были подписаны
руководителем. Для подтверждения проекта,
пожалуйста, нажмите на его номер, проверьте его содержание и
утвердите, нажав на ссылку в правой части экрана.

<p>
<table>
  <thead>
    <tr>
      <td>Номер</td>
      <td>Название</td>
      <td>Руководитель</td>
      <td>Статус</td>
      <td>Дата</td>
    </tr>
  </thead>
  <tbody>
  {% for p in projects %}
  <tr>
    <td><a href="{% url projects_detail p.project_id %}" target="_blank">{{p.project_id}}</a></td>
    <td>{{p.name}}</td>
    <td>{{p.leader_fio}}</td>
    <td>{{p.status_name}}</td>
    <td>{{p.date}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</p>

{% endblock %}
