{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block content %}

<script>
  $("#depadmin-top-menu").find("#reports").addClass("current");
</script>

<h2>Список персональных отчетов для утверждения</h2>

<p>
Показываются только те персональные отчеты, которые трубуют
утверждения. Для просмотра состояния заполнения годового отчета,
пожалуйста, перейдите по ссылке "Информация о степени заполнения
отчета" на странице <a href="/scireport/">годового отчета нужного
подразделения</a>.
</p>

<table>
  <thead>
    <tr>
      <td>ФИО</td>
      <td>Подразделение</td>
      <td>Дата подписания</td>
    </tr>
  </thead>
  <tbody>
  {% for r in personal_reports %}
  <tr>
    <td><a href="{% url workers_worker_report_year r.worker.id 2015 r.department.id %}">{{r.worker}}</a></td>
    <td>{{r.department.name}}</td>
    <td>{{r.date}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% if not personal_reports %}
Нет персональных отчётов, которые были подписаны сотрудником, но не были утвержены.
{% endif %}

{% endblock %}
