{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#reports").addClass("current");
</script>

{% if not the_list %}
        <h3>Создание и редактирование групп сотрудников</h3>
        <p>
            Статистические показатели могут быть вычислены для
            произвольной группы сотрудников. Выберите группу
            сотрудников для редактирования или создайте новую.
        </p>

        <form action="{% url depadmin_reports_group_create %}" method="post">{% csrf_token %}
          <fieldset>
          {% show_form list_form %}
          <hr class="space"/>
          <input type="submit" value="Создать"/>
          </fieldset>
        </form>
        <hr class="space"/>

        <hr/>

        <table>
          {% for ml in my_lists %}
          <tr>
            <td>
              <a href="{% url depadmin_reports_groups ml.id %}">{{ml.title}}</a>
              ({{ml.items.all.count}} сотрудников)
            </td>
            <td>
              <a href="{% url depadmin_reports_group_delete ml.id %}">Удалить</a>
            </td>
          </tr>
  
          {% empty %}
          <li>Нет ранее созданных групп</li>
          {% endfor %}
        </table>

{% else %}
  {# Редактирование выбранного списка #}

  <a href="{% url depadmin_reports_groups %}">Вернуться к списку</a>
  <h4>Название: {{the_list.title}}</h4>
  <form action="{% url depadmin_reports_group_add_member the_list.id %}" method="POST">{% csrf_token %}
    {% show_form search_form %}<input type="submit" value="Добавить"/>
  </form>

  <hr class="space"/>
  {% if the_list.items.all %}
     В состав группы входят следующие сотрудники:
  {% endif %}
  <table>
  {% for member in the_list.items.all %}
    <tr>
      <td>{{member.worker}}</td>
      <td><a href="{% url depadmin_reports_group_remove_member the_list.id member.id %}">исключить</a></td>
    </tr>
  {% endfor %}
  </table>
  

{% endif %}


{% endblock %}
