{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#reports").addClass("current");
</script>

<p>
Подготовка годового отчета предполагает, что каждый сотрудник вносит в
систему всю информацию о своих работах, а ответственные за подготовку
сводного отчета подразделения (кафедры или факультета) просматривают и
утверждают данные.
</p>

<p>
На странице <a href="{% url depadmin_reports_report %}">Годового
отчёта</a> можно просмотреть текущие состояние заполнения персональных
отчетов сотрудниками и просмотреть сводные данные по подразделению.
</p>

<p>
На странице подтверждения данных приведены ссылки на списки объектов,
которые необходимо утвердить, включая персональные отчеты сотрудников.
</p>

<p>
Отчёты могут быть вычислены для любой группы сотрудников, а не только
для сотрудников заданного подразделения. Вы можете создавать такие группы на
странице Группы.
</p>

{% endblock %}
