{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#reports").addClass("current");
</script>

<ul>
  <li>
    <a href="/scireport/">Годовой отчёт подразделения</a>
  </li>

  <li>
    Сравнение по собственным критериям оценки
  </li>

</ul>
{% endblock %}
