{% extends "base.html" %}
{% load myforms %}

{% block title %}Список отношений{% endblock %}

{% block content %}

<h3>Список взаимосвязей подразделений '{{department.name}}' <a href="{% url semantic_dep_relations %}"><small>вернуться</small></a></h3>

<table>
<thead>
  <tr>
    <td>#</td>
    <td>Название подразделения</td>
    <!--- <td>Степень взаимодействия</td> -->
    <td>Ваша оценка</td>
  </tr>
</thead>
<tbody>
{% for relation_info in all_relations %}
<tr>
  <td width="10"> {{ forloop.counter}} </td>
  <td colspan="2"> {{ relation_info.department.name }}</td>
</tr>
  {% for relation in relation_info.links %}
  <tr>
    <td width="10"></td>
    <td>
      <a href="{% url semantic_dep_relations_proof relation.department_id relation.related_department_id department.id %}">{{ relation.related_department.name }} {% if not relation.related_department.is_root %} ({{ relation.related_department.roots.0.name }})  {% endif %} </a>
    </td>
    <!-- <td>{{ relation.strength }}</td> -->
    <td>
      {% if relation.mark %}
        <font color="green">{{ relation.mark.symbolic_value }}</font>
      {% else %}
        <a href="{% url semantic_dep_relations_proof relation.department_id relation.related_department_id department.id %}"><font color="red">Нет&nbsp;оценки</font></a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
{% empty %}
<tr> <td> Для даного подразделния взаимосвязи не выявлены. </td></tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

