{% extends "base.html" %}

{% block content %}

{# Expert's information #}

{% with worker=expert.get_profile.worker %}
<h3>Экспертное заключение: {{ worker.fullname }}</h3>

{% if worker.employments.exists %}
    {% for employment in worker.employments.current %}
        <h4>{% include "organizations/department_ancestors.html" with department=employment.department %}{% if employment.position %}, {{ employment.position_lower }}{% endif %}, {% if not employment.enddate %}с {% endif %}{{ employment.startdate|date:"j E Y" }}{% if employment.enddate %} - {{ employment.enddate|date:"j E Y" }}{% endif %}{% if employment.parttime %}, по совместительству{% endif %}</h4>
    {% endfor %}
{% endif %}

{% if worker.institution %}
    <h4>{{worker.institution}}</h4>
{% endif %}

{% if worker.degrees.exists %}
    {% for degree in worker.degrees.all %}
        <h4>{{ degree.degree.name }}{% if degree.year %} с {{ degree.year }} года{% endif %}</h4>
    {% endfor %}
{% endif %}

{% if worker.ranks.exists %}
    {% for rank in worker.ranks.all %}
        <h4>{{ rank.fullname }}{% if rank.date %} с {{ rank.date }}{% endif %}</h4>
    {% endfor %}
{% endif %}

{% endwith %}
<hr/>


{# Marks #}
<table>
<thead>
  <tr>
    <td>#</td>
    <td>Название подразделения</td>
    <td>Оценка</td>
  </tr>
</thead>
<tbody>
  {% for marks_for_department in marks %}
  <tr>
    <td> {{ forloop.counter }} </td>
    <td colspan="*"> <strong>{{ marks_for_department.0.main_department }}</strong> </td>
  </tr>
  {% for mark in marks_for_department %}
  <tr>
    <td></td>
    <td> {{ mark.related_department.name }}{% if not mark.related_department.is_root %}, {{ mark.related_department.roots.0.name }}  {% endif %} </td>
    <td> {{ mark.symbolic_value }} </td>
  </tr>
  {% endfor %}
  {% empty %}
  <tr>
    <td colspan="*">Оценок нет</td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
