{% extends "base.html" %}
{% load myforms %}

{% block title %}Список отношений{% endblock %}

{% block content %}

<h3>Список подразделений, которые имеют взаимосвязи</h3>

<table>
{% for d in departments %}
<tr>
  <td width="10"> {{ forloop.counter}} </td>
  {% if links_to_details %}
  <td><a href="{% url semantic_dep_relations_detail d.department_id %}">{{ d.department_name }}</a></td>
  {% else %}
  <td><a href="{% url semantic_dep_relations_choose d.department_id %}">{{ d.department_name }}</a></td>
  {% endif %}
</tr>
{% empty %}
<tr> <td> Нет подраздеелний с выявленными взаимосвязями. </td></tr>
{% endfor %}
</table>

{% endblock %}

