{% extends "base.html" %}

{% block content %}

<h3>Список экспертных оценок</h3>

<table>
<thead>
  <tr>
    <td>#</td>
    <td>ФИО эксперта</td>
    <td>Число оценок</td>
  </tr>
</thead>
<tbody>
  {% for expert in experts %}
  <tr>
    <td> {{ forloop.counter }} </td>
    <td> <a href="{% url semantic_dep_relations_expert_report expert.id %}">{{ expert.get_profile.worker.fullname }} </td>
    <td> {{ expert.num_marks }} </td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
