{% extends "base.html" %}
{% load myforms %}

{% block title %}Список отношений{% endblock %}

{% block content %}

<style>
.button_like_link {
    border-radius: 25px;
    background: #D0D0D0;
    padding: 10px;
    width: 200px;
    height: 100px;
    line-height: 30px; 
}

span.detail_label {
    font-size: 1.0em;
    background: #e5ecf9;
    border: 1px lightgrey solid;
    padding: 2px 7px 2px 7px;
    color: #706e69;
    margin-left: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
</style>


<h3> Взаимосвязь подразделений '{{department.name}}' и '{{ related_department.name}}'</h3>

<p>
Пожалуйста, просмотрите список совместных работ сотрудников этих
подразделений, и оцените степень взаимодействия между
подразделениями. Ваша оценка не обязательно должна основываться на
представленном списке работ. Вы можете изменить свою оценку позже.
</p>

<a class="button_like_link" href="{% url semantic_dep_relations_evaluate depid=department.id related_depid=related_department.id value=0 id_to_return=parent_depid %}">Отсутствует</a>
<a class="button_like_link" href="{% url semantic_dep_relations_evaluate depid=department.id related_depid=related_department.id value=1 id_to_return=parent_depid %}">Слабое</a>
<a class="button_like_link" href="{% url semantic_dep_relations_evaluate depid=department.id related_depid=related_department.id value=2 id_to_return=parent_depid %}">Среднее</a>
<a class="button_like_link" href="{% url semantic_dep_relations_evaluate depid=department.id related_depid=related_department.id value=3 id_to_return=parent_depid %}">Сильное</a>
<hr>

<p>
<table>
{% for activity in common_activities %}
<tr>
  <td width="10"> {{ forloop.counter}} </td>
  <td>{{ activity.year }}, {{ activity.authors }} <b>{{ activity.name }}</b> <span class="detail_label">{{ activity.type }}</span></td>
</tr>
{% empty %}
<tr> <td> Для данного подраздеелния взаимосвязи не выявлены. </td></tr>
{% endfor %}
</table>

{% if dep_coauthors %}
<h4>Информация о соавторах (ФИО, число работ в выборке выше)</h4>
<table>
  <tr>
    {% for dep_coauthors in coauthors %}
    <td style="vertical-align: top">
      <table>
        <tr bgcolor="C0C0C0">
          <td colspan="2"> {{ dep_coauthors.0.department_name }} </td>
        </tr>
      {% for coauthor in dep_coauthors %}
      <tr>
        <td> {{ coauthor.man_fullname }} </td>
        <td> {{ coauthor.narticles }} </td>
      </tr>
      {% endfor %}
      </table>
    </td>
    {% endfor %}
  </tr>
</table>
{% endif %}
</p>
{% endblock %}
