ol.roman {
	list-style-type: upper-roman;
}

textarea.results {
	width: 95%;
	margin-left: 20px;
	height: 1000px;
}

table.estimate {
	border-left: 1px solid;
	border-top: 1px solid;
}

table.estimate td {
	border-right: 1px solid;
	border-bottom: 1px solid;
}