{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "User login" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
    $(function() {
        $("input[type='text'], input[type='password']").addClass("text");
        $("#id_username").focus();
    });
</script>
{% endblock %}

{% block userprofile_content %}
    <form action=".{% if next %}?next={{ next }}{% endif %}" method="post" accept-charset="utf-8" autocomplete="off">{% csrf_token %}
    <fieldset>
        <legend>Вход в систему</legend>
        <label for="id_username">{% trans "Username" %}</label>
        <p>{{ form.username }}
            {% if form.username.errors %}
                <span class="quiet red">{{ form.username.html_error_list }}</span>
            {% endif %}
        </p>
        <label for="id_password">{% trans "Password" %}</label>
        <p>{{ form.password }}
            {% if form.password.errors %}
                <span class="quiet red">{{ form.password.html_error_list }}</span>
            {% endif %}
        </p>
        {% if form.non_field_errors %}
            <ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
        {% endif %}
    </fieldset>
    <p><input type="submit" value="{% trans 'Login' %}"  title="Войти в систему" /></p>
    </form>

{% endblock %}

{% block userprofile_content_related %}
    <div class="box">
        <h3>Проблемы со входом в систему?</h3>
        Следуйте инструкциям на странице:
        <h4><a href="{% url help_registration_problems %}">Проблемы с регистрацией или входом в систему.</a></h4>
    </div>
    <div class="box">
        {# http://code.djangoproject.com/ticket/7239 #}
        <h3>Инструменты</h3>
        <a href="{% url password_reset %}" title="Перейти на страницу восстановления пароля">Восстановление пароля</a>
        <br />
        <a href="{% url email_validation_reset %}" title="Отправить письмо для подтверждения e-mail еще раз">{% trans "Resend validation e-mail" %}</a>
        <br />
        <a href="{% url signup %}" title="Перейти на страницу регистрации">{% trans "Sign up!" %}</a>
        <br />
    </div>
{% endblock %}
