{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "User registration" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
    $(function() {
        $("input#id_username").focus();
        $("input[type='text'], input[type='password']").addClass("text");
    });
</script>
{% endblock %}

{% block userprofile_content %}
    {% include "userprofile/account/includes/registration_form.html" %}
{% endblock %}

{% block userprofile_content_related %}
    <div class="box">
        <h3>Проблемы с регистрацией?</h3>
            Пожалуйста, убедитесь, что:
            <ol>
                <li>Имя пользователя содержит только <b>латинские буквы и цифры без пробелов</b>, например: IvanovPS. Обратите внимание, что имя пользователя (логин) будет использоваться в адресе Вашей общедоступной страницы в системе (http://istina.msu.ru/profile/<логин>/).</li>
                <li>Пароль содержит только латинские буквы и цифры без пробелов. В качестве пароля можно ввести произвольную комбинацию латинских букв и цифр.</li>
                <li>В поле "подтверждение пароля" Вы ввели тот же самый пароль еще раз.</li>
            </ol>
        Если зарегистрироваться все же не получается, следуйте инструкциям на странице:
        <h4><a href="{% url help_registration_problems %}">Проблемы с регистрацией или входом в систему.</a></h4>
    </div>
{% endblock %}
