{% load url from future %}
{% load role_permissions %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}dissertations/js/dissertation_link_to.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dissertations/js/unlink_from_council.js"></script>
{% endblock %}

{% ifhaspermission user "link_to_author" object %}
    <br/>
    <a class="link_to_object_author_initial" href="">Привязать {{ object.accusative_short }} к себе в качестве автора</a>
    <span class="link_to_object_author_question hide">Вы уверены, что хотите привязать {{ object.accusative_short }} к себе?</span>
    <a class="link_to_object_author_question confirm hide" href="{% url 'dissertations_link_to_author' object.content_type.id object.id %}">да</a>
    <a class="link_to_object_author_question cancel hide" href="">нет</a>
{% endifhaspermission %}
{% ifhaspermission user "link_to_advisers" object %}
    <br/>
    <a class="link_to_object_advisers_initial" href="">Привязать {{ object.accusative_short }} к себе в качестве научного руководителя</a>
    <span class="link_to_object_advisers_question hide">Вы уверены, что хотите привязать {{ object.accusative_short }} к себе?</span>
    <a class="link_to_object_advisers_question confirm hide" href="{% url 'dissertations_link_to_advisers' object.content_type.id object.id %}">да</a>
    <a class="link_to_object_advisers_question cancel hide" href="">нет</a>
{% endifhaspermission %}
{% ifhaspermission user "link_to_opponents" object %}
    <br/>
    <a class="link_to_object_opponents_initial" href="">Привязать {{ object.accusative_short }} к себе в качестве оппонента</a>
    <span class="link_to_object_opponents_question hide">Вы уверены, что хотите привязать {{ object.accusative_short }} к себе?</span>
    <a class="link_to_object_opponents_question confirm hide" href="{% url 'dissertations_link_to_opponents' object.content_type.id object.id %}">да</a>
    <a class="link_to_object_opponents_question cancel hide" href="">нет</a>
{% endifhaspermission %}

<br/>
<a href="{% url 'dissertations_detail_print' object.id %}" target="_blank">Версия для печати</a>

{% if object.show_announcement %}
    <br/>
    <a href="{% url 'dissertations_defence_announcement' object.id %}" target="_blank">Объявление о защите</a>
{% endif %}
{% if can_edit_object and object.show_update_announcement_link %}
    <br/>
    <a href="{% url 'dissertations_update_defence_announcement' object.id %}" target="_blank">{% if not object.announcement_date %}Опубликовать объявление{% else %}Обновить дату объявления{% endif %} о защите</a>
{% endif %}

{% if object.council %}
{% ifhaspermission user "unlink_from_council" object %}
    <br/>
    <a class="unlink_from_council_initial" href="">Открепить {{ object.accusative_short }} от совета</a>
    <span class="unlink_from_council_question hide">Вы уверены, что хотите открепить {{ object.accusative_short }} от диссертационного совета?</span>
    <a class="unlink_from_council_question confirm hide" href="{% url 'dissertations_unlink_from_council' object.id %}">да</a>
    <a class="unlink_from_council_question cancel hide" href="">нет</a>
{% endifhaspermission %}
{% endif %}

{% if roles %}<br/><a href="{% url 'add_authorscience' object.id %}">Добавить участие в создании диссертации</a>{% endif %}
