{% extends "dissertation_councils/report/base.html" %}
{% load kwacros %}

{% block report_title %}
	Аттестационное дело {% if dissertation.is_candidate %}кандидата{% else %}доктора{% endif %} наук
{% endblock %}

{% block report_additional_title %}
	<h3>
		{% if dissertation.author %}
			<a href="{{ dissertation.author.get_absolute_url }}">
		{% endif %}
		{{ dissertation.author_fullname }}
		{% if dissertation.author %}
			</a>
		{% endif %}
	</h3>
{% endblock %}

{% block report_content %}

<ul class="object_detail">
	<li>
		<span>Название диссертационной работы:</span><br/>
		<p><a href="{{ dissertation.get_absolute_url }}">{{ dissertation.title }}</a></p>
	</li>
	<li>
		<span>{% if dissertation.specialty2 %}Шифры специальностей{% else %}Шифр специальности{% endif %}:</span><br/>
		<p>{{ dissertation.get_specialty }}</p>
	</li>
	<li>
		<span>Отрасль науки:</span><br/>
		<p>{{ dissertation.domain }}</p>
	</li>
	<li>
		<span>Дата защиты:</span><br/>
		<p>{{ dissertation.date|date:"d.m.Y" }}</p>
	</li>
	{% if dissertation.is_doctor and dissertation.author %}
	<li>
		<span>Год присуждения ученой степени кандидата наук:</span><br/>
		<p>{{ dissertation.author.candidate_year }}</p>
	</li>
	{% endif %}
	{% if dissertation.author %}
	<li>
		<span>Ученое звание:</span><br/>
		<p>{{ dissertation.author.rank_str_full }}</p>
	</li>
	{% endif %}
	<li>
		<span>Организация места выполнения диссертации:</span><br/>
		<p>{{ dissertation.organization_where_done_name }}</p>
	</li>
	<li>
		<span>Организация места работы:</span><br/>
		<p>{{ dissertation.author.organization_main_str }}</p>
	</li>
	<li>
		<span>Ведущая организация:</span><br/>
		<p>{{ dissertation.leading_organization_name }}</p>
	</li>
	<li>
		<span>Аннотация диссертации:</span><br/>
		<p>{{ dissertation.abstract }}</p>
	</li>
</ul>

{% with advisers=dissertation.advisers.all %}
<h3>
	Научны{{ advisers|length|pluralize:"й,е" }}
	{% if dissertation.is_candidate %}
		руководител{{ advisers|length|pluralize:"ь,и" }}
	{% else %}
		консультант{{ advisers|length|pluralize:"ы" }}
	{% endif %}
</h3>

{% kwacro workers_info workers %}
<ul class="object_detail">
	{% for worker in workers %}
	<li>
		<span>Фамилия, имя, отчество:</span><br/>
		<p><a href="{{ worker.get_absolute_url }}">{{ worker.fullname }}</a></p>
	</li>
	<li>
		<span>Ученая степень:</span><br/>
		<p>{{ worker.degree_text }}</p>
	</li>
	<li>
		<span>Отрасль науки:</span><br/>
		<p>{{ worker.degree_domain|default_if_none:"" }}</p>
	</li>
	<li>
		<span>Ученое звание:</span><br/>
		<p>{{ worker.rank_str_full }}</p>
	</li>
	<li>
		<span>Должность:</span><br/>
		<p>{{ worker.main_position|default_if_none:"" }}</p>
	</li>
	<li>
		<span>Организация места работы:</span><br/>
		<p>{{ worker.organization_main_str }}</p>
	</li>
	{% endfor %}
</ul>
{% endkwacro %}

{% usekwacro workers_info advisers %}
{% endwith %}

{% with opponents=dissertation.opponents.all %}
<h3>Оппонент{{ opponents|length|pluralize:"ы" }}</h3>
{% usekwacro workers_info opponents %}
{% endwith %}

<h3>Информация по автореферату диссертации</h3>
<ul class="object_detail">
	<li>
		<span>Интернет-ссылка:</span><br/>
		<p><a href="{{ dissertation.autoreferat_url }}">{{ dissertation.autoreferat_url }}</a></p>
	</li>
	<li>
		<span>Дата размещения:</span><br/>
		<p>{{ dissertation.autoreferat_upload_date }}</p>
	</li>
</ul>

<h3>Публикации за последние 5 лет до защиты диссертации</h3>
<i>Внимание: не все из них могут быть по теме диссертационного исследования.</i>

<table>
	<tr>{% include "dissertation_councils/report/publication_headers.html" %}</tr>
	{% for publication in publications %}
	<tr>{% include "dissertation_councils/report/publication_row.html" %}</tr>
	{% endfor %}
</table>

{% endblock %}

{% block signatures %}{% endblock %}

