{% extends "base.html" %}

{% load site %}

{% block title %}{{ dissertation.title }} - объявление о защите диссертации{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}dissertations/css/defence_announcement.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block header %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}

<h2>АИС "Наука МГУ" (ИСТИНА)</h2>

<h2>Объявление о защите диссертации</h2>

<div class="span-6">Дата публикации объявления</div>
<div class="span-18 last">{{ dissertation.announcement_date|date:"j E Y г." }}</div>
<div class="clear"></div>

<div class="span-6">Дата публикации полного текста диссертации</div>
<div class="span-18 last">{{ dissertation.fulltext_upload_date|date:"j E Y г." }}&nbsp;</div>
<div class="clear"></div>

<div class="span-6">Дата публикации автореферата диссертации</div>
<div class="span-18 last">{{ dissertation.autoreferat_upload_date|date:"j E Y г." }}&nbsp;</div>
<div class="clear"></div>

<div class="span-6">Адрес объявления на сайте организации</div>
<div class="span-18 last">{% current_domain %}{% url dissertations_defence_announcement dissertation.id %}</div>
<div class="clear"></div>

<h3 class="margin-top">Информация о соискателе</h3>

<div class="span-6">Тип диссертации</div>
<div class="span-18 last">{{ dissertation.get_phd_display }}</div>
<div class="clear"></div>

<div class="span-6">Фамилия, имя, отчество соискателя</div>
<div class="span-18 last">{{ dissertation.author_fullname }}</div>
<div class="clear"></div>

<div class="span-6">Название темы диссертации</div>
<div class="span-18 last">{{ dissertation.title }}</div>
<div class="clear"></div>

<div class="span-6">{% if dissertation.specialty2 %}Шифры научных специальностей{% else %}Шифр научной специальности{% endif %}</div>
<div class="span-18 last">{{ dissertation.get_specialty }}</div>
<div class="clear"></div>

<div class="span-6">Отрасль науки</div>
<div class="span-18 last">{{ dissertation.domain }}</div>
<div class="clear"></div>

<div class="span-6">Шифр диссертационного совета</div>
<div class="span-18 last">{{ dissertation.get_council_number }}</div>
<div class="clear"></div>

<div class="span-6">Название организации</div>
<div class="span-18 last">{{ dissertation.council_organization_name }}</div>
<div class="clear"></div>

<h3 class="margin-top">Контактная информация</h3>

<div class="span-6">Адрес организации</div>
<div class="span-18 last">{{ dissertation.council.address }}</div>
<div class="clear"></div>

<div class="span-6">Телефон организации</div>
<div class="span-18 last">{{ dissertation.council.phone }}</div>
<div class="clear"></div>

<div class="span-6">Дата и время защиты диссертации</div>
<div class="span-18 last">{{ dissertation.date|date:"j E Y" }} года{% if dissertation.time %} в {{ dissertation.time|date:"G:i" }}{% endif %}</div>
<div class="clear"></div>

{% endblock %}

{% block footer %}{% endblock %}