{% extends "base.html" %}
{% load role_permissions %}
{% load common_dict %}
{% block title %}{{ dissertation.title }} - диссертация{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_authorscience.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/add_authorscience.js"></script>
{% endblock %}

{% block content %}
<h2>{{ dissertation.title }}<span class="detail_label">диссертация</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- dissertation detailed information -->
        {% include "common/workers_list_detail.html" with object=dissertation %}
        <li>
            <span>{{ dissertation.author_status }}:</span>
            <span>
                {% if dissertation.author %}
                    <a href="{{ dissertation.author.get_absolute_url }}" title="{{ dissertation.author }} (перейти на страницу сотрудника)">{{ dissertation.author_fullname }}</a>
                {% else %}
                    {{ dissertation.author_fullname }}
                {% endif %}
            </span>
        </li>

        <li>
        {% if dissertation.show_defence_date_or_year %}
            {% if dissertation.date %}
                <span>Дата защиты:</span>
                <span>{{ dissertation.date|date:"j E Y" }} года{% if dissertation.time %} в {{ dissertation.time|date:"G:i" }}{% endif %}</span>
            {% else %}
                {% if dissertation.year %}
                    <span>Год защиты:</span>
                    <span>{{ dissertation.year }}</span>
                {% endif %}
            {% endif %}
        {% else %}
            <span>Статус:</span>
            <span>{{ dissertation.get_status_display }}</span>
        {% endif %}
        </li>

        {% if dissertation.council %}
            {% include "dissertation_councils/council_detail_common.html" with council=dissertation.council council_link=1 %}
        {% else %}
            <li>
                <span>Шифр диссертационного совета:</span>
                <span>{{ dissertation.council_number }}</span>
            </li>
            <li>
                <span>Организация:</span>
                <span>
                    {% if dissertation.council_organization %}
                        <a href="{{ dissertation.council_organization.get_absolute_url }}" title="Перейти на страницу организации">{{ dissertation.council_organization }}</a>
                    {% else %}
                        {{ dissertation.council_organization_str }}
                    {% endif %}
                </span>
            </li>
        {% endif %}

        <li>
            <span>Область знаний:</span>
            <span>{{ dissertation.domain }}</span>
        </li>
        <li>
            <span>Специальност{% if dissertation.specialty2 %}и{% else %}ь{% endif %}:</span>
            <span>{{ dissertation.get_specialty }}</span>
        </li>
        <li>
            <span>Тип диссертации:</span>
            <span>{{ dissertation.get_phd_display }}</span>
        </li>

        {% with leading_organization=dissertation.leading_organization_name %}
        {% if leading_organization %}
        <li>
            <span>Ведущая организация:</span>
            {% if dissertation.leading_organization %}
                <a href="{{ dissertation.leading_organization.get_absolute_url }}" title="Перейти на страницу организации">{{ dissertation.leading_organization }}</a>
            {% else %}
                {{ leading_organization }}
            {% endif %}
        </li>
        {% endif %}
        {% endwith %}

        {% with organization_where_done=dissertation.organization_where_done_name %}
        {% if organization_where_done %}
        <li>
            <span>Организация, в которой выполнялась работа:</span>
            {% if dissertation.organization_where_done %}
                <a href="{{ dissertation.organization_where_done.get_absolute_url }}" title="Перейти на страницу организации">{{ dissertation.organization_where_done }}</a>
            {% else %}
                {{ organization_where_done }}
            {% endif %}
        </li>
        {% endif %}
        {% endwith %}

        {% with opponents=dissertation.opponents_list %}
        {% if opponents %}
        <li>
            <span>Оппоненты:</span>
            <span>
                {% include "common/workers_list_links_param.html" with workers=opponents %}
            </span>
        </li>
        {% endif %}
        {% endwith %}

        {% if dissertation.abstract %}
        <li>
            <span>Аннотация:</span>
            <p>{{ dissertation.abstract }}</p>
        </li>
        {% endif %}

        {% include "common/object_creator.html" with creator=dissertation.creator %}

        {% if dissertation.show_announcement %}
        <li>
            <a href="{% url dissertations_defence_announcement dissertation.id %}" target="_blank">Объявление о защите</a>
        </li>
        {% endif %}
        {% ifhaspermission user "edit" dissertation as can_edit %}
        {% if can_edit %}
            {% with authorsdict=dissertation.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" {% if not author.flag_validate %}class="unvalidated"{% endif %}>{{ author.worker }}</a>
                    {% if not author.flag_validate %}<span class="authorscience_links small">(<a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},1)">подтвердить</a>,
                    <a onclick="$(this).parent().siblings('.confirm_deletion').show();$(this).parent().hide();">отклонить</a>{% ifequal request.user author.worker.user %}, <a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>{% endifequal %})</span>
                    <span class="confirm_deletion small hide">Вы уверены, что хотите удалить участие данного сотрудника?
                    <a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},0)">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    <span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>{% endif %}
                    {% if not forloop.last%}, {% endif %}
                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% else %}
            {% with authorsdict=dissertation.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    {% ifequal author.flag_validate 1 %}
                    {% if forloop.counter > 1%}, {% endif %}
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя">{{ author.worker }}</a>
                    {% endifequal %}
                    {% if not author.flag_validate %}
                    {% ifequal request.user author.worker.user %}
                    {% if forloop.counter > 1%}, {% endif %}<a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" class="unvalidated">{{ author.worker }}</a>
                    <span class="authorscience_links small">(<a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>)</span><span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    {% endifequal %}
                    {% endif %}

                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% endif %}
    </ul>
</div>

{% include "common/object_actions.html" with object=dissertation edit_url="dissertations_edit" delete_url="dissertations_delete" additional_actions_template="dissertations/additional_actions.html" hide_attachment_creator=1 %}

{% endblock %}
