{% extends "base.html" %}

{% block title %}{{ dissertation.title }} - диссертация{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block header %}{% endblock %}

{% block messages %}{% endblock %}

{% block content %}

<h2>АИС "Наука МГУ" (ИСТИНА)</h2>

<h2>{{ dissertation.title }}<span class="detail_label">диссертация</span></h2>

<div class="span-24 last">
    <ul class="object_detail"><!-- dissertation detailed information -->
        {% include "common/workers_list_detail.html" with object=dissertation no_links=1 %}
        <li>
            <span>{{ dissertation.author_status }}:</span>
            <span>{{ dissertation.author_fullname }}</span>
        </li>

        <li>
        {% if dissertation.show_defence_date_or_year %}
            {% if dissertation.date %}
                <span>Дата защиты:</span>
                <span>{{ dissertation.date|date:"j E Y" }} года{% if dissertation.time %} в {{ dissertation.time|date:"G:i" }}{% endif %}</span>
            {% else %}
                {% if dissertation.year %}
                    <span>Год защиты:</span>
                    <span>{{ dissertation.year }}</span>
                {% endif %}
            {% endif %}
        {% else %}
            <span>Статус:</span>
            <span>{{ dissertation.get_status_display }}</span>
        {% endif %}
        </li>

        {% if dissertation.council %}
            {% include "dissertation_councils/council_detail_common.html" with council=dissertation.council no_links=1 %}
        {% else %}
            <li>
                <span>Шифр диссертационного совета:</span>
                <span>{{ dissertation.council_number }}</span>
            </li>
            <li>
                <span>Организация:</span>
                <span>{{ dissertation.council_organization_name }}</span>
            </li>
        {% endif %}

        <li>
            <span>Область знаний:</span>
            <span>{{ dissertation.domain }}</span>
        </li>
        <li>
            <span>Специальност{% if dissertation.specialty2 %}и{% else %}ь{% endif %}:</span>
            <span>{{ dissertation.get_specialty }}</span>
        </li>
        <li>
            <span>Тип диссертации:</span>
            <span>{{ dissertation.get_phd_display }}</span>
        </li>

        {% with leading_organization=dissertation.leading_organization_name %}
        {% if leading_organization %}
        <li>
            <span>Ведущая организация:</span>
            {{ leading_organization }}
        </li>
        {% endif %}
        {% endwith %}

        {% with organization_where_done=dissertation.organization_where_done_name %}
        {% if organization_where_done %}
        <li>
            <span>Организация, в которой выполнялась работа:</span>
            {{ organization_where_done }}
        </li>
        {% endif %}
        {% endwith %}

        {% with opponents=dissertation.opponents_list %}
        {% if opponents %}
        <li>
            <span>Оппоненты:</span>
            <span>
                {% include "common/workers_list_links_param.html" with workers=opponents no_links=1 %}
            </span>
        </li>
        {% endif %}
        {% endwith %}

    </ul>
</div>

{% include "common/attachments.html" with obj=dissertation attachment_formset=attachment_formset hide_attachment_creator=1 no_links=1 %}

<ul class="object_detail">
	<li>
		<span>Председатель диссертационного совета:</span>
		<p>
		{% with memberships=dissertation.council.chiefs %}
		{% ifequal memberships.count 1 %}
			{{ memberships.0.member.degree_rank_str }}&nbsp;&nbsp;{{ memberships.0.workers_string }}
		{% else %}
			___________________
		{% endifequal %}
		&nbsp;&nbsp;&nbsp;&nbsp;___________________
		{% endwith %}
		</p>
	</li>
	<li>
		<span>Ученый секретарь диссертационного совета:</span>
		<p>
		{% with memberships=dissertation.council.secretaries %}
		{% ifequal memberships.count 1 %}
			{{ memberships.0.member.degree_rank_str }}&nbsp;&nbsp;{{ memberships.0.workers_string }}
		{% else %}
			___________________
		{% endifequal %}
		&nbsp;&nbsp;&nbsp;&nbsp;___________________
		{% endwith %}
		</p>
	</li>
</ul>

<div class="margin-left">Дата печати: {% now "j E Y г." %}</div>

{% endblock %}

{% block footer %}{% endblock %}