{% load activity_description %}
<ul>
    {% for dissertation in dissertations %}
        <li>{% include "dissertations/short.html" with object=dissertation no_links=no_links additional_controls_template=additional_controls_template %}</li>
    {% endfor %}
</ul>
