{% with dissertation=object %}
<ul class="activity"><!-- dissertation short information -->
    <li>
        {% if dissertation.show_year_in_snippet %}<b>{{ dissertation.get_year }}</b>{% endif %}
        {% if not no_links %}
            <a href="{{ dissertation.get_absolute_url }}" title="Перейти на страницу диссертации">{{ dissertation.title }}</a>
        {% else %}
            {{ dissertation.title }}
        {% endif %}
    </li>
    {% if dissertation.to_defend %}
        <li><i>
            Защита состоится
            {% if dissertation.date %}
                {{ dissertation.date|date:"j E Y" }} года{% if dissertation.time %} в {{ dissertation.time|date:"G:i" }}{% endif %}
            {% else %}
                в {{ dissertation.year }} году
            {% endif %}
            в совете
            {% include "dissertations/council_short.html" %}
        </i></li>
    {% else %}
        {% if dissertation.to_consider %}
            <li><i>
                Принята к рассмотрению в совете
                {% include "dissertations/council_short.html" %}
            </i></li>
        {% else %}
            {% if not dissertation.defended %}
                <li><i>{{ dissertation.get_status_display }}</i></li>
            {% endif %}
        {% endif %}
    {% endif %}
    <li>{{ dissertation.get_phd_display }} диссертация по специальност{% if dissertation.specialty2 %}ям{% else %}и{% endif %} {{ dissertation.get_specialty }} ({{ dissertation.domain.shortname }})</li>

    <li>{{ dissertation.author_status }}:
        {% if not no_links %}
            {% if dissertation.author %}
                <a href="{{ dissertation.author.get_absolute_url }}" title="{{ dissertation.author }} (перейти на страницу сотрудника)">{{ dissertation.author_fullname }}</a>{{ dissertation.author.degree_rank_org_str_with_comma }}
            {% else %}
                {{ dissertation.author_fullname }}
            {% endif %}
        {% else %}
            {{ dissertation.author_fullname }}{% if dissertation.author %}{{ dissertation.author.degree_rank_org_str_with_comma }}{% endif %}
        {% endif %}
    </li>

    {% include "common/workers_list.html" with object=dissertation fullnames_org=1 %}

    {% if dissertation.defended %}
    <li>
        <span>Защищена в совете</span>
        <span>{% include "dissertations/council_short.html" %}</span>
    </li>
    {% endif %}

    {% with organization_where_done=dissertation.organization_where_done_name %}
    {% if organization_where_done %}
    <li>
        <span>Организация, в которой выполнялась работа:</span>
        {% if dissertation.organization_where_done %}
            <a href="{{ dissertation.organization_where_done.get_absolute_url }}" title="Перейти на страницу организации">{{ dissertation.organization_where_done }}</a>
        {% else %}
            {{ organization_where_done }}
        {% endif %}
    </li>
    {% endif %}
    {% endwith %}

    {% if dissertation.show_opponents_leading_org %}
        {% with leading_organization=dissertation.leading_organization_name %}
        {% if leading_organization %}
        <li>
            <span>Ведущая организация:</span>
            {% if dissertation.leading_organization %}
                <a href="{{ dissertation.leading_organization.get_absolute_url }}" title="Перейти на страницу организации">{{ dissertation.leading_organization }}</a>
            {% else %}
                {{ leading_organization }}
            {% endif %}
        </li>
        {% endif %}
        {% endwith %}

        {% with opponents=dissertation.opponents_list %}
        {% if opponents %}
        <li>
            <span>Оппоненты:</span>
            <span>
                {% include "common/workers_list_links_param.html" with workers=opponents %}
            </span>
        </li>
        {% endif %}
        {% endwith %}
    {% endif %}

    {% if object.show_announcement %}
    <li><a href="{% url dissertations_defence_announcement object.id %}" target="_blank">Объявление о защите</a></li>
    {% endif %}

    {% with attachments=dissertation.attachments %}
    {% if dissertation.show_attachments_in_snippet %}
    {% if attachments.exists %}
    <li>
        {% for attachment in attachments.all %}
            <a href="{{ attachment.get_absolute_url }}">{{ attachment.short_description }}</a>{% if not forloop.last %}<br/>{% endif %}
        {% endfor %}
    </li>
    {% endif %}
    {% endif %}
    {% endwith %}

    {% if additional_controls_template %}
    <li>
        {% include additional_controls_template with dissertation=dissertation %}
    </li>
    {% endif %}

</ul>
{% endwith %}
