{% extends "base.html" %}

{% block title %}{{ award.title }} - награда{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
<h2>{{ award.title }}<span class="detail_label">награда</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- award detailed information -->
        {% include "common/workers_list_detail.html" with object=award %}
        <li>
            <span>Тип:</span>
            <span>{{ award.category }}</span>
        </li>
        <li>
            <span>Название:</span>
            <span>{{ award.name }}</span>
        </li>
        {% if award.organization %}
        <li>
            <span>Организация:</span>
            <span>{{ award.organization }}</span>
        </li>
        {% endif %}
        <li>
            <span>Страна:</span>
            <span>{{ award.country }}</span>
        </li>
        <li>
            <span>Дата получения:</span>
            <span>{{ award.startdate }}</span>
        </li>
        {% if award.comment %}
        <li>
            <span>Описание заслуги:</span>
            <p>{{ award.comment }}</p>
        </li>
        {% endif %}
    </ul>
</div>

{% include "common/object_actions.html" with object=award edit_url="awards_edit" delete_url="awards_delete" %}

{% endblock %}
