{% with award=object %}
<ul class="activity"><!-- award short information -->
    <li>
        <b>{{ award.startdate|date:"Y"}}</b>
        {% if not no_links %}
            <a href="{{ award.get_absolute_url }}" title="Перейти на страницу {{ award.genitive }}">{{ award.title }}</a>
        {% else %}
            {{ award.title }}
        {% endif %}
    </li>
    {% include "common/workers_list.html" with object=award %}
    {% if award.organization %}
    <li>
        <i>{{ award.organization }}, {{ award.country }}</i>
    </li>
    {% endif %}
</ul>
{% endwith %}
