{% extends "base.html" %}

{% block title %}{{ event.name }} - {{ event.category }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
<h2>{{ event.name }}<span class="detail_label">{{ event.category }}</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- event detailed information -->
        <li>
            {% with departments=event.departments.all %}
            <span>Организатор{{ departments|length|pluralize:"ы" }}:</span>
            <span>
                {% for department in departments %}
                 <a href="{{ department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ department.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
            {% endwith %}
        </li>
        
        {% if event.location %}
        <li>
            <span>Место проведения:</span>
            <span>{{ event.location }}</span>
        </li>
        {% endif %}

        <li>
            <span>Дата проведения:</span>
            <span>{{ event.dates_text }}</span>
        </li>

        {% if event.participants_count %}
        <li>
            <span>Количество участников:</span>
            <span>{{ event.participants_count }}</span>
        </li>
        {% endif %}

        {% if event.description %}
        <li>
            <span>Описание:</span>
            <p>{{ event.description }}</p>
        </li>
        {% endif %}

        {% include "common/object_creator.html" with creator=event.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=event edit_url="events_edit" delete_url="events_delete" %}


{% endblock %}
