{% extends "base.html" %}

{% block title %}Мероприятия, организованные подразделением | {{ department.name }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}organizations/js/department_detail.js"></script>
{% endblock %}

{% block content %}

<h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

<h2>{{ department.name }}<span class="detail_label">подразделение</span></h2>
<h4 class="activity_label">Организованные мероприятия</h4>

<ul>
    {% for event in department.events.all %}
        <li>{% include "events/short.html" %}</li>
    {% endfor %}
</ul>

{% endblock %}
