<ul class="activity"><!-- event short information -->
    <li>
        <b>{{ event.dates_text }}</b>

        {% if not no_links %}
            <a href="{{ event.get_absolute_url }}" title="Перейти на страницу мероприятия">{{ event.name }}</a>
        {% else %}
            {{ event.name }}
        {% endif %}
    </li>
    <li>
        {{ event.category }}{% if event.participants_count %}, {{ event.participants_count }} участников{% endif %}
    </li>
    <li>
        {% with departments=event.departments.all %}
        организатор{{ departments|length|pluralize:"ы" }}:
        {% for department in departments %}
            {% if not no_links %}<a href="{{ department.get_absolute_url }}" title="Перейти на страницу подразделения">{% endif %}{{ department.name }}{% if not no_links %}</a>{% endif %}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endwith %}
    </li>
    {% if event.location %}
    <li>
        место проведения: {{ event.location }}
    </li>
    {% endif %}

</ul>
