{% extends "base.html" %}

{% block title %}Добавление выступления в СМИ{% endblock %}

{% block content %}

<style>
.button_like_link {
    border-radius: 25px;
    background: #D0D0D0;
    padding: 20px;
    width: 200px;
    height: 150px;
    line-height: 80px; 
}
</style>

Пожалуйста, выберите <b>тип сотрудника</b>, для которого Вы хотите создать или изменить чтение курса. <br/>

  <a class="button_like_link" href="{% url teaching_add_event %}">преподавание в подразделении внутри своей организации</a>
  <a class="button_like_link" href="{% url teaching_add_event %}">сотрудник внешней организации, преподавание в подразделении</a><br />
  <a class="button_like_link" href="{% url teaching_add_event %}">сотрудник подразделения, преподавание во внешней организации</a>




{% endblock %}
