{% if user.is_authenticated %}
<br/><a href="{% url courses_teaching_add %}?course_id={{ object.id }}">Добавить преподавание курса</a>
{% if roles %}<br/><a href="{% url add_authorscience object.id %}">Добавить участие в создании курса</a>{% endif %}
{% endif %}