{% extends "base.html" %}
{% load role_permissions %}
{% load common_dict %}
{% block title %}{{ course.title }} - учебный курс{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_authorscience.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/add_authorscience.js"></script>
{% endblock %}

{% block content %}
<h2>{{ course.title }}<span class="detail_label">учебный курс</span></h2>
<div class="span-16 colborder">
    <ul class="object_detail"><!-- course detailed information -->
        {% include "common/workers_list_detail.html" with object=course %}
        <li>
            <span>Год создания:</span>
            <span>{{ course.year }}</span>
        </li>
        {% if course.organization %}
        <li>
            <span>Организация:</span>
            <span><a href="{{ course.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ course.organization.name }}</a></span>
        </li>
        {% endif %}
        {% if course.distant %}
        <li>
            <span>Дистанционный курс</span>
        </li>
        {% endif %}
        {% if course.in_foreign_language %}
        <li>
            <span>Курс на иностранном языке</span>
        </li>
        {% endif %}
        {% if course.description %}
        <li>
            <span>Описание:</span>
            <span>{{ course.description }}</span>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=course.creator %}
        {% ifhaspermission user "edit" course as can_edit %}
        {% if can_edit %}
            {% with authorsdict=course.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" {% if not author.flag_validate %}class="unvalidated"{% endif %}>{{ author.worker }}</a>
                    {% if not author.flag_validate %}<span class="authorscience_links small">(<a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},1)">подтвердить</a>,
                    <a onclick="$(this).parent().siblings('.confirm_deletion').show();$(this).parent().hide();">отклонить</a>{% ifequal request.user author.worker.user %}, <a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>{% endifequal %})</span>
                    <span class="confirm_deletion small hide">Вы уверены, что хотите удалить участие данного сотрудника?
                    <a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},0)">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    <span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>{% endif %}
                    {% if not forloop.last%}, {% endif %}
                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% else %}
            {% with authorsdict=course.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    {% ifequal author.flag_validate 1 %}
                    {% if forloop.counter > 1%}, {% endif %}
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя">{{ author.worker }}</a>
                    {% endifequal %}
                    {% if not author.flag_validate %}
                    {% ifequal request.user author.worker.user %}
                    {% if forloop.counter > 1%}, {% endif %}<a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" class="unvalidated">{{ author.worker }}</a>
                    <span class="authorscience_links small">(<a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>)</span><span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    {% endifequal %}
                    {% endif %}

                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% endif %}
    </ul>
</div>

{% with show_object_menu=user.is_authenticated %}
{% include "common/object_actions.html" with object=course edit_url="courses_edit" delete_url="courses_delete" additional_actions_template="courses/additional_actions.html" %}
{% endwith %}

{% with teachings=course.teachings.all %}
{% if teachings %}
<hr class="space" />
<div class="clear">

{% if user.is_authenticated %}
Для удаления курса сначала удалите все его преподавания (или отредактируйте их и привяжите к другому курсу). Подробнее см. <a href="/help/add/teaching/">страницу помощи</a>.
{% endif %}

    <h3 class="margin-top">Преподавание курса</h3>
    <hr />
    {% for teaching in teachings %}
        {% include "courses/teaching_short.html" with object=teaching show_teacher=1 %}
    {% endfor %}
</div>

{% endif %}
{% endwith %}

{% endblock %}
