{% with course=object %}
<ul class="activity"><!-- course short information -->
    <li>
        <b>{{ course.year }}</b>
        {% if not no_links %}
            <a href="{{ course.get_absolute_url }}" title="Перейти на страницу учебного курса">{{ course.title }}</a>
        {% else %}
            {{ course.title }}
        {% endif %}
    </li>
    {% include "common/workers_list.html" with object=course %}
    {% if course.distant or course.in_foreign_language %}
    <li>
        <i>{% if course.distant %}дистанционный {% endif %}курс{% if course.in_foreign_language %} на иностранном языке{% endif %}</i>
    </li>
    {% endif %}
</ul>
{% endwith %}
