{% with teaching=object %}
<ul class="activity"><!-- teaching short information -->
    <li>
        <b>
            {% if teaching.enddate %}
                {{ teaching.startdate|date:"j E Y" }} - {{ teaching.enddate|date:"j E Y" }}
            {% else %}
                с {{ teaching.startdate|date:"j E Y" }}
            {% endif %}
        </b>
        {% if not no_links %}
            <a href="{{ teaching.get_absolute_url }}" title="Перейти на страницу преподавания учебного курса">
                {% if show_teacher %}
                    {{ teaching.workers_string_full }}
                {% else %}
                    {{ teaching.title }}
                {% endif %}
            </a>
        {% else %}
            {% if show_teacher %}
                {{ teaching.workers_string_full }}
            {% else %}
                {{ teaching.title }}
            {% endif %}
        {% endif %}
    </li>
    <li>
        {% include "organizations/department_ancestors.html" with department=teaching.department no_leaf=0 %}
    </li>
    {% if teaching.partnerships.exists %}
    {% for partnership in teaching.partnerships.all %}
    <li>
        <i>{{ partnership.organization_preposition }} {{ partnership.organization_name }} ({{ partnership.organization_category|lower }}, {{ partnership.organization_subcategory|lower }}, {{ partnership.organization_country }})</i>
    </li>
    {% endfor %}
    {% endif %}
    <li>
        {{ teaching.discipline_type }}, {{ teaching.teaching_kind }}{% if teaching.hours %}, {{ teaching.hours }} часов{% endif %}
    </li>
    {% include "common/workers_list.html" with object=course %}
</ul>
{% endwith %}
