{% extends "base.html" %}
{% load role_permissions %}

{% block title %}{{ course_teaching.workers_string }}, преподаватель курса {{ course_teaching.title }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}

{% with teaching=course_teaching %}

<h2>
    {{ teaching.workers_string_full }}, преподаватель курса {{ teaching.title }}<span class="detail_label">преподавание учебного курса</span>
</h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- teaching detailed information -->
        {% include "common/workers_list_detail.html" with object=teaching %}
        <li>
            <span>Преподаватель:</span>
            <span>
                {% if teaching.teacher %}
                    <a href="{{ teaching.teacher.get_absolute_url }}" title="Перейти на страницу сотрудника">{{ teaching.teacher }}</a>
                {% else %}
                    {{ teaching.original_name }}
                {% endif %}
            </span>
        </li>
        <li>
            <span>Курс:</span>
            <span><a href="{{ teaching.course.get_absolute_url }}" title="Перейти на страницу учебного курса">{{ teaching.course.title }}</a></span>
        </li>
        <li>
            <span>Тип дисциплины:</span>
            <span>{{ teaching.discipline_type }}</span>
        </li>
        <li>
            <span>Вид учебных занятий:</span>
            <span>{{ teaching.teaching_kind }}</span>
        </li>
        <li>
            <span>Подразделение:</span>
            <span>{% include "organizations/department_ancestors.html" with department=teaching.department no_leaf=0 %}</span>
        </li>
        <li>
            <span>Дата начала преподавания:</span>
            <span>{{ teaching.startdate }}</span>
        </li>
        {% if teaching.enddate %}
        <li>
            <span>Дата окончания преподавания:</span>
            <span>{{ teaching.enddate }}</span>
        </li>
        {% endif %}
        {% if teaching.hours %}
        <li>
            <span>Количество часов:</span>
            <span>{{ teaching.hours }}</span>
        </li>
        {% endif %}

        {% if teaching.partnerships.exists %}
        {% for partnership in teaching.partnerships.all %}
        <li>
            <span>Тип преподавания:</span>
            <span>{{ partnership.direction_text }}</span>
        </li>
        <li>
            <span>Название внешней организации:</span>
            <span>{{ partnership.organization_name }}</span>
        </li>
        <li>
            <span>Тип внешней организации:</span>
            <span>{{ partnership.organization_category }}</span>
        </li>
        <li>
            <span>Подтип внешней организации:</span>
            <span>{{ partnership.organization_subcategory }}</span>
        </li>
        <li>
            <span>Страна внешней организации:</span>
            <span>{{ partnership.organization_country }}</span>
        </li>
        {% if partnership.sponsor_category %}
        <li>
            <span>Тип источника финансирования:</span>
            <span>{{ partnership.sponsor_category }}</span>
        </li>
        {% endif %}

        {% ifhaspermission user "edit" teaching %}
            {% if partnership.sponsor_name %}
            <li>
                <span>Название источника финансирования:</span>
                <span>{{ partnership.sponsor_name }}</span>
            </li>
            {% endif %}
            {% if partnership.amount %}
            <li>
                <span>Привлеченная сумма финансирования:</span>
                <span>{{ partnership.amount|floatformat }} тыс. руб.</span>
            </li>
            {% endif %}
        {% endifhaspermission %}

        {% endfor %}
        {% endif %}
    </ul>
</div>

{% include "common/object_actions.html" with object=teaching edit_url="courses_teaching_edit" delete_url="courses_teaching_delete" %}

{% endwith %}

{% endblock %}
