{% load role_permissions %}

<tr class="{{ activity.is_signed|yesno:"signed,unsigned,unsigned"}}">
<td class="controls">
  {% if not activity.is_signed %}
    {% ifhaspermission user "sign" activity %}
    <a href="{% url equipment_activity_sign activity.id %}" class="inner">Подтвердить</a>
    {% endifhaspermission %}
  {% endif %}
  {% ifhaspermission user "delete" activity %}
    <a href="/equipment/results/unlink/{{equipment.id}}/{{activity.id}}/" onclick="return confirm('Вы уверены, что хотите отвязать от комплекса статью:\n\n' + $(this).closest('td').next('td').next('td').text())" class="inner">
      Удалить
    </a>
  {% endifhaspermission %}
</td>
<td><a href="{{activity.get_object_url}}">{{activity.reference}}</a></td>
</tr>
