<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}
{% load i18n myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dynatree/ui.dynatree.css" type="text/css" id="skinSheet"/>
<style type="text/css">
  .dynatree_container { height: 400px; overflow: auto; }

  #id_place, #id_descr, #id_schedule, #id_techdata, #id_fullname, #id_shortname, #id_regnumber, #id_number { width: 650px; }
  #dynatree_container_id_department, #dynatree_container_id_equiptype { width: 750px; }
  #dynatree_container_id_equiptype { height: auto; }
  #id_place { height: 80px; }
  #id_descr { height: 160px; }
</style>
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree_widgets.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}equipment/js/equipment.js"></script>
{% endblock %}


{% block title %}Информация о научном оборудовании{% endblock %}

{% block content %}

{% include "equipment/edit_menu.html" with section="main" is_complex=is_complex %}

<fieldset>
  <legend> Основные сведения </legend>
  <form method="post" action="{% if equipment %}{% url equipment_edit equip_id=equipment.id %}{% else %}{% url equipment_edit %}{% endif %}">{% csrf_token %}
    <input type="hidden" name="parent_complex_id" value="{{parentComplex.id}}"/>
    <input type="hidden" name="is_complex" value="{{is_complex}}"/>
    <div class="form">
      {{ equip_form.management_form }}
      <table>
      {% for field in equip_form %}
      <tr>
        <td> {{ field.label_tag }} </td>
        <td>
          <div class="field {% if field.errors %}error{%endif%}">
            {{ field.errors }}
            {{ field }}
          </div>
        </td>
      </tr>
      {% endfor %}
      </table>
    </div>
    <table>
      <tr>
        <td> <input type="submit" name="save" value="Сохранить"/> </td>
        <td> <input type="submit" name="cancel" value="Отменить"/> </td>
      </tr>
    </table>
  </form>

</fieldset>

{% endblock %}
