{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load role_permissions %}

{% block title %}Информация о научном оборудовании{% endblock %}

{% block extracss %}
<style type="text/css">
  div#imageContainer { width: 200px; }
  #photo { width: 300px;}
  .right-menu {
    display: block;
    list-style: none;
    float: right;
    position:relative;
  }
</style>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
  function doRequest(url) {
    return function(type) {
      return function() {
        $.ajax({
          type: type,
          url: url,
          headers: { 'X-CSRFToken': '{{ csrf_token }}' },
          success: function(response) {
            $('body').html(response);
          }
        })
      }
    }
  }

  var doSignRequest = doRequest('{% url equipment_sign equipment.id %}')
  $('a.sign').click(doSignRequest('PUT'))
  $('a.reedit').click(doSignRequest('DELETE'))

  var doOwnRequest = doRequest('{% url equipment_own equipment.id %}')
  $('a.own').click(doOwnRequest('PUT'))
  $('a.unown').click(doOwnRequest('DELETE'))
})
</script>
{% endblock %}

{% block content %}
<div>
<a href="/equipment/">Вернуться к списку оборудования</a>
<ul class="right-menu">
{% if can_edit  %}
    <li><a href="/equipment/edit/{{equipment.id}}/"><b>Редактировать</b></a></li>
    {% if can_sign %}
      {% if not equipment.is_signed %}
        <li><a href="#" class="sign"><b>Подтвердить</b></a></li>
      {% else %}
        <li><a href="#" class="reedit"><b>Снять отметку о подтверждении</b></a></li>
      {% endif %}
    {% endif %}
    {% if can_confirm_any and user == equipment.creator %}
      <li><a href="#" class="unown"><b>Отказаться от устройства</b></a></li>
    {% endif %}
{% endif %}

{% if not equipment.creator %}
  {% if can_confirm_any %}
    {% if not can_edit %}
    <li><a href="#" class="own"><b>Получить право редактирования</b></a></li>
    {% endif %}
  {% endif %}
{% endif %}
</ul>
</div>

<table>
  <tr>
    <td>
      <h2>{{equipment.fullname}}</h2>
      {% with pc=equipment.get_complex %}
      {% if pc %}
      Входит в состав <a href="{% url equipment_card pc.id %}">{{pc}}</a>
      {% endif %}
      {% endwith %}
      {% if equipment.shortname %}<br/><b>Краткое название:</b> {{equipment.shortname}}{% endif %}
      <br/><b>Тип:</b> {{equipment.equiptype.get_fullname}}
      <br/><b>Подразделение:</b> <a href="/organizations/department/{{equipment.department.id}}/">{{equipment.department.name}}</a>
      <br/><b>Начало эксплуатации:</b>
         {% if equipment.startdate %} {{equipment.startdate|date:"j E Y"}}
         {% else %}дата не указана
         {% endif %}
         <br/><b>Идентификатор:</b> {{ equipment.id }}
    </td>
    <td style="text-align:right">
      <!--<div id="imageContainer"> -->
        {% if title_image_url %}
        <img id="photo" src="{{title_image_url}}"/>
        {% endif %}
      <!-- </div> -->
    </td>
  </tr>
</table>
<hr/>


<table>
  <tr>
    <td valign="top">
      <table>
        <tr>
          <td><b>Технические характеристики:</b></td>
          <td>
            {% if equipment.techdata %}
              {{equipment.techdata}}
            {% elif only_device %}
              {{only_device.techdata}}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><b>Расписание:</b></td>
          <td>{% filter linebreaks %}
            {% if equipment.schedule %} {{equipment.schedule}} {% elif only_device %}{{only_device.schedule}}{% endif %}
            {% endfilter %}
          </td>
        </tr>
        <tr><td><b>Адрес:</b></td><td>{% if equipment.place %} {{equipment.place}} {% elif only_device %}{{only_device.place}}{% endif %}</td></tr>
      </table>
    </td>
  </tr>
</table>

{% if equipment.staff.all %}
Список ответственных за данное оборудование:
<ul>
  {% for p in equipment.staff.all %}
  <li>
    <b>{{p.role}}</b>,
    {% if p.worker %}
    <a href="/workers/{{p.worker.id}}/">{{p.worker}}</a>,
    {% else %}
    {{p.lastname}} {{p.firstname}} {{p.middlename}},
    {% endif %}
    {% if p.phone %}тел. {{p.phone}}{% endif %}
    {% if can_sign %}
      мобильный: {% if p.phone_mobile %}{{p.phone_mobile}}{% else %}нет{% endif %}
      e-mail: {% if p.email %}<a href="mailto:{{p.email}}">{{p.email}}</a>{% else %}нет{% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if equipment.is_complex %}
В состав комплекса входит следующее оборудование:
<table>
  <thead>
    <tr>
      <th>Тип</th>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    {% for link in equipment.item_links.all %}
    <tr>
      <td>{{link.equipment.equiptype.name}}</td>
      <td><a href="/equipment/card/{{link.equipment.id}}/">{{link.equipment.fullname}}<a></td>
    </tr>
    {% empty %}
    <tr><td colspan="*">Записей нет</td></tr>
    {% endfor %}
  </tbody>
</table>
{% if can_edit %}
<a href="/equipment/edit/{{equipment.id}}/parts/">Добавить оборудование в состав комплекса</a><br/><br/>
{% endif %}

{% if equipment.docs.all %}
<p>
<h3>Прикрепленные файлы</h3>
<ul>
  {% for f in equipment.docs.all %}
    <li>{{f.doctype.name}}: <a href="{% if f.is_image %}{% url equipment_doc equipment.id f.id %}{% else %}{{f.get_absolute_url}}{% endif %}" title="{{f.annotation}}">{{ f.name }}</a></li>
  {% endfor %}
</ul>
</p>
{% endif %}

<h3><a href="/equipment/results/{{equipment.id}}">Последние добавленные научные работы: </a></h3>
<table>
{% for pub in activities %}
<tr>
  <td> {{pub.order}}. </td>
  <td> <a href="{{pub.get_object_url}}">{{pub.reference}}</a></td>
</tr>
{% empty %}
Нет
{% endfor %}
</table>
<a href="/equipment/results/{{equipment.id}}/">Полный список / Добавить ссылку на публикацию</a>
{% endif %}

{% endblock %}
