{# # -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Информация о научном оборудовании МГУ{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
{% endblock %}


{% block content %}

{% include "equipment/edit_menu.html"  with section="parts" %}

{% if equipment.is_complex %}
В состав комплекса входит следующее оборудование:
<table>
  <thead>
    <tr>
      <th>Тип</th>
      <th>Название</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for link in equipment.item_links.all %}
    <tr>
      <td>{{link.equipment.equiptype.name}}</td>
      <td><a href="/equipment/card/{{link.equipment.id}}/">{{link.equipment.fullname}}<a></td>
      <td><a href="{% url equipment_remove_from_complex complex_id=link.container.id equip_id=link.equipment.id link_id=link.id %}">исключить</a></td>
    </tr>
    {% empty %}
    <tr><td colspan="*">Записей нет</td></tr>
    {% endfor %}
  </tbody>
</table>

<form action="{% url equipment_add_part equipment.id %}" method="POST">{% csrf_token %}
  {% show_form part_form %}
  <input type="submit" name="add_device" value="Добавить"/>
</form>

<hr class="space"/>

<form action="{% url equipment_add %}" method="POST">{% csrf_token %}
  <input type="hidden" name="parent_complex_id" value="{{equipment.id}}"/>
  <input type="submit" name="add_device" value="Внести описание НОВОГО прибора"/>
</form>
{% endif %}

{% endblock %}
