{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load i18n myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<style type="text/css">
  .dynatree_container { height: 400px; overflow: auto; }

  #id_place, #id_descr, #id_schedule, #id_techdata, #id_fullname, #id_shortname, #id_regnumber, #id_number { width: 650px; }
  #dynatree_container_id_department, #dynatree_container_id_equiptype { width: 750px; }
  #dynatree_container_id_equiptype { height: auto; }
  #id_place { height: 80px; }
  #id_descr { height: 160px; }
</style>
{% endblock %}


{% block title %}Информация о научном оборудовании{% endblock %}

{% block content %}

{% include "equipment/edit_menu.html" with section="techdata" %}

<fieldset>
  <legend> Технические характеристики </legend>
  <form class="personal" method="post" action=".">{% csrf_token %}
  {% show_form techdata_form %}
  <input type="submit" name="save" value="Сохранить"/>
  </form>
</fieldset>


{% endblock %}
