{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load i18n myforms %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
   $('#id_worker').change(function() {
      var worker = document.getElementById('#id_worker');
      if( $('#id_worker').val() != '' ) {
      }
   });
});
</script>
{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<style type="text/css">
  .dynatree_container { height: 400px; overflow: auto; }

  #id_place, #id_descr, #id_schedule, #id_techdata, #id_fullname, #id_shortname, #id_regnumber, #id_number { width: 650px; }
  #dynatree_container_id_department, #dynatree_container_id_equiptype { width: 750px; }
  #dynatree_container_id_equiptype { height: auto; }
  #id_place { height: 80px; }
  #id_descr { height: 160px; }
</style>
{% endblock %}



{% block title %}Информация о научном оборудовании{% endblock %}

{% block content %}

{% include "equipment/edit_menu.html" with section="staff" %}

<fieldset>
  <legend> Сотрудник </legend>

  <form class="personal" method="post" action=".">{% csrf_token %}
    {% show_form form %}
    <input type="submit" name="save" value="Сохранить"/>
  </form>
</fieldset>


{% if equipment.staff.all %}
Список зарегистрированных ответственных за данное оборудование:
<ul>
  {% for p in equipment.staff.all %}
  <li>
    <a href="{% url equipment_unlink_staff equipment.id p.id %}" onclick="return confirm('Вы уверены, что хотите удалить данную запись?')"><img src="http://images.all-free-download.com/images/graphiclarge/round_red_close_button_5095.jpg" width="20" height="20"/></a>
    <b>{{p.role}}</b>,
    {% if p.worker %}
    <a href="/workers/{{p.worker.id}}/">{{p.worker}}</a>,
    {% else %}    
    {{p.lastname}} {{p.firstname}} {{p.middlename}},
    {% endif %}
    {% if p.phone %}тел. {{p.phone}}{% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
