{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load i18n myforms %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/dynatree/jquery.dynatree.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/dynatree_widgets.js"></script>
<script type="text/javascript">
$(document).ready(function() {
   $('#id_worker').change(function() {
      var worker = document.getElementById('#id_worker');
      if( $('#id_worker').val() != '' ) {
      }
   });
});
</script>
{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dynatree/ui.dynatree.css" type="text/css" media="all" charset="utf-8" />

<style type="text/css">
  .dynatree_container { height: 400px; overflow: auto; }

  #id_place, #id_descr, #id_schedule, #id_techdata, #id_fullname, #id_shortname, #id_regnumber, #id_number { width: 650px; }
  #dynatree_container_id_department, #dynatree_container_id_equiptype { width: 750px; }
  #dynatree_container_id_equiptype { height: auto; }
  #id_place { height: 80px; }
  #id_descr { height: 160px; }
</style>
{% endblock %}



{% block title %}Информация о научном оборудовании{% endblock %}

{% block content %}

{% include "equipment/edit_menu.html" with section="classifiers" %}

<fieldset>
  <legend> Дополнительные классификаторы </legend>

  <form class="personal" method="post" action=".">{% csrf_token %}
    {% show_form form %}
    <input type="submit" name="save" value="Сохранить"/>
  </form>
</fieldset>


{% endblock %}
