{% if equipment %}
<h2><a href="{% url equipment_card equipment.id %}" title="Перейти к карточке">{{equipment.fullname}}</a></h2>
{% else %}
   {% if is_complex == 'yes' %}
     <h2>Введите данные о новом комплексе научного оборудования</h2>
     Пожалуйста, заполните эту форму и нажмите кнопку
     "сохранить". После этого для редактирования станут доступны
     другие вкладки на этой странице. <br/>
   {% else %}
      <h2>Введите данные о новом приборе {% if parentComplex %} в составе {{parentComplex.fullname}} {% endif %}</h2>
   {% endif %}
{% endif %}

{% if equipment and not equipment.is_signed %}
<form action="/equipment/delete/{{equipment.id}}/" method="POST">{% csrf_token %}
  <input type="submit"
         value="Удалить всю информацию о данном оборудовании"
         onclick="return confirm('Вы действительно хотите удалить данную запись?')"/>
</form>
{% elif equipment %}
<h2>Информация об оборудовании подтверждена, для удаления всей информации обратитесь к ответственному по оборудованию в вашем подразделении.</h2>
{% endif %}
<br/>

{% if equipment %}
<ul class="tabrow">
  <li {% ifequal section "main" %}class="selected"{% endifequal %}><a href="{% url equipment_edit equipment.id %}">Основные сведения</a></li>
  <li {% ifequal section "techdata" %}class="selected"{% endifequal %}><a href="{% url equipment_edit_techdata equipment.id %}">Характеристики</a></li>
  {% if equipment.is_complex %}
  <li {% ifequal section "parts" %}class="selected"{% endifequal %}><a href="{% url equipment_edit_parts equipment.id %}">Список оборудования</a></li>
  {% endif %}
  <li {% ifequal section "classifiers" %}class="selected"{% endifequal %}><a href="{% url equipment_edit_classifiers equipment.id %}">Классификаторы</a></li>
  <li {% ifequal section "staff" %}class="selected"{% endifequal %}><a href="{% url equipment_edit_staff equipment.id %}">Ответственные</a></li>
  <li {% ifequal section "docs" %}class="selected"{% endifequal %}><a href="{% url equipment_edit_docs equipment.id %}">Прикрепленные файлы</a></li>
  {% if equipment.is_complex %}
  <li {% ifequal section "results" %}class="selected"{% endifequal %}><a href="{% url equipment_edit_results equipment.id %}">Публикации</a></li>
  {% endif %}
</ul>
{% else %}
<ul class="tabrow">
  <li {% ifequal section "main" %}class="selected"{% endifequal %}>Основные сведения</li>
  <li title="Пожалуйста, введите основные сведения">Характеристики</li>
  {% ifequal is_complex "yes" %}
  <li title="Пожалуйста, введите основные сведения">Список оборудования</li>
  {% endifequal %}
  <li title="Пожалуйста, введите основные сведения">Классификаторы</li>
  <li title="Пожалуйста, введите основные сведения">Ответственные</li>
  <li title="Пожалуйста, введите основные сведения">Прикрепленные файлы</li>
  {% ifequal is_complex "yes" %}
  <li title="Пожалуйста, введите основные сведения">Публикации</li>
  {% endifequal %}
</ul>
{% endif %}
