{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load i18n myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<style type="text/css">
  .dynatree_container { height: 400px; overflow: auto; }

  // #id_annotation { cols: 70; }
  #id_name, #id_annotation { width: 650px; }
  #id_annotation { height: 120px; }
  #id_docfile { width: 500px; }
</style>
{% endblock %}



{% block title %}Информация о научном оборудовании{% endblock %}

{% block content %}

{% include "equipment/edit_menu.html" with section="docs" %}

<fieldset>
  <legend> Документы </legend>

  <form class="personal" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
    {% show_form form %}
    <input type="submit" name="save" value="Сохранить"/>
  </form>
</fieldset>


Список прикрепленных документов:
<ul>
  {% for doc in equipment.docs.all %}
  <li>
    <a class="inner" href="{% url equipment_remove_doc equipment.id doc.id %}">Удалить</a>
    {{doc.doctype.name}}: <a href="{% if doc.is_image %}{% url equipment_doc equipment.id doc.id %}{% else %}{{doc.get_absolute_url}}{% endif %}" title="{{doc.annotation}}"><strong>{{ doc.name }}</strong></a>
    <br/><p style="margin-left: 4em">{{doc.annotation}}</p>
  </li>
  {% empty %}
  <li>нет</li>
  {% endfor %}
</ul>

{% endblock %}
