{% extends "base.html" %}

{% block title %}{{doc.name}} — {{equipment.fullname}}{% endblock %}

{% block content %}
<h2>{{doc.doctype.name}}:
  <a href="{{doc.get_absolute_url}}">{{doc.name}}</a>
  (<a href="/equipment/card/{{equipment.id}}/">{{equipment.fullname}}</a>)
</h2>

<div style="text-align: center">{{doc.annotation}}
<br><a href="{{doc.get_absolute_url}}"></a></div>

<div style="margin:0">
  <a href="{{doc.get_absolute_url}}">
  <img style="max-width: 100%; max-height: 100%"
    src="{{doc.get_absolute_url}}"
    alt="{{doc.annotation}}"/>
  </a>
</div>
{% endblock %}
