
<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}

{% block title %}Информация о научном оборудовании МГУ{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}equipment/js/equipment.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
   $('#tblEquipment').dataTable({
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ записей на странице",
            "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
            "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": "Показаны строки с 0 по 0 из 0",
            "sInfoFiltered": "(отобрано по условию из _MAX_ записей)",
            "oPaginate": {
                "sFirst": "Начало&nbsp;",
                "sLast": "&nbsp;Конец",
                "sNext": "&nbsp;&nbsp;Следующая&nbsp;&nbsp;",
                "sPrevious": "&nbsp;&nbsp;Предыдущая&nbsp;&nbsp;"
            },
            "sSearch": "Поиск (по всем полям):"
        },
        "sPaginationType": "full_numbers",
        "iFullNumbersShowPages": 10,
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Все"]],
        "iDisplayLength": 25
   });
} );
</script>
{% endblock %}

{% block extracss %}
<style type="text/css">
  .complex { font-weight: bold; }
</style>
{% endblock %}


{% block content %}
<h3>Данные по подразделениям</h3>
{% for department in departments_responsible %}
<h4>{{department.name}}</h4>
<ul>
<li><a href="{% url equipment_department_report department.id %}">Отчёт по заполнению данных</a></li>
<li><a href="{% url equipment_department_citations department.id %}">Отчёт по цитированию публикаций</a></li>
</ul>
{% endfor %}

{% if is_admin %}
<form action="{% url equipment_types organization_id %}">
  <input type="submit" value="Редактирование типов оборудования"/>
</form>

<br/>
<a href="{% url equipment_monitoring_report organization_id %}">Отчёт по заполнению данных об использовании научного оборудования</a>
{% endif %}

<table>
  <tr>
    <td>
      <form action="/equipment/add/" method="post">{% csrf_token %}
        <input type="submit" name="add_complex" value="Добавить новый комплекс"/>
      </form>
    </td>
{% comment %}
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <form action="/equipment/add/" method="post">{% csrf_token %}
        <input type="submit" name="add_device" value="Добавить новый прибор"/>
      </form>
    </td>
{% endcomment %}
  </tr>
</table>

<br/>
<br/>

<h2>Список научного оборудования</h2> Названия комплексов научного
оборудования (или приборов, которые не входят в состав комплексов)
выделены жирным шрифтом. Обычным шрифтом отображаются названия
приборов, которые относятся к предыдущему комплексу.

<table {% if total > 10 %}id="tblEquipment"{% endif %}>
  <thead>
    <tr>
      <th>Тип</th>
      <th>Краткое имя</th>
      <th>Название <b>комплекса</b>/прибора</th>
      <th>Подразделение</th>
    </tr>
  </thead>
  <tbody>
    {% for e in equipment %}
    <tr>
      <td>{{e.equiptype_name}}</td>
      <td>{{e.shortname}}</td>
      <td {% if e.is_complex %}class="complex"{% endif %}><a href="/equipment/card/{{e.id}}/">{{e.fullname}}<a></td>
      <td>{{e.department_name}}</td>
    </tr>
    {% empty %}
    <tr><td colspan="3">Записей нет</td></tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
