{# # -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Информация о научном оборудовании МГУ{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
{% endblock %}


{% block content %}

<h2>Мониторинг показателей эффективности использования устройств</h2>

<form action="." method="POST">{% csrf_token %}
  {% show_form form %}
  <input type="submit" name="add_device" value="Построить отчёт"/>
</form>

{% endblock %}
