
{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block title %}Информация о научном оборудовании МГУ{% endblock %}

{% block content %}

<h2>Ответственные за оборудование по подразделениям</h2>


<a href="{% url eqipment_responsible organization_id %}">Вернуться к списку ответственных</a> <br/>

<h3>Рассылка по по ответственным за оборудование</h3>
<form>
  <fieldset>
  </fieldset>
</form>


{% endblock %}

{% block extrajs %}
{% endblock %}
