
{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block title %}Информация о научном оборудовании МГУ{% endblock %}

{% block content %}

<h2>Ответственные за оборудование по подразделениям</h2>


<a href="/equipment">Закончить редактирование</a> <br/>
<a href="{% url equipment_responsible_email organization_id %}">Отправить письмо всем ответственным за оборудование</a><br/>
<br/>
<a href="{% url equipment_responsible_add organization_id %}">Добавить ответственного за оборудование</a>

<table>
  <tr>
    <td>№ п/п</td>
    <td>ФИО</td>
    <td>Подразделение</td>
  </tr>

  {% for r in responsible %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{% url workers_worker_detail r.worker_id %}">{{ r.last_name }} {{ r.first_name }} {{ r.middle_name }}</td>
    <td><a href="{% url department_detail r.department_id %}">{{ r.department_name }}</a></td>
    <td><a href="#">Удалить</a></td>
  </tr>
  {% endfor %}
</table>


{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
   $('#id_worker').change(function() {
      var worker = document.getElementById('#id_worker');
      if( $('#id_worker').val() != '' ) {
      }
   });
});
</script>
{% endblock %}
