
{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dynatree/ui.dynatree.css" type="text/css" id="skinSheet"/>
<style type="text/css">
  .dynatree_container { height: 400px; overflow: auto; }

  #id_place, #id_descr, #id_schedule, #id_techdata, #id_fullname, #id_shortname, #id_regnumber, #id_number { width: 650px; }
  #dynatree_container_id_department, #dynatree_container_id_equiptype { width: 750px; }
  #id_place { height: 80px; }
  #id_descr { height: 160px; }
</style>
{% endblock %}

{% block title %}Информация о научном оборудовании МГУ{% endblock %}

{% block content %}

<h2>Ответственные за оборудование по подразделениям</h2>


<a href="{% url equipment_responsible organization_id %}">Вернуться к списку ответственных</a> <br/>

<fieldset>
  <legend> Добавить ответственного за оборудование </legend>
  <form method="post" action="{% url equipment_responsible_add organization_id %}">{% csrf_token %}
    <div class="form">
      <table>
      {% for field in responsible_form %}
      <tr>
        <td> {{ field.label_tag }} </td>
        <td>
          <div class="field {% if field.errors %}error{%endif%}">
            {{ field.errors }}
            {{ field }}
          </div>
        </td>
      </tr>
      {% endfor %}
      </table>
    </div>
    <table>
      <tr>
        <td> <input type="submit" name="save" value="Сохранить"/> </td>
        <td> <input type="submit" name="cancel" value="Отменить"/> </td>
      </tr>
    </table>
  </form>
</fieldset>

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree_widgets.js" type="text/javascript"></script>
{% endblock %}
