<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}
{% load role_permissions paging_extras %}

{% block title %}Информация о научном оборудовании МГУ{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}equipment/js/equipment.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>
<script>
   function generate_pubs_autocomplete_options(source){
        return {
            minLength: 0,
            source: function(request, response){
                $.getJSON(source,
                          {
                            term: extractLast(request.term)
                          },
                          response);
            },
            search: function(){
                // custom minLength
                var term = extractLast(this.value);
                if (term.length < 5) {
                    return false;
                }
            },
            focus: function(){
                return false
            },
            select: function(event, ui){
                $.find('#p_id')[0].value = ui.item.value.id;
                $.find('#p_type')[0].value = ui.item.value.type;
                this.value = ui.item.value.citation;

                // $(this).closest('div .form').find('.p_activity_id')[0].value = ui.item.value.id;
                // $(this).closest('div .form').find('.p_activity_type')[0].value = ui.item.value.type;
                return false;
            }
        }
    }
</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}equipment/css/icons.css"/>
<link rel="stylesheet" type="text/css"
href="{{STATIC_URL}}base/css/pagination.css"/>
<style>
table.activities tr:nth-child(even) {
  background-color: #f2f7fd;
}

table.activities tr:hover {
  background-color: #f9f2e5;
}
</style>
{% endblock %}


{% block content %}

{% if has_menu %}
  {% include "equipment/edit_menu.html"  with section="results" %}
{% else %}
<h3><a href="/equipment/card/{{equipment.id}}/">{{equipment.fullname}}</a></h3>
<h4> Результаты научных исследований</h4>
{% endif %}

{% if to_sign %}
<h5>Неподтверждённые результаты</h5>
<table class="activities">
{% for a in to_sign %}
  {% include "equipment/activity_row_snippet.html" with activity=a order=forloop.counter %}
{% endfor %}
</table>

<h5>Подтверждённые результаты</h5>
{% endif %}

{% paginate signed_activities from request as activities per_page 25 %}

{{ activities.paging }}
<table class="activities">
{% for a in activities.objects %}
  {% include "equipment/activity_row_snippet.html" with activity=a %}
{% endfor %}
</table>
{{ activities.paging }}

<br/>

<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Сохранить"/>

</form>


{% endblock %}
