
{% extends "base.html" %}

{% block extracss %}
<style type="text/css">
.editable_buttons {
  display: none;
}
.editing .editable_link {
  display: none;
}
.editing .editable_buttons {
  display: block;
}
.editable_buttons .error_message {
  display: none;
}

.error .editable_buttons .error_message {
  display: block;
}
</style>
{% endblock %}

{% block title %}Информация о научном оборудовании МГУ{% endblock %}

{% block content %}

<h2>Роли ответственных за оборудование</h2>

<a href="/equipment">Закончить редактирование</a>

<form method="post" action=".">
  {% csrf_token %}
  <table class="staff">
    {% for t in staff_types %}
    <tr>
      <td> {{ forloop.counter }} </td>
      <td> <div data-id="{{t.id}}" class="editable">{{ t.name }}</div></td>
      {% if is_admin %}
      <td>
        <a href="#" class="editable_link">Изменить</a>
        <div class="editable_buttons">
          <a href="#" class="submit">Сохранить</a>
          <a href="#" class="reset">Отменить</a>
          <div class="error-message"></div>
        </div>
      </td>
      {% endif %}
    </tr>
    {% empty %}
    <tr><td colspan=3>Роли ответственных за оборудование не заданы</td></tr>
    {% endfor %}
    <tr>
      <td></td>
      <td><input type="text" name="name" /></td>
      <td><input type="submit" value="Добавить" /><td>
    </tr>
  </table>
</form>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{STATIC_URL}}base/js/jquery.jeditable.js">
</script>

<script type="text/javascript">
(function() {
  $(document).ready(function() {
    function resetEditable() {
      var row = $('.staff').find('.editing');
      row.removeClass('error');
      row.find('.editable').each(function(i, e) {
        e.reset();
      });
      row.find('.editable').editable('destroy');
      row.find('.submit').unbind('click');
      row.find('.reset').unbind('click');
      row.removeClass('editing');
    }

    function onError(settings, original, xhr) {
      var row = $(this).parents('tr').first();
      row.find('.error-message').text(xhr.responseText);
      row.addClass('error');
      //original.reset(this);
    }

    $('.editable_link').click(function() {
      // remove previous editable
      resetEditable();
      var row = $(this).parents('tr').first()
      var name = row.find('.editable').first();
      // TODO: onerror
      name.editable(name.data('id') + '/', {
        name: 'name',
        callback: resetEditable,
        cssclass: 'form',
        submitdata: { csrfmiddlewaretoken: "{{ csrf_token }}" },
        ajaxoptions: { headers: { accept: "text/plain" } },
        onblur: function() {  },
        onerror: onError
      }).click();
      row.addClass('editing');

      row.find('.submit').click(function() {
        name.find('form').submit();
      })

      row.find('.reset').click(function() {
        resetEditable();
      })
    })

  })
})()
</script>
{% endblock %}
