<style type="text/css">
.dataTables_wrapper {
    clear: both;
    position: relative;
}
.dataTables_processing {
    background-color: white;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 250px;
}

.dataTables_filter {
    float: right;
    text-align: right;
    width: 50%;
}
.dataTables_info {
    float: left;
    width: 30%;
}

.top .dataTables_info {
    float: none;
    width: 30%;
}


table.display {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
table.display thead th {
    border-bottom: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 18px 3px 10px;
}

.sorting_asc {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc.png") no-repeat scroll right center
    transparent;
}
.sorting_desc {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc.png") no-repeat scroll right center
    transparent;
}
.sorting {
    background: url("http://datatables.net/release-datatables/media/images/sort_both.png") no-repeat scroll right center
    transparent;
}
.sorting_asc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_asc_disabled.png") no-repeat scroll right
    center transparent;
}
.sorting_desc_disabled {
    background: url("http://datatables.net/release-datatables/media/images/sort_desc_disabled.png") no-repeat scroll right
    center transparent;
}
</style>
