ul.object_detail li p {
	font-size: 0.75em;
	margin-bottom: 0.5em;
}

table#attachments th.description,
table#attachments td.description,
table#attachments th.filename,
table#attachments td.filename,
table#attachments th.creator,
table#attachments td.creator {
	display: none;
}

td.rowspan {
	vertical-align: baseline;
}