{% extends "base.html" %}
{% block title %}Усредненные показатели для формулы{% endblock %}

{% block content %}

<h3>Усредненные по должностям значения расчёта по формуле "{{ formula.title }}" с диапазоном дат {{start_year}}-{{end_year}}</h3>
<h4>Подразделение: {{ department.name }}</h4>

<table>
  <thead>
    <tr>
      <td>Должность</td>
      <td>Число сотрудников</td>
      <td>Среднее значение</td>
      <td>Лучшие 25%</td>
      <td>Медиана</td>
      <td>Четверть</td>
    </tr>
  </thead>

  <tbody>
    {% if averages %}
    {% for row in averages %}
    <tr>
      <td>{{ row.postname }}</td>
      <td>{{ row.countmen }}</td>
      <td>{{ row.avg }}</td>
      <td>{{ row.p75 }}</td>
      <td>{{ row.median }}</td>
      <td>{{ row.p25 }}</td>
    </tr>
    {% endfor %}
    {% else %}
      <tr>
        <td colspan="6" align="center">Формула расчета пустая.</td> 
      </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
