{% extends "base.html" %}
{% block title %}Редактор категорий{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dialogs.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}pmodel/css/main.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/xhr_cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/database.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/util.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/dialogs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/translate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/translation_ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/categories_editor.js"></script>
{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
  $(document).ready(loadCategoriesList);
</script>
{% endblock %}

{% block content %}

<div id="table_wrapper" class="root_object">
<table id="entries_table">
<tbody></tbody>
</table>
</div>

{% endblock %}
