{% extends "base.html" %}
{% load myforms %}
{% block title %}Выбор формулы для выполнения{% endblock %}

{% block content %}

<h3>Список доступных формул</h3>

{% if depdata %}
Для {{ department }} доступны перечисленные ниже формулы расчёта баллов. Для применения формулы нажмите на ссылку "выполнить".
<hr class="space"/>

{% if can_view_ratings %}
<strong>У Вас есть права</strong> на просмотр сводных данных
персональных рейтингов сотрудников этого подразделения. Для этого,
пожалуйста, нажмите на название формулы.
{% endif %}
<hr class="space"/>

<table>
  <thead>
    <tr>
      <th>Название формулы</th>
      <th>Даты</th>
      <th>Опубликована</th>
      <th></th>
  </thead>
  <tbody>
    {% for p in depdata %}
    <tr>
      <td>
         {% if can_view_ratings %}
            <a href="{% url pmodel.runformula p.formula.pk %}" title="Выполнить" target="_blank"> {{ p.formula.title }} </a>
         {% else %}
            <a href="{% url pmodel.viewformula p.formula.pk %}" title="Просмотреть формулу" target="_blank"> {{ p.formula.title }} </a>
         {% endif %}
      </td>
      <td> {{ p.formula.begin }} - {{ p.formula.end }} </td>
      <td> {{ p.creationdate }} для {{ p.department }} </td>
      <td> <a href="{% url pmodel.personal_report p.formula.pk worker.id %}" title="Выполнить" target="_blank"> Выполнить </a> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>
  Для <b>{{ department }}</b> пока еще нет доступных
  формул.
</p>
{% endif %}

{% endblock %}
