{% extends "base.html" %}
{% load myforms %}
{% block title %}{{ journal_list.name }}{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
  function browserSupportsDateInput() {
    /* Check if browser can validate date inputs: http://stackoverflow.com/a/19274539 */
    var input = document.createElement('input');
    var notADateValue = 'not-a-date';
    input.setAttribute('type', 'date');
    input.setAttribute('value', notADateValue);
    return input.value !== notADateValue;
  }

  $(document).ready(function() {
    if (!browserSupportsDateInput()) {
      $("#date_begin").datepicker({dateFormat: "yy-mm-dd"});
      $("#date_end").datepicker({dateFormat: "yy-mm-dd"});
    }
  });
</script>
{% endblock %}

{% block content %}
<p><a href="{% url pmodel.journallists_index %}">← Все списки журналов</a></p>

<h2>{{ journal_list.name }} <small>({{ journal_list.department.name }})</small></h4>

<table>
  <thead>
    <tr>
      <th>Журнал</th>
      <th>Добавлен</th>
      <th>Период</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td class="item_journal">
        <a href="{% url journals_detail item.journal.id %}">{{ item.journal.name }}</a>
      </td>
      <td class="item_added">
        {{ item.creationdate }} пользователем
        <a href="/profile/{{ item.createdby.username }}/">{{ item.createdby.get_profile.fullname }}</a>
      </td>
      <td class="item_period">
        {% if item.begin %}с {{ item.begin }}{% endif %}
        {% if item.end %}по {{ item.end }}{% endif %}
      </td>
      <td class="item_actions">
        <a href="{% url pmodel.delete_journallist_item journal_list.id item.id %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Добавить журнал</h3>
<form action="{% url pmodel.add_journallist_item journal_list.id %}" method="POST">
  {% csrf_token %}
  {% show_form form %}
  С даты: <input type="date" id="date_begin" name="date_begin" style="width: 200px;" />
  По дату: <input type="date" id="date_end" name="date_end" style="width: 200px;" />
  <input type="submit" value="Добавить" />
</form>
{% endblock %}
