{% extends "base.html" %}
{% load compress %}

{% block title %}{{ formula.title }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dialogs.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}pmodel/css/main.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/xhr_cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/database.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/util.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/dialogs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/translate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/translation_ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/modifiers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/interface.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}base/js/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/histogram.js"></script>
{% endcompress %}
{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
  $(document).ready(function() {
    {% if not show_extstudywork %}
    /* Temporary hack */
    database.category_groups.splice(2, 1);
    {% endif %}

    initialize();
  });
</script>



{% endblock %}

{% block content %}
<div class="pmodel_container root_object">
<form action="/pmodel/run/{{ formula.id }}/" method="post">{% csrf_token %}
<p><a href="/pmodel/" id="back_link">← Вернуться к списку</a>
 | <input id="title_input" />
 | Диапазон дат:
<select id="startyear" name="start_year"></select> – 
<select id="endyear" name="end_year"></select>
 | <input type="submit" value="Выполнить">
</p>
</form>
<table id="categories_table">
<col width="31%">
<col width="31%">
<col width="22%">
<col width="5%">
<col width="11%">
<tbody></tbody>
</table>
<div id="buttons_row">
  <button onclick="save()" id="save_button">Сохранить</button>
  <button onclick="submit()" id="submit_button">Показать гистограмму…</button>
</div>
<br/>
<div id="histogram_area" style="display: none;">
  <span>Для «приближения» нажмите на синий столбец, для возврата — на белый фон в области гистограммы.</span>
  <div id="histogram_placeholder"></div>
  <div id="positions_placeholder"></div>
</div>
</div>

{% endblock %}
