{% extends "base.html" %}
{% block title %}Формулы расчёта персонального рейтинга{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dialogs.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/dialogs.js"></script>
{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
  function deleteFormula(formulaId) {
    showDialog('Удалить эту формулу?', function() {
      window.open('/pmodel/delete/' + formulaId + '/', '_self');
    });
  }
</script>
{% endblock %}

{% block content %}

<div class="root_object">
<p>
<a href="/help/pmodel/formula/">Краткое описание</a> редактора формул расчета баллов.
</p>
<p>
На данный момент <b>работают следующие категории</b>: статьи, статьи
международные/ВАК/Top25 (количество, ISI, РИНЦ, разделить на число
соавторов), монографии, патенты, свидетельства о регистрации
программного обеспечения, диссертации, монографии, учебники, учебные
пособия, стажировки, НИР-руководитель/исполнитель (количество,
финансирование, деление на число исполнителей), учебная нагрузка,
участие в конференциях (доклады).
</p>

<p>
<b>Расчет производится по всем несовместителям за выбранные годы.</b>
</p>

<p>
Теперь Вы можете учитывать в формуле только журналы из <b>определённого
Вашим подразделением списка</b>.
<br/>
<a href="{% url pmodel.journallists_index %}">
<b>Перейти к созданию или редактированию списков журналов</b></a>.
</p>

<p>
Для просмотра страницы, доступной обычному пользователю системы (не
ответственному), пожалуйста, перейдите <a href="/pmodel/apply/">по
ссылке.</a>
</p>

Предложения и пожелания, пожалуйста, присылайте на адрес <a href="mailto:serg@msu.ru">serg@msu.ru</a>.
<br/>
<br/>

<a href="/sqlreports/createreport/dedup_journals">Информация о журналах</a>
<br/>
<br/>

<table id="entries_table">
<thead>
  <tr>
    <th>Название</th>
    <th>Опубликована</th>
    <th>Создана</th>
    <th>Изменена</th>
    <th>Действия</th>
  </tr>
</thead>
<tbody>
{% for formula in formulas %}
  <tr>
    <td class="formula_title">
      {% if formula.createdby == request.user %}
      <a href="{% url pmodel.editformula formula.id %}">
      {% else %}
      <a href="{% url pmodel.viewformula formula.id %}">
      {% endif %}
        {% if formula.title %}{{ formula.title }}{% else %}(без названия){% endif %}
        {% if formula.begin and formula.end %}
        ({{ formula.begin }}–{{ formula.end }})
        {% endif %}
      </a>
    </td>
    <td class="formula_published">
      {% with main_deps=formula.main_departments %}
      {% for department, full in main_deps %}
      <a href="{% url department_detail department.id %}">
        <span style="{% if not full %}font-style: italic;{% endif %}">{{ department.name }}</span></a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% if main_deps %}
      | <a href="{% url pmodel.manage_departments formula.id %}">Редактировать</a>
      {% endif %}
      {% endwith %}
    </td>
    <td class="formula_created">
      {{ formula.creationdate }} пользователем
      <a href="/profile/{{ formula.createdby.username }}/">{{ formula.createdby.get_profile.fullname }}</a>
    </td>
    <td class="formula_modified">
      {{ formula.modificationdate }}
    </td>
    <td class="formula_actions">
      <a href="{% url pmodel.copy formula.id %}">Скопировать</a>
    | <a href="{% url pmodel.runformula formula.id %}">Выполнить</a>
    {% if formula.createdby == request.user %}
    | <a onclick="deleteFormula({{ formula.id }})">Удалить</a>
    | <a href="{% url pmodel.publish formula.id %}">Опубликовать</a>
    {% endif %}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<h3>Создать новую формулу</h3>
<form action="{% url pmodel.addformula %}" method="POST">
  {% csrf_token %}
  <input name="title" placeholder="Название новой формулы" required />
  <input type="submit" value="Создать" />
</form>
</div>

{% endblock %}

