{% extends "base.html" %}
{% load myforms %}
{% block title %}Списки журналов{% endblock %}

{% block content %}
<p><a href="{% url pmodel.index %}">← Назад к списку формул</a></p>

<h2>Списки журналов</h2>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Подразделение</th>
      <th>Создан</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for jl in journal_lists %}
    <tr>
      <td class="jl_description">
        <a href="{% url pmodel.edit_journallist jl.id %}">{{ jl.name }}</a>
      </td>
      <td class="jl_organization">
        <a href="{% url organization_detail jl.organization.id %}">{{ jl.organization.name }}</a>,
        <a href="{% url department_detail jl.department.id %}">{{ jl.department.name }}</a>
      </td>
      <td class="jl_created">
        {{ jl.creationdate }} пользователем
        <a href="/profile/{{ jl.createdby.username }}/">{{ jl.createdby.get_profile.fullname }}</a>
      </td>
      <td class="jl_actions">
        <a href="{% url pmodel.delete_journallist jl.id %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if available_departments %}
<h3>Создать список журналов</h3>
<form action="{% url pmodel.create_journallist %}" method="POST">
  {% csrf_token %}
  Выберите подразделение:
  <select name="organization" style="display: none;">
    <option value="{{ organization_msu.id }}" selected="yes">{{ organization_msu.name }}</option>
  </select>
  <select name="department">
    {% for department in available_departments %}
    <option value="{{ department.id }}">{{ department.name }}</option>
    {% endfor %}
  </select>
  <br/>
  <input name="name" placeholder="Название нового списка журналов" required />
  <input type="submit" value="Создать" />
</form>
{% endif %}
{% endblock %}
