{% extends "base.html" %}
{% load myforms %}
{% block title %}Публикация формулы{% endblock %}

{% block content %}

<p><a href="/pmodel/">← Вернуться к списку</a></p>
<h3>Публикация формулы «{{ formula.title }}»</h3>

<p>Данная формула доступна для сотрудников следующих подразделений:</p>

<table>
  <thead>
    <tr>
      <th>Подразделение</th>
      <th>Опубликована</th>
      <th>Для всех?</th>
      <th>Дата публикации</th>
      <th></th>
  </thead>
  <tbody>
    {% for p in depdata %}
    <tr>
      <td> {{ p.department }} </td>
      <td> {{ p.createdby }} </td>
      <td> {% if p.for_admins = 1 %} <font color="red">для ответственных</font> {% else %} <font color="green">ДА</font> {% endif %} </td>
      <td> {{ p.creationdate }} </td>
      <td>
        {% if can_unpublish %}
          <a href="{% url pmodel.unpublish p.formula.pk p.id %}"><img src="{{STATIC_URL}}base/img/decline-16.png" title="Удалить"/></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
