{% extends "base.html" %}
{% block title %}{{ worker }}: Персональный рейтинг{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery.stickytableheaders.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/util.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/translate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/translation_ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/modifiers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}pmodel/js/personal_report.js"></script>
{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#report_table").stickyTableHeaders();
    initializeToolTips();
    $(".group_placeholder").each(function(index, span) {
      span.textContent = translateToken(span.textContent);
    });
  });
</script>
{% endblock %}


{% block inlinecss %}
<style>
  .section_header {
  background: #D0D0D0;
  }

  .report_header {
    background: #FFFFFF;
    padding-bottom: 1em;
  }

  .formula_action_link {
    border: 1px solid rgba(170, 170, 170, 0.3);
    background-color: rgba(222, 222, 222, 0.3);
    padding: 0 3px 1px 3px;
    border-radius: 3px;
  }
</style>
{% endblock %}

{% block content %}

<h3>Результаты расчёта по формуле «{{ formula.title }}» с диапазоном дат {{start_year}}–{{end_year}}
<small>
<a href="{% url pmodel.formulas_for_requester %}" class="formula_action_link">изменить</a>&nbsp<a href="{{ formula.get_absolute_url }}" class="formula_action_link">просмотреть&nbsp;формулу</a>
</small>
</h3>

{# <h4>Подразделение: {{ worker_department }}</h4> #}
<h4>
  <a href="{% url workers_worker_detail worker.id %}">{{worker}}</a>, общая сумма баллов: <strong>{{ total_points }}</strong><br/>
  <small>
    Данные Вашего персонального рейтинга, включая общую сумму баллов, доступны только Вам и ответственным по кафедре, факультету и университету.
    <br/>
    Дополнительная информация о <b>"Персональном рейтинге научного сотрудника"</b> и пороговые значения <a href="http://www.msu.ru/science/reyting/" target="_blank"> размещены на сайте МГУ</a>
    {# <a href="/pmodel/run/average/{{ formula.id }}/{{ worker_department.id }}/?start_year={{ start_year }}&end_year={{ end_year }}" target="_blank">просмотреть средние значения</a> #}
    {# <a href="/pmodel/run/average/{{ formula.id }}/{{ worker_top_department.id }}/?start_year={{ start_year }}&end_year={{ end_year }}" target="_blank">просмотреть средние значения</a> #}
  </small>
</h4>

{% if changes %}
Формула Вашего подразделения предусматривает ограничения суммарного числа баллов за некоторые группы работ.<br />
<strong>Были применены следующие ограничения:</strong>

<ul>
{% for name, orig, new in changes %}
  <li>Группа «<span class="group_placeholder">{{ name }}</span>»: изменено с {{ orig }} на {{ new }}</li>
{% endfor %}
</ul>
{% endif %}

<a href="{% url pmodel.personal_report_improvements %}">Что и как можно исправить, чтобы повысить значение рейтинга?</a>
<br/>
<a href="{% url pmodel.personal_pdf formula.id worker.id start_year end_year %}">Версия для печати (PDF)</a>
<hr class="space"/>

<table id="report_table">
  <thead class="report_header">
    <tr>
      <td>Название работы</td>
      <td>Тип&nbsp;<a title="Дополнительное деление работы по типам. Например, типами дипломной работы являются 'бакалавр', 'специалист' и 'магистр'. Поле носит информативный характер.">[?]</a></td>
      <td>Вес&nbsp;<a title="Весовой коэффициент для работ данного типа. Количество баллов, которое приписывается работе, есть произведение ВЕСА на МНОЖИТЕЛЬ (возможно, с ограничением значений, если это указано в формуле расчета Вашего подразделения).">[?]</a></td>
      <td>Множитель&nbsp;<a title="Значение, рассчитанное в соответствии с формулой, с учетом деления на число авторов. Для статей не всегда совпадает с импакт фактором журнала.">[?]</a></td>
      <td>Авторов&nbsp;<a title="Количество соавторов работы. В формуле расчета баллов может не учитываться. Например, формула подразделения может не предполагать деления баллов за статью на число соавторов.">[?]</a></td>
      <td>Баллы&nbsp;<a title="Количество баллов, которое получилось для одного объекта (конкретной статьи, доклада, курса лекций и т.д.) и для всех объектов данного типа (указывается на сером фоне).">[?]</a></td>
    </tr>
  </thead>

  <tbody>
    {% for row in data %}
    {% if row.header_data %}
    <tr class="section_header" id="section_header_{{ row.header_data.line_number }}">
      <td colspan="5">{{ row.header_data.category_name }}</td>
      <td><strong>{{ row.header_data.total_points }}</strong></td>
    </tr>
    {% endif %}
    <tr>
      <td>{{ row.name }}</td>
      <td>{% if row.param_value %}{{ row.param_value }}{% else %}-{% endif %}</td>
      <td>{{ row.weight }}</td>
      <td>{{ row.points }}</td>
      <td>{{ row.nauthors }}</td>
      <td>{{ row.total_points }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
