{% extends "base.html" %}
{% load sign_url %}

{% block title %}Способы повышения персонального рейтинга{% endblock %}


{% block inlinejs %}
 <script>
$(function() {
$("#accordion" ).accordion({
      collapsible: true
   });
});
</script>
{% endblock %}

{% block content %}

 <h2>Способы повышения <a href="{% url pmodel.run_default_personal_report %}">персонального рейтинга</a></h2>
<p>
  На данной странице приведены общие рекомендации по исправлению
  данных, которые могут способствовать повышению точности расчета
  Вашего персонального рейтинга. В зависимости от особенностей формулы
  Вашего факультета или института изменения в большей или меньшей
  степени повлияют на значение рейтинга.
</p>

<p>
  <b>Внимание!</b> Внесенные в систему изменения отражаются в рейтинге
  с некоторой задержкой. Пожалуйста, обратите внимание на сообщение в
  верхней части страницы <a href="{% url pmodel.run_default_personal_report %}">персонального рейтинга</a>.
</p>

<div id="non_accordion">
  <h3>Статьи в журналах и сборниках, главы в коллективных монографиях</h3>
  <h4>Статьи в журналах</h4>
  <h4>Статьи в сборниках конференций</h4> 
  <p>
    Если у Вас опубликована статья в сборнике, который индексируется в
    Web of Science или Scopus (например, серия Lecture Notes in
    Computer Science издательства Springer), то у нее должен появиться
    значок "глобус". По правилам ВАК такие статьи приравниваются к
    журнальным публикациям. В формулах расчета подразделения, однако,
    может не быть специальной позиции для таких публикаций. В этом
    случае, пожалуйста, не пытайтесь переделать эту статью в "статью в
    журнале". Список журналов WoS/Scopus фиксирован и такое изменение
    не переведет статью в категорию "статьи в журналах
    WoS/Scopus". Журналов с названиями "Proceedings of ..." или
    "Lecture Note in ..." не существует. На наш взгляд, правильное
    решение состоит <b>в модификации формулы расчета</b>. Сейчас
    существует возможность корректного учета индексируемых статей в
    сборниках. Обратитесь, пожалуйста, к ответственному за
    формирование формулы (возможно, заместителю декана или директора).
  </p>


<h3>Доклады на конференциях</h3> 
<div>
<p>В формулах расчета, как правило, делается различие между
конференциями и типами докладов. Например, приглашенный доклад имеет
больший вес, чем стендовый, а доклад на международной конференции
может оцениваться выше, чем на всероссийской. По следующей ссылке
показывается список всех внесенных в систему докладов (выступлений) с
Вашим участием с возможностью исправления важных для расчета рейтинга
параметров.
<ul>
  <li><a href="{% sign_url "/sqlreports/createreport/edit_conf_presentations/" %}">Исправление данных о выступлениях на конференциях</a></li>
</ul>
</p>
</div>


<h3>Научные монографии</h3>
<div>
  <p>
    Если формула Вашего подразделения учитывает научные монографии,
    пожалуйста, убедитесь, что Ваша работа отмечена как "монография".
  </p>
  <ul>
    <li><a href="{% sign_url "/sqlreports/createreport/edit_books/" %}">Исправление выходных данных монографий и учебных пособий</a></li>
  </ul>
</div>

{% comment %}
<h3>Патенты и свидетельства о регистрации программного обеспечения</h3>
<div>
</div>
{% endcomment %}

</div> {# accordion container #}

{% endblock %}
