{% extends "base.html" %}
{% load myforms %}
{% block title %}Публикация формулы{% endblock %}

{% block extracss %}
  {{ publish_form.media.css }}
{% endblock %}

{% block inlinecss %}
<style>
.dynatree_container { max-height: 400px; overflow: auto; }
</style>
{% endblock %}

{% block extrajs %}
  {{ publish_form.media.js }}
{% endblock %}

{% block content %}

<small><a href="{% url pmodel.index %}">Вернуться к списку</a></small>
<h3>Публикация формулы "{{ formula.title }}"</h3>
<hr class="space"/>

<form action="." method="POST">{% csrf_token %}
  <input type="checkbox" name="publish_for_admins"/> Опубликовать только для ответственных?
  <hr class="space"/>
  {% show_form publish_form %}
  <hr class="space"/>
  <button type="submit">Опубликовать</button>
</form>

{% endblock %}
