{% extends "base.html" %}
{% block title %}Результаты сравнения по формуле{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}sqlreports/css/datatables.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}sqlreports/css/datatables.fixedColumns.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}sqlreports/css/datatables.fixedHeader.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables-1.10.4.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}sqlreports/js/dataTables.fixedColumns.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}sqlreports/js/dataTables.fixedHeader.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}sqlreports/js/dataTables.colReorder.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}pmodel/js/util.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}pmodel/js/translate.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}pmodel/js/translation_ru.js"></script>
{% endblock %}

{% block inlinejs %}
<script type="text/javascript" charset="utf-8" class="init">
$(document).ready(function() {
   var data_table_obj = $('#tblData').dataTable({
        "scrollX": "100%",
        "scrollCollapse": true,
        "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
   });

      new $.fn.DataTable.FixedColumns( data_table_obj, {
               leftColumns: 4
            }
          );

    {# --- Fixed header; not supported with scrolling --- #}
    {# new $.fn.dataTable.FixedHeader( data_table_obj ); #}

   {# --- Columns reordering plugin --- #}
   new $.fn.DataTable.ColReorder( data_table_obj );

   $('.pmodel_column_header').each(function(index, span) {
     span.title = translateQualifier(span.title);
   });
});
</script>
{% endblock %}


{% block content %}

<h3>Результаты расчета по формуле "{{ formula.title }}" с диапазоном дат {{start_year}}-{{end_year}}</h3>

<form action="." method="POST">{% csrf_token %}
  Даты работ: начало
  <select name="start_year">
    {% for year in years %}
      <option value="{{year}}" {% if year = start_year %} selected="yes" {% endif %}>{{year}}</option>
    {% endfor %}
  </select>

  окончание
  <select name="end_year">
    {% for year in years %}
      <option value="{{year}}" {% if year = end_year %} selected="yes" {% endif %}>{{year}}</option>
    {% endfor %}
  </select>

  &nbsp;&nbsp;Посчитать средние значения<input type="checkbox" name="show_average" value="show_average"/>
  <select name="parttimers">
    <option value="only_staff" selected="yes">Только основное место работы</option>
    <option value="include_parttimers">Включить совместителей</option>
    <option value="only_parttimers">Только совместители</option>
  </select>


  {% if departments %}
  <select name="dep">
    {% for d in departments %}
    <option value="{{ d.id }}" {% if d.id = default_depid %} selected="yes" {% endif %}>{{ d.name }}</option>
    {% endfor %}
  </select>
  {% endif %}

  <br/><input type="submit" value="Применить"/>
  &nbsp;&nbsp;<input type="submit" name="to_xls" value="Экспорт в Excel"/>
  &nbsp;&nbsp;<input type="submit" name="to_csv" value="Экспорт в CSV"/>
</form>

<br/>
<br/>

{% if not show_results_table %}
<h3>Пожалуйста, выберите подразделение, для которого Вы хотите применить данную формулу.</h3>
Экспорт в Excel производится в формате CSV:
<ul>
  <li> кодировка: Unicode (UTF-8);</li>
  <li> разделитель полей: точка с запятой; </li>
  <li> ограничитель текста (text delimiter): символ двойной кавычки.</li>
</ul>
{% else %}
<table id="tblData">
  <thead>
    <tr>
      {% for h in column_headers %}
      <td title="{{ h.tooltip }}" class="pmodel_column_header">
        {{ h.name }}
      </td>
      {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for row in data %}
    <tr>
      {% for item in row %}
      <td>
      {% if forloop.counter = 1 %}
        <a href="/workers/{{ item }}/" target="_blank">{{ item }}</a>
      {% elif forloop.counter = 2 %}
        <a href="/pmodel/run/{{ formula.id }}/{{ row.0 }}/{% if default_depid > 0 %}{{default_depid}}/{% endif %}?start_year={{ start_year }}&end_year={{ end_year }}" title="Показать персональный отчёт сотрудника" target="_blank">{{ item }}</a>
      {% elif forloop.counter = 3 or forloop.counter = 4 %}
        {# Подразделение или должность #}
        {{ item }}
      {% else %}
        {{ item|floatformat:"f" }}
      {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
