{% extends "base.html" %}
{% load myforms %}
{% block title %}Выбор формулы для выполнения{% endblock %}

{% block content %}

<h3>Список доступных формул</h3>

{% if depdata %}
Для Вашего подразделения(-ий) доступны перечисленные ниже формулы расчёта баллов. Для просмотра формулы щелкните на её название.
<hr class="space"/>
<table>
  <thead>
    <tr>
      <th>Название формулы</th>
      <th>Даты</th>
      <th>Опубликована</th>
      <th></th>
  </thead>
  <tbody>
    {% for p in depdata %}
    <tr>
      <td> <a href="{% url pmodel.viewformula p.formula.pk %}" title="Просмотреть формулу" target="_blank"> {{ p.formula.title }} </a> </td>
      <td> {{ p.formula.begin }} - {{ p.formula.end }} </td>
      <td> {{ p.creationdate }} для {{ p.department }} </td>
      <td> <a href="{% url pmodel.personal_report p.formula.pk worker.id %}" title="Выполнить" target="_blank"> Выполнить </a> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>
Для Вашего подразделения(-ий) пока еще нет доступных
формул. Пожалуйста, обратитесь к ответственному с просьбой создать
формулу расчёта персонального рейтинга.
</p>
{% endif %}

{% comment %}
{% if other_formulas %}
Опубликованные формулы других подразделений:
<hr class="space"/>
<table>
  <thead>
    <tr>
      <td>Название формулы</td>
      <td>Даты</td>
      <td>Опубликована</td>
      <td></td>
  </thead>
  <tbody>
    {% for p in other_formulas %}
    <tr>
      <td> <a href="{% url pmodel.viewformula p.formula.pk %}" title="Выполнить" target="_blank"> {{ p.formula.title }} </a> </td>
      <td> {{ p.formula.begin }} - {{ p.formula.end }} </td>
      <td> {{ p.creationdate }} для {{ p.department }} </td>
      <td> <a href="{% url pmodel.personal_report p.formula.pk worker.id %}" title="Выполнить" target="_blank"> Выполнить </a> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endcomment %}

{% endblock %}
