{% extends "base.html" %}

{% block title %}{{ investment.title }} - инвестиция{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
<h2>{{ investment.title }}<span class="detail_label">инвестиция</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- investment detailed information -->
        {% include "common/workers_list_detail.html" with object=investment %}
        {% if investment.organization %}
        <li>
            <span>Организация:</span>
            <span><a href="{{ investment.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ investment.organization.name }}</a></span>
        </li>       
        {% endif %}
        {% if investment.source %}
        <li>
            <span>Источник инвестиции:</span>
            <span>{{ investment.source }}</span>
        </li>       
        {% endif %}        
        {% if investment.project %}
        <li>
            <span>Проект:</span>
            <span><a href="{{ investment.project.get_absolute_url }}" title="перейти на страницу проекта">{{ investment.project.name }}</a></span>
        </li>                
        {% endif %}
        <li>
            <span>Сумма:</span>
            <span>{{ investment.amount }} руб.</span>
        </li>
        <li>
            <span>Год привлечения:</span>
            <span>{{ investment.year }}</span>
        </li>
        {% if investment.description %}
        <li>
            <span>Описание:</span>
            <span>{{ investment.description }}</span>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=investment.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=investment edit_url="investments_edit" delete_url="investments_delete" %}

{% endblock %}
