{% with investment=object %}
<ul class="activity"><!-- investment short information -->
    <li>
        <b>{{ investment.year }}</b>
        {% if not no_links %}
            <a href="{{ investment.get_absolute_url }}" title="Перейти на страницу инвестиции">{{ investment.title }}</a>
        {% else %}
            {{ investment.title }}
        {% endif %}
    </li>
    {% include "common/workers_list.html" with object=investment %}
    <li>{% if investment.source %}{{ investment.source }}, {% endif %}{{ investment.amount }} руб.</li>
</ul>
{% endwith %}
