{% if paginator.has_pages %}
    <div class="pagination">
        Страницы:

        {% if paginator.has_previous %}
            <a href="?p={{ paginator.previous_page }}" title="Перейти на предыдущую страницу">&lt;&lt; предыдущая</a>
        {% else %}
            &lt;&lt; предыдущая
        {% endif %}

        {% for page_num in paginator.page_range %}
            {% if page_num != paginator.page %}
                <a href="?p={{ page_num }}" title="Перейти на страницу {{ page_num }}">{{ page_num }}</a>
            {% else %}
                <span class="current">{{ page_num }}</span>
            {% endif %}
        {% endfor %}

        {% if paginator.has_next %}
            <a href="?p={{ paginator.next_page }}" title="Перейти на следующую страницу">следующая &gt;&gt;</a>
        {% else %}
            следующая &gt;&gt;
        {% endif %}
    </div>
{% endif %}
