{% with profile=action.actor.get_profile %}
{% if profile %}
	<a href="{{ profile.get_absolute_url }}" title="Перейти на страницу пользователя">{% if profile.worker %}{{ profile.worker.fullname_initials }}{% else %}{{ action.actor }}{% endif %}</a> {{ action.verb }} <span class="muted">{{ action.timesince }} назад</span>
{% else %}
	{{ action.actor }} {{ action.verb }} <span class="muted">{{ action.timesince }} назад</span>
{% endif %}
{% endwith %}
