{% load expand activity_tags %}
{% with actions=object.actions %}
{% if actions %}
	<script type="text/javascript" src="{{ STATIC_URL }}base/js/expand.js"></script>
	<div class="box">
	    <h3>История действий с {{ object.instrumental }}</h3>
	    {% filter expand_safe_data:"3,0,<br/>" %}
	    {% for action in actions %}
	        {% display_action action %}{% if not forloop.last %}<br/>{% endif %}
	    {% endfor %}        
	    {% endfilter %}
	</div>
{% endif %}
{% endwith %}