<li>
    <span>Шифр диссертационного совета:</span>
    <span>
        {% if council_link %}
            <a href="{{ council.get_absolute_url }}" title="Перейти на страницу диссертационного совета">{{ council.number }}</a>
        {% else %}
            {{ council.number }}
        {% endif %}
    </span>
</li>
<li>
    <span>Организация:</span>
    <span>
        {% if council.organization and not no_links %}
            <a href="{{ council.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ council.organization.name }}</a>
        {% else %}
            {{ council.organization_name }}
        {% endif %}
     </span>
</li>
{% if council.department %}
<li>
    <span>Подразделение:</span>
    <span>
        {% if not no_links %}
            <a href="{{ council.department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ council.department }}</a>
        {% else %}
            {{ council.department }}
        {% endif %}
     </span>
</li>
{% endif %}
