{% extends "base.html" %}

{% load activity_description %}
{% load role_permissions %}

{% block title %}{{ dissertation_council.title }} - диссертационный совет{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}dissertation_councils/css/council_detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}dissertation_councils/js/council_detail.js"></script>
{% endblock %}

{% block content %}
{% with council=dissertation_council %}

<h2>{{ council.title }}</h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- council detailed information -->
        {% include "dissertation_councils/council_detail_common.html" %}

        {% with specialties=council.council_specialties.all %}
        {% if specialties %}
        <li>
            <span>Список специальностей:</span><br/>
            <p>
            {% for specialty in specialties %}
                {{ specialty.name }}<br/>
            {% endfor %}
            </p>
        </li>
        {% endif %}
        {% endwith %}

        {% with memberships=council.current_memberships %}
        {% if memberships %}
        <li>
            <span>Действующие члены совета:</span><br/>
            <p>
            {% for membership in memberships %}
                <a href="{{ membership.get_absolute_url }}" title="перейти на страницу членства в совете">{{ membership.workers_string_full }}</a>{% if membership.member %}{{ membership.member.degree_rank_str_with_comma }}{% endif %}

                {% with post=membership.show_post %}
                {% if post %}
                    - {{ post }}
                {% endif %}
                {% endwith %}
                <br/>
            {% endfor %}
            </p>
        </li>
        {% endif %}
        {% endwith %}

        {% if council.address %}
        <li>
            <span>Адрес совета:</span><br/>
            <p>{{ council.address }}</p>
        </li>
        {% endif %}

        {% if council.place %}
        <li>
            <span>Адрес места заседаний:</span><br/>
            <p>{{ council.place }}</p>
        </li>
        {% endif %}

        {% if council.phone %}
        <li>
            <span>Телефон совета:</span><br/>
            <p>{{ council.phone }}</p>
        </li>
        {% endif %}

        {% if council.email %}
        <li>
            <span>Электронная почта email:</span><br/>
            <p>{{ council.email }}</p>
        </li>
        {% endif %}
    </ul>
</div>

{% include "common/object_actions.html" with object=council edit_url="dissertation_councils_council_edit" delete_url="dissertation_councils_council_delete" attachments_title="Документы диссертационного совета" additional_actions_template="dissertation_councils/council_additional_actions.html" %}


{% ifhaspermission user "edit" council %}
{% with dissertations=council.dissertations.unknown_status %}
{% if dissertations %}
<div class="span-24 last error">
    <h3 class="margin-top">
        Требуется уточнение даты и результатов защиты
    </h3>
    Эта рубрика отображается только для сотрудников с правами редактирования диссертационного совета. Диссертации, которые находятся в этой рубрике не отображаются на сайте диссертационного совета для других пользователей, т.к. для них указана неактуальная информация (например: прошла дата защиты, но установлен статус «Принята к рассмотрению»; истекают сроки информирования о защите, но установлен статус «Принята к защите»; не указана дата защиты). Для того, чтобы эти диссертации исчезли из этой рубрики, пожалуйста, отредактируйте их и укажите актуальную информацию.
    <hr />
    {% include "common/activities_list.html" with objects=dissertations object_short_template="dissertations/short.html" %}
</div>
{% endif %}
{% endwith %}
{% endifhaspermission %}

{% with dissertations=council.dissertations.to_defend %}
{% if dissertations %}
<div class="span-24 last">
    <h3 class="margin-top">
        Предстоящие защиты
    </h3>
    <hr />
    {% include "common/activities_list.html" with objects=dissertations object_short_template="dissertations/short.html" %}
</div>
{% endif %}
{% endwith %}

{% with dissertations=council.dissertations.to_consider %}
{% if dissertations %}
<div class="span-24 last">
    <h3 class="margin-top">
        Приняты к рассмотрению
    </h3>
    <hr />
    {% include "common/activities_list.html" with objects=dissertations object_short_template="dissertations/short.html" %}
</div>
{% endif %}
{% endwith %}

{% with dissertations=council.dissertations.defended %}
{% if dissertations %}
<div id="dissertations_defended" class="span-24 last">
    <h3 class="margin-top">
        Защищенные диссертации
        <input type="text" id="filter_dissertations" class="edit" placeholder="поиск по всем полям" />
        <a id="sort_dissertations_by_author" class="edit sort">сортировать по фамилии диссертанта</a>
        <a id="sort_dissertations_by_year" class="edit sort hide">сортировать по году защиты</a>
    </h3>
    <hr />
    {% include "common/activities_list.html" with objects=dissertations object_short_template="dissertations/short.html" %}
</div>
{% endif %}
{% endwith %}

{% with dissertations=council.dissertations.defence_failed %}
{% if dissertations %}
<div class="span-24 last">
    <h3 class="margin-top">
        Отрицательная защита
    </h3>
    <hr />
    {% include "common/activities_list.html" with objects=dissertations object_short_template="dissertations/short.html" %}
</div>
{% endif %}
{% endwith %}

{% with sites=council.sites.all %}
{% with count=council.sites.count %}
{% if sites %}
<div class="span-16 colborder">
    <ul class="object_detail"><!-- council detailed information -->
        <li>
            <span>Предыдущи{{ count|pluralize:"й,е" }} сайт{{ count|pluralize:"ы" }} совета</span>
            <p>
                {% for site in sites %}
                    <a href="{{ site.url }}" target="_blank">{{ site.url }}</a><br/>
                {% endfor %}
            </p>
        </li>
    </ul>
</div>
{% endif %}
{% endwith %}
{% endwith %}

{% endwith %}

{% endblock %}
