{% extends "statistics/generic_table.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block title %}Диссертационные советы {{ organization.name }} - заполненность{% endblock %}

{% block before_table %}

<h2>Заполненность страниц диссертационных советов {{ organization.name }}</h2>

<h3>Критерии заполненности</h3>
<ul class="bulleted">
    <li>Количество членов совета не менее 19;</li>
    <li>Указан председатель;</li>
    <li>Указан ученый секретарь;</li>
    <li>Указаны специальности;</li>
    <li>Указана контактная информация (адрес совета, адрес места заседаний, телефон, email);</li>
    <li>Прикреплены документы совета;</li>
</ul>

<h3>Общая статистика</h3>
<ul class="bulleted">
    <li>Страниц, заполненных (почти) полностью: {{ stats.good }}</li>
    <li>Страниц, заполненных частично: {{ stats.medium }}</li>
    <li>Страниц не заполнено: {{ stats.bad }}</li>
    <li>Средний уровень заполненности страницы: {{ stats.average }}%</li>
</ul>

<h3>Статистика по уровням заполненности</h3>
<table>
<tr>
    <th>Уровень заполненности</th>
    <th style="width: 100%">Количество советов</th>
</tr>
{% for level,number in stats_by_level %}
<tr>
    <td>{{ level }}%</td>
    <td>{{ number }}</td>
</tr>
{% endfor %}
</ul>

{% endblock %}
