{% extends "base.html" %}
{% load role_permissions %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block title %}Диссертационные советы {{ organization.name }}{% endblock %}

{% block content %}

<h2>Диссертационные советы {{ organization.name }}</h2>

{% ifhaspermission user "view_councils_stats" organization %}
<h4><a href="{% url dissertation_councils_councils_stats organization.id %}">Статистика заполненности</a></h4>
{% endifhaspermission %}

{% for council in councils %}
    {% if forloop.first %}
        <div class="span-3">
        <ol start={{ forloop.counter }}>
    {% endif %}
    <li><a href="{{ council.get_absolute_url }}">{{ council.number }}</a></li>
    {% if forloop.counter|divisibleby:25 %}
        </ol>
        </div>
        <div class="span-3{% if forloop.counter == councils.length %} last{% endif %}">
        <ol start={{ forloop.counter|add:"1" }}>
    {% endif %}
    {% if forloop.last %}</ol></div>{% endif %}
{% endfor %}

<h3 class="clear">Документы</h3>
<h4>
    <a href="/media/organizations/organization/469/cf7/214524/Prikaz_razmeschenie_informatsii.pdf">Приказ Минобрнауки России № 326 от 16 апреля 2014 года "Об утверждении Порядка размещения в информационно-телекоммуникационной сети Интернет информации, необходимой для обеспечения порядка присуждения ученых степеней"</a>
</h4>
<h4><a href="/help/edit/council/">Инструкция по заполнению страницы диссертационного совета</a></h4>
<h4>
    <a href="http://vak.ed.gov.ru/documents/10179/513654/13-4134.pdf/5c35f3ed-c92e-4db4-b27f-d1d99c15dbca" target="_blank">Письмо Департамента аттестации научных и научно-педагогических работников от 27.10.2014 № 13-4134 "Об информационной справке"</a>
    <a href="http://vak.ed.gov.ru/documents/10179/0/%D0%98%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F%20%D1%81%D0%BF%D1%80%D0%B0%D0%B2%D0%BA%D0%B0.doc/c3ade3cd-296d-42be-97c5-c9d0cb16a5da" target="_blank">Шаблон информационной справки</a>
</h4>
<h4>
    <a href="http://vak.ed.gov.ru/documents/10179/2275023/%D0%9F%D1%80%D0%B8%D0%BA%D0%B0%D0%B7%20%E2%84%96%201560+%D0%BE%D1%82%2009.12.2014.pdf/a15b1bf3-ecae-4d24-94cc-e247810c9dce" target="_blank">Приказ Минобрнауки России от 9 декабря 2014 г. № 1560 «О внесении изменений в Положение о совете по защите диссертаций на соискание ученой степени кандидата наук, на соискание ученой степени доктора наук, утвержденное приказом Министерства образования и науки Российской Федерации от 13 января 2014 г. № 7»</a>
</h4>


{% endblock %}
