{% extends "base.html" %}
{% load common_models %}

{% block title %}{{ dissertation_council_membership.title }} - членство в диссертационном совете{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
{% with membership=dissertation_council_membership %}

<h2>{{ membership.title }}<span class="detail_label">членство в диссертационном совете</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- membership detailed information -->
        <li>
            <span>Сотрудник:</span>
            <span>
                {% if membership.member %}
                    <a href="{{ membership.member.get_absolute_url }}" title="{{ membership.member }} (перейти на страницу сотрудника)">{{ membership.member }}</a>
                {% else %}
                    {{ membership.original_name }}
                {% endif %}
            </span>
        </li>
        {% include "dissertation_councils/council_detail_common.html" with council=membership.dissertation_council council_link=1 %}
        {% if membership.show_post %}
        <li>
            <span>Должность:</span>
            <span>{{ membership.post }}</span>
        </li>
        {% endif %}
        {% if membership.specialty %}
        <li>
            <span>{% get_field_verbose_name membership 'specialty' %}:</span>
            <span>{{ membership.specialty }}</span>
        </li>
        {% endif %}
        {% if membership.domain %}
        <li>
            <span>{% get_field_verbose_name membership 'domain' %}:</span>
            <span>{{ membership.domain }}</span>
        </li>
        {% endif %}
        <li>
            <span>Дата вступления:</span>
            <span>{{ membership.startdate }}</span>
        </li>
        {% if membership.enddate %}
        <li>
            <span>Дата выхода:</span>
            <span>{{ membership.enddate }}</span>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=membership.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=membership edit_url="dissertation_councils_membership_edit" delete_url="dissertation_councils_membership_delete" %}

{% endwith %}

{% endblock %}
