{% with membership=object %}
<ul class="activity"><!-- membership short information -->
    <li>
        <b>
            {% if membership.enddate %}
                {{ membership.startdate|date:"j E Y" }} - {{ membership.enddate|date:"j E Y" }}
            {% else %}
                с {{ membership.startdate|date:"j E Y" }}
            {% endif %}
        </b>
        {% if not no_links %}
            <a href="{{ membership.get_absolute_url }}" title="Перейти на страницу членства в совете">{{ membership.dissertation_council.number }}, {{ membership.dissertation_council.organization_name }}{% if membership.dissertation_council.department %}, {{ membership.dissertation_council.department }}{% endif %}</a>
        {% else %}
            {{ membership.dissertation_council.number }}, {{ membership.dissertation_council.organization_name }}{% if membership.dissertation_council.department %}, {{ membership.dissertation_council.department }}{% endif %}
        {% endif %}
    </li>
    {% if membership.specialty %}
    <li>
        <i>{{ membership.specialty_name }}</i>
    </li>
    {% endif %}
    {% if membership.show_post %}
    <li>
        <i>{{ membership.post }}</i>
    </li>
    {% endif %}

    {% with current_memberships=membership.dissertation_council.current_memberships %}
    {% if current_memberships %}
    <li>
        Действующие члены совета:
        {% if not no_links %}
            {% for membership in current_memberships %}
                <a href="{{ membership.get_absolute_url }}" title="перейти на страницу членства в совете">{{ membership.workers_string }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            {% for membership in current_memberships %}
                {{ membership.workers_string }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    {% endif %}
    {% endwith %}
</ul>
{% endwith %}
