{% with membership=object %}
<ul class="activity"><!-- membership short information -->
    <li>
        <b>
            {% if membership.year %}с {{ membership.year }}{% endif %}
        </b>
        {% if not no_links %}
            <a href="{{ membership.get_absolute_url }}" title="Перейти на страницу {{ membership.genitive }}">{{ membership.organization }}, {{ membership.country }}</a>
        {% else %}
            {{ membership.organization }}, {{ membership.country }}
        {% endif %}
    </li>
    <li>{{ membership.category }}</li>
</ul>
{% endwith %}
