{% extends "base.html" %}

{% block title %}{{ honorary_membership.title }} - почетное членство в организации{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
{% with membership=honorary_membership %}

<h2>{{ membership.title }}<span class="detail_label">почетное членство в организации</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- membership detailed information -->
        <li>
            <span>Сотрудник:</span>
            <span>
                {% if membership.member %}
                    <a href="{{ membership.member.get_absolute_url }}" title="{{ membership.member }} (перейти на страницу сотрудника)">{{ membership.member }}</a>
                {% else %}
                    {{ membership.original_name }}
                {% endif %}
            </span>
        </li>
        <li>
            <span>Тип членства:</span>
            <span>{{ membership.category }}</span>
        </li>
        <li>
            <span>Организация:</span>
            <span>{{ membership.organization }}{% if membership.country %}, {{ membership.country }}{% endif %}</span>
        </li>
        {% if membership.year %}
        <li>
            <span>Год присуждения:</span>
            <span>{{ membership.year }}</span>
        </li>
        {% endif %}
        {% if membership.comment %}
        <li>
            <span>Дополнительная информация:</span>
            <span>{{ membership.comment }}</span>
        </li>
        {% endif %}
    </ul>
</div>

{% include "common/object_actions.html" with object=membership edit_url="intrelations_honorary_membership_edit" delete_url="intrelations_honorary_membership_delete" %}

{% endwith %}

{% endblock %}
