{% with membership=object %}
<ul class="activity"><!-- membership short information -->
    <li>
        <b>
            {% if membership.year %}с {{ membership.year }}{% endif %}
        </b>
        {% if not no_links %}
            <a href="{{ membership.get_absolute_url }}" title="Перейти на страницу {{ membership.genitive }}">{{ membership.society }}</a>
        {% else %}
            {{ membership.society }}
        {% endif %}
    </li>
    <li>{{ membership.country }}</li>
</ul>
{% endwith %}
