{% extends "base.html" %}

{% block title %}{{ traineeship.title }} - стажировка в организации{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}

<h2>{{ traineeship.title }}<span class="detail_label">стажировка в организации</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- traineeship detailed information -->
        <li>
            <span>Сотрудник:</span>
            <span>
                {% if traineeship.trainee %}
                    <a href="{{ traineeship.trainee.get_absolute_url }}" title="{{ traineeship.trainee }} (перейти на страницу сотрудника)">{{ traineeship.trainee }}</a>
                {% else %}
                    {{ traineeship.original_name }}
                {% endif %}
            </span>
        </li>
        {% if traineeship.organization_from %}
        <li>
            <span>Отправляющая организация:</span>
            <span>{{ traineeship.organization_from }}{% if traineeship.country_from %}, {{ traineeship.country_from }}{% endif %}</span>
        </li>
        {% endif %}
        {% if traineeship.organization_to %}
        <li>
            <span>Принимающая организация:</span>
            <span>{{ traineeship.organization_to }}{% if traineeship.country_to %}, {{ traineeship.country_to }}{% endif %}</span>
        </li>
        {% endif %}
        {% if traineeship.department %}
        <li>
            <span>
                {% if traineeship.importing %}Принимающее{% else %}Отправляющее{% endif %}
                подразделение:
            </span>
            <span>{{ traineeship.department }}</span>
        </li>
        {% endif %}
        <li>
            <span>Направление:</span>
            <span>{{ traineeship.direction }}</span>
        </li>
        {% if traineeship.startdate %}
        <li>
            <span>Дата начала:</span>
            <span>{{ traineeship.startdate }}</span>
        </li>
        {% endif %}
        {% if traineeship.enddate %}
        <li>
            <span>Дата окончания:</span>
            <span>{{ traineeship.enddate }}</span>
        </li>
        {% endif %}
        {% if traineeship.task %}
        <li>
            <span>Цель стажировки:</span>
            <span>{{ traineeship.task }}</span>
        </li>
        {% endif %}
    </ul>
</div>

{% include "common/object_actions.html" with object=traineeship edit_url="intrelations_traineeships_edit" delete_url="intrelations_traineeships_delete" %}

{% endblock %}
