{% with traineeship=object %}
<ul class="activity"><!-- traineeship short information -->
    <li>
        <b>
        {% if traineeship.startdate %}
            {% if traineeship.enddate %}
                {{ traineeship.startdate|date:"j E Y" }} - {{ traineeship.enddate|date:"j E Y" }}
            {% else %}
                с {{ traineeship.startdate|date:"j E Y" }}
            {% endif %}
        {% endif %}
        </b>
        {% if not no_links %}
            <a href="{{ traineeship.get_absolute_url }}" title="Перейти на страницу {{ traineeship.genitive }}">{{ traineeship.organization_to }}{% if traineeship.country_to %}, {{ traineeship.country_to }}{% endif %}</a>
        {% else %}
            {{ traineeship.organization_to }}{% if traineeship.country_to %}, {{ traineeship.country_to }}{% endif %}
        {% endif %}
    </li>
</ul>
{% endwith %}
