<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% block title %}Научный отчет подразделения{% endblock %}

{% block inlinecss %}
<style type="text/css">
#beautiful_green_button {
  background-color: lightgreen;
  width: auto;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.buttons .return { float:right }
.buttons .unsign { float:left }

</style>
{% endblock %}


{% block content %}

<h3>Изменение статуса <a href="{% url department_scireports depid=department.id %}">отчёта подразделения "{{department.name}}"</a></h3>

<hr class="space"/>
<hr class="space"/>
<div class="buttons">
<span class="unsign">
<form action="{% url scireport_report_unsign depid=department.id statusid=status.id %}" method="POST">{% csrf_token %}
  <input id="beautiful_red_button" name="unsign_report" value="Удалить статус 'Отчет подписан'" type="submit"/>
</form>
</span>

<span class="return">
<span id="beautiful_green_button">
  <a href="{% url department_scireports depid=department.id %}">Вернуться на страницу отчёта подразделения "{{department.name}}"</a>
</span>
</span>

{% endblock %}
