<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% block title %}Научный отчет подразделения{% endblock %}

{% block inlinecss %}
<style type="text/css">
#beautiful_green_button {
  background-color: lightgreen;
  width: auto;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}
</style>
{% endblock %}


{% block content %}

<script>

    $(function(){
    $('span.style_loading').hide();


     $('button.scireport_department_pdf').click(function() {
        $(this).parent().find('span.style_loading').show();
        $(this).attr("disabled", true);
           $.ajax({
               "url" : $(this).attr('href'),
               "data" : {},
               "dataType" : "JSON",
               "type" : "GET",
               "headers": { 'X-CSRFToken': '{{ csrf_token }}' },
               success : function(result) {
                   button_for_getting_pdf = $('button.scireport_department_pdf');
                   button_for_getting_pdf.parent().find('span.style_loading').hide();
                   button_for_getting_pdf.attr("disabled", false);
                   button_for_getting_pdf.parent().find('a.sci_pdf_report_link').show();
               },
               error : function(result){
               }
           });

    });
   });



</script>

<h3>Подтверждение <a href="{% url department_scireports depid=dep.id %}">отчёта для "{{dep.name}}"</a></h3>

Нажатием на кнопку ниже Вы подтверждаете, что подготовка отчёта подразделения {{dep.name}} закончена.
Пожалуйста, убедитесь, что

<div class="div_for_ajax_pdf">
    <a href="{% url scireport_department_pdf depid=dep.id sign_type=3 manlist_id=-1 report_year=report_year %}" class="sci_pdf_report_link" {% if sci_report_pdf_url == "" %}  style="display: none;" {% endif %} >Печатная форма отчета, <b>сформированная на основании
    подтвержденны персональных отчетов сотрудников и утвержденных НИР</b>, содержит корректные данные.</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if sci_report_pdf_url != "" %} <b>Дата создания: </b> {{ sci_report_pdf_created_date }} {% endif %}

    <br />
    <button class="scireport_department_pdf" href="{% url create_scireport_department_pdf depid=dep.id sign_type=3 manlist_id=-1 report_year=report_year %}"><strong>Обновить печатную форму отчета за {{ report_year }} год</strong></button>
    <span class="style_loading ui-autocomplete-loading-padded" > </span>
</div>




<hr class="space"/>
<hr class="space"/>
<hr class="space"/>
<hr class="space"/>
<form action="{% url scireport_report_completed depid=dep.id report_year=report_year %}" method="POST">{% csrf_token %}
  <input id="beautiful_green_button" name="report_comleted" value="Подготовка отчёта '{{ dep.name }}' завершена" type="submit"/>
</form>


{% endblock %}
