<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}

{% block title %}Исключение работ из отчета подразделелния{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dialogs.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/xhr_cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/dialogs.js"></script>
{% endblock %}

{% block inlinejs %}

<script type="text/javascript">
  function excludeThisItem(elem) {
       var tr = elem.closest('tr')[0]
       var request_url = elem[0].getAttribute('href')

       $.ajax({
          url: request_url,
          async: true,
          type: 'POST',
          success: function() { tr.style.display = 'none'; }
        }).fail(function(jqXHR) {
          if (jqXHR.status == 500) {
            showDialog('Произошла внутренняя ошибка сервера.');
          } else {
            showDialog(jqXHR.responseText);
          }
        });
       return false;
  }


$(document).ready(function() {
  $(".exclude_btn").click(function() { return excludeThisItem($(this)); });
});
</script>
{% endblock %}

{% block content %}

<h3> Исключение работ из <a href="{% url department_scireports_year depid=department.id report_year=year %}">отчёта</a> подразделения "{{ department }}" за {{ year }} год</h3>

<p>
Если Вы по какой-либо причине хотите исключить некоторую работу из
отчёта подразделения без редактирования персонального отчета, то Вы
можете это сделать на данной старнице. Для поиска работы введите
фамилию автора (полностью) и/или любую часть названия работы.
</p>
<p>
 Поиск ведется по работам <b>из подписанных пероснальных отчетов</b>.
Выводится не более 50 работ каждого типа.
</p>

<form action="." method="POST">{% csrf_token %}
  {% show_form exclusion_form %}
  <hr class="space"/>
  <input name="find" value="Найти работы" type="submit"/>
</form>


<hr class="space"/>
{% if mode == 'browse_excluded' %}
  <h4>Следующие работы исключены из отчета подразделения</h4>
{% elif mode == 'do_exclude' %}
  <a href=".">Вернуться к просмотру списка исключенных работ</a>
  <h4>Выберите работу <b>для исключения</b> из отчета</h4>
{% endif %}

<table>
  {% for activity in selected_activities %}
  <tr id="act_{{activity.category}}_{{ activity.id }}" style="display: block;">
    {% if mode == 'browse_excluded' %}
      <td> <a class="exclude_btn" href="{% url scireport_undo_exclude_item depid=department.id category=activity.category itemid=activity.id year=year %}"> Вернуть в отчет </a> </td>
    {% elif mode == 'do_exclude' %}
      <td> <a class="exclude_btn" href="{% url scireport_exclude_item depid=department.id category=activity.category itemid=activity.id year=year %}"> Исключить </a> </td>
    {% endif %}
    <td> {{ activity.category_name }} </td>
    <td> {{ activity.title }} <a href="{{ activity.url }}" target="_new" title="Перейти на страницу работы">[Посмотреть]</a> </td>
  </tr>
  {% empty %}
  <tr>
    <td>
    {% if mode == 'browse_excluded' %}
      Список исключений пуст.
    {% else %}
      По Вашему запросу ничего не найдено. Исключить можно только работы из подписанных персональных отчаётов сотркдников.
    {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
