<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}


{% block title %}Научный отчет{% endblock %}

{% block content %}

{% if deps %}
Вам доступны отчеты следующих подразделений:
<ul>
{% if is_reports_admin %}
<li><a href="/scireport/department/-1/">МГУ (сводный отчет по университету)</a></li>
<hr class="space"/>
{% endif %}

{% for dep in deps %}
<li><a href="/scireport/department/{{dep.id}}/">{{dep.name}}</a></li>
  <ul>
  {% for child in dep.current_children %}
    <li><a href="/scireport/department/{{child.id}}/">{{child.name}}</a></li>
  {% endfor %}
  </ul>
{% endfor %}
</ul>
{% else %}
Вы не являетесь администратором.
{% endif %}


{% endblock %}
