<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% load sign_url %}

{% block title %}Научный отчет подразделения{% endblock %}

{% block inlinecss %}

<style type="text/css">
#beautiful_button {
  width: auto;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}
.signed {
  background-color: lightgreen;
  color: black;
}

.action_required {
  background-color: #f00000;
  color: white;
}
</style>
{% endblock %}

{% block content %}
<script>
  $("#depadmin-top-menu").find("#reports").addClass("current");
</script>

<script>

    $(function(){
    $('span.style_loading').hide();



     $('button.scireport_department_pdf').click(function() {
        $(this).parent().find('span.style_loading').show();
        $(this).attr("disabled", true);
           $.ajax({
               "url" : $(this).attr('href'),
               "data" : {},
               "dataType" : "JSON",
               "type" : "GET",
               "headers": { 'X-CSRFToken': '{{ csrf_token }}' },
               success : function(result) {
                   button_for_getting_pdf = $('button.scireport_department_pdf');
                   button_for_getting_pdf.parent().find('span.style_loading').hide();
                   button_for_getting_pdf.attr("disabled", false);
                   button_for_getting_pdf.parent().find('a.sci_pdf_report_link').show();
               },
               error : function(result){
               }
           });

    });
   });



</script>



<a href="/scireport/">Вернуться к выбору подразделений</a>
<br/>

{% with manlist_id=-1 %}

{% if dep %}
<h3>{{dep.name}}</h3>
{% else %}
  <h3>Сводный отчет по университету</h3>
{% endif %}


  {% if not report_was_signed %}
    <a id="beautiful_button" class="action_required" href="{% url scireport_report_completed depid=depid report_year=report_year %}">Подписать отчёт подразделения за {{report_year}} год</a>
  {% elif dep %}
    <span id="beautiful_button" class="signed">
      Отчёт за {{report_year}} подписан {{sign_info.date}} пользователем {{ sign_info.creator.get_profile.worker.fullname }}
    </span>
    {% if can_unsign %}
      &nbsp;&nbsp;<a href="{% url scireport_report_unsign depid sign_info.id %}">отменить подпись</a>
    {% endif %}
  {% endif %}

<hr class="space"/>

<a href="{% sign_url "/sqlreports/createreport/markedlist_dep/?report_year={{report_year}}&department_id={{depid}}" adata=adata %}"><b>Информация о степени заполнения отчета (сводные данные по дочерним подразделениям)</b></a>
<br/><a href="{% sign_url "/sqlreports/createreport/markedlist_man_dep/?report_year={{report_year}}&department_id={{depid}}&manlist_id={{manlist_id}}" adata=adata %}"><b>Информация о степени заполнения отчета (персональные отчёты сотрудников)</b></a>
<hr class="space"/>

<form action="." method="POST">{% csrf_token %}
  Использовать данные
  <select name="sign_type">
    <option value="3" {% if sign_type = 3 %} selected="yes"{% endif %}>только утвержденных персональных отчетов</option>
    <option value="2" {% if sign_type = 2 %} selected="yes"{% endif %}>утвержденных или подписанных отчетов</option>
    <option value="0" {% if sign_type = 0 %} selected="yes"{% endif %}>все внесенные в систему</option>
  </select>
  за
  <select name="report_year">
    {% for y in possible_report_years %}
    <option value="{{y}}" {% if y = report_year %} selected="yes"{% endif %}>{{ y }}</option>
    {% endfor %}
  </select>
  год.
  <input type="submit" value="Применить"/>
</form>
<hr class="space"/>


<div class="div_for_ajax_pdf">
<span class="style_loading ui-autocomplete-loading-padded" > </span>
<a target="_blank" href="{% url scireport_department_pdf depid sign_type manlist_id report_year %}" class="sci_pdf_report_link" {% if sci_report_pdf_url == "" %}  style="display: none;" {% endif %}> <strong>PDF версия отчета</strong></a>
&nbsp;&nbsp;&nbsp;&nbsp;{% if sci_report_pdf_url != "" %} <b>Дата создания: </b> {{ sci_report_pdf_created_date}} {% endif %}
<br />
<button class="scireport_department_pdf" href="{% url create_scireport_department_pdf depid sign_type manlist_id report_year %}">Обновить печатную форму отчета</button>

</div>



<br/> При печати из Acrobat Reader (версия 11) нужно выбрать в окне печати "реальный размер" бумаги и ориентация "автопортрет/альбом".
<br/>
<br/>Пожалуйста, посмотрите на список изменений, которые можно внести перед распечатыванием отчета:
<ul>
  <li><a href="{% sign_url "/sqlreports/createreport/?repid=conf_editor&report_year={{report_year}}&f_department_id={{depid}}" adata=adata %}">Редактирование конференций, организованных подразделением</a></li>
  <li><a href="{% sign_url "/sqlreports/createreport/?repid=conf_editor&report_year={{report_year}}&f_department_id={{depid}}&include_participants=yes" adata=adata %}">Редактирование конференций, участники которых работают в подразделении</a></li>
  <li><a href="{% sign_url "/sqlreports/createreport/edit_books/?report_year={{report_year}}&f_department_id={{depid}}" adata=adata %}">Редактирование грифов учебных пособий и данных о монографиях</a></li>
  <li><a href="{% sign_url "/sqlreports/createreport/patents_assign_owner/" adata=adata %}">Правообладатели патентов (МГУ / не МГУ)</a></li>
  <li><a href="{% sign_url "/sqlreports/createreport/?repid=projects_errors_list&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Список НИР</a> с указанием возможных ошибок заполнения</a></li>
  <li>Проверьте, что у сотрудников <a href="/depadmin/usersreg/posts/">указаны должности</a>. Эта информация используется в таблицах 1.1, 1.2, 2.2 и др.<li>
  {% if not depid = "-1" %}
  <li>Некоторые значения, например, общее число студентов, аспирантов или сотрудников, не могут быть вычислены автоматически. Вы можете внести эти данные на странице <a href="{% url department_parameters department_id=depid %}">параметров подразделения</a>. Эти параметры следует заполнять на уровне института/факультета, так как они не суммируются по лабораториям и кафедрам.</li>
  {% endif %}
</ul>

<hr class="space"/>
<a href="{% url scireport_exclude depid=depid year=report_year %}"><b>Исключение данных из отчета подразделения</b></a>

<hr class="space"/>

Блок 1.  Приоритетные направления научных исследований
<ul>
<li><a href="{% sign_url "/scireport/pnreditor/?report_year={{report_year}}&f_department_id={{depid}}" adata=adata %}">Перечень приоритетных направлений научных исследований подразделения</a></li>
{% if isTop %} 
<li><a href="{% sign_url "/sqlreports/createreport/?repid=pnr_plan_1&report_year={{next_year}}&f_department_id={{depid}}" adata=adata %}">ПННИ и их кадровое обеспечение на 2016 год.</a>
&nbsp&nbsp&nbsp
<a href="/scireport/pnreditor/?report_year={{next_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&output=pdf1">Печатная форма плана на 2016 год.</a></li>
{% endif %}
<li><a href="{% sign_url "/sqlreports/createreport/?repid=pnr_plan_2&report_year={{next_year}}&f_department_id={{depid}}" adata=adata %}">План на следующий год фундаментальных научных исследований, выполняемых в рамках гос.задания.</a>
&nbsp&nbsp&nbsp
<a href="/scireport/pnreditor/?report_year={{next_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&output=pdf2">Печатная форма плана.</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=pnr&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 1-1. Реализация
приоритетных направлений научных исследований</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=pnr_fin&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 1-2. Финансирование и кадровое обеспечение
приоритетных направлений научных исследований</a></li>
</ul>

Блок 2. Результативность научных исследований
<ul>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=awards&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-1. Премии, полученные сотрудниками подразделения</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=awards_list&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Приложение к Таблице 2-1. Перечень премированных работ</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=public_list&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&manlist_id={{manlist_id}}&&__template_name=2_2_books&__template_col=1&__template_row=11" adata=adata %}">Таблица 2-2. Научные публикации научно-педагогических и научных работников,
аспирантов и студентов</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=books&report_year={{report_year}}&f_department_id={{depid}}&russian=0&sign_type={{sign_type}}&exclude_textbooks=only&manlist_id={{manlist_id}}" adata=adata %}"> Таблица 2-3. Публикации учебников, учебных пособий и учебно-методической литературы</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=books&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&russian=0&manlist_id={{manlist_id}}&exclude_textbooks=no" adata=adata %}">Приложение к таблицам 2-2 и 2-3</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=conf_doklad&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-4. Участие в работе конференций, симпозиумов и съездов</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=org_conf&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-5.  Конференции, симпозиумы, съезды, организованные подразделением</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=conf_editor&report_year={{report_year}}&f_department_id={{depid}}" adata=adata %}">Редактирование конференций, организованных подразделением</a></li>


<li><a href="{% sign_url "/sqlreports/createreport/?repid=org_conf_man&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-4/5 (приложение). Сведения о членах и организаторах конференций, симпозиумов, съездов</a></li>


<li><a href="{% sign_url "/sqlreports/createreport/?repid=patents_tab26&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-6. Изобретательская и патентно-лицензионная работа</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=RNTD&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-7. Результаты научно-технической деятельности</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=nirs&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-8. Показатели, оценивающие научно-исследовательскую работу студентов</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=podgotovka_kadrov&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-9. Послевузовская подготовка кадров</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=disser_man&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 2-9(а,б). Послевузовская подготовка кадров</a></li>

<li>Таблица 2-10. Сведения о научно-исследовательских работах, выполняемых
совместно с РАН и другими государственными академиями</li>

<li>Таблица 2-11.<a href="{% sign_url "/sqlreports/createreport/?repid=editorial_board&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Сотрудники подразделения - члены редакционных коллегий
реферируемых журналов</a></li>
</ul>

Блок 3. Финансирование научно-исследовательских работ
<ul>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_list&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Список научно-исследовательских работ, в которых участвуют сотрудники подразделения</li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=projects_edit_types&report_year={{report_year}}&f_department_id={{depid}}" adata=adata %}">Просмотр типов и классификаторов проектов подразделения</a>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=projects_errors_list&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}"><b>Проверка правильности заполнения НИР</b></li>

<br/>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_total_fin&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 3-1. Сводные сведения по научно-исследовательским работам</li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_fin&report_year={{report_year}}&f_department_id={{depid}}&f_sponsortype_id={{sponsors.FCP}}&f_sponsortype_id={{sponsors.NTP}}&sign_type={{sign_type}}&__template_name=3_2&__template_col=2&__template_row=14" adata=adata %}">Таблица 3-2.  Выполнение проектов, финансируемых по федеральным целевым (ФЦП) и
научно-техническим программам (НТП)</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_fin&report_year={{report_year}}&f_department_id={{depid}}&f_sponsortype_id={{sponsors.MIN}}&sign_type={{sign_type}}" adata=adata %}">Таблица 3-3. Выполнение проектов, финансируемых по контрактам с министерствами,
ведомствами, государственными корпорациями</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_fin&report_year={{report_year}}&f_department_id={{depid}}&f_sponsortype_id={{sponsors.RFFI}}&f_sponsortype_id={{sponsors.RGNF}}&f_sponsortype_id={{sponsors.RUGRANT}}&f_sponsortype_id={{sponsors.G_RNF}}&f_sponsortype_id={{sponsors.G_PRESIDENT_RF}}&sign_type={{sign_type}}" adata=adata %}">Таблица 3-4. Выполнение проектов, финансируемых по грантам РФ</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_fin&report_year={{report_year}}&f_department_id={{depid}}&f_sponsortype_id={{sponsors.DOG}}&sign_type={{sign_type}}" adata=adata %}">Таблица 3-5. Выполнение проектов, финансируемых по договорам с заказчиком</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_fin&report_year={{report_year}}&f_department_id={{depid}}&f_sponsortype_id={{sponsors.FOREING}}&sign_type={{sign_type}}" adata=adata %}">Таблица 3-6.  Выполнение проектов, финансируемых из средств зарубежных
контрактов и грантов</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_fin_3_7&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 3-7. Выполнение проектов, финансируемых из источников, учтенных в
строке  9 таблицы 3-1</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_fin_3_8&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 3-8. Распределение тем по социально-экономическим целям</a></li>
</ul>

Блок 4.
<ul>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_foreign_org&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 4.1. Зарубежные организации партнеры</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=proj_foreign_grant&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 4.2.1 Гранты зарубежных фондов</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=APPLICGRANT&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 4.2.2 Участие в конкурсах на получение грантов</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=foreign_comp&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 4.3 Зарубежные компании-партнеры МГУ</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=conf_foreign&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}" adata=adata %}">Таблица 4.4 Организация и участие в международных конференциях</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=courceforeign&report_year={{report_year}}&f_department_id={{depid}}&to_msu=0&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Таблица 4.5.1 Преподавательская деятельность специалистов МГУ за рубежом</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=traineeship_out&report_year={{report_year}}&f_department_id={{depid}}&to_msu=0&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Таблица 4.5.2 Стажировки специалистов МГУ за рубежом</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=courceforeign&report_year={{report_year}}&f_department_id={{depid}}&to_msu=1&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Таблица 4.5.3 Преподавательская деятельность зарубежных специалистов в МГУ</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=traineeship_out&report_year={{report_year}}&f_department_id={{depid}}&to_msu=1&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Таблица 4.5.4 Стажировки зарубежных специалистов в МГУ</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=award_foreign_dep&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Таблица 4.6.1 Премии сотрудников</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=socmemeber_foreign_dep&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Таблица 4.6.2 Членство в зарубежных научных обществах</a></li>

<li><a href="{% sign_url "/sqlreports/createreport/?repid=honors_foreign_dep&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Таблица 4.6.3 Почетные звания в зарубежных организациях</a></li>
<li><a href="{% sign_url "/sqlreports/createreport/?repid=tab_4_7&report_year={{report_year}}&f_department_id={{depid}}&sign_type={{sign_type}}&manlist_id={{manlist_id}}" adata=adata %}">Таблица 4.7 Индикаторы развития на международном уровне </a></li>

</ul>

{% endwith %} {# manlist_id #}
{% endblock content %}
