{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Choose the location of your avatar" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
    $(function() {
    //avatar
        $("a.delavatar").click(function() {
            $.getJSON($(this).attr("href"), function(data) {
                if (data.success) {
                    $("img#avatarimg").attr("src", "{{ generic }}");
                    $("p#avatardelete").remove();
                }
            });
            return false;
        });

    $("div.photos a").click(function() {
      $("#choose_avatar_form input[name='url']").val($(this).attr("href"));
      $("#choose_avatar_form").submit();
      return false;
    });

    });
</script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
    <form id="choose_avatar_form" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Choose the location of your avatar" %}</legend>
            <ul>
            <li>
                <label for="id_photo">{{ form.photo.help_text }}:</label>
                <p>{{ form.photo }}
                <input type="submit" value="{% trans 'Done' %}" title="Сохранить фотографию" />
                </p>
            </li>
            <li>
                <label for="id_url">{{ form.url.help_text  }}:</label>
                <p>{{ form.url }}
                <input type="submit" value="{% trans 'Done' %}" title="Сохранить фотографию" />
                </p>
            </li>
            {% if AVATAR_WEBSEARCH %}
        <li>
            <label for="id_search">{% trans "Search on Picasa Web" %}</label>
            <p>
            <input type="text" name="keyword" id="id_search" value="{{ keyword }}" />
            <input type="submit" value="{% trans "Search" %}" title="Найти картинки на PicasaWeb" />
            </p>

            <div class="photos">
            {% for thumb,url in images.items %}
            <a href="{{ url }}" title="Выбрать эту картинку в качестве фотографии"><img alt="photo{{ forloop.counter }}" src="{{ thumb }}" /></a>
            {% endfor %}
            </div>
            </li>
            {% endif %}
            </ul>
            {% if form.errors %}
            {% for error,desc in form.errors.items %}
            <p class="small quiet red">* {{desc|join:"; "}}</p>
            {% endfor %}
            {% endif %}
        </fieldset>
</form>
{% endblock %}

{% block userprofile_content_related %}
  <div class="box">
    <h3>{% trans "Avatar selection page" %}</h3>
        <p>{% trans "You have several options to select the image you want as avatar on your profile" %}.</p>
  </div>

    {% load avatars %}
  <div class="center">
        <img class="border" alt="{{ user }}" id="avatarimg" src="{% avatar DEFAULT_AVATAR_SIZE %}" />
    {% if user.get_profile.has_avatar %}<p id="avatardelete" style="text-align: center;"><a href="{% url profile_avatar_delete %}" class="delavatar"  title="Удалить фотографию">{% trans "Delete" %}</a></p>{% endif %}
    </div>
{% endblock %}
