{% extends "base.html" %}
{% load paging_extras bibtex %}

{% block title %}{{ collection.title }} - сборник{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
<h2>{{ collection.title }}<span class="detail_label">сборник</span></h2>

<div class="span-16 colborder">

<ul class="object_detail"><!-- collection detailed information -->
    {% with memberships=collection.workers_list %}
    {% if memberships %}
    <li>
        <span>Член{{ memberships|length|pluralize:"ы" }} редколлегии:</span>
        <span>
            {% include "common/workers_list_links_param.html" with workers=memberships %}
        </span>
    </li>
    {% endif %}
    {% endwith %}

    {% if collection.year %}
    <li>
        <span>Год издания:</span>
        <span>{{ collection.year }}</span>
    </li>
    {% endif %}

    {% if collection.series %}
    <li>
        <span>Серия:</span>
        <span><a href="{{ collection.series.get_absolute_url }}" title="Перейти на страницу серии">{{ collection.series.title }}</a></span>
    </li>
    {% endif %}

    {% if collection.volume %}
    <li>
        <span>Том:</span>
        <span>{{ collection.volume }}</span>
    </li>
    {% endif %}

    {% for category in collection.categories.all %}
    <li>
        <span>{{ category.name }}</span>
    </li>
    {% endfor %}

    {% if collection.publisher %}
        {% include "publishers/detail_short.html" with publisher=collection.publisher %}
    {% else %}
        {% if collection.location %}
        <li>
            <span>Место издания:</span>
            <span>{{ collection.location }}</span>
        </li>
        {% endif %}
    {% endif %}

    {% if collection.theses %}
    <li>
        <span>Сборник тезисов</span>
    </li>
    {% endif %}

    {% if collection.abstract %}
    <li>
        <span>Аннотация сборника:</span>
        <p>{{ collection.abstract }}</p>
    </li>
    {% endif %}
    {% include "common/object_creator.html" with creator=collection.creator %}
</ul>
</div>

{% include "common/object_actions.html" with object=collection %}
<div class="clear"></div>

{% if not articles_html %}
    {% paginate collection.articles.all from request as articles per_page 10 %}
{% endif %}

{% if articles.objects or articles_html %}
    <h3 class="margin-top">
        Статьи, опубликованные в сборнике
        {% show_publication_list_links collection.id 'icollections_collection_detail' 'icollections_collection_articles_bibtex' 'icollections_collection_detail_in_style' %}
    </h3>
    <hr />
    {% if articles.objects %}
        {% include "publications/article_list_paged.html" %}
    {% else %}
        {{ articles_html|safe }}
        {% include "publications/bibtex2html_thanks.html" %}
    {% endif %}
{% endif %}

{% endblock %}
