<ul class="activity"><!-- collection short information -->
    <li><b>{{ collection.year }} </b>
    {% if not no_links %}
        {% block object_link %}
        <a href="{{ collection.get_absolute_url }}" title="Перейти на страницу сборника">{{ collection.title }}</a></li>
        {% endblock %}
    {% else %}
        {{ collection.title }}
    {% endif %}

    {% with memberships=collection.workers_list %}
    {% if memberships %}
    <li>
        член{{ memberships|length|pluralize:"ы" }} редколлегии
        {% include "common/workers_list_links_param.html" with workers=memberships %}
    </li>
    {% endif %}
    {% endwith %}

    {% if collection.series or collection.volume %}
    <li>
        {% if not no_links %}
            {% if collection.series %}серия <i><a href="{{ collection.series.get_absolute_url }}" title="Перейти на страницу серии">{{ collection.series.title }}</a></i>{% endif %}{% if collection.volume %}, том {{ collection.volume }}{% endif %}
        {% else %}
            {% if collection.series %}серия <i>{{ collection.series.title }}</i>{% endif %}{% if collection.volume %}, том {{ collection.volume }}{% endif %}
        {% endif %}
    </li>
    {% endif %}

    {% if collection.publisher or collection.location %}
    <li>
        {% if collection.publisher %}
            издательство
            <i>
                {% if not no_links %}
                    <a href="{{ collection.publisher.get_absolute_url }}" title="Перейти на страницу издательства">{{ collection.publisher.name }}</a>
                {% else %}
                    {{ collection.publisher.name }}
                {% endif %}

                {% if collection.publisher.city %}
                    ({{ collection.publisher.city }})
                {% endif %}
            </i>
        {% else %}
            {% if collection.location %}
                место издания <i>{{ collection.location }}</i>
            {% endif %}
        {% endif %}
    </li>
    {% endif %}

    {% if collection.theses %}
    <li>сборник тезисов</li>
    {% endif %}
</ul>
