{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}{{ collection.title }} - сборник{% endblock %}


{% block extracss %}
{{ main_data_form.media.css }}

<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />

<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}publications/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block inlinejs %}
{{ main_data_form.media.js }}
{% endblock inlinejs %}


{% block content %}
<h2>Редактирование сборника: <a href="{% url icollections_collection_detail collection.pk %}" target="_blank">{{ collection.title }}</a>
</h2>

<a href="{% url icollections_edit_marks collection.id %}">{% if collection.marks.exists %} <font color="green">Сборник считается важным</font> {% else %} <font color="red">Сборник не считается важным для подразделения</font> (нажмите для изменения) {% endif %}</a>


<form action="." method="POST">{% csrf_token %}
  {% show_form main_data_form %}
  <input type="submit" name="save_collection" value="Сохранить"/>
</form>

<hr class="space"/>

<fieldset>
  <legend> Члены редколлегии </legend>

  <form class="personal" method="post" action=".">{% csrf_token %}
    {{ staff_form.worker.error }} {{ staff_form.worker }}
    &nbsp;Роль: {{ staff_form.role.error }} {{ staff_form.role }}
    <input type="submit" name="save_staff" value="Добавить"/>
  </form>

<hr class="space"/>

<table>
{% for editorship in collection.editorships.all %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ editorship.worker }}</td>
    <td>{% if editorship.role %}{{ editorship.role_name }} {% else %} Роль не указана {% endif %}</td>
    <td>
      <form  method="post" action=".">{% csrf_token %}
        <input type="hidden" name="record_id" value="{{ editorship.id }}"/>
        <input type="submit" name="delete_staff" value="Удалить"/>
      </form>
  </form>
      
    </td>
  </tr>
{% endfor %}
</table>

</fieldset>


{% endblock %}
