{% extends "base.html" %}

{% block title %}{{ collection_editorship.title }} - членство в редколлегии сборника{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
{% with editorship=collection_editorship %}

<h2>{{ editorship.title }}<span class="detail_label">членство в редколлегии сборника</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- editorship detailed information -->
        <li>
            <span>Сотрудник:</span>
            <span>
                {% if editorship.worker %}
                    <a href="{{ editorship.worker.get_absolute_url }}" title="{{ editorship.worker }} (перейти на страницу сотрудника)">{{ editorship.worker }}</a>
                {% else %}
                    {{ editorship.original_name }}
                {% endif %}
            </span>
        </li>
        <li>
            <span>Сборник:</span>
            <span><a href="{{ editorship.collection.get_absolute_url }}" title="Перейти на страницу сборника">{{ editorship.collection.title }}</a></span>
        </li>
        <li>
            <span>Тип членства:</span>
            <span>{{ editorship.get_role_display }}</span>
        </li>
        {% include "common/object_creator.html" with creator=editorship.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=editorship edit_url="icollections_editorship_edit" delete_url="icollections_editorship_delete" %}

{% endwith %}
{% endblock %}
