{% extends "base.html" %}
{% load paging_extras %}

{% block title %}{{ series.title }} - серия{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>{{ series.title }}<span class="detail_label">серия сборников</span></h2>

<ul class="object_detail"><!-- series detailed information -->
    {% if series.abstract %}
    <li>
        <span>Аннотация серии:</span>
        <p>{{ series.abstract }}</p>
    </li>
    {% endif %}
    {% include "common/object_creator.html" with creator=series.creator %}
</ul>

{% paginate series.collections.all from request as collections per_page 10 %}
{% if collections.objects %}
    <h3 class="margin-top">Сборники, входящие в состав серии</h3>
    <hr />
    {{ collections.paging }}
    <ul>
        {% for collection in collections.objects %}
            <li>{% include "icollections/collection_short.html" %}</li>
        {% endfor %}
    </ul>
    {{ collections.paging }}
{% endif %}

{% endblock %}
