<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}


{% block title %}Достижение{% endblock %}

{% block content %}

<p>
Внесение данных разделено на несколько шагов: заголовок и краткое описание полученного
результата, введение библиографических ссылок (ссылок на статьи из базы
ИСТИНА), указание авторов, выбор тематических рубрик и прикрепление
дополнительных файлов. Ввод данных можно прервать в любой момент. 
У Вас будет возможность внести изменения позднее  (информация сохраняется после
нажатия кнопки "Продолжить").
</p>

<p>
Зачем нужно два поля «заголовок» и «развернутый заголовок»? При размещении
информации в новостной ленте веб-сервера МГУ отражается заголовок и первые
строки новости. Это не всегда удобно, поэтому лучше сделать краткую «выжимку»
из 20-30 слов, которые и появятся в новостной ленте под заголовком. Читатель
(«веб-серфер») сможет перейти по ссылке на полный текст новости и увидеть
приложенные фото и (при необходимости) получить доступ к прилагаемым файлам
(например, дополнительные материалы или список ссылок на работы авторов,
связанные с данной публикацией).
</p>

<p>
Крайне важно соблюдать объем текста (дополнительную информацию можно разместить
в приложениях) и оставлять контактные данные (это позволит сотрудникам ректората и специалистам
Центра информации и медиакоммуникации оперативно связаться с авторами для
уточнения текста или для обсуждения вопроса о продвижении информации в масс-медиа).
</p>

<br/>
<form method="post" action="/achievements/add/">{% csrf_token %}
    <p><button type="submit" name="next" value="descr">Внести информацию о новом результате, достижении, открытии</button> </p>
</form>

{% endblock %}
