<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/ui.dynatree.css" type="text/css" id="skinSheet">
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}achievements/js/schools.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}schools/js/schools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>

{% endblock %}

{% block inlinejs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_work.js"></script>
{% endblock %}



{% block title %}Достижение{% endblock %}

{% block content %}

    <fieldset>
	<legend>Достижение: файлы</legend>
    {{ ach.title }} <br/><br/>
    <p>
    Вы можете добавить файлы с произвольными вспомогательными материалами
      (фотографии, pdf-файлы и т.п.).
      </p> 
<form method="post"
      enctype="multipart/form-data"
      action="/achievements/edit/{{ach.id}}/files/">{% csrf_token %}
	<div class="form">
	    {{ form.management_form }}
	    {% for field in form %}
		<div class="field {% if field.errors %}error{%endif%}">
            {{ field.errors }}
            {{ field.label_tag }}
		    {{ field }}
            {{ field.help_text }}
		</div>
	    {% endfor %}
        <input type="submit" name="add" value="Добавить"/>
	</div>
    <!-- <p><button type="submit" name="next" value="descr">Продолжить</button> </p> -->
</form>

    <br/>
    <table>
      {% for file in ach.files.all %}
      <tr>
        <td> {{ file.name }} </td>
        <td> <a href="/achievements/remove/{{ach.id}}/file/{{file.id}}/">удалить</a></td>
      </tr>
      {% endfor %}
    </table>
    </fieldset>


	<div class="form">
    <form method="post" action="/achievements/print/{{ach.id}}/">{% csrf_token%}
      <input type="submit" name="next" value="Закончить"/>
    </form>
	</div>


{% endblock %}
