<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/ui.dynatree.css" type="text/css" id="skinSheet">
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}achievements/js/schools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL}}base/js/add_edit_object.js"></script> -->

{% endblock %}

{% block inlinejs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_work.js"></script>
{% endblock %}



{% block title %}Достижение{% endblock %}

{% block content %}

    <fieldset>
	<legend> Достижение: информация об авторах </legend>

    {{ ach.title }}<br/>
    <p>
   Пожалуйсте, выберите авторов данного достижения из числа тех, кто уже
   зарегистрирован в системе. Для этого введите как минимум три начальные
   буквы фамилии автора (<b>через пробел можно ввести инициалы</b>), выберите фамилию в появившемся списке
   <b>и нажмите кнопку "Добавить"</b>. По умолчанию в данной список
   были добавлены все авторы указанных публикаций.
    </p>
    <p>
    Для того, чтобы отметить руководителя (основного автора) достижения, нажмите на фамилию
    автора. Повторное нажатие отменяет действие.
    </p>

    <div class="form">
      <form method="post" action="/achievements/edit/{{ach.id}}/auth/">{% csrf_token %}
        <input type="text" name="w_id" hidden id="w_id">
        <!-- Фильтр по подразделению&nbsp; <input type="text" id="department_filter"><br/> -->
        <input type="hidden" id="department_filter">

        Введите начальные буквы фамилии: <input type="text" id="w_autocomplete" class="autocomplete_workers"><br/>
        <input type="submit" name="add" value="Добавить"/>
      </form>
    </div>

    <table>
    {% for au in ach.authorship.all %}
       <tr>
         <td> <a href="/achievements/{{ach.id}}/toggle_leader/{{au.id}}/">{{ au.author.fullname }}</a> </td>
         <td>
           {% if au.leader == 1 %}руководитель{% endif %}
         </td>
         <td>
           {% if au.author.current_main_employments %}
              {% for emp in au.author.current_main_employments %}
                {% if forloop.counter > 1%}; {% endif %}{{ emp.department.name }}
              {% endfor %}
           {% else %}
              -- место работы не указано --
           {% endif %}
         </td>
         <td> <a href="/achievements/remove/{{ach.id}}/auth/{{au.id}}/">удалить</a></td>
       </tr>
    {% endfor %}
    </table>

    </fieldset>

	<div class="form">
    <form method="post" action="/achievements/edit/{{ach.id}}/rubs/">{% csrf_token%}
      <input type="submit" name="next" value="Продолжить"/>
    </form>
	</div>


{% endblock %}
