<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/ui.dynatree.css" type="text/css" id="skinSheet">
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}achievements/js/schools.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}schools/js/schools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>

{% endblock %}

{% block inlinejs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_work.js"></script>
{% endblock %}


{% block title %}Достижение{% endblock %}

{% block content %}


<style type="text/css">
#id_info-keywords, #id_info-descr, #id_info-contacts, #id_info-exttitle {
    width: 760px;
}
#id_info-keywords, #id_info-exttitle {
    height: 50px;
}
#id_info-contacts {
    height: 60px;
}
</style>



<form method="post" action="/achievements/edit/{{ach.id}}/descr/">{% csrf_token %}
    <fieldset>
	<legend>Сведения о полученном новом научном результате, достижении</legend>

	<div class="form">
	    {{ form.management_form }}
	    {% for field in form %}
		<div class="field {% if field.errors %}error{%endif%}">
            {{ field.errors }}
            {{ field.label_tag }}
		    {{ field }}
		</div>
	    {% endfor %}
		<div class="field">
		    {{ achform.pnr.label_tag }}
		    {{ achform.pnr }}
		</div>
	</div>
    </fieldset>
    <input type="submit" name="next" value="Продолжить"/>

    <!-- <p><button type="submit" name="next" value="savenext">Продолжить</button> </p> -->
</form>


{% endblock %}
