<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}achievements/js/schools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>


{% endblock %}

{% block inlinejs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_work.js"></script>
{% endblock %}


{% block title %}Достижение{% endblock %}

{% block content %}


<form method="post" action="/achievements/edit/{{ach.id}}/publications/">{% csrf_token %}
    <fieldset>
	<legend>Достижение: публикации</legend>
    {{ ach.title }}<br/>

<p>
Вы можете выбрать одну или несколько публикаций, связанных с данным
достижением. Для этого введите не менее пяти букв названия публикации в
следующее поле. Система произведет поиск работ (статей, монографий и патентов), название
которых содержат введенное Вами слово. Выберите необходимую публикацию из
появившегося списка (поиск может занять несколько секунд) и <b>нажмите кнопку "Добавить"</b>.
После добавления всех публикаций нажмите кнопку "Продолжить".<br/>

Авторы введенных публикаций будут считаться авторами данного результата. Вы
сможете изменить список авторов на следующем шаге.
</p>
<p>
Для удаления публикации из списка нажмите на ссылку "удалить" рядом с названием
публикации. Удаление работы из данного списка <b>не удаляет ее из базы</b>.
</p>
	<div class="form">
	    {{ form.management_form }}
	    {% for field in form %}
		<div class="field">
		    {{ field.label_tag }}
		    {{ field }}
            {{ field.help_text }}
		</div>
	    {% endfor %}
        <input type="submit" name="save" value="Добавить"/>

	</div>

    <table>
      {% for pub in ach.publications.all %}
      <tr>
        <td> {{ pub.reference }} </td>
        <td> <a href="/achievements/remove/{{ach.id}}/pub/{{pub.id}}/">удалить</a></td>
      </tr>
      {% endfor %}
    </table>


    </fieldset>
</form>


	<div class="form">
    <form method="post" action="/achievements/edit/{{ach.id}}/auth/">{% csrf_token%}
      <input type="submit" name="next" value="Продолжить"/>
    </form>
	</div>




{% endblock %}
