<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% block title %}Достижение{% endblock %}

{% block content %}

<h2>Описание достижения</h2>
<!--<form method="post" action="">-->
<!--    {{achievementdescr}}-->
    <ul>
	<li>Название:
	    {{achievementdescr.title}}
	</li>


	<li>Авторы:
	    <ul>
		{%for author in achievementdescr.authors %}
		<li>
		    <a href="/workers/{{author.author.id}}">
		    {{author.author.lastname}}
		    {{author.author.middlename}}
		    {{author.author.firstname}}
		    </a>
		</li>
		{% endfor %}
	    </ul>
	</li>


	<li>Язык:
	{{achievementdescr.language.name}}
	</li>

	<li>Описание:
	{{achievementdescr.description}}
	</li>

        <li>GRNTI:
	    <ul>
		{%for rub in achievementdescr.grnti %}
		    <li>{{rub.rub_id.name}}</li>
		{% endfor %}
	    </ul>
	</li>
	
	<li>Scopus:
	    <ul>
		{%for rub in achievementdescr.scopus %}
		    <li>{{rub.rub_id.name}}</li>
		{% endfor %}
	    </ul>
	</li>
    </ul>
{% endblock %}

