<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

{% endblock %}



{% block title %}Достижения{% endblock %}

{% block content %}

{% if repr %}
У Вас есть права для просмотра <a href="/achievements/all/">всех достижений Вашего подразделения</a>.
{% endif %}

<p>
На этой странице ниже отображается список кратких информационных сообщений о
Ваших основных научных результатах, предназначенных для включения в общий
(первый) раздел отчета Московского университета о научно-исследовательской
деятельности и которые были внесены в систему Вами или Вашими коллегами (в
соавторстве).
</p>
<p>
<u>Информация для тех, кто впервые готовит материал к отчету.</u> Ранее краткая
информация о научных достижениях сотрудников, кафедр, лабораторий, факультетов
и институтов готовилась институтами в виде единого текста, не содержащего
сведений о конкретных авторах отдельных открытий и достижений, иллюстративных
материалов и ссылок на публикации в научной периодике. С 2013 года краткая
информация о научных достижениях собирается через АИС «Наука-МГУ» («ИСТИНА»), в
которой уже содержатся сведения об авторах и работах. Поэтому мы надеемся, что
Ваша работа над текстовой частью отчета станет более удобной, а четкость и
полнота отражения вклада автора и значимости результата за счет связи со
статьями и иллюстрациями существенно повысится.
</p>
<p>
Просим по возможности заполнить все поля (многие поля  содержат готовые списки
и классификаторы).
Текстовая информация должна быть изложена понятным и доступным языком, так как
предназначена не только для специалистов. В отличие от аннотационных отчетов по
научным темам в этих информационных материалах можно рекомендовать следующую
схему изложения:
<ol><li> формулировка задачи (идеи) и ее связь в общими и
известными проблемами науки и/или практическими задачами; </li>
<li> описание
результата, достижения, публикации, патента, открытия, новых решений, формул,
соединений и т.п.; </li>
<li> краткая характеристика того, как полученный результат
влияет (меняет, уточняет, дополняет, содержит совершенно новые представления)
принципы фундаментальной науки и/или способствует решению актуальных прикладных
задач. </li>
</ol>
Просим по возможности  снабжать материал одной или двумя иллюстрациями (с
подписями). 
Система также позволяет «прикрепить» любое количество дополнительных вложений
(фотографий, текстов, пояснений и т.п.)
</p>
<p>
 Для добавления информации  о новом научном результате, пожалуйста, перейдите
 по этой <a href="/achievements/add/"><b>ССЫЛКЕ</b></a>.
</p>


{% if myAchs %}
<br/><br/>
<table>
{% for ach in myAchs %}
  <tr>
      <td><a href="/achievements/print/{{ach.id}}/">{{ ach.title }}</a> </td>
      <td>
      {% if not me == ach.creator %}
         Добавил: {{ ach.creator.get_profile.worker }}
      {% else %}
        <form method="post" action="/achievements/delete/{{ach.id}}/">{% csrf_token %}
          <button type="submit"
                  onclick="return confirm('Вы действительно хотите удалить данную запись?')"</button>
     </form>

         <a href="/achievements/delete/{{ach.id}}/">Удалить</a>
      {% endif %}
      </td>
  </tr>
{% endfor %}
</table>
{% else %}
  У Вас нет ни одного введенного в систему достижения.
{% endif %}


{% endblock %}
