<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

{% endblock %}



{% block title %}Достижения{% endblock %}

{% block content %}


<p>
На этой странице ниже отображается список всех кратких информационных сообщений...
</p>

{% if myAchs %}
<br/><br/>
<table>
  <tr><td>Заголовок</td><td>Добавил</td><td>Подписано?</td></tr>
{% for ach in myAchs %}
  <tr>
      <td><a href="/achievements/print/{{ach.id}}/">{{ ach.title }}</a></td>
      <td>{{ach.creator.get_profile.worker}}</td>
      <td>
	{% if ach.is_signed %}
	Да
	{% else %}
	Нет
	{% endif %}
	
      </td>
  </tr>
{% endfor %}
</table>
{% else %}
  У Вас нет ни одного введенного в систему достижения.
{% endif %}


{% endblock %}
