<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/ui.dynatree.css" type="text/css" id="skinSheet">
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}achievements/js/schools.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}schools/js/schools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>

{% endblock %}

{% block inlinejs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/add_work.js"></script>
{% endblock %}

{% block title %}Достижение{% endblock %}

{% block content %}

{% if edit %}
<h2>Опишите достижение</h2>
<form method="post" action="/achievements/add/">{% csrf_token %}
{% else %}
<h2>Описание достижения</h2>
{% endif %}
    <fieldset>
	<legend>Достижение</legend>
	<div class="form">
	    <div class="field-row authors in_all wide">
		<label for="input_authors">Авторы</label>
		<input type="text" id="input_authors" name="authors" value="{{ authors }}" />
	    </div>
<!--	    {{formset}}-->
	    {{ formset.management_form }}
	    {% for field in formset %}
		<div class="field">
		    {{field.label_tag}}
		    {{ field }}
		</div>
	    {% endfor %}
<!--	    <input id="id_rubs_scopus-grnti_rubs" type="text" class="wide" name="rubssss" maxlength="255" />-->
	    <div class="field">
	    <div id="myDivbaby" style="height:400px; width:800px; overflow:scroll">
		<div id="tree_grnti"></div>
	    </div> 
	    </div>
	    
	     <div class="field">
	    <div id="myDivbaby" style="height:400px; width:800px; overflow:scroll">
		<div id="tree_scopus"></div>
	    </div> 
	    </div>
	</div>
    </fieldset>
{% if edit %}
    <p><input type="submit" value="Send message" /></p>
</form>
{% endif %}

{% endblock %}

