<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}
{% load myforms %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}achievements/js/schools.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filterlist.js"></script>

{% endblock %}


{% block title %}Достижение{% endblock %}

{% block content %}

<a href="/achievements/print/{{ach.id}}/pdf">Версия для печати</a>


{% if is_repr and visible_marks or is_repr and assignable_mark_departments %}
<hr class="space"/>
    Информация для ответственных: <a href="/help/achievements/admins/"><b>как работает утверждение?</b></a>
<table>
  <tr><td>Подразделение</td><td>Оценка</td><td>Дата присвоения</td></tr>
  {% for m in visible_marks %}
  <tr>
    <td>{{m.department}}</td>
    <td>{{m.value}}</td>
    <td>{{m.date}}</td>
    <td>{{m.creator.get_profile.worker}}</td>
  </tr>
 {% endfor %}
 {% for md in assignable_mark_departments %}
  <tr>
    <form method="POST" action="{% url achievement_setmark aid=ach.id depid=md.id %}">{% csrf_token %}
      <td>{{md}}</td>
      <td>
        {% show_form mark_form %}
      </td>
      <td>
        <button type="submit">Утвердить</button>
      </td>
      <td></td>
    </form>
  </tr>
 {% endfor %}
</table>
{% endif %}

<table>

<tr>
  <td colspan="2">
    <table><tr>
        <td>
          {% if ach.is_confirmed %}
          <font color="red">Форма утверждена</font>
          {% elif ach.is_signed %}
          <font color="red">Форма подписана</font>
          {% endif %}
          {% if is_repr or not ach.is_signed %}
          <form method="get" action="/achievements/edit/{{ach.id}}/descr/">{% csrf_token %}
            <button type="submit"> Редактировать </button>
          </form>
          {% endif %}
        </td>

        {% for button in buttons %}
        <td>
          <form method="post" action="/achievements/setstatus/{{ach.id}}/">{% csrf_token %}
            <input type="hidden" name="status" value="{{button.tag}}"/>
            <button type="submit"
                    {%if button.alert%} onclick="return confirm('{{button.alert}}')" {% endif %}> {{button.label}} </button>
          </form>
        </td>
        {% endfor %}
      </tr>

    </table>
  </td>
</tr>


<tr>
<td>Авторы:</td>
<td>
{% for au in ach.authorship.all %}
  {%if forloop.counter > 1 %}, {% endif %}
  {%if au.leader %}<b><u>{% endif %}
  <a href="/workers/{{au.author.id}}/">{{ au.author.fullname_short }}</a>
  {%if au.leader %}</u></b>{% endif %}
{% endfor %}
</td>
</tr>

{% for ad in ach.descriptions.all %}
<tr><td>Заголовок</td>
    <td>{{ ad.title }} </td>
</tr>
<tr><td>Развернутый заголовок</td>
    <td>{{ ad.exttitle }} </td>
</tr>
<tr><td>Описание</td>
    <td>{{ ad.description }}</td>
</tr>
<tr><td>Ключевые слова:</td>
    <td>{{ ad.keywords }} </td>
</tr>
{% endfor %}

<tr><td>Направление ПР:</td><td>{% if ach.pnr %}{{ ach.pnr }}{% else %}Другое{% endif %}</td></tr>


<tr><td>Рубрики ГРНТИ:</td><td>
    {% for rub in ach.grnti %}
       {%if forloop.counter > 1 %}; {% endif %} {{ rub.rub_id.name }}
    {% endfor %}
</td></tr>

<tr><td>Рубрики Scopus:</td><td>
    {% for rub in ach.scopus %}
       {%if forloop.counter > 1 %}; {% endif %} {{ rub.rub_id.name }}
    {% endfor %}
</td></tr>



<tr><td>Публикации:</td>
<td>
<ol>
{% for pub in ach.publications.all %}
  <li> {{ pub.reference }} </li>
{% endfor %}
</ol>
</td></tr>

{% if ach.files.all %}
  <tr><td>Приложения:</td>
  <td>
  <ol>
  {% for f in ach.files.all %}
    <li><a href="{{f.get_absolute_url}}">{{ f.name }}</a> <!-- {{f.size|filesizeformat }} --></li>
  {% endfor %}
  </ol>
  </td>
  </tr>
{% endif %}
</table>

{% if show_contacts %}
Контактная информация: 
{% for ad in ach.descriptions.all %}
  {{ad.contacts}}<br/>
{% endfor %}
{% endif %}

{% endblock %}
