<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}


{% block title %}Список достижений{% endblock %}

{% block content %}
    <h2>Список моих достижений:</h2>
    {% for achievement in achievements_descr  %}
	{% if forloop.first %}
	    <ol start="{{page_obj.start_index}}">
	{% endif %}
	
	<li>
	    <a href="/achievements/details/{{ achievement.id}}/">{{ achievement.title }}</a>
	</li>
	
	{% if forloop.last %}
	    </ol>
	{% endif %}
    {% empty %}
	<p>у вас пока достижений не обнаружено.<p>
    {% endfor %}
    

    {% if paginator.num_pages > 1 %}
	{% if page_obj.has_previous %}
	    <a href="/achievements/page/{{ page_obj.previous_page_number }}/">&larr;</a>
	{% endif %}
	
	<!--<span class="current_page"> -->
	стр. {{ page_obj.number }}
	<!--</span> -->
	
	{% if page_obj.has_next %}
	    <a href="/achievements/page/{{page_obj.next_page_number}}/">&rarr;</a>
	{% endif %}
    {% endif %}
{% endblock %}

