{% extends "base.html" %}
{% load i18n myforms %}

{% load sign_url %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
{% endblock %}

{% block extracss %}
{% endblock %}


{% block content %}
<script>
  $(".top-menu").find("#data_quality").addClass("current");
</script>


<ul>
  <li>Статьи
    <ul>

      <li><a href="{% sign_url "/sqlreports/createreport/article_keywords/" adata=adata %}">Ключевые слова статей</a></li>
      <li>Присвоение типа публикации статьям в сборниках</li>
      <li><a href="{% sign_url "/sqlreports/createreport/ext_articles_links/" adata=adata %}"
             title="Удаление связи статьи в ИСТИНе со статьей в Scopus/WoS"
             >Удаление ошибочных связей со статьями из внешних систем</a></li>

    </ul>
  </li>
  <li>Сборники и монографии
    <ul>
      <li><a href="{% sign_url "/sqlreports/createreport/assign_collection_editor_role/" adata=adata %}"
             title="Выбор между редактором, главным редактором, составителем, автором предисловия и т.д."
             >Изменение роли автора сборника</a></li>

      <li><a href="{% sign_url "/sqlreports/createreport/edit_books/" adata=adata %}"
             title="Редактирование данных о тираже и объёме монографий и учебных пособий."
             >Редактирование выходных данных монографий и учебных пособий</a></li>
    </ul>
  </li>

  <li> Патенты
    <ul>
      <li><a href="{% sign_url "/sqlreports/createreport/patents_assign_owner/" adata=adata %}">Указание правообладателей патентов (МГУ / не МГУ)</a></li>
      <li><a href="{% sign_url "/sqlreports/createreport/patprograms_assign_owner/" adata=adata %}">Указание правообладателей свидетельств о регистрации ПО (МГУ / не МГУ)</a></li>
    </ul>
  </li>

  {% if user.is_superuser %}
  <hr class="space"/>
  <hr/>
  <hr class="space"/>
  <li><b>Функции в стадии разработки</b> (доступно только <b>супераользователям</b>):</li>

  <li><a href="{% sign_url "/sqlreports/createreport/edit_collections/" adata=adata %}"
         >Редактирование сборников</li>

  {% endif %}
</ul>

{% endblock %}
