{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
{% endblock %}

{% block extracss %}
{% endblock %}


{% block content %}
<script>
  $(".top-menu").find("#data_quality").addClass("current");
</script>


<p>
  Раздел "Исправление данных" содержит функции объединения дубликатов
  объектов (которые были внесены сотрудниками Вашего подразделения) и
  функции быстрого редактирования большого количества объектов.
</p>

<p>
</p>

<ul>
  <li><a href="{% url depadmin_datacleaning_workers_overview %}">Просмотр списка возможных дубликатов авторов</a></li>
  <li><a href="{% url depadmin_datacleaning_workers_free_merge %}">Объединение авторов</a> (<strong>Новое</strong>)</li>

  <li><a href="{% url depadmin_users_profiles %}">Объединение профилей пользователей</a></li>

  <li><a href="/common/conferences/conference/merge_wizard/">Объединение конференций</a></li>

  <li><a href="/common/icollections/collection/merge_wizard/">Объединение сборников</a></li>

  {% if user.is_superuser %}
  <hr class="space"/>
  <hr/>
  <hr class="space"/>
  <li>В разработке:</li>
  <li><a href="{% url common_merge_requests %}">Заявки пользователей на объединение записей</a></li>
  <hr class="space"/>
  <hr/>
  {% endif %}
</ul>

{% endblock %}
