{% extends "base.html" %}
{% load i18n myforms %}
{% load sign_url %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
{% endblock %}

{% block extracss %}
{% endblock %}


{% block content %}
<script>
  $(".top-menu").find("#data_quality").addClass("current");
</script>

<h4>Объединение дубликатов авторов</h4>

На данной странице Вы можете создать заявку на объединение
произвольных авторов, введенных в систему. Пожалуйста, введите в
приведенную ниже форму одну или две фамилии. Например, фамилию на
русском и английском языках.

<hr class="space"/>

<hr/>
<br/>
<span style="background-color: #9999ff;">
<form action="{% url depadmin_datacleaning_workers_overview %}" method="POST">{% csrf_token %}
  Фамилия автора (русская): <input name="lastname_rus" value="{{lastname_rus}}"/><br/>
  Фамилия автора (английская): <input name="lastname_eng" value="{{lastname_eng}}"/>
  <input type="hidden" name="merge_by_name"/>
  <br/>
  <br/>
  <input type="submit" value="Искать">
</form>
</span>
<br/>


{% endblock content %}
