{% extends "base.html" %}
{% load i18n myforms %}
{% load sign_url %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
{% endblock %}

{% block extracss %}
{% endblock %}


{% block content %}
<script>
  $(".top-menu").find("#data_quality").addClass("current");
</script>

<h4>Объединение дубликатов авторов</h4>

На данной странице показывается спосок потенциальных дубликатов
авторов, которые были созданы
 сотрудниками Вашего подразделения.
{% comment %}
{% if depadmin %}
 сотрудниками Вашего подразделения.
{% else %}
Вами.
{% endif %}
{% endcomment %}
 Спосок отсортирован по дате создания последнего
дубликата для указанной фамилии. Вы можете объединить тех авторов,
которые действительно являются дубликатами, а не однофамильцами. Для
перехода на страницу объединения, пожалуйста, нажмите на фамилию
автора.

<hr class="space"/>

<form action="." method="POST">{% csrf_token %}
  {% if deps > 1 %}
  <select name="department_id" onChange="form.submit()">
    {% for d in deps %}
      <option value="{{d.id}}" {% if d.id == current_dep.id %}selected="yes"{% endif %}>{{d.name}}</option>
    {% endfor %}
  </select>
  {% endif %}
  Фамилия автора: <input name="lastname" value="{{lastname}}">
  <input type="submit" value="Искать">
</form>
<br/><br/>


<table>
  <thead>
    <tr>
      <td>N</td>
      <td>Фамилия</td>
      <td>Имя</td>
      <td>Отчество</td>
      <td>Дубликатов</td>
      <td>Дата создания дубликата</td>
    </tr>
  </thead>
  <tbody>
    {% for dup in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td> <a href="{% sign_url '/common/workers/worker/merge_wizard/?f_man_id={{dup.man_id}}' adata=adata %}">{{dup.lastname}}</a></td>
      <td>{{dup.firstname}}</td>
      <td>{{dup.middlename}}</td>
      <td>{{dup.nduplicates}}</td>
      <td>{{dup.created}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if not data %}
  Сотрудники <b>{{current_dep.name}}</b> не создали ни одного дубликата!
{% endif %}

{% endblock content %}
