{% extends "base.html" %}
{% load kwacros %}

{% kwacro report_title %}
	{% block report_title %}{% endblock %}
{% endkwacro %}

{% block title %}{% usekwacro report_title %} | Отчет диссертационного совета {{ dissertation_council.title }} за {{ year }} год{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}dissertation_councils/css/council_detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2><a href="{{ council.get_absolute_url }}">{{ council.title }}</a></h2>
<h3><a href="{% url dissertation_councils_council_report_index council.id year %}">Отчет совета за {{ year }} год</a></h3>
<h3>{% usekwacro report_title %}</h3>
{% block report_additional_title %}{% endblock %}
<hr>

{% block council_short %}
<ul class="object_detail">
	<li>
		<span>Шифр диссертационного совета:</span><br/>
		<p>{{ council.number }}</p>
	</li>
	<li>
		<span>Наименование организации:</span><br/>
		<p>{{ council.organization_name }}</p>
	</li>
</ul>
{% endblock %}

{% block report_content %}{% endblock %}

{% block signatures %}
<ul class="object_detail">
	<li>
		{% with memberships=council.chiefs %}
		<span>Председател{{ memberships|length|pluralize:"ь,и" }} диссертационного совета:</span><br/>
		{% for membership in memberships %}
			<p>{{ membership.workers_string }}</p>
			{% if not forloop.last %}<br/>{% endif %}
		{% endfor %}
		{% endwith %}
	</li>
	<li>
		{% with memberships=council.secretaries %}
		<span>Учены{{ memberships|length|pluralize:"й,е" }} секретар{{ memberships|length|pluralize:"ь,и" }}:</span><br/>
		{% for membership in memberships %}
			<p>{{ membership.workers_string }}</p>
			{% if not forloop.last %}<br/>{% endif %}
		{% endfor %}
		{% endwith %}
	</li>
</ul>
{% endblock %}

{% endblock %}

