{% extends "dissertation_councils/report/base.html" %}

{% block report_title %}Информационная карта{% endblock %}

{% block council_short %}{% endblock %}

{% block report_content %}

<ul class="object_detail">
	<li>
		<span>Шифр диссертационного совета:</span><br/>
		<p>{{ council.number }}</p>
	</li>
	<li>
		<span>Название организации, при которой создан диссертационный совет:</span><br/>
		<p>{{ council.organization_name }}</p>
	</li>
    <li>
    	<span>Адрес совета:</span><br/>
    	<p>{{ council.address }}</p>
	</li>
	<li>
		<span>Телефон совета:</span><br/>
		<p>{{ council.phone }}</p>
	</li>
	<li>
		<span>Электронный адрес совета:</span><br/>
		<p>{{ council.email }}</p>
	</li>
	<li>
		<span>Список специальностей:</span><br/>
	</li>
</ul>

{% with specialties=council.council_specialties.all %}
<table class="margin-left">
	<tr>
		<th>Шифр и наименование специальности</th>
		<th>Отрасль науки</th>
	</tr>
	{% for specialty in specialties %}
	<tr>
		<td>{{ specialty.specialty.number }} {{ specialty.specialty.name }}</td>
		<td>{{ specialty.domain }}</td>
	</tr>
	{% endfor %}
</table>
{% endwith %}

{% endblock %}

