{% extends "dissertation_councils/report/base.html" %}

{% block report_title %}Данные о рассмотренных диссертациях (инф. карта 2){% endblock %}

{% block report_content %}

{% for table in tables %}
<h3>{{ table.title }}</h3>
<table class="border">
	<tr>
		<th>Шифр специальности</th>
		{% for specialty in table.specialties %}
			<th>{{ specialty.number }}</th>
		{% endfor %}
	</tr>
	<tr>
		<th>Отрасль науки</th>
		{% for specialty in table.specialties %}
			<th>{{ specialty.domain }}</th>
		{% endfor %}
	</tr>
	<tr>
		<td>С положительным решением по результатам защиты диссертации</td>
		{% for specialty in table.specialties %}
			<td>{{ specialty.positive }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td>в том числе по выполненным в других организациях</td>
		{% for specialty in table.specialties %}
			<td>{{ specialty.positive_external }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td>Отрицательные решения по результатам защиты диссертации</td>
		{% for specialty in table.specialties %}
			<td>{{ specialty.negative }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td>в том числе по выполненным в других организациях</td>
		{% for specialty in table.specialties %}
			<td>{{ specialty.negative_external }}</td>
		{% endfor %}
	</tr>
</table>
{% endfor %}

{% endblock %}

