{% extends "base.html" %}

{% block title %}Отчет диссертационного совета {{ dissertation_council.title }} за {{ year }} год{% endblock %}

{% block content %}

<h2><a href="{{ council.get_absolute_url }}">{{ council.title }}</a></h2>
<h3>Отчет совета за {{ year }} год</h3>
<hr>

<div class="margin-left">
	<h3 class="margin-top"><a href="{% url dissertation_councils_council_report_card council.id year %}">Информационная карта совета</a></h3>
	<h3><a href="{% url dissertation_councils_council_report_members council.id year %}">Информация о членах совета</a></h3>
	<h3><a href="{% url dissertation_councils_council_report_publications council.id year %}">Публикации членов совета</a></h3>
	<h3><a href="{% url dissertation_councils_council_report_dissertations council.id year %}">Данные о рассмотренных диссертациях (инф. карта 2)</a></h3>
</div>

<h3 class="margin-top">Аттестационные дела</h3>
<hr>

<div class="margin-left margin-top">
{% for dissertation in dissertations %}
	<h4><a href="{% url dissertations_attestation_case dissertation.id %}">{{ dissertation.author_fullname }}</a>, {{ dissertation.title }}</h4>
{% endfor %}
</div>

{% endblock %}

