{% extends "dissertation_councils/report/base.html" %}

{% block report_title %}Информация о членах совета{% endblock %}

{% block report_content %}

<table class="margin-left">
	<tr>
		<th>№</th>
		<th>Фамилия имя отчество</th>
		<th>Должность в совете</th>
		<th>Статус</th>
		<th>Наименование организации места основной работы</th>
		<th>Ученая степень</th>
		<th>Шифр специальности, по которой защищена диссертация</th>
		<th>Шифр специальности, по которой работает в совете</th>
		<th>Отрасль науки</th>
	</tr>
	{% for membership in council.memberships.all %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td><a href="{{ membership.member.get_absolute_url }}">{{ membership.workers_string_full }}</a></td>
		<td>{{ membership.post }}</td>
		<td>{{ membership.status_text }}</td>
		<td>{{ membership.member.organization_main_str }}</td>
		<td>{{ membership.member.degree_text }}</td>
		<td>{{ membership.member.main_dissertation.get_specialty }}</td>
		<td>{{ membership.specialty|default_if_none:"" }}</td>
		<td>{{ membership.domain|default_if_none:"" }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}

{% block signatures %}{% endblock %}

