{% extends "dissertation_councils/report/base.html" %}

{% block report_title %}Публикации членов совета{% endblock %}

{% block report_content %}

<table>
	<tr>
		<th>№</th>
		<th>Фамилия имя отчество</th>
		{% include "dissertation_councils/report/publication_headers.html" %}
	</tr>
	{% for membership in memberships %}
		{% for publication in membership.publications %}
		<tr>
			{% if forloop.first %}
				<td class="rowspan" rowspan="{{ membership.publications|length }}">{{ forloop.parentloop.counter }}</td>
				<td class="rowspan" rowspan="{{ membership.publications|length }}"><a href="{{ membership.member.get_absolute_url }}">{{ membership.workers_string_full }}</a></td>
			{% endif %}
			{% include "dissertation_councils/report/publication_row.html" %}
		</tr>
		{% empty %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td colspan="8"><a href="{{ membership.member.get_absolute_url }}">{{ membership.workers_string_full }}</a></td>
		</tr>
		{% endfor %}
	{% endfor %}
</table>

{% endblock %}

{% block signatures %}{% endblock %}