<td>{{ forloop.counter }}</td>
<td>{{ publication.nominative_detail }}</td>
<td><a href="{{ publication.get_absolute_url }}">{{ publication.title }}</a></td>
<td>{% if publication.is_vak %}{{ publication.journal }}{% endif %}</td>
<td>{{ publication.impact_factor|floatformat:3 }}</td>
<td>{{ publication.coauthors }}</td>
<td>{{ publication.citation_short }}</td>
