{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Установка пароля{% endblock %}

{% block content %}

<h2>Установка нового пароля для пользователя {{user_to_alter.username}}</h2>

Вы можете установить новый пароль для пользователя {{user_to_alter.username}} ({{user_to_alter.get_profile.worker}}, {{user_to_alter.email}}).
<br/>
Пожалуйста, используйте только латинские буквы и цифры. Большие и маленькие буквы различаются.<br/>
На адрес пользователя будет выслано сообщение, что Вы изменили его пароль.<br/><br/>

<form action="." method="POST">{% csrf_token %}
  <fieldset>
    {% show_form form %}
  </fieldset>
  <input type="submit" name="set">
</form>

{% endblock %}
