{% extends "userprofile/base_2col.html" %}
{% load i18n myforms %}

{% block title %}Добавить степень или звание{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}workers/css/degree_edit.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/degree_edit.js"></script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}

{% if worker %}
    <form id="add_degree_form" class="personal" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>Добавить степень</legend>
            {% show_form degree_form %}
            <div class="submit">
                <input id="degree_submit" type="submit" value="Добавить степень"  title="Сохранить информацию в системе" />
            </div>
        </fieldset>
    </form>

    <form id="add_ordinary_rank_form" class="personal" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>Добавить звание</legend>
            {% show_form ordinary_rank_form %}
            <div class="submit">
                <input id="rank_submit" type="submit" value="Добавить звание"  title="Сохранить информацию в системе" />
            </div>
        </fieldset>
    </form>

    <form id="add_academian_rank_form" class="personal" action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <fieldset>
            <legend>Добавить академическое звание</legend>
            {% show_form academy_rank_form %}
            <div class="submit">
                <input id="rank_submit" type="submit" value="Добавить звание"  title="Сохранить информацию в системе" />
            </div>
        </fieldset>
    </form>
    <b>Внимание!</b>
    Присвоенное ранее учёное звание старшего научного сотрудника и доцента по кафедре соответствует ученому званию доцента, а звание профессора по кафедре&ndash; учёному званию профессора (Постановление Правительства Российской Федерации от 10 декабря 2013 года  № 1139).

{% endif %}


{% if worker.degrees.exists %}

    <div id="degrees">
        <h3 class="margin-top">Степен{{ worker.degrees.count|pluralize:"ь,и" }}</h3>

        <ul>
            {% for degree in worker.degrees.all %}
                <li>
                    <ul class="activity">
                        <li>
                            <b>
                                {{ degree.degree.name }}{% if degree.year %} с {{ degree.year }} года{% endif %}
                            </b>
                        </li>
                        <li>
                            <a class="degree_delete inner" href="">Удалить степень</a>
                            <input type="hidden" value="{{ degree.id }}">
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


{% if worker.ranks.exists %}

    <div id="ranks">
        <h3 class="margin-top">Звани{{ worker.degrees.count|pluralize:"е,и" }}</h3>

        <ul>
            {% for rank in worker.ranks.all %}
                <li>
                    <ul class="activity">
                        <li>
                            <b>
                                {{ rank.get_fullname }}{% if rank.date %} с {{ rank.date }}{% endif %}
                            </b>
                        </li>
                        <li>
                            <a class="rank_delete inner" href="">Удалить звание</a>
                            <input type="hidden" value="{{ rank.id }}">
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}

{% block userprofile_content_related %}
  <div class="box">
    <h3>Ученые степени и звания</h3>
    <p>Добавьте информацию о {% if user.get_profile.worker == worker %}Ваших ученых степенях и званиях.{% else %}ученых степенях и званиях сотрудника {{ worker.fullname_initials }}{% endif %}</p>
</div>
{% endblock %}

