{% load workers_show %}
<ul class="activity"><!-- employment short information -->
    <li>
        <b>
            {% if employment.startdate %}
                {% if employment.enddate %}
                    {{ employment.startdate|date:"j E Y" }} - {{ employment.enddate|date:"j E Y" }}
                {% else %}
                    с {{ employment.startdate|date:"j E Y" }}
                {% endif %}
            {% endif %}
        </b>
        <a href="{{ employment.department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ employment.department.name }}</a>
    </li>
    <li>{% include "organizations/department_ancestors.html" with department=employment.department no_leaf=1 %}</li>
    {% if employment.position %}
    <li>{{ employment.position }}</li>
    {% endif %}
    {% if employment.parttime %}
    <li>По совместительству</li>
    {% endif %}
    <li>
        {% if not employment.position and can_edit %}
            <a class="employment_add_position inner" href="">Добавить должность</a>
            <form class="employment_edit_position hide" action="{% url workers_employment_edit_position employment.id %}" method="post">{% csrf_token %}
                {% get_employment_position_form employment %}
                <input type="submit" value="Сохранить должность" />
            </form>
        {% endif %}
        {% if can_edit %}
          <a class="inner" href="{% url workers_employment_edit employment.worker.id employment.id %}">Изменить место работы</a>
        {% endif %}
        <a class="employment_delete inner" href="">Удалить место работы</a>
        <input type="hidden" value="{{ employment.id }}">
    </li>
</ul>
