{% extends "base.html" %}

{% block title %}{{ employment.worker.fullname }} в подразделении {{ employment.department.name }} - работа сотрудника в подразделении{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>{{ employment.worker.fullname }} <i>в подразделении</i> {{ employment.department.name }}<br/><span class="detail_label">работа сотрудника в подразделении</span></h2>
<ul class="object_detail"><!-- employment detailed information -->
    <li>
        <span>Сотрудник:</span>
        <span><a href="{{ employment.worker.get_absolute_url }}" title="Перейти на страницу сотрудника">{{ employment.worker.fullname }}</a></span>
    </li>
    <li>
        <span>Подразделение:</span>
        <span><a href="{{ employment.department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ employment.department.name }}</a></span>
    </li>
    
    {% if employment.position %}
    <li>
        <span>Должность:</span>
        <span>{{ employment.position }}</span>
    </li>
    {% endif %}

    <li>
        <span>Дата начала работы:</span>
        <span>{{ employment.startdate|date:"j E Y" }}</span>
    </li>

    {% if employment.enddate %}
    <li>
        <span>Дата окончания работы:</span>
        <span>{{ employment.enddate|date:"j E Y" }}</span>
    </li>
    {% endif %}

    {% if employment.parttime %}
    <li>
        <span>Работа по совместительству</span>
    </li>
    {% endif %}
    
    {% include "common/object_creator.html" with creator=employment.creator %}

</ul>
{% endblock %}
