{% extends "userprofile/base_2col.html" %}
{% load i18n myforms workers_show %}

{% block title %}Добавить место работы{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}workers/css/employment_edit.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dynatree/ui.dynatree.css" type="text/css" id="skinSheet">
{% endblock %}

{% block extrajs %}
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery-dynamic-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/employment_edit_dynatree.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/registration_employment_edit.js"></script>

{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
{% include "workers/registration/employment.html" %}
{% endblock %}

{% block userprofile_content_related %}
  <div class="box">
    <h3>Место работы</h3>
    <p>Добавьте информацию о месте {% if user.get_profile.worker == worker %}вашей работы.{% else %}работы сотрудника {{ worker.fullname_initials }}{% endif %}</p>
    <p><b>Если Вы не нашли нужного структурного подразделения или заметили ошибки в списке подразделений - пожалуйста, воспользуйтесь обратной связью (внизу страницы).</b> В ближайшее время ошибка будет исправлена.</p>
</div>
{% endblock %}
