<div class="span-24 last">
    <h3 class="margin-top clear">
        Последние добавленные работы <a class="edit" href="{% url home_profile %}">Все работы</a><a class="edit" href="/help/home/">помощь по этой странице</a>
    </h3>
<hr />

{% with activities=worker.activities_latest_added %}
{% include "common/activities.html" with activities_existence=activities no_links=0 activities_list_type="latest_added" %}
{% endwith %}

{% if profile.user == user %}
    Адрес Вашей общедоступной страницы: <a href="{{ profile.get_absolute_url }}">{{ profile.get_full_url }}</a>
{% endif %}