<table class="worker-list">
    <thead>
        <tr>
            <th>{{ workers_verbose_name_single|default:"Автор" }}</th>
            <th>Похожие сотрудники в системе</th>
        </tr>
    </thead>
    <tbody>
        {% if workers_formset.non_form_errors %}
        <tr>
            <td colspan="2">
                <div class="error">
                    <span class="ui-icon ui-icon-alert" ></span>
                    {{ workers_formset.non_form_errors }}
                </div>
            </td>
        </tr>
        {% endif %}
        <tr class="workers_not_chosen hide">        
            <td colspan="2">
                <div class="error">
                    <span class="ui-icon ui-icon-alert" ></span>
                    Пожалуйста, выберите похожих сотрудников в системе или добавьте новых:
                </div>
            </td>
        </tr>
    {% for form in workers_formset.forms %}
        <tr>
            {% include 'workers/worker_form.html' %}
        </tr>
    {% endfor %}
   </tbody>
</table>
{{ workers_formset.management_form }}
