{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load workers_show paging_extras %}

{% load activity_description %}
{% load article_list %}

{% block title %}Список Ваших возможных публикаций{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

{% paginate similar_workers from request as workers per_page 25 %}


<h2>Список публикаций, автором которых Вы возможно являетесь, но которые не отображаются на Вашей странице</h2>

{% if lost_articles %}
<p>
Для добавления работы к списку Ваших публикаций перейдите на страницу работы и нажмите на ссылку "Привязать публикацию к себе".
</p>
<table>
    {% get_article_list lost_articles worker as article_list %}
    {% for article in article_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <div class="float-left">{% include "publications/article_icons.html" %}</div>
                {% show_activity_description article no_links=0 %}
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
Публикаций не найдено.
{% endif %}

{% endblock %}

