{% extends "base.html" %}

{% block title %}Изменить личные данные{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}
<h3>Редактирование профиля</h3>

<p>
Перейдя по одной из приведенных ниже ссылок, Вы можете откорректировать указанную при регистрации в системе информацию.
</p>
<ul>
  <li> <a href="{% url workers_registration %}"> Редактирование личных данных</a> (полное имя, степени и звания, и т.д.)</li>
  <li> <a href="{% url workers_registration_other_systems %}"> Редактирование идентификаторов в других системах</a> (например, в eLibrary)</li>
  <li> <a href="{% url profile_edit_avatar %}" title="Перейти на страницу выбора фотографии">Изменение фотографии</a></li>
  <li> <a href="{% url email_validation %}" title="Перейти на страницу смены e-mail">Смена адреса электронной почты</a></li>
  <li> <a href="{% url password_change %}" title="Перейти на страницу смены пароля">Изменение пароля</a></li>
</ul>
{% endblock %}



{# ======================== Старая версия страницы временно оставлена в комментарии ================ #}

{% comment %}

{% extends "userprofile/base_2col.html" %}
{% load i18n myforms %}

{% block title %}Изменить личные данные{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/worker_info.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/profile_edit.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}

<h3>Основная информация</h3>
<hr />
<form class="personal" action="{% url workers_profile_edit_main %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    {% show_form main_form %}
    <hr class="space" />
    <input type="submit" value="Сохранить изменения" title="Сохранить информацию в системе" />
</form>

{% if worker and alias_formset %}
    <h3 class="margin-top">Ваши альтернативные имена</h3>
    <hr />
    <span class="margin-left">Подсказка: например, добавьте ваше имя на английском языке.</span>
    <form id="aliases_form" method="post" action="{% url workers_profile_edit_aliases %}">{% csrf_token %}
        {% show_formset alias_formset %}
        <br/>
        <input type="submit" value="Сохранить альтернативные имена" title="Сохранить альтернативные имена в системе">
    </form>
{% endif %}

{% if linking_form %}
<h3 class="margin-top">Ваш сотрудник</h3>
<hr />
{% if worker %}
<h4 class="margin-left">
Ваш профиль связан с сотрудником <a href="{{ worker.get_absolute_url }}" title="Перейти на вашу страницу">{{ worker.fullname }}</a>.
<a class="inner toggle_similar_workers_form" href="" title="Связать себя с другим сотрудником">изменить</a>
<a class="inner toggle_similar_workers_form hide" href="" title="Скрыть область выбора сотрудника">скрыть</a>
</h4>
{% endif %}

<form id="similar_workers_form" class="personal{% if worker %} hide{% endif %}" action="{% url workers_profile_link %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
        <legend>В системе найдены сотрудники с похожими именами</legend>
        <table class="worker-list">
            <thead>
                <tr>
                    <th>Ваше имя</th>
                    <th>Похожие сотрудники в системе</th>
                </tr>
            </thead>
            <tbody>
                <tr class="workers_not_chosen hide">
                    <td colspan="2">
                        <div class="error">
                            <span class="ui-icon ui-icon-alert" ></span>
                            Пожалуйста, выберите похожих сотрудников в системе или добавьте новых:
                        </div>
                    </td>
                </tr>
                <tr>
                    {% include 'workers/worker_form.html' with form=linking_form %}
                </tr>
           </tbody>
        </table>
        <input type="submit" value="Сохранить выбор сотрудника" title="Сохранить информацию" />
    </fieldset>
</form>
{% endif %}

{% endblock %}

{% block userprofile_content_related %}
  <div class="box">
    <h3>{% trans "Personal information" %}</h3>
    {% if not worker %}
        {% if not linking_form %}
            <p>Возможно, вы уже есть в нашей базе сотрудников. Пожалуйста, введите свою фамилию, имя и отчество. Мы попробуем найти Вас в системе.</p>
        {% else %}
            <p>Найдите себя в списке сотрудников. Если Вас нет в списке - выберите пункт "добавить нового сотрудника".</p>
        {% endif %}
    {% else %}
        <p>Вы можете изменить свои личные данные, а также связать профиль с другим сотрудником.</p>
    {% endif %}
  </div>

{% if worker and alias_formset %}
    <div class="box">
        <h3>Альтернативные имена</h3>
        <p>Альтернативные имена используются наряду с основным именем для привязки публикаций к вашему сотруднику.</p>
        <p>Добавьте в качестве альтернативных имен ваше имя на языках, на которых написаны ваши публикации.</p>
    </div>
{% endif %}

{% endblock %}


{% endcomment %}
