{% extends "userprofile/base_2col.html" %}
{% load i18n myforms %}

{% block title %}Изменить личные данные{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />

<link rel="stylesheet" href="{{ STATIC_URL }}workers/css/employment_edit.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/dynatree/ui.dynatree.css" type="text/css" id="skinSheet">

<style language="text/css">
#{{section}} {
   color: #900;
   font-weight: bold;
}
</style>
{% endblock %}

{% block extrajs %}
<!-- dynatree -->
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}base/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>

<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}base/js/worker_info.js"></script> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}workers/js/profile_edit.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}base/js/formset_add_form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/degree_edit.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}workers/js/employment_edit_dynatree.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/registration_employment_edit.js"></script>

{% endblock %}

{% block inlinejs %}
{% if worker.profile.registration_completed %}
<script>
$(function() {
  var urls = {"fullname": "{% url workers_registration_fullname %}",
              "aliases": "{% url workers_registration_aliases %}",
              "degrees": "{% url workers_registration_degree %}",
              "employment": "{% url workers_registration_employment %}",
              "keywords": "{% url workers_registration_keywords %}",
              "other_systems": "{% url workers_registration_other_systems %}",
              "search": "{% url workers_registration_search %}"
             }
  for(key in urls) {
      var selector = "#" + key
      $(selector).wrap(function() {
           var link = $('<a/>');
           link.attr('href', urls[key]);
           //link.text($(this).text());
           return link;
        });
  }
});
</script>
{% endif %}
{% endblock %}

{% block userprofile_navigation %}
  {% if worker.profile.registration_completed %}
    <a href="{% url workers_profile_edit %}">Редактирование профиля</a>
  {% endif %}
  <table>
    <tr>
      <td><div id="fullname" class="menu_item"><a href="{% url workers_registration_fullname %}">Полное имя</a></div></td>
      <td> &gt; </td>
      <td><div id="aliases" class="menu_item">Имена на других языках</div></td>
      <td> &gt; </td>
      <td><div id="degrees" class="menu_item">Степень и звание</div></td>
      <td> &gt; </td>
      <td><div id="employment" class="menu_item">Место работы</div></td>
      <td> &gt; </td>
      <td><div id="keywords" class="menu_item">Область интересов</div></td>
      <td> &gt; </td>
      <td><div id="other_systems" class="menu_item">Идентификаторы в других системах</div></td>
      <td> &gt; </td>
      <td><div id="search" class="menu_item">Поиск Ваших работ</div></td>
  <!--
      <td> &gt; </td>
      <td><div id="completed" class="menu_item">Завершение</div></td>
  -->
    <tr>
  </table>
  <br/>
  <br/>
{% endblock %}

{% block userprofile_content %}

{% if section == "fullname" %}
Спасибо, что Вы зарегистрировались в системе. Для активации Вашего профиля, пожалуйста, заполните предлагаемые далее формы (перечень разделов приведен выше).
Всю введенную информацию можно будет изменить позднее.
</br/></br/>
{% endif %}


{% if section == "fullname" %}
  {% include "workers/registration/fullname.html" %}
{% elif section == "aliases" %}
  {% include "workers/registration/aliases.html" with worker=worker alias_formset=alias_formset %}
{% elif section == "search" %}
  {% include "workers/registration/workers_search.html" with worker=worker %}
{% elif section == "degrees" %}
  {% include "workers/registration/degree.html" with worker=worker %}
{% elif section == "employment" %}
  {% include "workers/registration/employment.html" with worker=worker %}
{% elif section == "keywords" %}
  {% include "workers/registration/keywords.html" %}
{% elif section == "other_systems" %}
  {% include "workers/registration/other_systems.html" %}
{% elif section == "completed" %}
  <h3>Регистрация завершена. Спасибо.</h3>
  Для продолжения работы перейдите по ссылке <a href="{% url home %}">Ваша домашняя страница</a>.
{% endif %}

{% endblock %}

{# ----------- Hints -------------- #}

{% block userprofile_content_related %}
<div class="box">
{% if section == "fullname" %}
    <h3>{% trans "Personal information" %}</h3>
    {% if not worker %}
        {% if not linking_form %}
            <p>Возможно, вы уже есть в нашей базе сотрудников. Пожалуйста, введите свою фамилию, имя и отчество. Мы попробуем найти Вас в системе.</p>
        {% else %}
            <p>Найдите себя в списке сотрудников. Если вас нет в списке - выберите пункт "добавить нового сотрудника".</p>
        {% endif %}
    {% else %}
        <p>Вы можете изменить свои личные данные, а также связать профиль с другим сотрудником.</p>
    {% endif %}
{% elif section == "aliases" %}
    <h3>Альтернативные имена</h3>
    <p>Альтернативные имена используются наряду с полным именем для привязки публикаций к вашему сотруднику.</p>
    <p>Добавьте в качестве альтернативных имен Ваше имя на языках, на которых написаны Ваши публикации, или Вашу прежнюю фамилию, если она изменялась.</p>

    {% if aliases_generated %}
    <p>Для удобства мы составили список наиболее часто встречающихся
      вариантов написания Вашего имени в публикациях на иностранных
      языках. Вы можете изменить или отметить галочкой "удалить" те из
      них, которые не соответствуют действительности, или добавить
      дополнительные варианты.</p>
    {% endif %}
{% elif section == "degrees" %}
    <h3>Ученые степени и звания</h3>
    <p>Добавьте информацию о {% if user.get_profile.worker == worker %}Ваших ученых степенях и званиях.{% else %}ученых степенях и званиях сотрудника {{ worker.fullname_initials }}{% endif %}</p>
{% elif section == "employment" %}
    <h3>Место работы</h3>
    <p>Добавьте информацию о месте {% if user.get_profile.worker == worker %}вашей работы.{% else %}работы сотрудника {{ worker.fullname_initials }}{% endif %}</p>
    <p><b>Если Вы не нашли нужного структурного подразделения</b> или заметили ошибки в списке подразделений - пожалуйста, обратитесь к ответственному своей организации (форма обратной связи внизу страницы).</p>
{% elif section == "keywords" %}
    <h3>Ключевые слова</h3>
    <p>Можно ввести несколько ключевых слов, разделенных запятой или точкой с запятой.</p>
{% elif section == "other_systems" %}
    <h3>Идентификаторы</h3>
    <p>Если Вы зарегистрированы в других системах, например <a href="http://researcherid.com/" target="_blank">ResearcherID.com</a> или <a href="http://eLibrary.ru/">elibrary</a>,
то Вы можете указать свой идентификатор в этих системах. Ваш идентификатор в eLibrary, например, позволит отображать на Вашей странице информацию о числе ссылок на Ваши работы в РИНЦ.<br/><br/>
      <a href="http://lib.herzen.spb.ru/media/elres/spinkod_authorid.pdf"><b>Как узнать свой AuthorID в РИНЦ?</b></a>
</p>
{% endif %}
</div>
{% endblock %}
