<!-- # -*- coding: utf-8; -*- -->
{% extends "base.html" %}

{% block title %}Отчеты | {{ worker.fullname }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

<h2><a href="{{ worker.get_absolute_url }}">{{ worker.fullname }}</a><span class="detail_label">сотрудник</span></h2>

<h2>Отчет "Об организации мониторинга деятельности сети диссертационных советов"</h2>

<ol style="font-size: 1.3em">
    <li style="margin-bottom: 20px">
        Анкета члена диссертационного совета (Приложение 1)
        <div style="font-size: 0.85em;">
            <a href="{% if page_owner %}{% url worker_reports_monitoring_profile startyear endyear %}{% else %}{% url worker_reports_monitoring_profile worker.id startyear endyear  %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% if page_owner %}{% url worker_reports_monitoring_profile_excel startyear endyear %}{% else %}{% url worker_reports_monitoring_profile_excel worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
            <p><b>Примечания.</b> Анкета имеет следующие ограничения. Показатели "Наличие степени доктора наук" и "Публикации" рассчитываются без учета специальности. В поле "Монографии" учитываются <i>все</i> монографии за указанный период. Индекс Хирша рассчитывается только по Web of Science. В показатели "доклады на конференциях" учтены <i>все</i> доклады на конференциях за указанный период. В целом, показатели в анкете совпадают с данными в соответствующих таблицах (см. ниже).</p>
        </div>
    </li>
    <li style="margin-bottom: 20px">
          Загрузка публикаций в систему сбора отчётов о работе диссертационных советов
          <div style="font-size: 0.85em;">
            <a href="{% if page_owner %}{% url worker_reports_monitoring_publications_template_excel startyear endyear %}{% else %}{% url worker_reports_monitoring_publications_template_excel worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
            <p><b>Примечания.</b> Файл в формате Microsoft Excel может быть использован для загрузки данных в систему сбора отчётов о работе диссертационных советов в соответствии с методическими рекомендациями по работе с системой. В файле представлены те же данные, что и в пп. 3, 4, 7 на настоящей странице.</p>
          </div>
    </li>

    <li style="margin-bottom: 20px">
        Монографии, изданные за {{startyear|add:"-5"}}-{{endyear}} годы (Таблица 2-дс)
        <div style="font-size: 0.85em;">
            <a href="{% if page_owner %}{% url worker_reports_monitoring_books startyear|add:"-5" endyear %}{% else %}{% url worker_reports_monitoring_books worker.id startyear|add:"-5" endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% if page_owner %}{% url worker_reports_monitoring_books_excel startyear|add:"-5" endyear %}{% else %}{% url worker_reports_monitoring_books_excel worker.id startyear|add:"-5" endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
            <p><b>Примечания.</b> В отчете перечислены <i>все</i> монографии за указанный период. Объем и тираж монографий указаны для работ, о которых такие сведения есть в системе.</p>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Список публикаций {{startyear}}-{{endyear}} годов в журналах, индексируемых в Web of Science/Scopus, а также из перечня ВАК (Таблица 3-дс)
        <div style="font-size: 0.85em">
            <a href="{% if page_owner %}{% url worker_reports_monitoring_publications startyear endyear %}{% else %}{% url worker_reports_monitoring_publications worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% if page_owner %}{% url worker_reports_monitoring_publications_excel startyear endyear %}{% else %}{% url worker_reports_monitoring_publications_excel worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
            <p><b>Примечание.</b> Количество цитирований по РИНЦ не указано, т.к. этих данных нет в системе.</p>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Патенты на изобретения, полученные в {{startyear|add:"-5"}}-{{endyear}} годах (Таблица 4-дс)
        <div style="font-size: 0.85em;">
            <a href="{% if page_owner %}{% url worker_reports_monitoring_patents startyear|add:"-5" endyear %}{% else %}{% url worker_reports_monitoring_patents worker.id startyear|add:"-5" endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% if page_owner %}{% url worker_reports_monitoring_patents_excel startyear|add:"-5" endyear %}{% else %}{% url worker_reports_monitoring_patents_excel worker.id startyear|add:"-5" endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Кандидаты и доктора наук, защитившиеся под руководством сотрудника в {{startyear}}-{{endyear}} годах (Таблица 5-дс)
        <div style="font-size: 0.85em;">
            <a href="{% if page_owner %}{% url worker_reports_monitoring_dissertations startyear endyear %}{% else %}{% url worker_reports_monitoring_dissertations worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% if page_owner %}{% url worker_reports_monitoring_dissertations_excel startyear endyear %}{% else %}{% url worker_reports_monitoring_dissertations_excel worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
            <p><b>Примечание.</b> В отчете не указаны наименования научных специальностей, точные даты защит, а также серии и номера дипломов, т.к. этих данных нет в системе.</p>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Международные конференции, в которых участвовал сотрудник в {{startyear}}-{{endyear}} годах (Таблица 6-дс)
        <div style="font-size: 0.85em;">
            <a href="{% if page_owner %}{% url worker_reports_monitoring_conferences startyear endyear %}{% else %}{% url worker_reports_monitoring_conferences worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% if page_owner %}{% url worker_reports_monitoring_conferences_excel startyear endyear %}{% else %}{% url worker_reports_monitoring_conferences_excel worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
            <p><b>Примечание.</b> В отчете перечислены <i>международные</i> конференции, на которых сотрудник делал доклад в указанном периоде.</p>
        </div>
    </li>

    <li style="margin-bottom: 20px">
        Статьи в сборниках и тезисы докладов сотрудника за {{startyear}}-{{endyear}} года (Таблица 6-дс)
        <div style="font-size: 0.85em;">
            <a href="{% if page_owner %}{% url worker_reports_monitoring_theses startyear endyear %}{% else %}{% url worker_reports_monitoring_theses worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/html.png" style="width: 24px; vertical-align: -5px; margin-left: 20px;" />
                Просмотреть на сайте
            </a>
            <a href="{% if page_owner %}{% url worker_reports_monitoring_theses_excel startyear endyear %}{% else %}{% url worker_reports_monitoring_theses_excel worker.id startyear endyear %}{% endif %}">
                <img src="{{ STATIC_URL }}base/img/excel.png" style="width: 24px; vertical-align: -5px; margin-left: 30px;" />
                Скачать Excel-файл
            </a>
            <p><b>Примечания.</b> Для получения окончательных данных для таблицы 6-дс вам необходимо, во-первых, объединить данные этого отчета с предыдущим (по конференциям), сопоставив доклады на конференциях и соответствующие статьи в сборниках. Во-вторых, в данном отчете представлены <i>все</i> статьи в сборниках и тезисы сотрудника за {{startyear}}-{{endyear}} годы. Вам необходимо самостоятельно отобрать из них международные конференции, запрашиваемые в анкете.</p>
        </div>
    </li>

</ol>

<h3>Примечания</h3>

<ol>

    <li>Результаты деятельности (публикации и т.д.) в отчетах не разбиты по группам специальностей, так как в системе в настоящее время нет этой информации.</li>
    <li>Библиографические описания публикаций отображаются по ГОСТ 7.1.</li>
    <li>В качестве электронного адреса размещения указывается адрес публикации в Scopus (если статья была найдена в Scopus), иначе указывается адрес ее страницы в системе ИСТИНА.</li>
    <li>Импакт-факторы по Scopus обновлены до последней версии 2012 года.</li>
    <li>Импакт-факторы по РИНЦ взяты со <a href="http://elibrary.ru/titles_compare.asp">страницы eLibrary.ru</a>, показатель "пятилетний импакт-фактор с учетом переводной версии".</li>
    <li>Пустые ячейки в отчетах означают, что соответствующих данных в настоящее время нет в системе ИСТИНА.</li>

</ol>

{% endblock %}
