{# -*- coding: utf-8; -*- #}

{% extends "base.html" %}
{% load workers_show paging_extras %}

{% load activity_description %}
{% load article_list %}

{% block title %}Список Ваших возможных публикаций{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<br/>
Вы собираетесь отправить сообщение для пользователя <b>{{username}} ({{user_fullname}}).</b>
<br/>
Пожалуйста, введите текст сообщения и нажмите кнопку "Отправить сообщение". Оно будет
отправлено на электронную почту пользователя {{username}}.
<form action="/profile/{{username}}/send_message/" method="POST">{% csrf_token %}
<textarea name="body" class="span-20" rows="20" cols="40">


С уважением,
{{sender_fullname}}
</textarea>
<br/>
<input  name="cancel" value="Отмена" type="submit">
<div class="prepend-12">
<input name="send" value="Отправить сообщение" type="submit">
</div>
</form>

<form action="/profile/{{username}}/" method="POST">{% csrf_token %}

</form>


{% endblock %}

