{% extends "base.html" %}

{% load activity_description %}
{% load article_list %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}statistics/css/base.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block title %}Статьи в журналах из перечня ВАК{% endblock %}

{% block content %}

<div class="span-24 last">
    <h2>{{ worker.fullname }}</h2>
    <h2>Статьи в журналах из перечня ВАК</h2>

    {% if articles %}
        <h4 class="margin-left">Всего: {{ articles|length }}.</h4>
        <table>
            {% get_article_list articles worker as article_list %}
            {% for article in articles %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <div class="float-left">{% include "publications/article_icons.html" %}</div>
                    {% show_activity_description article no_links=0 %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4 class="margin-top clear">Список пуст.</h4>
    {% endif %}
    
    <h3 class="margin-top clear">Почему в списке нет конкретной статьи?</h3>
    <hr/><hr class="space">
    Вероятнее всего, причина не в неправильном списке ВАК в системе, а в том, что Ваши статьи, которые должны попасть в этот список, привязаны к дубликатам журналов из списка ВАК. В этом случае свяжитесь с Вашим ответственным (по ссылке "обратная связь" внизу страницы) и пришлите ему список таких журналов, которые есть в перечне ВАК, но при этом Ваши статьи в них не отображаются на данной странице. Ответственные свяжутся с разработчиками и совместно объединят дубликаты журналов.
    
    <hr class="space">
    <a href="http://perechen.vak2.ed.gov.ru/" target="_blank">Перечень ВАК ведущих периодических изданий</a>
    
</div>

{% endblock %}

