{% extends "base.html" %}
{% load workers_show paging_extras %}

{% block title %}Список похожих сотрудников{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
{% if not is_you %}
<script type="text/javascript">
$(function(){
    $('.worker_short').find('h3>a').each(function(){
        href = $(this).attr("href");
        var url = window.location.href;
        worker_id = url.replace(url.match("(.*)workers/")[0],"").replace(url.match("/similar(.*)")[0],"");
        $(this).attr("href",href + '?similarto='+worker_id);
    });

})
</script>
{% endif %}
{% endblock %}

{% block content %}

{% paginate similar_workers from request as workers per_page 25 %}

{% if similar_workers %}
<h2>Список похожих{% if is_you %} на Вас{% endif %} сотрудников:</h2>

{{ workers.paging }}
<div>
    {% for worker in workers.objects %}
        <div class="worker_short span-24 last">{% show_worker_short worker 0 0 %}</div>
    {% endfor %}
</div>
{{workers.paging }}

{% else %}
    <h4>Похожих{% if is_you %} на Вас{% endif %} сотрудников не найдено.</h4>
{% endif %}

{% endblock %}
