{% extends "base.html" %}

{% block title %}{{ worker.fullname }} - {{ status_text }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<div class="span-3">
    {% include "common/avatar.html" with alt=worker only %}
</div>

<div class="span-21 last">
    <h2>{{ worker.fullname }}<span class="detail_label">{{ status_text }}</span></h2>
    <h3><i>профиль редактируется</i></h3>
</div>

{% endblock %}
