{% load representatives role_permissions %}
<div id="user_actions" class="box float-right">
    <h3>Информация</h3>
    <a href="{% url workers_worker_reports_index worker.id %}" title="Открыть страницу с отчетами сотрудника">Отчеты сотрудника</a><br/>
    <a href="{% url statistics_top_articles_by_worker worker.id %}" title="Открыть страницу со списком отобранных статей сотрудника">Список отобранных статей</a><br/>
    <a href="{% url workers_worker_publications_bibtex worker.id %}" title="Перейти на отдельную страницу с BibTeX-записями публикаций сотрудника" target="_blank">Экспорт публикаций в BibTeX</a>
    {% ifhaspermission user "edit" worker %}
    	<br/>
    	<a href="{% url workers_employment_edit worker_id=worker.id %}" title="Добавить/удалить место работы сотрудника">Редактировать место работы</a><br/>
    	<a href="{% url workers_degree_edit worker.id %}" title="Добавить/удалить степень или звание сотрудника">Редактировать степени и звания</a>
    	{% if worker.user %}
    	<br/><a href="{% url contests_list worker.id %}" title="Подать/отозвать заявку на конкурс от сотрудника">Редактировать заявки на конкурсы</a>
        <br/><a href="{% url similar_workers_list worker.id %}" title="Перейти на отдельную страницу со списком возможных дубликатов сотрудника">Возможные дубликаты</a>
    	{% endif %}
    {% endifhaspermission %}
    {% ifhaspermission user "delete_if_no_related_objects" worker %}
        <br/>
        <a class="delete_object_initial" href="">Удалить сотрудника</a>
        <span class="delete_object_question hide">точно удалить сотрудника?</span>
        <a class="delete_object_question confirm hide" href="{% url common_delete_if_no_related_objects worker.content_type.id worker.id %}">да</a>
        <a class="delete_object_question cancel hide" href="">нет</a>
    {% endifhaspermission %}
</div>
