{% extends "base.html" %}
{% load workers_show paging_extras %}

{% block title %}Результаты поиска{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/search_results.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/search_paginating.js"></script>
{% endblock %}

{% block content %}

{% paginate worker_list from request as workers per_page 25 %}

<input type="hidden" id="id_search_string" value="{{ search_string }}">

<form id="id_worker_search" class= "search_form"  action="{% url search_workers %}" method="post">{% csrf_token %}
    <input type="text" value="{{ search_string }}" name="worker_name" class="search_box" >
    <input type="submit"  value="Поиск" title="Поиск по базе зарегистрированных сотрудников" />
</form>

<h2>Результаты поиска:</h2>
{% if worker_list %}



{{ workers.paging }}
<div>
    {% for worker in workers.objects %}
        <div class="worker_short span-24 last">
            {% show_worker_short worker 0 0 %}
            {% if worker.match_type == 'alias' %}
                    <div class="alias_found">Сотрудник найден по альтернативному имени </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{{workers.paging }}
{% elif search_string_too_short %}
    <h4>Для поиска Вы должны ввести непустую строку.</h4>
{% else %}
    <h4>По вашему запросу ничего не найдено.</h4>
{% endif %}

{% endblock %}
