<div class="span-22 last">
    {% for employment in worker.current_main_employments %}
        <div>
            {% include "organizations/department_ancestors.html" with department=employment.department %}{% if employment.position %}, {{ employment.position_lower }}{% endif %}, {% if not employment.enddate %}с {% endif %}{{ employment.startdate|date:"j E Y" }}{% if employment.enddate %} - {{ employment.enddate|date:"j E Y" }}{% endif %}{% if employment.parttime %}, по совместительству{% endif %}
        </div>
    {% endfor %}


    {% if coauthors %}
        <div>
            Соавторы:
            {% if not no_links %}
                {% for author in coauthors %}
                    <a href="{{ author.get_absolute_url }}" title="Перейти на страницу сотрудника">{{ author.fullname_short }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                {% for author in coauthors %}
                    {{ author.fullname_short }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
            {% if coauthors_show_etc %}
            и др.
            {% endif %}
        </div>
    {% endif %}

    {% if activities_summary %}
        <div>{{ activities_summary }}</div>
    {% endif %}
</div>

{% if latest_activities %}
<div class="span-24 last margin-top">
    <div class="margin-top">
    {% include "common/activities.html" with activities=latest_activities activities_existence=latest_activities cache_disabled=1 %}
    </div>
</div>
{% endif %}

