{% load workers_show %}
{% with similar_workers=form.get_similar field_name=form.prefix|add:"-wid" fast=1 %}

<td class="initial-name">
    {% render_fullname_from_form form %}
</td>
<td>
{% if similar_workers.0 != "new" %}
    {% if similar_workers.0 == "first" and similar_workers.1|length_is:"1" %} {# exact match #}
    {% with similar_workers.1.0 as similar_worker %}
        <span class="worker-instance one-way">
            <a href="#" class="inner show_works worker-found selected{% if form.preserve_worker %} preserve_worker{% endif %}" title="Показать подробную информацию о сотруднике">{{ similar_worker.representation_name }}{% if similar_worker.worker.profile.user == request.user %} (Вы){% endif %}</a>
            <div class="works span-24 last hide">
               {% show_worker_short similar_worker.worker 1 %}
            </div>
            <input class="hide" type="radio" checked="checked" name="{{ field_name }}"  id="id_{{ field_name }}-{{ similar_worker.worker.id }}" value="{{ similar_worker.worker.id }}" />
        </span>
        {% if not form.preserve_worker %}
        //
        <span class="worker-instance one-way one-way-new">
            <a href="#" class="inner worker-new">добавить нового сотрудника</a>
            <input class="hide" type="radio" name="{{ field_name }}"  id="id_{{ field_name }}-create" value="0" />
        </span>
        {% endif %}
	{% if form.allow_unknown and not form.preserve_worker %}
        //
        <span class="worker-instance one-way one-way-unknown">
            <a class="inner worker-unknown {% if form.wid.value == -1 %} selected{% endif %}">затрудняюсь выбрать</a>
            <input class="hide" type="radio" name="{{ field_name }}" id="id_{{ field_name }}-create" value="-1" {% if form.wid.value == -1 %}checked="checked"{% endif %} />
        </span>
	{% endif %}
    {% endwith %}
    {% else %} {# list of similar #}
        {% for similar_worker in similar_workers.1 %}
        {% populate_selected_worker %}
            <span class="worker-instance multi-way">
                  <a href="#" class="inner show_works worker-found {% if selected %} selected{% endif %}" title="Показать подробную информацию о сотруднике">{{ similar_worker.representation_name }}{% if similar_worker.worker.profile.user == request.user %} (Вы){% endif %}</a>
                  <div class="works span-24 last hide">
                   {% show_worker_short similar_worker.worker 1 %}
                  </div>
                  <input class="hide" {% if selected %} checked="checked"{% endif %} type="radio" name="{{ field_name }}"  id="id_{{ field_name }}-{{ similar_worker.worker.id }}" value="{{ similar_worker.worker.id }}" />
             </span>
             //
        {% end_populate_selected_worker %}
        {% endfor %}
        <span class="worker-instance multi-way multi-way-new">
            <a class="inner worker-new {% if form.wid.value == 0 %} selected{% endif %}">добавить нового сотрудника</a>
            <input class="hide" type="radio" name="{{ field_name }}" id="id_{{ field_name }}-create" value="0" {% if form.wid.value == 0 %}checked="checked"{% endif %} />
        </span>
	{% if form.allow_unknown %}
        //
        {% populate_selected_worker %}
        <span class="worker-instance multi-way multi-way-unknown">
            <a class="inner worker-unknown {% if selected_unknown %} selected{% endif %}">затрудняюсь выбрать</a>
            <input class="hide" type="radio" name="{{ field_name }}" id="id_{{ field_name }}-unknown" value="-1" {% if selected_unknown %}checked="checked"{% endif %} />
        </span>
        {% end_populate_selected_worker %}
	{% endif %}
    {% endif %}
{% else %}
    <input type="hidden" name="{{ field_name }}"  value="0" />
    <span class="worker-instance"><span class="worker-new selected">добавить нового сотрудника</span></span>
{% endif %}

{% for field in form.visible_fields %}{{ field.as_hidden }}{% endfor %}
<input type="hidden" name="{{ form.prefix }}-fullname" value="{{ form.get_fullname }}" /> {# for js #}
</td>

{% endwith %}
