{% extends "base.html" %}
{% load humanize activity_description %}

{% block title %}Научный отчет за {{ years_str }} год{% if '-' in years_str %}ы{% endif %} | {{ worker.fullname }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2>{{ worker.fullname }}</h2>
<h2>Научный отчет за {{ years_str }} год{% if '-' in years_str %}ы{% endif %}</h2>

<h3>Выберите подразделение, по которому подается отчет</h3>
{% for department in departments %}
	<h4>
		<a href="{% url workers_worker_report_year worker_id=worker.id years_str=years_str department_id=department.id %}">{{ department.name }}</a>
		<span class="detail_label">{{ department.year_report_status|lower }}</span>	
	</h4>
{% endfor %}

{% endblock %}
