{% extends "base.html" %}

{% block content %}

<h2>Все сотрудники</h2>

{% for link in links %}
    <a href="{% url workers_worker_list_raw_page forloop.counter %}" title="Перейти на страницу со списком сотрудников">{{ link }}</a><br/>
{% endfor %}

{% endblock %}
