{% load expand %}
{% load cache %}

{% if worker.birthdate %}
    <h4>Дата рождения: {{ worker.birthdate|date:"j E Y" }}</h4>
{% endif %}

{% if worker.employments.exists %}
    {% for employment in worker.employments.all %}
        <h4>{% include "organizations/department_ancestors.html" with department=employment.department %}{% if employment.position %}, {{ employment.position_lower }}{% endif %}, {% if not employment.enddate %}с {% endif %}{{ employment.startdate|date:"j E Y" }}{% if employment.enddate %} - {{ employment.enddate|date:"j E Y" }}{% endif %}{% if employment.parttime %}, по совместительству{% endif %}</h4>
    {% endfor %}
{% endif %}
{% if worker.employments_claimed.exists %}
    {% for employment in worker.employments_claimed.all %}
        <h4>
          {% include "organizations/department_ancestors.html" with department=employment.department %}{% if employment.position %}, {{ employment.position_lower }}{% endif %}, {% if not employment.enddate %}с {% endif %}{{ employment.startdate|date:"j E Y" }}{% if employment.enddate %} - {{ employment.enddate|date:"j E Y" }}{% endif %}{% if employment.parttime %}, по совместительству{% endif %}
          {% if is_profile_owner or user.representatives.exists or user.is_superuser %}
            <span title="Ответственный этого подразделения ещё не подтвердил данное место работы">
            {% if user.representatives.exists or user.is_superuser %}
            <a href="{% url depadmin_users_registration %}"><font color="#AA0000"><b>ПОДТВЕРДИТЬ</b></font></a>
            {% else %}
            <font color="#AA0000">(не подтверждено)</font>
            {% endif %}
            </span>
          {% endif %}
        </h4>
    {% endfor %}
{% endif %}
{% if worker.institution %}
    <h4>{{worker.institution}}</h4>
{% endif %}

{% if worker.user %}
    {% for rep in worker.representatives.all %}
        <h4>{% if rep.department %}{% include "organizations/department_ancestors.html" with department=rep.department %}, ответственный по системе{% if profile.user == user %}<a href="/organizations/representative/department/{{ rep.id }}/edit/">, ред.</a>{% endif %}{% else %}{% if not no_links %}<a href="{{ rep.organization.get_absolute_url }}" title="Перейти на страницу организации">{% endif %}{{ rep.organization.name }}{% if not no_links %}</a>, ответственный по системе{% if profile.user == user %}<a href="/organizations/representative/organization/{{ rep.id }}/edit/">, ред.</a>{% endif %}{% else %}, ответственный по системе{% endif %}{% endif %}</h4>
    {% endfor %}
{% endif %}

{% if worker.degrees.exists %}
    {% for degree in worker.degrees.all %}
        <h4>{{ degree.degree.name }}{% if degree.year %} с {{ degree.year }} года{% endif %}</h4>
    {% endfor %}
{% endif %}

{% if worker.ranks.exists %}
    {% for rank in worker.ranks.all %}
        <h4>{{ rank.fullname }}{% if rank.date %} с {{ rank.date }}{% endif %}</h4>
    {% endfor %}
{% endif %}

{% cache CACHE_TIME worker_full_info worker.id "coauthors" %}

{% with coauthors=worker.coauthors %}
{% if coauthors %}
    <h4>Соавторы:
    {% filter expand_safe_data:"13,0,</a> " %}
    {% for author in coauthors %}
        <a href="{{ author.get_absolute_url }}" title="Перейти на страницу сотрудника">{{ author.fullname_short }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
    {% endfilter %}
    </h4>
{% endif %}
{% endwith %}

{% with summary=worker.activities_clickable_summary %}
{% if summary %}
    <h4>{{ summary|safe }}</h4>
{% endif %}
{% endwith %}

{% endcache %}

{% if worker.citation_counts_dict or profile.worker.rinc_id %}
<h4>
    Количество цитирований статей в журналах по данным
    {% for citation_count in worker.citation_counts_dict %}
        {{ citation_count.system__full_name }}: {{ citation_count.value }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% if profile and profile.user == user %}<a class="edit" href="/help/statistics/webofscience/" title="Перейти на страницу помощи по цитированию" target="_blank">откуда взялись эти числа?</a>{% endif %}
    <br/>
    {% if profile.worker.rinc_id %}
    РИНЦ:
    <!--Science Index counter-->
    <script type="text/javascript">
      <!--
          document.write('<a href="http://elibrary.ru/author_counter_click.asp?id={{profile.worker.rinc_id}}"'+
          ' target=_blank><img src="http://elibrary.ru/author_counter.aspx?id={{profile.worker.rinc_id}}&rand='+
          Math.random()+'" title="Профиль автора в Science Index" border="0" '+
          'height="31" width="88" border="0"><\/a>')
          //-->
    </script>
    <!--/Science Index counter-->
    {% endif %}
</h4>
{% endif %}

<h4>IstinaResearcherID (IRID): {{ worker.id }}</h4>
