{% extends "base.html" %}
{% load role_permissions %}

{% block title %}{% if page_owner %}Мои отчеты{% else %}Отчеты для сотрудника {{ worker.fullname }}{% endif %}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2>{% if page_owner %}Мои отчеты{% else %}Отчеты сотрудника {{ worker.fullname }}{% endif %}</h2>

{% ifhaspermission user "confirm_personal_reports" worker as can_approve_year_report %}

{% if page_owner or can_approve_year_report %}
<h3 class="margin-left">
    <a href="{% url workers_worker_report_year_choose_department worker.id 2015 %}" title="Открыть страницу с отчетом за 2015 год">Годовой отчет 2015</a>
    {% if year_report_status %}
    	<span class="detail_label">{{ year_report_status|lower }}</span>
    {% endif %}
</h3>
{% endif %}
<h3 class="margin-left">
    <a href="{% if page_owner %}{% url workers_worker_report_year_full 2015 %}{% else %}{% url workers_worker_report_year_full worker.id 2015 %}{% endif %}" title="Открыть страницу с полным списком результатов деятельности за 2015 год" target="_blank">Результаты деятельности за год</a>
</h3>
<h3 class="margin-left">
    <a href="{% if page_owner %}{% url workers_worker_report_year_full '2011-2015' %}{% else %}{% url workers_worker_report_year_full worker.id '2011-2015' %}{% endif %}" title="Открыть страницу с отчетом за 2011-2015 годы" target="_blank">Отчет за 5 лет</a>
</h3>
<h3 class="margin-left">
    <a href="{% if page_owner %}{% url workers_worker_report_publications_list report_depth=5 %}{% else %}{% url workers_worker_report_publications_list worker_id=worker.id report_depth=5 count_current_year=1 %}{% endif %}" title="Список научных трудов">Список трудов (pdf)</a>
</h3>
<h3 class="margin-left">
    <a href="{% if page_owner %}{% url workers_worker_report_infolist %}{% else %}{% url workers_worker_report_infolist worker.id %}{% endif %}" title="Открыть страницу с информационным листом">Информационный лист</a>
</h3>
<h3 class="margin-left">
    <a href="{% if page_owner %}{% url workers_worker_report_ext_articles %}{% else %}{% url workers_worker_report_ext_articles worker.id %}{% endif %}" title="Открыть страницу со списком публикаций, по которым получена информация о цитировании из внешних систем (Web of Science, Scopus)">Список статей, найденных во внешних системах (Web of Science, Scopus)</a>
</h3>
<h3 class="margin-left">
    <a href="{% if page_owner %}{% url workers_worker_report_vak_articles %}{% else %}{% url workers_worker_report_vak_articles worker.id %}{% endif %}" title="Открыть страницу со списком публикаций в журналах из перечня ВАК">Список статей в журналах из перечня ВАК</a>
</h3>
<h3 class="margin-left">
	<a href="{% if page_owner %}{% url worker_reports_monitoring_index %}{% else %}{% url worker_reports_monitoring_index worker.id %}{% endif %}" title="Показать отчет">Об организации мониторинга деятельности сети диссертационных советов</a>
</h3>
{% endblock %}
