{% extends "base.html" %}
{% load role_permissions %}

{% block title %}{{ worker.fullname }} - {{ status_text }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/expand.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}userprofile/css/profile_public.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}workers/css/merge_workers.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/expand.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/merge_worker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/filter_activities.js"></script>
{% endblock %}

{% block content %}

<div class="span-3">
    {% include "common/avatar.html" with alt=worker only %}
</div>

<div class="span-21 last">

    {% if not worker.user and user.is_authenticated %}{% include "workers/worker_actions.html" %}{% endif %}
    <h2>{{ worker.fullname }}{# <span class="detail_label">{{ status_text }}</span> #}</h2>
    {% if similar_worker %}
        <div class="span-20 append-1 last">
        <h4 class="merge_message">
            <span class="ui-icon"></span>
            <a class="message info show_merge_option">Возможно, это дубликат одного из Ваших сотрудников ({{ similar_worker }}). Нажмите для их объединения.</a>
            <div class="hide merge_comment">
                Этот сотрудник очень похож на одного из Ваших сотрудников ({{ similar_worker }}). Если Вы считаете, что он его дубликат, нажмите кнопку "Объединить сотрудников". В этом случае все публикации и другие результаты работы этого сотрудника будут привязаны к Вашему. Дублирующий сотрудник будет удален.
                <form id="merge_form" action="{% url merge_workers worker_id=worker.id %}?to={{ similar_worker.id }}" method="post">{% csrf_token %}
                    <input type="submit" value="Объединить сотрудников" title="Присоединить работы сотрудника к Вашему профилю" />
                </form>
            </div>
        </h4>
    </div>
    {% endif %}
    {% ifhaspermission user "merge_worker" worker %}
    <div class="span-20 append-1 last">
        <h4 class="merge_message">
            <span class="ui-icon"></span>
            <a class="message info show_merge_option">Возможно, это дубликат Вашего сотрудника. Нажмите для их объединения.</a>
            <div class="hide merge_comment">
                Этот сотрудник очень похож на Вашего. Если Вы считаете, что он Ваш дубликат, нажмите кнопку "Объединить сотрудников". В этом случае все публикации и другие результаты работы этого сотрудника будут привязаны к Вам. Дублирующий сотрудник будет удален.
                <form id="merge_form" action="{% url merge_workers worker_id=worker.id %}" method="post">{% csrf_token %}
                    <input type="submit" value="Объединить сотрудников" title="Присоединить работы сотрудника к Вашему профилю" />
                </form>
            </div>
        </h4>
    </div>
    {% endifhaspermission %}
    {% include "workers/worker_full_info.html" %}
</div>
{% include "common/worker_activities.html" %}

{% endblock %}
