{% extends "base.html" %}
{% load workers_show paging_extras %}

{% block title %}Список сотрудников{% if organization %} - {{ organization.name }}{% else %}{% if department %} - {{ department.name }}{% endif %}{% endif %}{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

{% if organization %}
    <h3><a href="{{ organization.get_absolute_url }}" title="Перейти на страницу организации">{{ organization.name }}</a></h3>
{% else %}
    {% if department %}
        <h3>{% include "organizations/department_ancestors.html" %}</h3>
    {% endif %}
{% endif %}

{% if organization or department %}
    {% if organization %}
        {% paginate organization.all_workers_divided.current from request as current_workers per_page 25 %}
        {% paginate organization.all_workers_divided.past from request as past_workers per_page 25 %}
    {% else %}
        {% paginate department.all_workers_divided.current from request as current_workers per_page 25 %}
        {% paginate department.all_workers_divided.past from request as past_workers per_page 25 %}
    {% endif %}
{% else %}
    {% paginate worker_list from request as current_workers per_page 50 %}
{% endif %}

{% if current_workers.objects %}
<h2>Список сотрудников</h2>
{{ current_workers.paging }}
<div><!-- list of current workers -->
    {% for worker in current_workers.objects %}
        <div class="worker_short span-24 last">{% show_worker_short worker 0 0 %}</div>
    {% endfor %}
</div>
{{ current_workers.paging }}
{% endif %}

{% if past_workers.objects %}
<hr class="space" />
<h2>Список бывших сотрудников</h2>
{{ past_workers.paging }}
<div><!-- list of past_workers -->
    {% for worker in past_workers.objects %}
        <div class="worker_short span-24 last">{% show_worker_short worker 0 0 %}</div>
    {% endfor %}
</div>
{{ past_workers.paging }}
{% endif %}

{% if not current_workers.objects and not past_workers.objects %}
    В системе не зарегистрировано ни одного сотрудника.
{% endif %}

{% endblock %}
