{# -*- coding: utf-8; -*- #}
{% extends "base.html" %}

{% block title %}{{ worker.fullname }} - сотрудник{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2>
    {{ worker.fullname }}
    {% if show_pdf_link %}<a class="edit" href="pdf/">версия для печати</a>{% endif %}
</h2>
{% include "workers/worker_short_inner.html" %}
<div class="span-24 last">
    Страница сотрудника: {% if worker.profile %}<a href="{{ worker.profile.get_absolute_url }}">{{ worker.profile.get_full_url }}</a>{% else %}<a href="{{ worker.get_absolute_url }}">{{ worker.get_full_url }}{% endif %}</a>
</div>

<hr>
<br/>

  <table>
  <tr><td>Учёная степень</td>
  <td>
    {% if worker.degrees.exists %}
      {% for degree in worker.degrees.all %}
        <h4>{{ degree.degree.name }}{% if degree.year %} с {{ degree.year }} года{% endif %}</h4>
      {% endfor %}
    {% else %}
        Нет данных
    {% endif %}
</td></tr>
<tr><td>Учёное звание</td><td>
    {% if worker.ranks.exists %}
      {% for rank in worker.ranks.all %}
        <h4>{{ rank.fullname }}{% if rank.date %} с {{ rank.date }}{% endif %}</h4>
      {% endfor %}
    {% else %}
        Нет данных
    {% endif %}
</td></tr>
</table>


  <h3>Публикационная активность</h3>
  <table>
    <thead>
        <tr>
            <th>Тип</th>
            <th>За 5 лет</th>
            <th>Всего</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Статей в журналах, включая</td>
            <td>{{ worker_pubstats_5y.JALL }}</td>
            <td>{{ worker_pubstats.JALL }}</td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;в журналах из списка ВАК</td>
            <td>{{ worker_pubstats_5y.JVAK }}</td>
            <td>{{ worker_pubstats.JVAK }}</td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;в зарубежных журналах из списка ВАК (Scopus, WoS)</td>
            <td>{{ worker_pubstats_5y.SCOPUS }}</td>
            <td>{{ worker_pubstats.SCOPUS }}</td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;в высокорейтинговых зарубежных журналах (Top25)</td>
            <td>{{ worker_pubstats_5y.TOP25 }}</td>
            <td>{{ worker_pubstats.TOP25 }}</td>
        </tr>

        <tr>
            <td>Статей в сборниках</td>
            <td>{{ worker_pubstats_5y.PROC }}</td>
            <td>{{ worker_pubstats.PROC }}</td>
        </tr>

        <tr>
            <td>Число монографий</td>
            <td>{{ worker_pubstats_5y.BOOK }}</td>
            <td>{{ worker_pubstats.BOOK }}</td>
        </tr>
        <tr>
            <td>Учебно-методические работы</td>
            <td>{{ worker_pubstats_5y.TEXTBOOK }}</td>
            <td>{{ worker_pubstats.TEXTBOOK }}</td>
        </tr>
        <tr>
            <td>Переиздано монографий и учебных пособий</td>
            <td>{{ worker_pubstats_5y.BOOK_REPRINT }}</td>
            <td>{{ worker_pubstats.BOOK_REPRINT }}</td>
        </tr>


{% comment %}
        {% for pt in worker_pubstats %}
        <tr>
            <td>{{ pt.typename }}</td>
            <td>{{ pt.value }}</td>
            <td>{{ pt.value }}</td>
        </tr>
        {% endfor %}
{% endcomment %}

    </tbody>
  </table>


  <h3>Библиометрические показатели (по данным Web of Science)</h3>
  <i>(данные автоматически обновляются)</i>
  {% with wh=worker_hirsh %}
  <table>
    <tr><td>H-индекс:</td><td> {{ wh.hirsh }}</td></tr>
    <tr><td>Общее число ссылок</td><td>{{ wh.total }}</td></tr>
    <tr><td>Число ссылок на статьи, опубликованные за последние 5 лет</td><td>{{ wh.total5 }}</td></tr>
  </table>
  {% endwith %}


{% load my_cache %}

{% with activities_latest=activities %}

    <h3 class="xactivity_label">Членство в редколлегии журналов или сборников (за 5 лет)</h3>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "journal" no_links activities_list_type %}
    {% if activities.journal_editorial_board_memberships or activities.collection_editorships %}
        {% include "common/activities_list.html" with objects=activities.journal_editorial_board_memberships %}
        {% include "common/activities_list.html" with objects=activities.collection_editorships %}
    {% else %}
        Нет данных
    {% endif %}
    {% endcache %}

    {% my_cache cache_disabled CACHE_TIME activities worker.id "conference" no_links activities_list_type %}
    <h3 class="xactivity_label margin-top">Членство в программных комитетах конференций (за 5 лет)</h3>
    {% if activities.conference_committee_memberships %}
        {% include "common/activities_list.html" with objects=activities.conference_committee_memberships %}
    {% else %}
        Нет данных
    {% endif %}
    {% endcache %}

    {% my_cache cache_disabled CACHE_TIME activities worker.id "dissertation_council" no_links activities_list_type %}
    <h3 class="xactivity_label margin-top">Членство в диссертационных советах (за 5 лет)</h3>
    {% if activities.dissertation_councils_memberships %}
        {% include "common/activities_list.html" with objects=activities.dissertation_councils_memberships %}
    {% else %}
        Нет данных
    {% endif %}
    {% endcache %}
    
    <h4 class="margin-top">Под научным руководством защищено {{ worker.diplomas.count }} дипломных работ, {{ dis_phd }} кандидатских и {{ dis_doc }} докторских диссертаций.</h4>

    <h3 class="xactivity_label margin-top">Учебные курсы (за 5 лет)</h3>
    {% if activities.courses_teachings %}
        {% include "common/activities_list.html" with objects=activities.courses_teachings %}
        <h4>Среднегодовая преподавательская аудиторная нагрузка за 5 лет (часов в учебный год)</h4>
        <ul>
        {% for kind, hours in av_hours.items %}
            <li>{{ kind }}: {{ hours|floatformat }}</li>
            {% if forloop.last %}Всего: {{ total_av_hours|floatformat }}{% endif %}
        {% endfor %}
        </ul>
    {% else %}
        Нет данных
    {% endif %}

{% endwith %}

{% endblock %}

