{# -*- coding: utf-8; -*- #}
{% extends "base.html" %}

{% block title %}{{ worker.fullname }} - список трудов{% endblock %}

{% block content %}
<h2>
    {{ worker.fullname }}
</h2>
{% include "workers/worker_short_inner.html" %}
<div class="span-24 last">
    Страница сотрудника: {% if worker.profile %}<a href="{{ worker.profile.get_absolute_url }}">{{ worker.profile.get_full_url }}</a>{% else %}<a href="{{ worker.get_absolute_url }}">{{ worker.get_full_url }}{% endif %}</a>
</div>


<form action="" method="post">{% csrf_token %}
<hr class="space"/>
<h3>Список научных трудов за период:</h3>
Включить работы за последние
<select name="depth">
  <option value="10">10 лет</option>
  <option value="5" selected="yes">5 лет</option>
  <option value="2">3 года</option>
  <option value="2">2 года</option>
  <option value="1">1 год</option>
</select>.
Текущий год
<select name="current_year">
  <option value="do_not_include">не включается</option>
  <option value="regular_year">считается как полный год</option>
  <option value="include">включается, но не считается полным</option>
</select>.

<br/><br/><input type="submit" value="Получить печатную версию"/>
</form>

{% endblock %}
