{% extends "base.html" %}
{% load bibtex %}
{% load i18n %}


{% block title %}{{ profile.name }} - пользователь{% if profile.worker %}, сотрудник{% endif %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}userprofile/css/profile_public.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block content %}
{% with worker=profile.worker %}

<div class="span-21 last">
    <h2>{{ profile.name }}</h2>
</div>

<div class="span-24 last">
    <h3>Последние добавленные работы</h3>
    На этой странице отображаются последние работы, добавленные вами в систему. <b>Внимание!</b> То, что работа отображается в этом списке, означает, что она была сохранена в системе. Если при этом она не отображается на <a href="{% url home_profile %}" target="_blank">вашей личной странице</a>, это означает, что при привязке авторов были допущены ошибки. Для того, чтобы такая работа появилась на вашей странице, следуйте инструкциям на странице помощи: <a href="/help/faq/works/lost/">Я (или мой соавтор) ввел работы в систему, но они не появились на моей странице</a>.
    <table>
        {% with activities=worker.activities_last_added %}
        {% include "common/activities_last_added.html" %}
        {% endwith %}
    </table>
</div>

{% endwith %}
{% endblock %}
