{# -*- coding: utf-8; -*- #}
{% extends "base.html" %}

{% block title %}{{ worker.fullname }} - сотрудник{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}schools/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>


    <script type="text/javascript">

$(function() {
    // =========================== Department tree =====================
    $("#org_tree").dynatree({
              title: "Organization tree",
              fx: { height: "toggle", duration: 200 },
              autoFocus: false, // Set focus to first child, when expanding or lazy-loading.
              checkbox: true,
              selectMode: 1, // 1:single, 2:multi, 3:multi-hier


              initAjax: {
                  url: "/statistics/get_org_tree/",
                  data: { org_id: "214524" } // data passed to the query: MSU
               },

               onActivate: function(node) {
                  //$("#echoActive").text("" + node + " (" + node.getKeyPath()+ ")");
               },


               onSelect: function(select, node) {
                  // Display list of selected nodes
                  var selNodes = node.tree.getSelectedNodes();
                                
                  var selKeys = $.map(selNodes, function(node){
                       return node.data.key
                  });
                  var keys=selKeys.join(",");

                  var path = "";
                  var node = selNodes[0];
                  while(node != null) {
                    if( node.data.title ) {
                      if(path.length > 0) {
                        path = path + ", ";
                      }
                      path = path + node.data.title;
                    }
                    node = node.getParent();
                  }

                  $("#dep_id").val(keys);
                  document.getElementById('divDepSelect').style.display = "none";
                  $("#divDepName").text(selNodes[0].data.title);
                  $("#divDepName").text(path);
               },

               onClick: function(node, event) {
               },

               onKeydown: function(node, event) {
                   if( event.which == 32 ) {
                        node.toggleSelect();
                        return false;
                   }
               },

               // The following options are only required, if we have more than one tree on one page:
               cookieId: "dynatree-depid",
               idPrefix: "dynatree-depid-"
       });




       function collapseAll(tree_divname){
            $(tree_divname).dynatree("getRoot").visit(function(node){
                node.expand(false);
            });
            return false;
        }

       function showChecked(tree_divname){
            $(tree_divname).dynatree("getRoot").visit(function(node){
                if(node.isSelected()) {
                  node.makeVisible();
                }
            });
            return false;
        }


       // bind buttons scripts
       $("#btnShowChecked").click(function(){
           return showChecked("#org_tree");
       });

       $("#btnCollapseAll").click(function(){
            return collapseAll("#org_tree");
       });

    var retry=0;
  
    function init_selection(divid, fieldid) {
      if($(divid).length == 0) {
                return;
          }
      var t = $(divid).dynatree("getTree");
      var ms = 500; // 0.5 sec delay
      var max_retries = 50;
      retry++;
      if(t==null || t.isInitializing()) {
        setTimeout(function(){ init_selection(divid, fieldid);}, ms);
      }
      var ids = $(fieldid).val().split(",");
      for(var i=0; i < ids.length; i++) {
         if(ids[i].length > 0) {
            var node = t.getNodeByKey(ids[i]);
            if(node == null && retry < max_retries) {
              setTimeout(function(){ init_selection(divid, fieldid);}, ms); // the tree is not ready
              return;
            }
            node.select();
            node.makeVisible();
         }
      }
    }

   init_selection("#org_tree", "#dep_id");
});

       function showDepSelectDiv() {
          document.getElementById('divDepSelect').style.display = "block";
       }


</script>



{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}schools/css/ui.dynatree.css" type="text/css" id="skinSheet">
<style>
input.birth_year, input.edu_year {width: 100px;}

input.edu_institution, input.edu_faculty {width: 500px;}
</style>
{% endblock %}

{% block content %}

<h2>
    {{ worker.fullname }}
</h2>
{% include "workers/worker_short_inner.html" %}
<div class="span-24 last">
    Страница сотрудника: {% if worker.profile %}<a href="{{ worker.profile.get_absolute_url }}">{{ worker.profile.get_full_url }}</a>{% else %}<a href="{{ worker.get_absolute_url }}">{{ worker.get_full_url }}{% endif %}</a>
</div>

<div class="span-24 last" style="margin-top: 30px">
  Уважаемые коллеги! Пожалуйста, уточните следующую информацию, необходимую для
  подачи документов в Учёный совет. Введенные Вами данные используются только для
  формирования печатной версии информационного листа и не сохраняются в базе
  данных. Необходимо заполнить все перечисленные ниже поля.
</div>

<form action="" method="post">{% csrf_token %}
<input type="hidden" name="report_depth" value="{{ report_depth }}"/><br>
<table>
<tr><td>Год Вашего рождения:</td><td><input class="birth_year" name="birth_year"/></td></tr>

<tr><td colspan="2">Сведения о Вашем высшем образовании:</td></tr>
<tr><td>Название ВУЗа:</td><td><input class="edu_institution" name="edu_institution"/></td></tr>
<tr><td>Факультет:</td><td><input class="edu_faculty" name="edu_faculty"/></td></tr>
<tr><td>Год окончания:</td><td><input class="edu_year" name="edu_year"/></td></tr>
</table>

<h2>Отчетный период:</h2>
Включить работы за последние
<select name="depth">
  <option value="5">5 лет</option>
  <option value="3">3 года</option>
  <option value="2">2 года</option>
  <option value="1">1 год</option>
</select>.
Текущий год
<select name="current_year">
  <option value="1">считается как полный год</option>
  <option value="0">включается, но не считается полным</option>
  <option value="-1" selected="yes">не включается</option>
</select>.

<h2>Информация о конкурсе:</h2>
<input type="hidden" name="dep_id" id="dep_id" value="{{ dep_id }}"/>

<select name="post">
  <option value="Выборы на должность заведующего кафедрой">Выборы на должность заведующего кафедрой</option>
  <option value="Выборы на должность декана">Выборы на должность декана</option>

  <option disabled>----------------------------------------</option>
  <option value="Избрание по конкурсу на должность заведующего сектором">Избрание по конкурсу на должность заведующего сектором</option>
  <option value="Избрание по конкурсу на должность заведующего отделом">Избрание по конкурсу на должность заведующего отделом</option>
  <option value="Избрание по конкурсу на должность заведующего лабораторией">Избрание по конкурсу на должность заведующего лабораторией</option>

  <option value="Избрание по конкурсу на должность главного научного сотрудника">Избрание по конкурсу на должность главного научного сотрудника</option>
  <option value="Избрание по конкурсу на должность ведущего научного сотрудника">Избрание по конкурсу на должность ведущего научного сотрудника</option>
  <option value="Избрание по конкурсу на должность старшего научного сотрудника">Избрание по конкурсу на должность старшего научного сотрудника</option>
  <option value="Избрание по конкурсу на должность научного сотрудника">Избрание по конкурсу на должность научного сотрудника</option>
  <option value="Избрание по конкурсу на должность младшего научного сотрудника">Избрание по конкурсу на должность младшего научного сотрудника</option>

  <option disabled>----------------------------------------</option>
  <option value="Избрание по конкурсу на должность профессора">Избрание по конкурсу на должность профессора</option>
  <option value="Избрание по конкурсу на должность доцента">Избрание по конкурсу на должность доцента</option>
  <option value="Избрание по конкурсу на должность старшего преподавателя">Избрание по конкурсу на должность старшего преподавателя</option>
  <option value="Избрание по конкурсу на должность преподавателя">Избрание по конкурсу на должность преподавателя</option>
  <option value="Избрание по конкурсу на должность ассистента">Избрание по конкурсу на должность ассистента</option>

</select>
<br>
По совместительству (0,5 ставки) <input type="checkbox" name="parttime"/>

<br>
<br>


<b>Подразделение:</b> <a href="#" onClick="showDepSelectDiv()"> Изменить</a>
<div id="divDepName">Подождите, пожалуйста...
</div>

<div id="divDepSelect" style="display:none;">
<!--
<a href="#" id="btnCollapseAll">Свернуть все</a>
&nbsp;&nbsp;
<a href="#" id="btnShowChecked">Показать выбранные</a>
-->

  <div id="myDivbaby" style="height:450px; width:800px; overflow:scroll">
        <div id="org_tree"></div>
  </div>
</div>

<br/><br/>
<input type="checkbox" name="show_full_teaching"/>Печатать полную педагогическую нагрузку.
<font color="red">ВНИМАНИЕ: </font> Не отмечайте эту галочку, если Вы распечатываете
информационный лист для прохождения конкурса через Учёный совет МГУ.
<br/><br/>
<input type="checkbox" name="show_dean_signature" checked="checked"/>Предусмотреть подпись декана/директора (требуется Учёным советом МГУ).
<br/><br/>
<input type="submit" value="Получить печатную версию"/>
</form>

{% endblock %}
