<div class="span-2">
    {% if worker.profile %}
        <a href="{{ worker.profile.get_absolute_url }}" title="Перейти на страницу сотрудника">
            {% include "common/avatar.html" with size=64 user=worker.profile.user %}
        </a>
    {% else %}
        <a href="{{ worker.get_absolute_url }}" title="Перейти на страницу сотрудника">
            {% include "common/avatar.html" with alt=worker size=64 only %}
        </a>
    {% endif %}
</div>

<div class="span-22 last">
    <h3>
        {% if not no_links %}<a href="{{ worker.get_absolute_url }}" title="Перейти на страницу сотрудника">{% endif %}{{ worker.fullname }}{% if not no_links %}</a>{% endif %}
        {% if worker.profile %}<span class="detail_label">{{ worker.profile.user }}</span>{% endif %}
    </h3>
</div>

{% if not fast %}
{% include "workers/worker_short_inner.html" %}
{% else %}
<div class="fast {url: '{% url workers.views.worker_detail_short_ajax worker.id %}'}">
    <div class="span-22 last">
    <h3 class="loading-ui-anim-indicator-on-the-left">Загрузка...</h3>
    </div>
</div>
{% endif %}
