{% extends "base.html" %}

{% block title %}Результаты деятельности за {{ years_str }} год{% if '-' in years_str %}ы{% endif %} | {{ worker.fullname }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<h2>{{ worker.fullname }}</h2>
<h2>Результаты деятельности за {{ years_str }} год{% if '-' in years_str %}ы{% endif %}</h2>

{% include "common/activities.html" with no_links=1 cache_disabled=1 activities_existence=activities %}

{% endblock %}

{% block footer %}{% endblock %}
