{% if publisher.name %}
<li>
    <span>Издательство:</span>
    <span><a href="{{ publisher.get_absolute_url }}" title="Перейти на страницу издательства">{{ publisher.name }}</a></span>
</li>
{% endif %}

{% if publisher.city %}
<li>
    <span>Местоположение издательства:</span>
    <span>{{ publisher.city }}</span>
</li>
{% endif %}
