{% extends "base.html" %}
{% load bibtex %}

{% block title %}{{ publisher.name }} - издательство{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>{{ publisher.name }}<span class="detail_label">издательство</span></h2>
<ul class="object_detail"><!-- publisher detailed information -->
    {% if publisher.city %}
    <li>
        <span>Местоположение:</span>
        <span>{{ publisher.city }}</span>
    </li>
    {% endif %}

</ul>

{% with activities=publisher.activities %}
{% if activities %}
<h3 class="margin-top clear">Деятельность</h3>
<hr />
<ul>
    {% if activities.journals %}
    <li>
        <h4 class="activity_label">Журналы</h4>
        <ul>
            {% for journal in activities.journals %}
                <li>{% include "journals/journal_short.html" %}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if activities.collections %}
    <li>
        <h4 class="activity_label">Сборники</h4>
        <ul>
            {% for collection in activities.collections %}
                <li>{% include "icollections/collection_short.html" %}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% if activities.books %}
    <li>
        <h4 class="activity_label">
            Книги
        </h4>
        <h3>{% show_publication_list_links publisher.id 'publishers_detail' 'publishers_publisher_books_bibtex' 'publishers_publisher_detail_in_style' %}</h3>
        {% if books_html %}
            {{ books_html|safe }}
            {% include "publications/bibtex2html_thanks.html" %}
        {% else %}
            {% include "publications/book_list.html" with books=activities.books %}
        {% endif %}
    </li>
    {% endif %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}
