{% extends "base.html" %}

{% block title %}{{ certificate.title }} - свидетельство о регистрации прав на ПО{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
<h2>{{ certificate.title }}<span class="detail_label">свидетельство о регистрации прав на ПО</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- certificate detailed information -->
        {% include "common/workers_list_detail.html" with object=certificate %}
        <li>
            <span>Номер:</span>
            <span>{{ certificate.number }}</span>
        </li>
        <li>
            <span>Дата получения:</span>
            <span>{{ certificate.date }}</span>
        </li>
        {% if certificate.description %}
        <li>
            <span>Описание:</span>
            <p>{{ certificate.description }}</p>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=certificate.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=certificate edit_url="certificates_edit" delete_url="certificates_delete" %}

{% endblock %}
