{% with certificate=object %}
<ul class="activity"><!-- certificate short information -->
    <li>
        <b>{{ certificate.date|date:"Y"}}</b>
        {% if not no_links %}
            <a href="{{ certificate.get_absolute_url }}" title="Перейти на страницу свидетельства">{{ certificate.title }}</a>
        {% else %}
            {{ certificate.title }}
        {% endif %}
    </li>
    {% include "common/workers_list.html" with object=certificate %}
    <li>#{{ certificate.number }}, {{ certificate.date|date:"j E" }}</li>
</ul>
{% endwith %}
