{% extends "base.html" %}

{% block title %}Добавление выступления в СМИ{% endblock %}

{% block content %}

<style>
.button_like_link {
    border-radius: 25px;
    background: #D0D0D0;
    padding: 20px;
    width: 200px;
    height: 150px;
    line-height: 80px; 
}
</style>

Пожалуйста, выберите наиболее близкий тип <b>выступления в СМИ</b>. <br/>

  <a class="button_like_link" href="{% url smi_add_event 'article' %}">Статья в газете/журнале</a>
  <a class="button_like_link" href="{% url smi_add_event 'internet_article' %}">Статья в Интернет издании</a>

  <br/>
  <a class="button_like_link" href="{% url smi_add_event 'interview_press' %}">Интервью (газета, журнал)</a>
  <a class="button_like_link" href="{% url smi_add_event 'interview_radio' %}">Интервью (радио, ТВ)</a>

  <br/>
  <a class="button_like_link" href="{% url smi_add_event 'talkshow' %}">Участие в дискуссии (радио, ТВ)</a>
  <a class="button_like_link" href="{% url smi_add_event 'comment' %}">Комментарий, экспертное мнение (газета, журнал)</a>
  <a class="button_like_link" href="{% url smi_add_event 'comment_radio' %}">Комментарий (радио, ТВ)</a>
  
  <br/>
  <a class="button_like_link" href="{% url smi_add_event 'public_lecture' %}">Публичная лекция (радио, ТВ)</a>
  <a class="button_like_link" href="{% url smi_add_event 'program_manager' %}">Ведущий постоянной программы (радио, ТВ)</a>

{% endblock %}
