{% extends "base.html" %}
{% load myforms %}

{% block title %}Редактирование данных о выступлении в СМИ{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block inlinejs %}
  <script>
    $(function() {
      $('#id_date').datepicker({ changeMonth: true, changeYear: true, yearRange: '1930:2020' });

      /* assign function that creates new author from selection controls */
      add_author_button = document.getElementById('add_author_button');
      add_author_button.onclick = function() {
         var au_name_or_id = $('#author_selector #id_worker').val();
         if( au_name_or_id == null ) {
             // prevent for double click
             return false;
         }
         var au_role = $('#author_selector #id_role').val();
         var au_role_display_name = $('#id_role option:selected').text();
         var au_comment = $('#author_selector #id_comment').val();
         var author_seq = add_author("Loading...", au_name_or_id, au_role, au_role_display_name, au_comment);

         // reset worker selector
         $('#author_selector #id_worker').val(null);
         $('#author_selector #id_worker').select2('val', '');
         return false;
      };
    });
  </script>


<script type="text/javascript">
function show_controls() {
    a = document.getElementById('author_selector_controls');
    a.style.display = 'block';
    link = document.getElementById('author_selector_show_controls');
    link.style.display = 'none';
    return false;
}

function delete_author(seq) {
    var author_div_id = 'au_' + seq;
    var div = document.getElementById('authors_div');
    var author_div = document.getElementById(author_div_id);
    div.removeChild(author_div);
    return false;
}

function create_hidden_input(name, value) {
    var input = document.createElement("input");
    input.setAttribute("type", "hidden");
    input.setAttribute("id", name);
    input.setAttribute("name", name);
    input.setAttribute("value", value);
    return input;
}

function add_author(au_name, au_id, au_role, au_role_display_name, au_comment) {
    var seq = Math.floor((Math.random() * 100000) + 1000);
    var div = document.getElementById('authors_div');
    var author_div_id = 'au_' + seq;
    var author_div = document.createElement('div');
    author_div.setAttribute('id', 'au_' + seq);

    var authors_seq_input = create_hidden_input("au_sequence_numbers", seq);

    // Do not use au_name because it can be an ID; ajax request updates this field instead
    var input_for_name = create_hidden_input("au_name_" + seq, '');
    var input_for_id = create_hidden_input("au_id_" + seq, au_id);
    var input_for_role = create_hidden_input("au_role_" + seq, au_role);
    var input_for_role_name = create_hidden_input("au_role_name_" + seq, au_role_display_name);
    var input_for_comment = create_hidden_input("au_comment_" + seq, au_comment);

    var delete_img = document.createElement('img');
    delete_img.setAttribute("src", "{{STATIC_URL}}base/img/decline-16.png");
    delete_img.setAttribute("onClick", "return delete_author(" + seq +");");
    delete_img.setAttribute("title", "Удалить. Для сохранения изменений нажмите на кнопку СОХРАНИТЬ.");

    var author_name_span = document.createElement('span');
    var author_name = document.createElement('b');
    author_name.setAttribute("id", "au_display_name_" + seq);
    author_name.innerHTML = "Searching...";
    var role_name_txt = document.createTextNode(", " + au_role_display_name);
    author_name_span.appendChild(author_name);
    author_name_span.appendChild(role_name_txt);

    // Add hidden fields
    author_div.appendChild(delete_img);
    author_div.appendChild(author_name_span);
    author_div.appendChild(authors_seq_input);
    author_div.appendChild(input_for_name);
    author_div.appendChild(input_for_id);
    author_div.appendChild(input_for_role);
    author_div.appendChild(input_for_role_name);
    author_div.appendChild(input_for_comment);

    div.appendChild(author_div);

    function au_name_setter(data) {
         var txt = document.createTextNode(data);
         var au_display_name = $("#au_display_name_" + seq)[0];
         au_display_name.innerHTML = '';
         au_display_name.appendChild(txt);
         var au_name = $("#au_name_" + seq); // Update hidden field
         au_name.val(data);
     }

     // Load author's name
     $.ajax({
       dataType: "text",
       url: "{% url smi_get_worker_name %}",
       data: {"term": au_id},
       success: au_name_setter
     });

    return seq;
}

</script>

{% endblock %}

{% block content %}



  {% if smi %}
  Выступление в <b>{{ smi.name }}</b> {% if smi.url %} ({{ smi.url }}) {% endif %}
  {% endif %}

<div>
  <small><a href="{% url smi_home %}">Вернуться к списку Ваших выступлений</a></small>
</div>

<form method="POST" action=".">{% csrf_token %}
  <fieldset>
    <legend>Информация о выступлении</legend>
       {% show_form form %}
  </fieldset>

  <fieldset>
    <legend>Информация об авторах и участниках</legend>

    <div class="author_selector" id="author_selector">

      <!-- link to add new file input box when clicked on it -->
      <div id="author_selector_show_controls">
        <a href="#" onClick="return show_controls();" >Добавть нового автора или участника</a>
      </div>

      <div id="author_selector_controls" style="display: none;">
      <table>
        <tr>
          <td>ФИО</td> <td>Роль</td> <td>Место работы, звания</td> <td></td>
        </tr>
        <tr>
          <td>{{ author_form.worker }}</td>
          <td>{{ author_form.role }}</td>
          <td>{{ author_form.comment }}</td>
          <td> <button id="add_author_button">Добавить</button> </td>
        </tr>
      </table>
      <hr/>
      <hr class="space"/>
      </div>

      <div id="authors_div">
      {% for smi_author in authors %}
      <div id="au_{{forloop.counter}}">
        <input type="hidden" name="au_sequence_numbers" value="{{forloop.counter}}"/>
        <input type="hidden" name="au_name_{{forloop.counter}}" value="{{smi_author.name}}"/>
        <input type="hidden" name="au_id_{{forloop.counter}}" value="{{smi_author.id}}"/>
        <input type="hidden" name="au_role_{{forloop.counter}}" value="{{smi_author.role}}"/>
        <input type="hidden" name="au_role_name_{{forloop.counter}}" value="{{smi_author.role_name}}"/>
        <img src="{{STATIC_URL}}base/img/decline-16.png" title="Удалить" onclick="return delete_author({{forloop.counter}});"/>
        <b>{{ smi_author.name }}</b>, {{ smi_author.role_name }}
         <br/>
      </div>
      {% endfor %}
      </div>

    </div>

  </fieldset>
  <input type="submit" value="Сохранить"/>
</form>

{% endblock %}
