 {% extends "base.html" %}
{% load myforms %}

{% block title %}Добавление выступления в СМИ: выбор СМИ{% endblock %}

{% block extrajs %}
{{ search_form.media.js }}
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{{ search_form.media.css }}
{% endblock %}

{% block inlinejs %}
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>

  <script>
    $(function() {
      var default_tab = 0;
      {% if not my_smi %}
        default_tab = 1;
        $( "#tabs" ).tabs( "option", "selected", 1 )
        $( "#tabs" ).tabs( "option", "disabled", [ 0 ] )
        $("a#tab-mysmi").attr("title", "У Вас еще нет выступлений в СМИ данной категории.");
      {% endif %}
      {% if not search_tab_available %}
        if(default_tab == 1) {
            default_tab = 2;
            $( "#tabs" ).tabs( "option", "selected", 2 );
        }
        {% if not my_smi %}
            $( "#tabs" ).tabs( "option", "disabled", [ 0, 1 ] )
        {% else %}
            $( "#tabs" ).tabs( "option", "disabled", [ 1 ] )
        {% endif %}
        $("a#tab-search").attr("title", "В базе нет ни одного СМИ в данной категории.");
      {% endif %}
    });
  </script>
{% endblock %}

{% block content %}

Пожалуйста, выберите СМИ или введите информацию о новом СМИ.
<div>
  <small><a href="{% url smi_home %}">Вернуться к списку Ваших выступлений</a></small>
</div>
<hr class="space"/>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-0" id="tab-mysmi" title="Список СМИ, в которых Вы ранее выступали">Мои СМИ</a></li>
      <li><a href="#tabs-1" id="tab-search">Поиск СМИ</a></li>
      <li><a href="#tabs-2">Добавить новое СМИ</a></li>
    </ul>
    <div id="tabs-0">
      На данной вкладке отображаются названия СМИ, в которых Вы имеете
      выступления. Для добавления нового выступления в одном из перечисленных
      СМИ нажмите на его название. Если нужное издание или телеканал
      не показывается в этом списке, пожалуйста, воспользуйтесь
      поиском или введите новое СМИ.

      <table>
      {% for smi in my_smi %}
      <tr>
        <td width="10">{{ forloop.counter }}</td>
        <td><a href="{% url smi_add_event event_category=event_category smi_id=smi.id %}">{{ smi }}</a></td>
      </tr>
      {% endfor %}
      </table>
    </div>

    <div id="tabs-1">
      <form action="." method="POST">{% csrf_token %}
        <fieldset>
          <legend>Поиск СМИ</legend>
          {% show_form search_form %}
        </fieldset>
        <p>
          Вы можете ввести уточненное название, если в приведенном
          списке указан не совсем точный или сокращенный вариант
          названия. Уточненное название можно ввести только при выборе
          названия из списка.
        </p>
        <input type="submit" name="select_smi" value="Выступлление в выбранном СМИ"/>
      </form>
    </div>

    <div id="tabs-2">
      <form action="." method="POST">{% csrf_token %}
        <fieldset>
          <legend>Информация о новом СМИ</legend>
          {% show_form form %}
        </fieldset>
        <input type="submit" name="create_smi" value="Добавить новое СМИ и продолжить"/>
      </form>
    </div>
  </div>

{% endblock %}

