{% extends "base.html" %}
{% load myforms %}

{% block title %}Выступления в СМИ{% endblock %}

{% block content %}

<h3>Список Ваших выступлений в СМИ</h3>

<a href="{% url smi_add %}">Добавить новое выступление</a>
<hr class="space" />

<table>
{% for event in events %}
<tr>
  <td width="10"> {{ forloop.counter}} </td>  
  <td> <a href="{% url smi_edit_event event.id %}"> {{ event.name }} </a> </td>
  <td> <a href="{% url smi_delete_event event.id %}"> Удалить </a> </td>
</tr>
{% empty %}
<tr> <td> Нет зарегистрированных выступлений. </td></tr>
{% endfor %}
</table>

{% endblock %}
