{% load humanize %}

{% for activity, timestamp in activities %}
<tr class="clear">
    <td style="white-space:pre">{{ timestamp|naturalday:"d M" }}</td>
    <td>
        {% if activity.get_year %}<b>{{ activity.get_year }}</b>{% endif %}
        <a href="{{ activity.get_absolute_url }}"> {{ activity.title }}</a>
        {{ activity.all_workers_string }}
    </td>
</tr>
{% empty %}
<tr><td>Нет работ.</td></tr>
{% endfor %}
