{% extends "base.html" %}
{% load humanize activity_description %}

{% block title %}Научный отчет за {{ years_str }} год{% if '-' in years_str %}ы{% endif %} | {{ worker.fullname }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/tooltipster.css" type="text/css" media="all" charset="utf-8" />

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/year_report.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery.tooltipster.min.js"></script>

 <script>
    $(function(){
        $(this).find("ul.activity").css('width', '90%');
        $('div.activity_check_error').tooltipster({
           animation: 'fade',
           delay: 200,
           interactive: true,
           theme: 'tooltipster-shadow',
           touchDevices: false,
           trigger: 'hover',
           contentAsHTML: true
        });

    });


</script>

{% endblock %}

{% block content %}


<h2>{{ worker.fullname }} <a class="edit" href="{{ worker.get_absolute_url }}">просмотреть профиль</a></h2>
<h2>Научный отчет за {{ years_str }} год{% if '-' in years_str %}ы{% endif %} <a class="edit" href=".">Обновить страницу</a></h2>
<h2>{{ department.name }}</h2>

<h4>
	Статус:
	{% if object_list %}
		{{ object_list.get_status_display|lower }}
	{% else %}
		редактируется
	{% endif %}
</h4>

<br clear="both"/>

<div style="margin-left: -40px; margin-top: -20px;">
{% include "common/attachments.html" with obj=object_list %}
</div>



<ul class="clear">
{% for key, subactivities in activities.items %}
    {% if subactivities %}
    <li>
        <h4 class="activity_label">{{ subactivities.0.nominative_plural }}</h4>
		{% for activity in subactivities %}
            <div class="activity_item"  style="display: inline-flex; width: 100%; margin-bottom: 10px;">
			    {% show_activity_description activity 0 %}
             {% if activity.id in check_results_text  %}
                 {% autoescape off %}
                <div class="activity_check_error" style="background-image: url(/static/base/img/exclamation_mark.png); width: 10%;background-size: 70%;background-repeat: no-repeat;"
                     title="{{ check_results_text|get_item:activity.id }}" >
                {% endautoescape %}
                </div>
            {% endif %}
            </div>
		{% endfor %}
	</li>
	{% endif %}
{% endfor %}
</ul>

{% if can_edit %}
<span id="sign_warning" class="hide" style="color: red">Вы уверены? После подписания внести изменения в отчет будет невозможно.</span>

<a id="sign" class="LinkButton" style="float: left;" href="{% url workers_worker_report_year_sign worker_id=worker.id years_str=years_str department_id=department.id %}"> Подписать отчет </a>
<a id="preliminary_report_pdf" class="LinkButton" style="float: right;" href="{% url workers_worker_report_year_get_pdf worker_id=worker.id years_str=years_str department_id=department.id %}"> Получить предварительную версию отчета </a>


{% endif %}



{% endblock %}
