{% extends "base.html" %}
{% load humanize activity_description %}

{% block title %}Научный отчет за {{ years_str }} год{% if '-' in years_str %}ы{% endif %} | {{ worker.fullname }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<style>
    a.LinkButton {
        border-style: solid;
        border-width : 1px 1px 1px 1px;
        text-decoration : none;
        padding : 4px;
        color: black;
        border-color : gray;
        background-color: rgb(229, 236, 249);
        font-weight: bold;
        width: 300px;
        height: 17px;
        display: block;
        text-align: center;
    }

    div#element_to_pop_up {
        background-color: #fff;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 25px 5px #999;
        color: #111;
        display: none;
        min-width: 450px;
        padding: 25px;
    }
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/year_report.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.bpopup.min.js"></script>
<script>

    $(function(){
     $('div.activity_item input:checkbox:not(:checked)').parent().css("background", "lavender");
     $('div.activity_item input:checkbox').prop("disabled", "true");
     $('div.activity_item input:checkbox').hide();
     $("<img src='/static/workers/img/checkbox_empty.png' class='checked_image' />" ).insertBefore('div.activity_item input:checkbox:not(:checked)');
     $("<img src='/static/workers/img/checkbox_full.png' class='checked_image' />" ).insertBefore('div.activity_item input:checkbox:checked');
     $(this).find("img.checked_image").attr('width', '30px');
     $(this).find("img.checked_image").attr('height', '30px');
     $('span.style_loading').hide();

     $(this).find("ul.activity").css('width', '90%');



     $('div.activity_item').find('img.checked_image').click(function() {
        if ($(this).hasClass('blocked')){
            return;
        }
        $(this).addClass('blocked');
        $(this).parent().find('span.style_loading').show();
        changed_object_id = $(this).parent().find('input[id*="object_id"]').val();
        checked = $(this).parent().find('input:first').prop('checked');




        $(this).parent().find('span.style_loading').show();
        dataSource = {'changed_object_id' :  changed_object_id, 'checked' : checked};
           $.ajax({
               "url" : window.location.href + "update_marked_list/",
               "data" : dataSource,
               "dataType" : "JSON",
               "type" : "POST",
               "headers": { 'X-CSRFToken': '{{ csrf_token }}' },
               success : function(result){
                    parent_html_object = $("input[id*=" + result['object_id'] + "-object_id]").parent();
                    parent_html_object.find('span.style_loading').hide();
                    parent_html_object.find('img.checked_image').removeClass('blocked');
                    ajax_checked = result['checked'];
                    //ajax-checked -- state before clicking. So, if we have true here -- then for now this object have been deleted from list
                    if (ajax_checked == 'true'){

                        parent_html_object.find("input:first").prop('checked', false);
                        parent_html_object.find("img.checked_image").attr('src', '/static/workers/img/checkbox_empty.png');
                    }
                    else {
                        parent_html_object.find("input:first").prop('checked', true);
                        parent_html_object.find("img.checked_image").attr('src', '/static/workers/img/checkbox_full.png');
                    }
                    if(parent_html_object.find("input:first").is(":checked")) {
                        parent_html_object.css("background", "white");
                    }
                    if(parent_html_object.find("input:first").is(":not(:checked)")) {
                        parent_html_object.css("background", "lavender");
                    }
               },
               error : function(result){
                    var parsedData = JSON.parse(result['responseText']);
                    $("input[id*=" + parsedData.object_id + "-object_id]").parent().find('span.style_loading').hide();
                    $("input[id*=" + parsedData.object_id + "-object_id]").parent().find('img.checked_image').removeClass('blocked');
                    $('#element_to_pop_up').bPopup();

               }
           });

    });
   });



</script>


{% endblock %}

{% block content %}

<h2>{{ worker.fullname }} <a class="edit" href="{{ worker.get_absolute_url }}">просмотреть профиль</a></h2>
<h2>Научный отчет за {{ years_str }} год{% if '-' in years_str %}ы{% endif %} <a class="edit" href=".">Обновить страницу</a></h2>
<h2>{{ department.name }}</h2>

<h4>
	Статус:
	{% if object_list %}
		{{ object_list.get_status_display|lower }}
	{% else %}
		редактируется
	{% endif %}
</h4>

<br clear="both"/>

<div style="margin-left: -40px; margin-top: -20px;">
{% include "common/attachments.html" with obj=object_list %}
</div>


{% if can_edit %}
<form method="post" action="{% url workers_worker_report_year_sign worker_id=worker.id years_str=years_str department_id=department.id %}">
{% csrf_token %}
{% endif %}

<ul class="clear">
{% for key, subactivities in activities.items %}
    {% if subactivities %}
    <li>
        <h4 class="activity_label">{{ subactivities.0.nominative_plural }}</h4>
		{% for activity in subactivities %}
            <div class="activity_item"  style="display: inline-flex; width: 100%; margin-bottom: 10px;">
                {% if can_edit %}{{ activity.check_form }}{% endif %}
			    {% show_activity_description activity 0 %}
                <span class="style_loading ui-autocomplete-loading-padded"> </span>
            </div>
		{% endfor %}
	</li>
	{% endif %}
{% endfor %}
</ul>

{% if can_edit %}
<span id="sign_warning" class="hide" style="color: red">Вы уверены? После подписания внести изменения в отчет будет невозможно.</span>

<a id="sign" class="LinkButton" style="float: left;" href="{% url workers_worker_report_year_sign worker_id=worker.id years_str=years_str department_id=department.id %}"> Подписать отчет </a>
<a id="preliminary_report_pdf" class="LinkButton" style="float: right;" href="{% url workers_worker_report_year_get_pdf worker_id=worker.id years_str=years_str department_id=department.id %}"> Получить предварительную версию отчета </a>
    <div id="element_to_pop_up" style="left: 427.5px; position: absolute; top: 227px; z-index: 9999; opacity: 1; display: none;">
        Произошла ошибка при редактировании отчета. Обновите страницу или попробуйте редактировать отчет позже.
    </div>


{% endif %}

{% if can_approve and object_list %}
	{% if object_list.can_be_approved %}
		<form method="get" action="{% url workers_worker_report_year_approve worker_id=worker.id years_str=years_str department_id=department.id %}" style="float: left; padding: 2px;">
			{% csrf_token %}
			<input type="submit" value="Утвердить" />
		</form>
	{% endif %}
	{% if object_list.can_be_disapproved %}
		<form method="post" action="{% url workers_worker_report_year_disapprove worker_id=worker.id years_str=years_str department_id=department.id %}" style="float: left; padding: 2px;">
			{% csrf_token %}
			<div id="disapprove_form" class="hide">
				{{ disapprove_form.as_p }}
			</div>
			<input type="submit" id="disapprove" value="Отправить на доработку" />
		</form>
	{% endif %}
{% endif %}

{% if can_edit %}
</form>
{% endif %}

{% endblock %}
