{% load my_cache %}
{% load activity_description %}
{% if activities %}
<ul class="clear">

  <a name="articles"></a>
    {% if activities_existence.articles and articles_html %}
    <li>
        <h4 class="activity_label">Статьи</h4>
        {{ articles_html|safe }}
    </li>
    {% else %}
        <a name="articles_journal"></a>
        {% if activities_existence.articles_journal %}
        <li>
            <h4 class="activity_label">Статьи в журналах</h4>
            {% my_cache cache_disabled CACHE_TIME_ARTICLES  activities worker.id "article_journals" no_links activities_list_type %}
            {% include "publications/article_list.html" with articles=activities.articles_journal %}
            {% endcache %}
        </li>
        {% endif %}
        <a name="articles_collection"></a>
        {% if activities_existence.articles_collection %}
        <li>
            <h4 class="activity_label">Статьи в сборниках</h4>
            {% my_cache cache_disabled CACHE_TIME_ARTICLES  activities worker.id "article_collections" no_links activities_list_type %}
            {% include "publications/article_list.html" with articles=activities.articles_collection %}
            {% endcache %}
        </li>
        {% endif %}
    {% endif %}

    <a name="books"></a>
    {% if activities_existence.books %}
    <li>
        <h4 class="activity_label">Книги</h4>
        {% if books_html %}
            {{ books_html|safe }}
        {% else %}
            {% my_cache cache_disabled CACHE_TIME activities worker.id "book" no_links activities_list_type %}
            {% include "publications/book_list.html" with books=activities.books %}
            {% endcache %}
        {% endif %}
    </li>
    {% endif %}

    <a name="conference_presentations"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "conference_presentation" no_links activities_list_type %}
    {% if activities.conference_presentations %}
    <li>
        <h4 class="activity_label">Доклады на конференциях</h4>
        {% include "common/activities_list.html" with objects=activities.conference_presentations object_short_template="conferences/presentation_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="theses"></a>
    {% if activities_existence.theses %}
    <li>
        <h4 class="activity_label">Тезисы докладов</h4>
        {% if theses_html %}
            {{ theses_html|safe }}
        {% else %}
            {% my_cache cache_disabled CACHE_TIME activities worker.id "thesis" no_links activities_list_type %}
            {% include "publications/article_list.html" with articles=activities.theses %}
            {% endcache %}
        {% endif %}
    </li>
    {% endif %}

    <a name="projects"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "project" no_links activities_list_type %}
    {% if activities.projects %}
    <li>
        <h4 class="activity_label">НИРы</h4>
        {% include "common/activities_list.html" with objects=activities.projects object_short_template="projects/project_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="patents"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "patent" no_links activities_list_type %}
    {% if activities.patents %}
    <li>
        <h4 class="activity_label">Патенты</h4>
        {% include "common/activities_list.html" with objects=activities.patents object_short_template="patents/short.html"  %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="certificates"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "certificate" no_links activities_list_type %}
    {% if activities.certificates %}
    <li>
        <h4 class="activity_label">Свидетельства о регистрации прав на программное обеспечение</h4>
        {% include "common/activities_list.html" with objects=activities.certificates object_short_template="certificates/short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="reports"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "report" no_links activities_list_type %}
    {% if activities.reports %}
    <li>
        <h4 class="activity_label">Отчеты</h4>
        {% include "common/activities_list.html" with objects=activities.reports object_short_template="reports/short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="investments"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "investment" no_links activities_list_type %}
    {% if activities.investments %}
    <li>
        <h4 class="activity_label">Привлеченные инвестиции</h4>
        {% include "common/activities_list.html" with objects=activities.investments object_short_template="investments/short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="awards"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "award" no_links activities_list_type %}
    {% if activities.awards %}
    <li>
        <h4 class="activity_label">Награды и премии</h4>
        {% include "common/activities_list.html" with objects=activities.awards object_short_template="awards/short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="society_memberships"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "society_membership" no_links activities_list_type %}
    {% if activities.society_memberships %}
    <li>
        <h4 class="activity_label">Членство в научных обществах</h4>
        {% include "common/activities_list.html" with objects=activities.society_memberships object_short_template="intrelations/society_membership_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="honorary_memberships"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "honorary_membership" no_links activities_list_type %}
    {% if activities.honorary_memberships %}
    <li>
        <h4 class="activity_label">Почетное членство в организациях</h4>
        {% include "common/activities_list.html" with objects=activities.honorary_memberships object_short_template="intrelations/honorary_membership_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="traineeships"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "traineeship" no_links activities_list_type %}
    {% if activities.traineeships %}
    <li>
        <h4 class="activity_label">Стажировки в организациях</h4>
        {% include "common/activities_list.html" with objects=activities.traineeships object_short_template="intrelations/traineeship_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="journal_editorial_board_memberships"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "journal" no_links activities_list_type %}
    {% if activities.journal_editorial_board_memberships %}
    <li>
        <h4 class="activity_label">Участие в редколлегии журналов</h4>
        {% include "common/activities_list.html" with objects=activities.journal_editorial_board_memberships object_short_template="journals/journal_editorial_board_membership_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="collection_editorships"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "collection" no_links activities_list_type %}
    {% if activities.collection_editorships %}
    <li>
        <h4 class="activity_label">Участие в редколлегии сборников</h4>
        {% include "common/activities_list.html" with objects=activities.collection_editorships object_short_template="icollections/editorship_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="conference_committee_memberships"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "conference" no_links activities_list_type %}
    {% if activities.conference_committee_memberships %}
    <li>
        <h4 class="activity_label">Участие в программных комитетах конференций</h4>
        {% include "common/activities_list.html" with objects=activities.conference_committee_memberships object_short_template="conferences/committee_membership_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="dissertation_councils_memberships"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "dissertation_council" no_links activities_list_type %}
    {% if activities.dissertation_councils_memberships %}
    <li>
        <h4 class="activity_label">Членство в диссертационных советах</h4>
        {% include "common/activities_list.html" with objects=activities.dissertation_councils_memberships  object_short_template="dissertation_councils/membership_short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="dissertations_advised"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "dissertation" no_links activities_list_type %}
    {% if activities.dissertations_advised %}
    <li>
        <h4 class="activity_label">Руководство диссертациями</h4>
        {% include "common/activities_list.html" with objects=activities.dissertations_advised object_short_template="dissertations/short.html" %}
    </li>
    {% endif %}

    <a name="dissertations_defended"></a>
    {% if activities.dissertations_defended %}
    <li>
        <h4 class="activity_label">Диссертаци{{ activities.dissertations_defended.count|pluralize:"я,и" }}</h4>
        {% include "common/activities_list.html" with objects=activities.dissertations_defended object_short_template="dissertations/short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="diplomas"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "diploma" no_links activities_list_type %}
    {% if activities.diplomas %}
    <li>
        <h4 class="activity_label">Руководство дипломными работами</h4>
        {% include "common/activities_list.html" with objects=activities.diplomas object_short_template="diplomas/short.html" %}
    </li>
    {% endif %}
    {% endcache %}

    <a name="courses"></a>
    {% my_cache cache_disabled CACHE_TIME activities worker.id "course" no_links activities_list_type %}
    {% if activities.courses %}
    <li>
        <h4 class="activity_label">Авторство учебных курсов</h4>
        {% include "common/activities_list.html" with objects=activities.courses  object_short_template="courses/short.html" %}
    </li>
    {% endif %}

    <a name="courses_teachings"></a>
    {% if activities.courses_teachings %}
    <li>
        <h4 class="activity_label">Преподавание учебных курсов</h4>
        {% include "common/activities_list.html" with objects=activities.courses_teachings object_short_template="courses/teaching_short.html" %}
    </li>
    {% endif %}
    {% endcache %}
</ul>

    {% if articles_html or books_html or theses_html %}
        {% include "publications/bibtex2html_thanks.html" %}
    {% endif %}

{% endif %}
