{% load myforms %}

{% comment %}
    The javascript is included in the body, which is ok.
    It is included wherever this html is included.
    Do not include this html/js twice on the same page.
    It's ok that javascript goes before the html, because in js
        everything is wrapped in $(function()) [=document.ready],
        which waits for DOM to be completely loaded
    see:
        http://stackoverflow.com/questions/436411/where-is-the-best-place-to-put-script-tags-in-html-markup
        http://stackoverflow.com/questions/6838689/will-linking-javascript-files-in-the-body-rather-than-in-the-header-cause-a-prob
{% endcomment %}

<script type="text/javascript" src="{{ STATIC_URL }}base/js/attachments.js"></script>

{% comment %}
    As for formset.js, it can possibly be included more than once,
        in this case nothing harmful will happen, because
        it contains just a function declaration, so
        there will be multiple functions with the same name,
        and the last one will be used.
    See http://forums.asp.net/post/3023178.aspx
    Why include these files here? Just not to include them everywhere where
        the template can be included.
{% endcomment %}

<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>

{% with formset=attachment_formset %}
{% with can_edit=can_edit_attachments %}

{% if formset and can_edit and not hide_form %}
<form id="attachment_form" method="post" action="{% url common_attachments_add obj.content_type.id obj.id %}" enctype="multipart/form-data">{% csrf_token %}
{% endif %}

    {% if obj.attachments.exists or formset %}
    <div id="attachment_container" class="prepend-top prepend-1 span-23 last" data-delete-all-url="{% url common_attachments_delete_all obj.content_type.id obj.id %}">
        {% if obj.attachments.exists %}
        <h4>
            {{ attachments_title|default:"Прикрепленные файлы" }}
            {% if can_edit and not no_links %}
            <span id="attachment_container_edit">
                <a class="edit show_attachment_edit" href="#attachment_container">редактировать</a>
                <a class="edit delete_all_attachments_initial hide" href="#">удалить все прикрепленные файлы</a>
                <span class="edit delete_all_attachments_question hide">точно удалить все прикрепленные файлы?</span>
                <a class="edit delete_all_attachments_question confirm hide" href="#">да</a>
                <a class="edit delete_all_attachments_question cancel hide" href="#">нет</a>
                <span class="edit ajax_error hide">ошибка</span>
            </span>
            {% endif %}
        </h4>
        <hr />

        <table id="attachments" class="margin-top">
            <tr>
                <th>№</th>
                <th class="name">Имя</th>
                <th class="description">Описание</th>
                <th class="filename">Имя файла</th>
                <th class="size">Размер</th>
                <th class="date">Добавлен</th>
                {% if not hide_attachment_creator %}
                <th class="creator">Добавил</th>
                {% endif %}
            </tr>
            {% for attachment in obj.attachments.all %}
                {% if attachment.exists %}
                <tr class="attachment" data-delete-url="{% url common_attachments_delete obj.content_type.id obj.id attachment.id %}">
                    <td class="number">{{ forloop.counter }}.</td>
                    <td class="name">
                        {% if not no_links %}
                            <a href="{{ attachment.get_absolute_url }}">{{ attachment.short_description }}</a>
                        {% else %}
                            {{ attachment.short_description }}
                        {% endif %}
                    </td>
                    <td class="description">{{ attachment.long_description }}</td>
                    <td class="filename">{{ attachment.filename|truncatechars:60 }}</td>
                    <td class="size">{{ attachment.size|filesizeformat }}</td>
                    <td class="date">{{ attachment.date_uploaded|date:"j E Y" }}</td>
                    {% if not hide_attachment_creator %}
                    <td class="creator">
                        {% with creator=attachment.creator %}
                        {% if creator and creator.get_profile %}
                        {% with profile=creator.get_profile %}
                        {% if not no_links %}
                            <a href="{{ profile.get_absolute_url }}" title="Перейти на страницу пользователя">{% if profile.worker %}{{ profile.worker.fullname_short }}{% else %}{{ creator }}{% endif %}</a>
                        {% else %}
                            {% if profile.worker %}{{ profile.worker.fullname_short }}{% else %}{{ creator }}{% endif %}
                        {% endif %}
                        {% endwith %}
                        {% endif %}
                        {% endwith %}
                    </td>
                    {% endif %}
                    {% if can_edit and not no_links %}
                        <td class="delete_attachment hide"><a class="edit" href="">удалить</a></td>
                        <td class="loading hide"><span class="space">&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                        <td class="ajax_error hide"><span>ошибка</span></td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}

        {% if formset and can_edit %}
            {% if not obj.attachments.exists %}
                <h4 class="attachments_header">Прикрепленные файлы<hr style="margin-top: 3px;" /></h4>
            {% endif %}
            {% show_formset formset %}
        {% endif %}

    </div>
    {% endif %}

{% if formset and can_edit and not hide_form %}
    <input class="hide" type="submit" value="Прикрепить файлы" title="Сохранить файлы в систему" />
</form>
{% endif %}

{% endwith %}
{% endwith %}