{% extends "base.html" %}

{% block title %}Объединение дубликатов{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/merge_confirm.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var Table = $('#tblMergeCandidates').dataTable({
        "bFilter": false,
        "bSort": false,
        "bPaginate":false,
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ строк на странице",
            "sZeroRecords": " ",
            "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": ""
        },
        "aoColumnDefs": [
            {% if not merge_request.approved %}
                      {
                          "mData": null,
                                       "fnCreatedCell": create_delete_button,
                                       "aTargets": [ -1 ]
                      },
            {% endif %}
                     {
                                       "fnCreatedCell": add_missing_instance_title,
                                       "aTargets": [ 0 ]
                      },
                    {
                         "sClass": "id",
                         "aTargets": [ 0 ]
                    },
                    {
                        "sWidth":
                        "30%",
                        "aTargets": [ 1 ]
                    },
                    {
                        "sDefaultContent": '',
                        "aTargets": ['_all']
                    }
                ],
        "fnRowCallback":  select_main_on_load,
        "bProcessing": true,
    {% if not merge_request %}
        "sAjaxSource": '{% url datatables_json_by_id app_label model_name %}',
    {% else %}
        "sAjaxSource": '{% url common_merge_request_json_by_id merge_request.id %}',
    {% endif %}
        "fnServerParams": search_journals_by_ids
    });
} );
$(document).delegate("#tblMergeCandidates tbody tr", "click",  select_main_event);
$(document).delegate("input.delete", "click",  delete_row);
</script>

{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}journals/css/journal_management.css" type="text/css" media="all" charset="utf-8" />
{% endblock extracss %}

{% block content %}
{% if merge_request.approved %}
    <b>
        Эта заявка была выполнена.
    </b>
{% elif can_merge %}
    <b>
        Вы уверены, что хотите обеъдинить эти объекты? Желтым выделен объект, в который будут занесены данные из других
    объектов в этом списке, после чего они будут удалены из системы. ВНИМАНИЕ: изменения не обратимы!
    </b>
{% else %}
    <b>
        Желтым выделен объект, в который должны быть занесены данные из других объектов в этом списке,
    после чего они будут удалены из системы. Заявка на объединение будет сохранена в системе и после обработана администратором.
    </b>
{% endif %} 


<form name="merge_confirm" id="id_merge_form" method="post" action="{% url conferences_merge_final app_label model_name %}" > {% csrf_token %}
    <table id="tblMergeCandidates">
      <thead>
        <tr>
           {% for column_name in column_names %}
           <th> {{ column_name }}</th>
           {% endfor %}
          <th> </th>
        </tr>
      </thead>
    <tbody>
    </tbody>
    </table>
    <input type="hidden" id="id_main_candidate" name="main_candidate" class="main_candidate" value="{{ main_candidate_id }}">
    {% for id in candidate_ids %}
        <input type="hidden" id="id_candidate_{{ id }}" name="candidate_{{ id }}" class="candidate" value="{{ id }}">
    {% endfor %}
    <input type="hidden" id="id_merge_request_id" name="merge_request_id"  value="{{ merge_request.id }}">
    {% if not merge_request.approved %}
        <div class="margin-top">
            {% if can_merge  %}
                 <input type="submit" id="id_merge_accept" name="accept_request"   title="Подтвердить объединение" value="Подтвердить">
                 <input type="submit" id="id_merge_decline" name="decline_request"   title="Отменить объединение" value="Отклонить">
            {% elif not merge_request.id %}
                <input type="submit" id="id_merge_submit" name="submit_request"   title="Сохранить заявку" value="Сохранить">
            {% endif %}
            <input type="submit" id="id_merge_return" name="return"   title="Вернуться к списку объектов" value="Отменить">
        </div>
    {% endif %}
</form>
{% endblock %}

