{% if creator and creator.get_profile %}
{% with profile=creator.get_profile %}
<li>
    <span>Добавил в систему:</span>
    <span><a href="{{ profile.get_absolute_url }}" title="Перейти на страницу пользователя">{% if profile.worker %}{{ profile.worker.fullname }}{% else %}{{ creator }}{% endif %}</a></span>
</li>
{% endwith %}
{% endif %}    
