{% load url from future %}
{% load role_permissions %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/object_actions.js"></script>
{% endblock %}

<div class="span-7 last">
    {% if not can_edit_object %}
        {% ifhaspermission user "edit" object as can_edit_object %}
    {% endif %}
    {% if not can_delete_object %}
        {% ifhaspermission user "delete" object as can_delete_object %}
    {% endif %}
    {% ifhaspermission user "delete_if_no_related_objects" object as can_delete_if_no_related_objects %}
    {% ifhaspermission user "link_to" object as can_link_to_object %}
    {% ifhaspermission user "unauthor" object as can_unauthor_object %}
    {% if show_object_menu or can_edit_object or can_delete_object or can_delete_if_no_related_objects or can_link_to_object or can_unauthor_object %}
        <div class="box" id="object_actions">
            <h3>Работа с {{ object.instrumental }}</h3>
            {% if can_edit_object and edit_url %}
                <a href="{% url edit_url object.id %}" title="Перейти на страницу редактирования {{ object.genitive }}">Редактировать {{ object.accusative_short }}</a>
                <br/>
                <a class="show_attachment_edit" href="#attachment_container">Прикрепить файл</a>
            {% endif %}
            {% if can_delete_object and delete_url or can_delete_if_no_related_objects %}
                {% if can_edit_object and edit_url %}
                <br/>
                {% endif %}
                <a class="delete_object_initial" href="">Удалить {{ object.accusative_short }}</a>
                <span class="delete_object_question hide">Вы уверены, что хотите удалить {{ object.accusative_short }}?</span>
                {% if can_delete_object and delete_url %}
                    <a class="delete_object_question confirm hide" href="{% url delete_url object.id %}">да</a>
                {% else %}
                    <a class="delete_object_question confirm hide" href="{% url 'common_delete_if_no_related_objects' object.content_type.id object.id %}">да</a>
                {% endif %}
                <a class="delete_object_question cancel hide" href="">нет</a>
            {% endif %}
            {% if can_link_to_object %}
                <br/>
                <a class="link_to_object_initial" href="">Привязать {{ object.accusative_short }} к себе</a>
                <span class="link_to_object_question hide">Вы уверены, что хотите привязать {{ object.accusative_short }} к себе?</span>
                <a class="link_to_object_question confirm hide" href="{% url 'common_link_to_object' object.content_type.id object.id %}">да</a>
                <a class="link_to_object_question cancel hide" href="">нет</a>
            {% endif %}
            {% if can_unauthor_object %}
                <br/>
                <a class="unauthor_object_initial" href="">Отказаться от {{ object.genitive_short }}</a>
                <span class="unauthor_object_question hide">Вы уверены, что хотите отказаться от {{ object.genitive_short }}?</span>
                <a class="unauthor_object_question confirm hide" href="{% url 'common_unauthor_object' object.content_type.id object.id %}">да</a>
                <a class="unauthor_object_question cancel hide" href="">нет</a>
            {% endif %}
            {% if additional_actions_template %}
                {% include additional_actions_template %}
            {% endif %}
        </div>
    {% endif %}
    {% if can_view_object_history %}
        {% include "activity/actions_box.html" %}
    {% endif %}
</div>

{% include "common/attachments.html" with obj=object attachment_formset=attachment_formset can_edit_attachments=can_edit_object %}
