{% load admin_urls %}
{% load url from future %}
<div id="content-main">
    <div class="module">
        {% if action_list %}
            <table id="change-history">
                <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Модель</th>
                        <th scope="col">Объект</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col">Описание</th>
                    </tr>
                </thead>
                <tbody>
                    {% for action in action_list %}
                        <tr>
                            <th scope="row"><a href="{{ action.admin_url }}">{{action.revision.date_created}} </a> </th>
                            <td> {{action.model}}</td>
                            {% if action.object.get_absolute_url %}
                                <td> <a href="{{action.object.get_absolute_url}}"> {{action.object}}</a></td>
                            {% else %}
                               <td> {{action.object}}</td>
                            {% endif %}
                            <td>
                                {% if action.revision.user %}
                                    <a href="{{ action.profile_url }}">  {{action.revision.user.username}} </a>
                                {% endif %}
                            </td>
                            <td>{{action.comment}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Нет действий для отображения</p>
        {% endif %}
    </div>
</div>


