<!-- # -*- coding: utf-8; -*- -->

{% extends "base.html" %}
{% load i18n myforms %}
{% load url from future %}

{% block title %}Редактирование рубрикатора{% endblock %}

{% block extrajs %}
{% comment %}
Not working code; inline confirm used
<script type="text/javascript">
    $('.confirmation').on('click', function () {
        return confirm('Будут удалены все дочерние элементы и ВСЕ ЗАПИСИ, КОТОРЫЕ ОТНОСЯТСЯ К ЭТИМ ЭЛЕМЕНТАМ РУБРИКАТОРА. Продолжить?');
    });
</script>
{% endcomment %}
{% endblock %}


{% block content %}

<h2>{{page_title}}</h2>

<style>
  tr.active td {
    background-color: #d0d0d0; color: black;
  }
</style>

<p>
  {% if go_back_url %}
  <a href="{{go_back_url}}">{{go_back_label}}</a>
  {% endif %}
</p>

{% if show_delete_confirmation %}
<font color="red">
  ВНИМАНИЕ: Будут удалены все дочерние элементы '{{item}}' и <b>ВСЕ ЗАПИСИ, КОТОРЫЕ ОТНОСЯТСЯ К ЭТИМ ЭЛЕМЕНТАМ РУБРИКАТОРА</b>.
</font>
</br/>
Продолжить?
</br/></br/>
<table>
  <tr>
    <td>
      <form action="{% url view_name item.id 'delete_confirmed' %}" method="post">{% csrf_token %}
        <input type="submit" name="delete_confirmed"  onclick="return confirm('Извините, Вы абсолютно уверены?')" value="Да"/>
      </form>
    </td>
    <td>
      <form action="{% url view_name item.id %}" method="get">
        <input type="submit" name="yesno" value="Нет"/>
      </form>
    </td>
  </tr>
</table>

{% else %}
<form action="{% url view_name %}" method="post">{% csrf_token %}
  <input type="hidden" name="parent_item_id" value="{% if highlighted_item_id %}{{highlighted_item_id}}{% endif %}"/>
  <input type="hidden" name="item_id" value="{{item.id}}"/>
  <table>
    <tr>
      {% if not item %}
        {% if highlighted_item_id %}
          <td>Добавить новую запись <b>на один уровень ниже</b> выделенной строчки</td>
        {% else %}
          <td>Добавьте новую запись верхнего уровня или щелкните на одну из строк ниже</td>
        {% endif %}
      {% else %}
      <td>Редактирование выделенной записи</td>
      {% endif %}
    </tr>
    <tr>
      <td><input class="span-20" type="text" name="new_item_value" value="{{item.name}}"/></td>
    </tr>
  </table>
  <input type="submit" value="Сохранить"/>
</form>
{% endif %}


<br/><br/>
<table>
  <tr {% if not split_toplevel_at %} class="active"{% endif %}>
    <td colspan="4"><a href="{% url view_name %}">КОРЕНЬ</a></td>
  </tr>
  {% for t in toplevelitems %}
      {% if not t.id == split_toplevel_at %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> <a href="{% url view_name t.id %}">{{t.name}}</a> </td>
        <td></td>
        <td></td>
      </tr>
      {% else %}
        {% for item in parents reversed %}
        <tr {% if forloop.last %} class="active"{% endif %}>
          <td></td>
          <td> {{item.offset|safe}}<a href="{% url view_name item.object.id %}">{{item.object}}</a> </td>
          {% if forloop.last %}
            <td><a href="{% url view_name item.object.id 'delete' %}" class="confirmation">удалить</a></td>
            <td><a href="{% url view_name item.object.id 'edit' %}">изменить</a></td>
          {% else %}
            <td></td>
            <td></td>
          {% endif %}
        </tr>
        {% endfor %}

        {% for item in children %}
        <tr>
          <td></td>
          <td> {{children_offset|safe}}<a href="{% url view_name item.id %}">{{item}}</a> </td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      {% endif %}
  {% empty %}
  <tr>
    <td colspan="4"><a href="{% url view_name %}">Рубрикатор не содержит записей, Пожалуйста, введите запись верхнего уровня в форму выше.</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
