{% if show_home %}<li><a href="{% url home %}" title="Перейти на страницу с информацией обо мне">Моя страница</a></li>{% endif %}
<li><a href="{% url home_profile %}" title="Перейти на страницу с полным списком моих работ">Мои работы</a></li>
<li><a href="{% url workers_profile_edit %}" title="Перейти на страницу редактирования профиля">Редактировать профиль</a></li>

{% if worker %}
    <li><a href="{% url workers_worker_reports_index %}" title="Открыть страницу с отчетами">Мои отчеты</a></li>
    <li><a href="{% url statistics_my_top_articles %}" title="Открыть страницу со списком отобранных Ваших статей">Мои отобранные статьи</a></li>
    <li><a href="{% url contests_list %}" title="Открыть страницу с конкурсами">Конкурсы</a></li>
    <li><a href="/achievements/" title="Перейти на страницу с полным списком добавленных Вами достижений">Достижения</a></li>
    <li><a href="{% url workers_worker_last_published %}">Последние добавленные мной работы</a></li>
    <li><a href="{% url workers_worker_publications_bibtex worker.id %}" title="Перейти на отдельную страницу с BibTeX-записями ваших публикаций" target="_blank">Экспорт публикаций в BibTeX</a></li>
    <li><a href="{% url similar_workers_list %}" title="Перейти на отдельную страницу со списком возможных дубликатов Вашего сотрудника">Мои возможные дубликаты</a></li>
    <li><a href="{% url home_lost_articles %}" title="Перейти на отдельную страницу со списком возможных потерянных статей">Мои потерянные статьи</a></li>
{% else %}
    <li><a class="disabled" title="Для активации этой функции найдите себя в базе сотрудников">Мои отчеты</a></li>
    <li><a class="disabled" title="Для активации этой функции найдите себя в базе сотрудников">Мои конкурсы</a></li>
    <li><a class="disabled" title="Для активации этой функции найдите себя в базе сотрудников">Мои отобранные статьи</a></li>
    <li><a class="disabled" title="Для активации этой функции найдите себя в базе сотрудников">Экспорт публикаций в BibTeX</a></li>
{% endif %}
{% if user.is_staff %}
    <li><a href="{% url journals_management %}" title="Перейти на страницу работы с журналами">Поиск и редактирование журналов</a></li>
    <li><a href="{% url journals_last_added %}" title="Перейти на страницу со спиком последних добавленных журналов">Последние добавленные журналы</a></li >
{% endif %}

<li><a href="/help/" title="Перейти на страницу помощи">Инструкция по работе с системой</a></li>
