{% load bibtex %}
{% with has_activities=worker.has_activities %}
    {% if has_activities %}
    <div class="span-24 last">
        <h3 class="margin-top clear">
            Деятельность
            <input type="text" id="filter_activities" class="edit" placeholder="поиск" />
            {% show_publication_list_links worker.id 'workers_worker_detail' 'workers_worker_publications_bibtex' 'workers_worker_detail_in_style' %}
        </h3>
        <hr />
        {% include "common/activities.html" with activities=worker.activities_prefetched activities_existence=worker.activities_existence no_links=0 activities_list_type="all" %}
    </div>
    {% endif %}
{% endwith %}