{% with workers=object.workers_list %}
{% if workers %}
<li>
    <span>{{ object.workers_verbose_name }}:</span>
    {% include "common/workers_list_links_param.html" with workers=workers %}
</li>
{% endif %}
{% endwith %}
