{% with workers=object.workers_list %}
{% if workers %}
<li>
    <span>{{ object.workers_verbose_name }}:</span>
    <span>
        {% include "common/workers_list_links_param.html" with workers=workers %}
    </span>
</li>
{% endif %}
{% endwith %}
