{% extends "base.html" %}

{% block title %}Доступ запрещен{% endblock %}

{% block content %}
<h2>У Вас недостаточно прав для {{ action|default:"выполнения данного действия" }}</h2>
{{ description }}
<h3 class="prepend-top"><a href="{% url startpage %}">Перейти на главную страницу</a></h3>
{% endblock %}
