{% extends "base.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
<h2>Страница не найдена</h2>
Такой страницы на сайте нет.
<h3 class="prepend-top"><a href="{% url startpage %}">Перейти на главную страницу</a></h3>
{% endblock %}
