{% extends "base.html" %}

{% block favicon %}
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<!-- for Firefox -->
<link rel="shortcut icon" href="/static/base/img/favicon.png" type="image/x-icon" />
{% endblock %}

{% block css %}
<!-- Blueprint CSS framework -->
<link rel="stylesheet" href="/static/base/css/blueprint/screen.css" type="text/css" media="screen, projection" charset="utf-8" />
<link rel="stylesheet" href="/static/base/css/blueprint/print.css" type="text/css" media="print" charset="utf-8" />
<!--[if IE]><link rel="stylesheet" href="/static/base/css/blueprint/ie.css" type="text/css" media="screen, projection" charset="utf-8" /><![endif]-->
<!-- /Blueprint CSS framework -->
<link rel="stylesheet" href="/static/base/css/redmond/jquery-ui-1.8.23.custom.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="/static/userprofile/css/django-profile.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="/static/base/css/base.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="/static/feedback/css/feedback.css" type="text/css" media="all" charset="utf-8" />
{% endblock css %}

{% block js %}
<script type="text/javascript" src="/static/base/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/base/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/static/base/js/base.js"></script>
{% endblock js %}

{% block title %}Произошла ошибка{% endblock %}

{% block header %}
<h1><a href="{% url startpage %}" title="Перейти на главную страницу"><img src="/static/base/img/msulogo.gif" alt="ИСТИНА" /></a>ИСТИНА</h1>
<h3>Интеллектуальная Система Тематического Исследования НАучно-технической информации</h3>
<ul id="upper_navigation">
    <li><a href="{% url startpage %}" title="Перейти на главную страницу">Главная</a></li>
    <li><a href="{% url signup %}" title="Перейти на страницу регистрации в системе">Регистрация</a></li>
    <li><a href="{% url login %}" title="Перейти на страницу входа в систему">Войти в систему</a></li>
    <li><a href="/about/">О проекте</a></li>
    <li><a href="/help/">Помощь</a></li>
</ul>
<hr />
{% endblock %}

{% block content %}
<h2><img src="/static/base/img/error.jpg" style="height: 50px; width: 50px; margin-right: 20px;" alt="Ошибка" />Произошла ошибка</h2>
Извините за беспокойство. Сообщение об ошибке отправлено администраторам.
<h3 class="prepend-top"><a href="{% url startpage %}">Перейти на главную страницу</a></h3>
{% endblock %}

{% block footer %}
<div id="footer" class="span-24 last">
    <hr />
    <div class="span-24 last append-bottom">
        <div class="span-18">&nbsp;</div>
        <div class="span-6 last">
            <span class="quiet">
                © 2011-2012 <a href="http://www.imec.msu.ru/" title="Перейти на официальный веб-сайт НИИ механики МГУ">НИИ механики МГУ</a>. <br/>
                Лаборатория 404.<br/>
                Все права защищены.</span><br/>
        </div>
    </div>
</div>
{% endblock footer %}
