{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work_choose_type.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block title %}Добавление работы{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <h2>Выберите тип работы для добавления в систему</h2>
    <hr class="space" />
    <div id="work_types">
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url publications_add %}" title="Перейти на страницу добавления публикации">
                        <img height="50px" src="{{ STATIC_URL }}publications/img/publication.png" alt="Добавить публикацию" />
                        Публикация
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url conferences_presentation_add %}" title="Перейти на страницу добавления доклада на конференции">
                        <img height="50px" src="{{ STATIC_URL }}conferences/img/presentation.png" alt="Добавить доклад на конференции" />
                        Доклад на конференции
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                        <a href="{% url projects_add %}" title="Перейти на страницу добавления  НИР">
                            <img height="50px" src="{{ STATIC_URL }}projects/img/project_membership.png" alt="Добавление НИР" />
                            НИР
                        </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url patents_add %}" title="Перейти на страницу добавления патента">
                        <img height="50px" src="{{ STATIC_URL }}patents/img/patent.png" alt="Добавить патент" />
                        Патент
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url certificates_add %}" title="Перейти на страницу добавления свидетельства о регистрации прав на программное обеспечение">
                        <img height="50px" src="{{ STATIC_URL }}certificates/img/certificate.png" alt="Добавить свидетельство о регистрации прав на ПО" />
                        Свидетельство о регистрации прав на программное обеспечение
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url reports_add %}" title="Перейти на страницу добавления отчета">
                        <img height="50px" src="{{ STATIC_URL }}reports/img/report.png" alt="Добавить отчет" />
                        Отчет
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3 append-3 last">
            <center>
                <h4>
                    <span class="disabled" title="Добавление инвестиций находится в разработке">
                        <img height="50px" src="{{ STATIC_URL }}investments/img/investment.png" alt="Добавление инвестиций находится в разработке" />
                        Привлечение инвестиции
                </h4>
            </center>
        </div>
    <hr style="visibility:hidden" />
        <div class="span-3 clear">
            <center>
                <h4>
                    <a href="{% url journals_membership_add %}" title="Перейти на страницу добавления членства в редколлегии журнала">
                        <img height="50px" src="{{ STATIC_URL }}journals/img/journal_editorial_board_membership.png" alt="Добавить членство в редколлегии журнала" />
                        Членство в редколлегии журнала
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url icollections_editorship_add %}" title="Перейти на страницу добавления членства в редколлегии сборника">
                        <img height="50px" src="{{ STATIC_URL }}icollections/img/collection_editorship.png" alt="Добавить членство в редколлегии сборника" />
                        Членство в редколлегии сборника
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url conferences_committee_membership_add %}" title="Перейти на страницу добавления членства в программном/организационном комитете конференции">
                        <img height="50px" src="{{ STATIC_URL }}conferences/img/program_committee_membership.png" alt="Добавить членство в программном/организационном комитете конференции" />
                        Членство в программном/ организационном комитете конференции
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url dissertation_councils_membership_add %}" title="Перейти на страницу добавления членства в диссертационном совете">
                        <img height="50px" src="{{ STATIC_URL }}dissertation_councils/img/dissertation_council.png" alt="Добавить членство в диссертационном совете" />
                        Членство в диссертационном совете
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url dissertations_add %}" title="Перейти на страницу добавления диссертации/руководства диссертацией">
                        <img height="50px" src="{{ STATIC_URL }}dissertations/img/dissertation.png" alt="Добавить диссертацию/руководство диссертацией" />
                        Диссертация (или руководство диссертацией)
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url diplomas_add %}" title="Перейти на страницу добавления дипломной работы">
                        <img height="50px" src="{{ STATIC_URL }}diplomas/img/diploma.png" alt="Добавить руководство дипломной работой" />
                        Руководство дипломной работой
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3 append-3 last">
            <center>
                <h4>
                    <a href="{% url courses_add %}" title="Перейти на страницу добавления авторства учебного курса">
                        <img height="50px" src="{{ STATIC_URL }}courses/img/course_authorship.png" alt="Добавить авторство учебного курса" />
                        Авторство учебного курса
                    </a>
                </h4>
            </center>
        </div>
    <hr style="visibility:hidden" />
        <div class="span-3 clear">
            <center>
                <h4>
                    <a href="{% url courses_teaching_add %}" title="Перейти на страницу добавления преподавания учебного курса">
                        <img height="50px" src="{{ STATIC_URL }}courses/img/course_teaching.png" alt="Добавить преподавание учебного курса" />
                        Преподавание учебного курса
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url awards_add %}" title="Перейти на страницу добавления награды">
                        <img height="50px" src="{{ STATIC_URL }}awards/img/award.png" alt="Добавить награду" />
                        Награда
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url intrelations_honorary_membership_add %}" title="Перейти на страницу добавления почетного членства в организации">
                        <img height="50px" src="{{ STATIC_URL }}intrelations/img/honorary_membership.png" alt="Добавить почетное членство в организации" />
                        Почетное членство в организации
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url intrelations_society_membership_add %}" title="Перейти на страницу добавления членства в научном обществе">
                        <img height="50px" src="{{ STATIC_URL }}intrelations/img/society_membership.png" alt="Добавить членство в научном обществе" />
                        Членство в научном обществе
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url intrelations_traineeships_add %}" title="Перейти на страницу добавления стажировки">
                        <img height="50px" src="{{ STATIC_URL }}intrelations/img/traineeship.png" alt="Добавить стажировку" />
                        Стажировка
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url smi_add %}" title="Перейти на страницу добавления выступления в СМИ">
                        <img height="50px" src="{{ STATIC_URL }}smi/img/smi-2.png" alt="Добавить выступление в СМИ" />
                        Выступление в СМИ
                    </a>
                </h4>
            </center>
        </div>
         <div class="span-3 append-3 last">
            <center>
                <h4>
                    <a href="{% url eduwork_add %}" title="Перейти на страницу добавления педагогической нагрузки" >
                        <img height="50px" src="{{ STATIC_URL }}eduwork/img/eduwork_icon.png" alt="Первичный сбор педагогической нагрузки" />
                        Первичный сбор педагогической нагрузки
                    </a>
                </h4>
            </center>
        </div>
        {# =========== Functions for admins  =============== #}
        <hr style="visibility:hidden" />
        <div class="span-3">
            <center>
                <h4>
                    <a href="{% url events_add %}" title="Перейти на страницу добавления мероприятия" {% if not user.is_superuser %}class="hide"{% endif %}>
                        <img height="50px" src="{{ STATIC_URL }}events/img/event.png" alt="Добавить мероприятие" />
                        Мероприятие
                    </a>
                </h4>
            </center>
        </div>
        <div class="span-3 append-3 last">
            <center>
                <h4>
                    <a href="{% url conferences_conference_add %}" title="Перейти на страницу добавления конференции" {% if not user.is_superuser %}class="hide"{% endif %}>
                        <img height="50px" src="{{ STATIC_URL }}conferences/img/conference.png" alt="Добавить конференцию" />
                        Конференция
                    </a>
                </h4>
            </center>
        </div>
       
    </div>
{% else %}
    <h3>Пожалуйста, <a href="{% url login %}" title="Перейти на страницу входа в систему">войдите в систему</a>, чтобы иметь возможность добавлять работы.</h3>
{% endif %}

{% endblock content %}
