{% extends "base.html" %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block title %}Добавление участия в создании научной продукции{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<form method="post" action=".">{% csrf_token %}

    <h2>Добавление участия в создании научной продукции</h2>
    <hr class="space" />
    <h4><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h4>
    <div class="form span-22" id="work_types">
        {% for field in form %}
        {% if field.errors %}
        <div class="field error-container">
                            <div class="error">
                            <span class="ui-icon ui-icon-alert"></span>
                        {{ field.errors }}
                            </div>
                        {% else %}
                        <div class="field">
                        {% endif %}
                        <ul>

                        <li><span>{{ field.label|safe }}:</span></li>

                        <li>{{ field }}</li>
                        </ul>

                        </div>
                    {% endfor %}
    </div>
  <input type=submit title="Сохранить участие в создании научной продукции" value="Сохранить"/>
</form>
{% else %}
    <h3>Пожалуйста, <a href="{% url login %}" title="Перейти на страницу входа в систему">войдите в систему</a>, чтобы иметь возможность добавлять работы.</h3>
{% endif %}

{% endblock content %}
