{% load flatpages compress role_permissions %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% endblock %}
    {% block extrameta %}{% endblock %}

    {% block favicon %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- for Firefox -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}base/img/favicon.png" type="image/x-icon" />
    {% endblock %}

    {% compress css %}
    {% block css %}
    <!-- Blueprint CSS framework -->
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/blueprint/screen.css" type="text/css" media="screen, projection" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/blueprint/print.css" type="text/css" media="print" charset="utf-8" />
    <!--[if IE]><link rel="stylesheet" href="{{ STATIC_URL }}base/css/blueprint/ie.css" type="text/css" media="screen, projection" charset="utf-8" /><![endif]-->
    <!-- /Blueprint CSS framework -->
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/redmond/jquery-ui-1.8.23.custom.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}userprofile/css/django-profile.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/base.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}feedback/css/feedback.css" type="text/css" media="all" charset="utf-8" />
    <!-- Misc tools -->
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/tabs.css" type="text/css" media="all" charset="utf-8" />
    {% endblock css %}
    {% block extracss %}{% endblock %}
    {% endcompress %}

    {% block inlinecss %}{% endblock %}

    {% compress js %}
    {% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/base.js"></script>
    <script>
        function addEvent(obj, evType, fn, useCapture){
          if (obj.addEventListener){
            obj.addEventListener(evType, fn, useCapture);
            return true;
          } else if (obj.attachEvent){
            var r = obj.attachEvent("on"+evType, fn);
            return r;
          } else {
            alert("Handler could not be attached");
          }
        }
    </script>
    <script>



        $(function(){
            //Скрыть PopUp при загрузке страницы
            $("#popup1").hide();
            if ( $( "td strong.authenticated" ).length ) {
                $("#email_field_for_nonauth").hide();
            }

        });
        //Функция отображения PopUp
        function PopUpShow(){
            $("#popup1").show();
        }
        //Функция скрытия PopUp
        function PopUpClose(){
            $("#popup1").hide();
            $("p#issue_create_result").text("");
            $("#helpdesk_issue").show();
            $(".b-popup-content").css("height", "500");
            //$("textarea#helpdesk_issue_descr").val("");
            $("p#issue_create_result").css('color', 'black');
        }
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test( $email );
    }
    $(function(){
    $('input#helpdesk_issue_create').click(function(event) { // catch the form's submit event
       event.preventDefault();
        //here we should validate our fields
       $('input#helpdesk_issue_create').prop('disabled', true);
       var category = $(this).parent().children('#helpdesk_issue_category').val();
       //var subject = $(this).parent().children('#helpdesk_issue_subj').val();
       var description = $('textarea#helpdesk_issue_descr').val();
       var subject = $('input#helpdesk_issue_subj').val();
       var user_email = $('input#helpdesk_issue_useremail').val();
       var email_valid = (( (typeof user_email === "undefined") && ($( "td strong.authenticated" ).length )) || (validateEmail(user_email)))
       if ( (description != "") && email_valid ){
           dataSource = {'category' :  category,  'description' : description, 'subject' : subject, 'user_email' : user_email};
           $.ajax({
               "url" : "/common/add_ticket/",
               "data" : dataSource,
               "dataType" : "JSON",
               "type" : "POST",
               "headers": { 'X-CSRFToken': '{{ csrf_token }}' },
               success : function(result){
                  $("p#issue_create_result").text("Обращение с номером " + result['new_ticket_id'] + " было успешно создано! На адрес Вашей электронной почты в ближайшее время будет отправлено письмо с результатами рассмотрения Вашего обращения.");
                  $("p#issue_create_result").css("font-weight","Bold");
                  $("p#issue_create_result").css("font-size", "20");
                  $(".b-popup-content").css("height", "100");
                  $("#helpdesk_issue").hide();
                  $("p#issue_create_result").css('color', 'black');
                  $('input#helpdesk_issue_create').prop('disabled', false);
                  $("input#helpdesk_issue_subj").val("");
                  $("textarea#helpdesk_issue_descr").val("");
               },
               error : function(result){
                  $('input#helpdesk_issue_create').prop('disabled', false);
                  $("p#issue_create_result").text("Произошла ошибка при создании обращения.");
                  $("p#issue_create_result").css('color', 'red');
               }
           });
       }
       else {
           if (description == "") {
                $("p#issue_create_result").text("Для создания обращения необходимо заполнить описание обращения. ");
                $("p#issue_create_result").css('color', 'red');
           }
           if (!email_valid) {
                $("p#issue_create_result").text("Необходимо ввести корректный почтовый адрес");
                $("p#issue_create_result").css('color', 'red');
           }
       }
       return false;
   });
   });




    </script>

    {% endblock js %}
    {% block extrajs %}{% endblock %}
    {% endcompress %}

    {% block nocompressjs %}{% endblock %}
    {% block externaljs %}{% endblock %}
    {% block inlinejs %}



    {% endblock %}

    <title>{% block title %}Главная{% endblock title %} {{ test_zm }} | ИСТИНА - Интеллектуальная Система Тематического Исследования НАучно-технической информации</title>

    {% block google-analytics %}
    {% if not debug %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27629404-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    {% endif %}
    {% endblock %}

</head>

<body class="js_off {% block body_class %}{% endblock %}">
<style>
    .left   {text-align:left;}
    .center {text-align:center;}
    .right  {text-align:right;}
    .top    {vertical-align: text-top;}
    .top_table {
        /* background-color: #ff0000; */
        border-collapse: separate;
        border-spacing: 0px; /* cellspacing */
        *border-collapse: expression('separate', cellSpacing = '0px'); /* see http://stackoverflow.com/questions/339923/how-to-set-cellpadding-and-cellspacing-in-css */
    }
    .top_table td { padding: 2px; }
    .top_table .istina_name { padding: 0px; }





.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 100;
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:500px;
    height: 550px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}


</style>




    <script type="text/javascript">document.body.className = document.body.className.replace("js_off", "js_on"); </script>
    <div class="b-popup" id="popup1" style="display: none;">
    <div class="b-popup-content">
        <div id="helpdesk_issue">
Выберите категорию обращения:
<select id="helpdesk_issue_category">
  <option value="Общие_вопросы">Общие вопросы</option>
  <option value="Отчеты">Отчеты</option>
  <option value="Рейтинги">Рейтинги</option>
  <option value="Диссертационные_советы">Диссертационные советы</option>
  <option value="Конкурсы">Конкурсы</option>
  <option value="Ввод_данных">Ввод данных</option>
  <option value="Структура_организаций">Структура организаций</option>
  <option value="Пользователи">Пользователи</option>
  <option value="Проблемы_с_регистрацией_входом">Проблемы с регистрацией\входом в систему</option>
</select>
<br />
<br />

<p style="text-align: center;margin: 0;">Тема обращения:
<input type="text" id="helpdesk_issue_subj" title="Введите тему обращения"  style="margin: 0 auto; display:block;"/>
</p>


<p style="text-align: center;margin: 0;">Описание проблемы: </p>

<textarea rows="20" cols="50" id="helpdesk_issue_descr" style="display: block;     margin-left: auto;     margin-right: auto; resize:none;">
</textarea>

<br />
<p id="email_field_for_nonauth" style="text-align: center;margin: 0;">Введите почтовый адрес:
<input type="text" id="helpdesk_issue_useremail" title="Введите почтовый адрес"  style="margin: 0 auto; display:block;"/>
</p>
<br />

<input id="helpdesk_issue_create" type="submit" value="Создать обращение" title="Отправить сообщение администраторам системы" style="margin: 0 auto; display:block; min-width: 300px;"/>
</div>
        <p id="issue_create_result" style="margin: 0; text-align: center;"></p>
        <br />
        <input id="helpdesk_close_popup" type="submit" value="Закрыть окно" title="Закрыть окно создания обращения" onClick="javascript:PopUpClose()" style="display: block;    margin: 0 auto; min-width: 300px;"/>
    </div>
    </div>

    {% if request.get_full_path == "/accounts/login/" %}
    {% include "ie_8_and_more_required.html" %}
    {% endif %}


    <div class="container">
        <div id="header">
            {% block header %}
             <table class="top_table">
               <tr>
                  <td rowspan="3">
                    <a href="{% url startpage %}" title="Перейти на главную страницу"><img src="{{ custom_imageurl }}" alt="ИСТИНА" /></a>
                  </td>
                  <td width="40%">
                    <h1>ИСТИНА</h1>
                  </td>
                  <td class="right">
                     {% if user.is_authenticated %}
                       <strong class="authenticated">
                         {% if user.get_profile.fullname %}
                           {{ user.get_profile.fullname }} ({{ user }})
                         {% else %}
                            {% if user.get_profile.worker %}
                               {{ user.get_profile.worker }} ({{ user }})
                            {% else %}
                               {{ user }}
                            {% endif %}
                         {% endif %}
                       </strong><br/>
                       <a href="{% url logout %}">Выйти из системы</a>
                     {% else %}
                        <a href="{% url login %}" title="Перейти на страницу входа в систему"><b>Войти&nbsp;в&nbsp;систему</b></a><br/>
                        <a href="{% url signup %}" title="Перейти на страницу регистрации в системе">Регистрация</a>
                      {% endif %}
                  </td>
                </tr>
                <tr><td colspan="2" class="left"> 
                  <h3>{{ custom_headertext }}</h3>
                </td>
                </tr>
                <tr class="top"><td colspan="2">
                  <ul id="upper_navigation">
                     <li><a href="{% url startpage %}" title="Перейти на главную страницу">Главная</a></li>
                     {% if user.is_authenticated %}
                       {% if user.granted_department_roles.current.exists %}
                       {# ----- {% ifhaspermission user "is_representative_for" %} -------#}
                       <li>
                       <span style="background: #e5ecf9; border: 1px lightgrey solid; padding: 2px 7px 2px 7px;">
                         <a href="{% url depadmin_index %}"><b>Для ответственных</b></a>
                       </span></li>
                       {% endif %}
                       {# ----- {% endifhaspermission %} ------- #}
                       <li><a href="{% url home %}" title="Перейти на вашу страницу">Моя страница</a></li>
                       <li><a href="{% url add_work %}" title="Перейти на страницу добавления научной работы">Добавить работу</a></li>
                       <!-- <li><a href="{% url add_achievement %}" title="Перейти на страницу добавления достижения">Добавить достижение</a></li> -->
                    {% endif %}
                    <li><a href="{% url search %}">Поиск</a></li>
                    <li><a href="{% url statistics_activity %}">Статистика</a></li>
                    <li><a href="/about/">О проекте</a></li>
                    <li><a href="/help/">Помощь</a></li>
                    {% if user.is_superuser %}
                      <li><a href="/admin/">Администрирование</a></li>
                    {% endif %}
                  </ul>
               </td></tr>
              {% if debug %}
                  <tr>
                    <td></td>
                    <td colspan="2" style="padding-left: 20px;">
                      {% if hg_error %}
                        {{ hg_error }}
                      {% else %}
                        {% if hg_branch != 'default' %}
                          <a href="https://bitbucket.org/goldan/istina/branches/compare/{{ hg_branch }}..default" target="_blank">{{ hg_branch }}</a>,
                        {% else %}
                          <a href="https://bitbucket.org/goldan/istina/commits/all" target="_blank">{{ hg_branch }}</a>,
                        {% endif %}
                        <a href="https://bitbucket.org/goldan/istina/changeset/{{ hg_commit }}" target="_blank">{{ hg_commit }}</a>{% if not hg_is_clean %}<span title="есть незафиксированные изменения">+</span>{% endif %},
                        {% if hg_commit != hg_last_commit %}<span>старая версия, </span>{% endif %}
                      {% endif %}
                      {{ settings_current_database }}
                      {% if DEBUG_TOOLBAR_SESSION_KEY %}
                      //
                          <span>
                          {% if debug_toolbar_enabled %}
                          <a href="#" class="innner" onclick="$.get('?{{ DEBUG_TOOLBAR_DISABLE_REQUEST }}=1'); $(this).parent().text('Обновите страницу'); return false">
                              Выключить debug toolbar</a>
                          {% else %}
                          <a href="#" class="innner" onclick="$.get('?{{ DEBUG_TOOLBAR_ENABLE_REQUEST }}=1'); $(this).parent().text('Обновите страницу'); return false">
                              Включить debug toolbar</a>
                          {% endif %}
                          </span>
                      {% endif %}
                    </td>
                  </tr>
              {% endif %}
              </table>
            <hr class="margin" />
            {% endblock %}
        </div>

        {# Show menu of all functions related to administrators' actions #}
        {% block depadmin_menu %}
        {% if depadmin_permissions %} {% include "depadmin_menu.html" %} {% endif %}
        {% endblock %}

        {% block messages %}
        {% if 0 %}{% include "extra_messages.html" %}{% endif %}
        {% if messages %}
        <div class="messages span-22 append-2 last">
            {% for message in messages %}
                <div class="message{% if message.tags %} {{ message.tags }}{% endif %} span-22 last">
                    <div class="span-18">
                        {% if message.tags %}<span class="ui-icon"></span>{% endif %}
                        {{ message|safe }}
                    </div>
                    <div class="span-2 last">
                        &nbsp;{% if forloop.last and forloop.counter0 %}<a id="message_hide_all" title="Скрыть все сообщения">скрыть все</a>{% endif %}
                    </div>
                    <div class="span-2 last">
                        <a class="message_hide" title="Скрыть сообщение">скрыть</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endblock messages %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        <div id="footer" class="span-24 last">
            <hr class="margin" />
            <div class="span-24 last append-bottom">
                <div class="span-18">
                    &nbsp;
                </div>
                <div class="span-6 last">
                    <span class="quiet">
                        © 2011-2015 <a href="http://www.imec.msu.ru/" title="Перейти на официальный веб-сайт НИИ механики МГУ">НИИ механики МГУ</a>. <br/>
                        <span title="Лаборатория 404. Найдём, что сможем ;)">Лаборатория 404.</span><br/>
                        Все права защищены.</span><br/>
                    <a href="{% url help_feedback %}" title="Перейти на страницу обратной связи" target="_blank">обратная связь</a>

                    <div class="b-container">
                        <a href="javascript:PopUpShow()">Создать обращение в службу поддержки пользователей</a>
                    </div>
                    <div class="span-4 prepend-2 prepend-top last">
                        <a href="http://validator.w3.org/check?uri=referer">
                            <img src="{{ STATIC_URL }}base/img/valid-xhtml10-blue.png" alt="Valid XHTML 1.0 Transitional" height="31" width="88" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock footer %}

    </div> <!-- /container -->

</body>
</html>
