{% extends "base.html" %}

{% block title %}Список заданй{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}journals/js/datatable_utils.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/datatables.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    extra_options = {
        "fnDrawCallback": '',
        'aaSorting':  [[0,'desc']]
    }
    get_datatables_simple(".datatable", extra_options);
});
</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/datatables.css" type="text/css" media="all" charset="utf-8" />
{% endblock extracss %}

{% block content %}

<b>
    Список выполняющихся и выполненных заявок.
    </br>
Время последнего обновления {{ time }}.

</b>
<table id="tblCeleryTasks" class="datatable">
    <thead>
        <tr>
            <th>Задание</th>
            <th>Дата начала</th>
            <th>Дата выполнения</th>
            <th>Статус</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td> {{task.verbose_name}}</td>
                <td> {{task.startdate}}</td>

                <td>
                    {% if task.enddate %}
                        {{  task.enddate }}
                    {% endif %}
                </td>
                <td> {{task.verbose_status}}</td>
                <td>
                    {% if task.result_url %}
                        <a href="{{ task.result_url }}">Скачать</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form method="GET" action="{% url common_celery_tasks_list %}">
    <input type="submit" value="Обновить">
</form>
{% endblock %}

