{% load url from future %}

<script>

  (function($){ //create closure so we can safely use $ as alias for jQuery

          $(document).ready(function(){

                  // initialise plugin
                  var example = $('#depadmin-menu').superfish({
                          //add options here if required
                          pathClass:   'current'
                  });

                  // buttons to demonstrate Superfish's public methods
                  $('.destroy').on('click', function(){
                          example.superfish('destroy');
                  });

                  $('.init').on('click', function(){
                          example.superfish();
                  });

                  $('.open').on('click', function(){
                          example.children('li:first').superfish('show');
                  });

                  $('.close').on('click', function(){
                          example.children('li:first').superfish('hide');
                  });
          });

  })(jQuery);
</script>


<script src="{{ STATIC_URL }}base/js/superfish/superfish.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/superfish/superfish.css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/superfish/superfish-navbar.css" media="screen">

<style language="text/css">

  #content-main {
    margin: 20px 10px 10px 0px;
    position: relative;
  }

  #depadmin-top-menu {
    position: relative;
    min-height: 72px;
    border-top: solid 2px #006600;
    border-bottom: solid medium #006600;
    /* background-color: #FFFFFF; */
  }

  #depadmin-top-menu li {
    display: inline;
    margin-right: 10px;
  }

  #depadmin-top-menu li.current {
    font-weight: bold;
    text-decoration: underline;
    /* background-color: #F0F0F0; */
  }

  #depadmin-top-menu ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
  }

  #depadmin-top-menu .disabled {
    color: grey;
    pointer-events: none;
    cursor: default;
  }
</style>


{% if depadmin_permissions %}
{# ===================  Menu  =================== #}
<div id="depadmin-container-div" class="container">
<div id="depadmin-top-menu" class="top-menu">
  <ul class="sf-menu sf-navbar" id="depadmin-menu">

    {% for top_level_item in depadmin_permissions.menu_structure %}
    
      <li id="{{ top_level_item.id }}">
        <a {% if top_level_item.url %} href="{{ top_level_item.url }}" {% endif %}
           title="{{ top_level_item.comment }}"
           class="{% if top_level_item.enabled %} enabled {% else %} disabled {% endif %}">
          {{ top_level_item.title }}
        </a>
        {# show second-lvel items #}
        <ul>
          {% for item in top_level_item.children %}
          <li id="{{ item.id }}">
          <a {% if item.url %} href="{{ item.url }}" {% endif %}
             title="{{ item.comment }}"
             class="{% if item.enabled %} enabled {% else %} disabled {% endif %}">
            {{ item.title }}
          </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <br/>
  {# <span style="position: absolute; right: 0; top: 0; text-align: right;">Настройки<br/>&nbsp;</span> #}
</div>

<div class="clear">&nbsp;</div>

</div> {# -- container div -- #}
{% endif %}
