{# {% extends "base.html" %} #}


{% block dacontent %}
              <script>

                (function($){ //create closure so we can safely use $ as alias for jQuery

                        $(document).ready(function(){

                                // initialise plugin
                                var example = $('#depadmin-menu').superfish({
                                        //add options here if required
                                        pathClass:   'current'
                                });

                                // buttons to demonstrate Superfish's public methods
                                $('.destroy').on('click', function(){
                                        example.superfish('destroy');
                                });

                                $('.init').on('click', function(){
                                        example.superfish();
                                });

                                $('.open').on('click', function(){
                                        example.children('li:first').superfish('show');
                                });

                                $('.close').on('click', function(){
                                        example.children('li:first').superfish('hide');
                                });
                        });

                })(jQuery);
                </script>



<style language="text/css">

  #content-main {
    margin: 20px 10px 10px 0px;
    position: relative;
  }

  #content-top-menu {
    position: relative;
    min-height: 72px;
    border-top: solid 2px #006600;
    border-bottom: solid medium #006600;
    /* background-color: #FFFFFF; */
  }

  #content-top-menu li {
    display: inline;
    margin-right: 10px;
  }

  #content-top-menu li.current {
    font-weight: bold;
    text-decoration: underline;
    /* background-color: #F0F0F0; */
  }

  #content-top-menu ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
  }
</style>
<script src="{{ STATIC_URL }}base/js/superfish/superfish.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/superfish/superfish.css" media="screen">
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/superfish/superfish-navbar.css" media="screen">

{# ===================  Menu  =================== #}
<div id="depadmin-container-div" class="container">
<div id="content-top-menu" class="top-menu">
  <ul class="sf-menu sf-navbar" id="depadmin-menu">
    <li id="security"><a href="{% url depadmin_security_index %}">Управление доступом</a>
        <ul>
          <li>
            <a href="{% if request.user.representatives.organization_level %}
                        /depadmin/security/permissions/
                     {% else %}
                        /unified_permissions/role_permission/department/add/
                     {% endif %}">
            Добавить разрешение
            </a>
        </li>
          <li>
            <a href="{% if request.user.representatives.organization_level %}
                        /depadmin/security/representatives/
                     {% else %}
                        /organizations/representative/department/add/
                     {% endif %}" target="_blank">
              Назначить ответственного
            </a>
          </li>
          <li>
            <a href="/unified_permissions/user/department/list/" target="_blank">
              Список выданных разрешений
            </a>
          </li>
          <li>
            <a href="/unified_permissions/history/" target="_blank">
              История изменений
            </a>
          </li>
        </ul>
    </li>

    <li id="manage_users"><a href="{% url depadmin_users_registration %}">Пользователи</a>
        <ul>
          <li><a href="{% url depadmin_users_registration %}">Подтверждение регистрации</a></li>
          <li><a href="{% url depadmin_users_posts %}">Изменение должностей</a></li>
        </ul>
   </li>

    <li id="data_quality"><a href="{% url depadmin_datacleaning_index %}">Исправление данных</a>
        <ul>
          <li>Конференции</li>
          <li>Авторы</li>
          <li>Сборники</li>
        </ul>
    </li>

    <li id="data_edit"><a>Редактирование справочников</a>
        <ul>
          <li>Временно недоступно</li>
        </ul>
    </li>

    <li id="reports"><a href="{% url depadmin_reports_index %}">Годовой отчёт</a>
        <ul>
          <li>
            <a href="{% url depadmin_reports_index %}">Годовой отчёт</a>
          </li>
        </ul>
    </li>

  </ul>
  <br/>
  
  <span style="position: absolute; right: 0; top: 0; text-align: right;">Настройки<br/>&nbsp;</span>
</div>

<div id="content-main" class="main-content">
  {% block content_main %}{% endblock %}
</div>

</div>
<div class="clear">&nbsp;</div>


{% endblock %}
