<div class="messages span-22 append-2 last">
    <div class="message info span-22 last">
        <div class="span-18">
            <span class="ui-icon"></span>
            С 23.00 до 0.00 на сайте будут проводиться технические работы, во время которых система будет недоступна. Приносим извинения за неудобства.
        </div>
        <div class="span-2 last">
            &nbsp;
        </div>
        <div class="span-2 last">
            <a class="message_hide" title="Скрыть сообщение">скрыть</a>
        </div>
    </div>
</div>
