{% extends "base.html" %}

{% block title %}Заявки на объединение объектов{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}journals/js/datatable_utils.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/datatables.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    extra_options = {
        "sAjaxSource": '{% url common_datatable_json_merge_requests %}',
        "fnDrawCallback": '',
        'aaSorting':  [[0,'desc']]
    }
    get_datatables_simple(".datatable", extra_options);
});
</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/datatables.css" type="text/css" media="all" charset="utf-8" />
{% endblock extracss %}

{% block content %}

<b>
    Список заявок на объединение объектов
</b>
<table id="tblMergeRequests" class="datatable">
    <thead>
        <tr>
            <th>№</th>
            <th>Тип объекта</th>
            <th>Автор заявки</th>
            <th>Описание</th>
            <th>Количество объединямых объектов</th>
            <th>Дата заявки</th>
            <th>Статус</th>
            <th>Проверивший</th>
            <th>Дата проверки</th>
         </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

