{% extends "base.html" %}
{% load cache role_permissions %}

{% block title %}Поиск{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/search.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<div class="span-18">
                    <form id="id_worker_search" class= "search_form"  action="{% url search_workers %}" method="post">{% csrf_token %}
                        <div class="span-3">
                            Найти сотрудника:
                        </div>
                        <br>
                        <input type="text" name="worker_name" class="search_box" >
                        <input type="submit"  value="Поиск" title="Поиск по базе зарегистрированных сотрудников" />
                        <span class="help_text">введите фамилию или фамилию и первые буквы имени</span>
                    </form>
                    <form id="id_publication_search" class= "search_form"  action="{% url search_publications 'articles' %}" method="post">{% csrf_token %}
                        <div class="span-3">
                            Найти публикацию:
                        </div>
                        <br>
                        <input  type="text" name="publication_name" class="search_box" >
                        <input type="submit"   value="Поиск" title="Поиск по базе публикаций" />
                        <span class="help_text">введите название публикации</span>
                    </form>
                    {% ifhaspermission user "analyze_top_articles" as can_analyze_top_articles %}
                    {% ifhaspermission user "edit_journals" as can_edit_journals %}
                    {% if can_analyze_top_articles or can_edit_journals %}
                        <form id="id_journals_search" class= "search_form"  action="{% url journals_search %}" method="post">{% csrf_token %}
                            <div class="span-3">
                                Найти журнал:
                            </div>
                            <br>
                            <input type="text"  name="journal_name" class="search_box" >
                            <input type="submit"  value="Поиск" title="Поиск по базе журналовв" />
                            <span class="help_text">введите название журнала</span>
                        </form>
                    {% endif %}
                </div>
{% endblock content %}
