<h3 class="clear margin-top">Новости системы</h3>
<span style="float:left">
Вы можете <a href="http://mailman.istina.msu.ru/cgi-bin/mailman/listinfo/news"><b>подписаться</b></a> на получение новостей по электронной почте.
</span>

<hr />
<ul>
	<li class="emph">27 января. На страницу диссертационного совета добавлена функция отображения данных для годового отчета совета.</li>
	<li class="emph">24 декабря. Теперь вы можете прикрепить к вашему профилю любой ваш результат деятельности (ранее - только публикацию), не попавший на вашу страницу.</li>
	<!-- <li class="emph">15 декабря. Добавлена возможность указывать тип членства в редколлегии сборника, а также тип членства "рецензент" в редколлегии журнала.</li> -->
	<!-- <li class="emph">12 декабря. Добавлена возможность удалять пустые профили сотрудников, пустые журналы, сборники и конференции на страницы соответствующих объектов.</li> -->
	<li class="emph">2 декабря. Теперь при добавлении другим пользователем нового результата деятельности в ваш профиль вам посылается письмо с оповещением. При необходимости вы можете отказаться от этого результата.</li>
	<!-- <li class="emph">18 ноября. Добавлена возможность <a href="{% url events_add %}">вносить информацию о мероприятиях</a> (конкурсах, экспедициях), организованных в подразделении. Список добавленных мероприятий можно посмотреть на странице подразделения.</li> -->
	<!-- <li class="emph">27 ноября. Добавлена возможность вносить в систему информацию о главах в коллективных монографиях (через раздел публикации -> статья в сборнике).</li> -->
	<li class="emph">2 декабря. Добавлена возможность отказаться от авторства любого результата деятельности на его странице.</li>
	<li class="emph">21 ноября. Теперь при редактировании результата деятельности существующие привязки к сотрудникам автоматически сохраняются. Более того, обычные пользователи (не ответственные) теперь не могут открепить результат деятельности от другого пользователя.</li>
	<li class="emph">17 ноября. Теперь учебные курсы можно редактировать, даже если к ним добавлена информация о преподавании. Также теперь можно добавить преподавание конкретного курса, нажав на ссылку "Добавить преподавание курса" на странице этого курса.</li>
	<li>1 ноября. Добавлена возможность выбора типа дипломной работы (специалист, магистр, бакалавр). Введенные ранее дипломы приравнены к дипломам специалистов.</li>
	<li>24 октября. Добавлен новый раздел <a href="{% url contests_list %}">Мои конкурсы</a>, включающий информацию по конкурсу работ, способствующих решению задач Программы развития Московского университета.</li>
	<li>24 октября. Теперь при добавлении/редактировании учебного курса можно указать, что курс является дистанционным, а также читается на иностранном языке.</li>
	<li>23 октября. Теперь при добавлении/редактировании членства в редколлегии журнала можно указать, что сотрудник является его главным редактором.</li>
	<li>12 сентября. Добавлена <a href="{% url dissertation_councils_list_by_organization 214524 %}" title="Перейти на страницу со списком диссертационных советов">страница со списком действующих диссертационных советов в МГУ</a>.</li>
</ul>
