{% extends "base.html" %}
{% load cache startpage_last_activities %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h2>Добро пожаловать в систему ИСТИНА!</h2>
    <ul class="startpage_menu">{% include "common/user_actions.html" with worker=user.get_profile.worker show_home=1 %}</ul>
{% else %}
    <div class="span-22 prepend-1 append-1 prepend-top last">
        <h3>Добро пожаловать в систему ИСТИНА!</h3>
        <h3>ИСТИНА предназначена для учета и анализа научной деятельности сотрудников организаций.</h3>
        <h4>Добавьте свои публикации в ИСТИНУ, и для Вас будет создана ваша страница со списком всех ваших работ (<a href="{% url user_profile_public username='sasha' %}" title="Перейти на страницу сотрудника">пример</a>).</h4>
        <h4>Для работы в системе, пожалуйста, <a href="{% url signup %}" title="Перейти на страницу регистрации">зарегистрируйтесь</a> или <a href="{% url login %}" title="Перейти на страницу входа в систему">войдите</a>.</h4>
        <h4>Ознакомьтесь с <a href="/help/" title="Перейти на страницу помощи">инструкцией по работе с системой</a>.</h4>
    </div>
{% endif %}

{% if organizations %}
{% with organization=organizations.0 %}
<hr class="space">
<h3><a href="{{ organization.get_absolute_url }}" title="Перейти на страницу организации">{{ organization.name }}</a></h3>
<hr />
<ul>
    <h4><a href="{% url statistics_index %}" title="Перейти на страницу информации о публикациях в высокорейтинговых журналах">Информация о публикациях в высокорейтинговых журналах</a></h4>
    <h4><a href="{% url statistics_dynamic %}" title="Перейти на страницу статистики МГУ имени М.В. Ломоносова">Статистика организации</a></h4>
    <h4><a href="{% url dissertation_councils_list_by_organization organization.id %}" title="Перейти на страницу со списком диссертационных советов">Список диссертационных советов</a></h4>
</ul>
{% endwith %}
{% endif %}

{% include "site_news.html" %}

<h3 class="clear margin-top">Последние добавленные работы (<a href="{% url last_month_activities %}">за месяц</a>)</h3>
<hr />
<table>
    {% startpage_last_activities %}
</table>

{% endblock content %}
