{% extends "base.html" %}
{% load myforms  %}
{% load common_dict %}
{% load contests %}
{% block title %}{% if add %}Добавление{% else %}Редактирование{% endif %} {{ model.genitive }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/worker_info.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/add_edit_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/formset_add_form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
{{ wizard.form.media.js}}
{% if previous_forms %}
        {% for form in previous_forms %}
            {{ form.media.js }}
        {% endfor %}
{% endif %}
{% endblock %}

{% block content %}
{% if navigation_menu %}
<div id="id_add_work_navigation" class="{{ css_classes.nav }}">
    <ul class="hmenu">
        {% for form_key in wizard.steps.all %}
            <li {% ifequal wizard.steps.current form_key  %}class="active" {% endifequal %} id='id_navigation_{{ form_key }}'>
                {% with steps_info|get_dict_value:form_key as step_info %}
                    {{ step_info.title }}
                {% endwith %}
           </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<h2>
{% if wizard.steps.count > 1 %}
    Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}.
{% endif %}
{% if workers_step %}
    Проверьте данные и выберите сотрудников
{% else %}
    Введите информацию {% if model.locative.0 == 'о' %}об {% else %}о {% endif %}{{ model.locative }}
{% endif %}
</h2>

<form id="main_form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
    <div id="main_form_div">
        <fieldset>
            <legend>
                {{ surveypage }}
            </legend>
        {% if current_step_info.help_text %}
            {% for message  in current_step_info.help_text %}
            <div class="messages span-22 last">
                    <div class="message info span-22 last">
                        <div class="span-18">
                            <span class="ui-icon"></span>
                            {{ message|safe }}
                        </div>
                    </div>
            </div>
            {% endfor %}
        {% endif %}
            {{ wizard.management_form }}
            {% if previous_forms %}
                    <div id="previous_forms">
                        {% for form in previous_forms %}
                            {% show_form form %}
                        {% endfor %}
                    </div>
            {% endif %}
            {% if not workers_step %}
                {% if not formset %}
{#                    {{ wizard.form }}#}

{#                    {% show_form wizard.form %}#}

                    <div class="form">
                    {% for field in wizard.form %}
                        {% if field.errors %}
                        <div class="field error-container">
                            <div class="error">
                            <span class="ui-icon ui-icon-alert"></span>
                        {{ field.errors }}
                            </div>
                        {% else %}
                        <div class="field">
                        {% endif %}
                        <ul>
                        {% with field_id=field.auto_id %}
                        {% if field_id in nested_fields %}<li><span><b>{{ field.label }}</b>
                        {% if field_id in field_comment %}<i>({{ field_comment|get_dict_value:field_id|safe }})</i>{% endif %}</span></li>
                        {% else %}
                        <li><span>{{ field.label|safe }} {% if field_id in field_comment %}<i>({{ field_comment|get_dict_value:field_id|safe }})</i>{% endif %}</span></li>
                        {% endif %}
                        {% endwith %}
                        <li>{{ field }}</li>
                        </ul>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    {% show_formset wizard.form %}
                {% endif %}
            {% endif %}
        </fieldset>
        {% if workers_step %}
        <fieldset>
            <legend>
                {% if workers_verbose_name_plural %}
                    {{ workers_verbose_name_plural }}.
                {% else %}
                    {% if model.workers_verbose_name_plural %}
                        {{ model.workers_verbose_name_plural }}.
                    {% else %}
                        {{ model.workers_verbose_name_single }}.
                    {% endif %}
                {% endif %}
                Выберите сотрудник{{ wizard.form.forms|length_is:"1"|pluralize:"а,ов" }} из найденных в системе или добавьте нов{{ wizard.form.forms|length_is:"1"|pluralize:"ого,ых" }}</legend>
            {% include "workers/link_workers_form.html" with workers_formset=wizard.form workers_verbose_name_single=workers_verbose_name_single|default:model.workers_verbose_name_single %}
        </fieldset>
        {% endif %}
    </div>
    {% if wizard.steps.next %}
    <input type="submit" title="Перейти на следующий шаг {% if add %}добавления{% else %}редактирования{% endif %}" value="Продолжить {% if add %}добавление{% else %}редактирование{% endif %} {{ model.genitive_short }}" />
    {% else %}
    <input type="submit" title="Сохранить {{ model.accusative_short }} в систему" value="{% if add %}Добавить{% else %}Сохранить{% endif %} {{ model.accusative_short }}" />
    {% endif %}
    {% if wizard.steps.prev %}
        <button id="go_prev_step_button" class="hide" name="wizard_goto_step" value="{{ wizard.steps.prev }}"></button>
        <input type="button" id="go_prev_step" title="Вернуться на предыдущий шаг и исправить данные" value="Вернуться на предыдущий шаг" />
    {% endif %}
</form>
{% endblock %}
