{% extends "base.html" %}
{% load myforms %}

{% block title %}{{ contest.name }}{% endblock %}

{% block inlinecss %}
<style>
  #id_keywords, #id_engkeywords {height: 40px; width: 700px;}
  #id_topics { width: 700px;}
  #id_description {height: 100px; width: 700px;}
</style>
{% endblock %}


{% block content %}

<h3>Подача заявки: <a href="{% url contests_detail contest.slug %}">{{ contest.name }}</a></h3>

Пожалуйста, опишите область Ваших научных интересов.<br/>

<div class="span-22">
<form action="." method="POST">{% csrf_token %}
  Ключевые слова на русском языке:<br/>
  {{ form.keywords }}
  <br/>Ключевые слова на английском языке:<br/>
  {{ form.engkeywords }}
  <br/>Предметная область в соответствии с классификацией специальностей ВАК:<br/>
  {{ form.topics }}
  <br/><br/>Краткое описание области исследований (150-200 слов):<br/>
  {{ form.description }}
  
  <br/>
  <input type="submit" value="Подать заявку"/>

</form>
</div>

{% endblock %}
