{% extends "base.html" %}

{% block title %}Экспертиза конкурса {{contest.name}} {% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables-1.10.4.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/datatables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}contests/js/expert.js"></script>
{% endblock %}


{% block content %}

<h2>Экспертиза конкурса {{contest.name}}
<small>
<a href="{% url list_expert_contests %}">Вернуться к списку конкурсов</a>
</small>
</h2>

<form data-base-url="{% url contests_expert contest.slug %}">
  <select id="department_group_select">
    <option value="all">Все группы наук</option>
    {% for code, name in department_groups %}
    <option value="{{ code }}" {% ifequal code department_group %}selected{% endifequal %}>{{ name }}</option>
    {% endfor %}
  </select>

  <select id="dep_select">
    <option value="0">Все подразделения</option>
    {% for d in deps %}
    <option value="{{d.f_department_id}}" {% ifequal d.f_department_id|stringformat:"s" department_id|stringformat:"s" %}selected{% endifequal %}>{{d.f_department_name}}</option>
    {% endfor %}
  </select>

  <select id="status_select">
    <option value="all">Все заявки</option>
    {% for code, name in statuses %}
    <option value="{{ code|lower }}" {% ifequal code status %}selected{% endifequal %}>{{ name }}</option>
    {% endfor %}
  </select>
</form>

Число сотрудников: {{ workers_count }}

<table id="tblData" data-set-status-url="{% url contests_application_set_status 0 %}">
  <thead>
    <tr>
      <td>No</td>
      <td>IRID</td>
      <td>ФИО</td>
      <td>Группа</td>
      <td>Сумма ИФ, WoS</td>
      <td>Сумма ИФ, РИНЦ</td>
      <td>Группа наук</td>
      <td>Факультет / институт</td>
      <td>Кафедра / лаборатория</td>
      <td>Должность</td>
      <td>Оценка</td>
      <td>Статус заявки</td>
    </tr>
  </thead>
  <tbody>
    {% for p in participants %}
    <tr data-application-id="{{ p.f_contestmanlink_id }}">
    <td>{{forloop.counter}}</td>
    <td>{{ p.f_man_id }}</td>
    <td><a href="/workers/{{p.f_man_id}}/" target="_new">{{p.fio}}</a></td>
    <td>{{ p.group }}</td>
    <td>{{ p.impact_sum_wos|floatformat:2 }}</td>
    <td>{{ p.impact_sum_rinc|floatformat:2 }}</td>
    <td>{{ p.faculty_type }}</td>
    <td>{{p.faculty}}</td>
    <td>{{p.department}}</td>
    <td>{{p.positions}}</td>
    <td>
      {% if department_id %}
      <a href="{% url contests_expert_conclusion contest.slug p.f_contestmanlink_id department_id %}">{% if p.expert_mark %}{{p.expert_mark}}{% else %} Дать заключение {% endif %}</a>
      {% else %}
      <a href="{% url contests_expert_conclusion contest.slug p.f_contestmanlink_id %}">{% if p.expert_mark %}{{p.expert_mark}}{% else %} Дать заключение {% endif %}</a>
      {% endif %}
    </td>
    <td>
      <a class="inner change_status" href="#">{{ p.status }}</a>
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="change_status_dialog" class="hide">
  <span id="change_status_worker"></span>
  <select id="change_status_select">
    {% for code, name in statuses %}
    {% if '+' not in code %}
    <option value="{{ code|lower }}">{{ name }}</option>
    {% endif %}
    {% endfor %}
  </select>
  <span id="change_status_error" class="hide" style="color: red">Ошибка при обновлении статуса</span>
</div>

{% endblock %}
