{% extends "base.html" %}

{% block title %}{% if page_owner %}Мои конкурсы{% else %}Конкурсы сотрудника {{ worker.fullname }}{% endif %}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2>{% if page_owner %}Мои конкурсы{% else %}Конкурсы сотрудника {{ worker.fullname }}{% endif %}</h2>

{% for contest in contests %}
<h3 class="margin-left">
	<a href="{% if page_owner %}{% url contests_detail slug=contest.slug %}{% else %}{% url contests_detail worker.id contest.slug %}{% endif %}" title="Открыть страницу с конкурсом">{{ contest.name }}</a>
	{% if not contest.is_active %}
		<small>(прием заявок закрыт)</small>
	{% endif %}
</h3>
{% empty %}
	Нет активных или недавно прошедших конкурсов.
{% endfor %}

{% endblock %}
