{% load contests %}
{% load role_permissions %}

{% if root %}
	<h2>{{ contest.name }}<span class="detail_label">конкурс</span></h2>
{% else %}
	<h3>{{ contest.name }}<span class="detail_label">номинация</span></h3>
{% endif %}

{% if contest.has_dates %}
<h3>Срок приема заявок:
	{% if not contest.has_deadline %}
		с
	{% endif %}
	{% if contest.startdate %}
		{{ contest.startdate|date:"j E Y" }}
		{% if contest.has_deadline %}-{% endif %}
	{% endif %}
	{% if not contest.startdate %}
		до
	{% endif %}
	{% if contest.has_deadline %}
		{% if contest.deadline_extended %}
			<b>{{ contest.deadline_extended|date:"j E Y" }}</b> (продлен)
		{% else %}
			{{ contest.deadline|date:"j E Y" }}
		{% endif %}
	{% endif %}
</h3>
{% endif %}

{% if not contest.is_active %}
	<h4><b>прием заявок закрыт</b></h4>
{% endif %}

{% include "common/attachments.html" with obj=contest %}

{% if contest.description %}
	{% if root %}
	<h3>Описание конкурса</h3>
	{% endif %}
	<p>{{ contest.description|safe }}</p>
{% endif %}

{% if not contest.children.exists %}

    {% if has_survey %}
{% ifhaspermission user "view_contest_applications" contest %}
    <h4><a href="{% url contests_applications_list contest.id %}">Просмотреть заявки</a></h4>
    {% endifhaspermission %}
{% endif %}

{% ifhaspermission user "view_contest_results" contest %}
<h4><a href="{% url contest_results contest.slug %}">Просмотреть результаты конкурса</a></h4>
{% endifhaspermission %}


	{% worker_has_applied contest worker as has_applied %}
	<h4 class="margin-left">
    {% if page_owner %}
        {% if reviewed or unreviewed  %}
            <h3>Заявки на рецензирование</h3>
            <hr style="margin: 10px 0 10px 0;">
            {% if reviewed %}
            <h4>Обработанные заявки:</h4>
            {% for app in reviewed %}
                {{ forloop.counter }}. <a href="{% url expertSurvey contest.slug app.0.id %}">{{ app.0.worker }}</a>&nbsp;Баллы: {{ app.1.mark }}<br>
            {% endfor %}
            <hr style="margin: 10px 0 10px 0;">
            {% endif %}
            {% if unreviewed %}
            <h4>Необработанные заявки:</h4>
            {% for app in unreviewed %}
                {{ forloop.counter }}. <a href="{% url expertSurvey contest.slug app.id %}">{{ app.worker }}</a><br>
            {% endfor %}
            <hr style="margin: 10px 0 10px 0;">
            {% endif %}

        {% endif %}
    {% endif %}
	{% if not has_applied %}
		{% if contest.is_active or user.is_superuser or is_admin_user %}
            {% if has_survey %}
                <a href="{% if page_owner %}{% url surveywizard contest.slug %}{% else %}{% url surveywizard worker.id contest.slug %}{% endif %}">
			<input type="submit" style="width: {% if page_owner %}400px{% else %}600px{% endif %}; font-weight: normal;" value="Заполнить заявку на конкурс{% if not root %} в данной номинации{% endif %}{% if not page_owner %} ({{ worker.fullname_initials }}){% endif %}" />
		</a>
            {% else %}
		<a href="{% if page_owner %}{% url contests_application_submit contest.id %}{% else %}{% url contests_application_submit worker.id contest.id %}{% endif %}">
			<input type="submit" style="width: {% if page_owner %}400px{% else %}600px{% endif %}; font-weight: normal;" value="Подать заявку на конкурс{% if not root %} в данной номинации{% endif %}{% if not page_owner %} ({{ worker.fullname_initials }}){% endif %}" />
		</a>
            {% endif %}
		{% endif %}
	{% else %}
        {% if has_survey%}
            {% if attachments %}
            <h3>Ваши файлы</h3>
            {% for att in attachments %}
                <a target="_blank" href="{{ MEDIA_URL }}{{ att.link }}">{{ att.filename }}</a><br>
            {% endfor %}
            {% endif %}
            <hr style="margin: 10px 0 10px 0;">
            {% if in_edit %}

            <div style="margin-bottom: 10px;"><a href="survey">Редактировать заявку</a></div>
            <div style="margin-bottom: 20px;"><a href="{% if page_owner %}{% url contests_application_sign_survey contest.id %}{% else %}{% url contests_application_sign_survey worker.id contest.id %}{% endif %}">Подписать заявку</a> <span>(после того, как заявка будет подписана, вы сможете её распечатать, но вносить исправления будет нельзя)</span></div>
            {% else %}
            <div style="margin-bottom: 10px;"><a target="_blank" href="print">Распечатать заявку</a> <span>(материалы из всех приложенных к заявке файлов необходимо распечатать и приложить к заявке)</span></div>
            {% endif %}
            {% endif %}
		<b style="margin-right: 20px;">{% if in_edit %}Заявка редактируется{% else %}Заявка подана{% endif %}</b>
		{% if contest.is_active or user.is_superuser or is_admin_user %}
		<a href="{% if page_owner %}{% url contests_application_cancel contest.id %}{% else %}{% url contests_application_cancel worker.id contest.id %}{% endif %}">
			<input type="submit" style="width: {% if page_owner %}400px{% else %}600px{% endif %}; font-weight: normal;" value="Отозвать заявку на конкурс{% if not root %} в данной номинации{% endif %}{% if not page_owner %} ({{ worker.fullname_initials }}){% endif %}" />
		</a>
		{% endif %}
	{% endif %}
	</h4>
{% endif %}

<hr style="margin-bottom: 20px;">
