{% extends "base.html" %}
{% load common_dict %}
{% load myforms %}
{% block title %}Экспертиза заявки ({{ application.worker }}){% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<style type="text/css">
.comment
{
    width: 700px;
    height: 100px;
}
</style>
{% endblock %}

{% block content %}
<h2><a href={{ contest.get_absolute_url }}>{{ contest }}</a>. Экспертное заключение</h2>

<h3><a href="application" target="_blank">Просмотреть заявку</a></h3>
Заявку подал: {{ application.worker }}<br>

<form method="post" action=".">{% csrf_token %}
    <div class="form span-22">
                    {% for field in form %}
                        {% if forloop.last %}<hr style="margin-bottom:10px"/>{% endif %}
                        {% if field.errors %}
                        <div class="field error-container">
                            <div class="error">
                            <span class="ui-icon ui-icon-alert"></span>
                        {{ field.errors }}
                            </div>
                        {% else %}
                        <div class="field">
                        {% endif %}
                        <ul>

                        <li><span>{{ field.label|safe }}</span></li>

                        <li>{{ field }}</li>
                        </ul>

                        </div>
                    {% endfor %}
                    </div>
  <input type=submit title="Сохранить оценку" value="Сохранить"/>
</form>
{% endblock %}
