{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Экспертиза конкурса {{contest.name}} {% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables-1.10.4.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/datatables.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  get_datatables_simple('#tblData', {"bFilter": true});
});
</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block content %}

<h2>Экспертное заключение</h2>
Конкурс: {{contest.name}}<br/>
Заявка: {{application.worker}}

<fieldset>
  <legend>Заключение</legend>
  <form action="." method="POST">{% csrf_token %}
  {% show_form form %}
  <input type="submit" name="save" value="Дать заключение">
  <input type="submit" name="cancel" value="Отменить">
  </form>
</fieldset>

{% endblock %}
