{% extends "base.html" %}

{% block title %}Экспертиза конкурсов {% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables-1.10.4.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/datatables.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  get_datatables_simple('#tblData', {"bFilter": true});
});
</script>
{% endblock %}


{% block content %}

<h2>Экспертиза конкурсов</h2>

Пожалуйста, выберите конкурс.
<table>
  <thead>
    <tr>
      <td>No</td>
      <td>Название конкурса</td>
    </tr>
  </thead>
  <tbody>
    {% for c in contests %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td><a href="{% url contests_expert c.slug %}">{{c.name}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
