{% extends "base.html" %}
{% load common_dict %}

{% block header %}{% endblock %}

{% block title %}Заявка на конкурс "{{ contest }}"{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
    <script type='text/javascript'>
    $(function(){
        print();
    })
    </script>
{% endblock %}
{% block content %}
Дата: {{ date }}<br>
<br>
Подпись:<br>
    <br>

<h3 style="text-align: center;font-weight: bold">Заявка на конкурсный отбор
    прикладных проектов МГУ имени М.В. Ломоносова по&nbsp;тематике "{{ contest }}"</h3>


{% for sp in surveypage %}
    <h4 style="text-align: center;font-weight: bold">{{ sp }}</h4>
    <div style="margin:10px; width:900px;">
    {% for field in fields_dict|get_dict_value:sp %}
            {% if not field.parentfield %}<span style="font-weight: bold">{{ field }}</span>{% if field.comment %}<i> ({{ field.comment|safe }})</i>{% endif %}:<br>
            {% else %}<span>{{ field }}</span>{% if field.comment %}<i> ({{ field.comment|safe }})</i>{% endif %}:
            {% endif %}
            <ul>
            {% with fieldval=values_dict|get_dict_value:field.id %}
            {% if fieldval|length > 1  %}
            {% for val in fieldval %}
                <li>{{ forloop.counter }}. {{ val|safe|linebreaksbr }}</li>
            {% endfor %}
            {% else %}
                {{ fieldval.0|safe|linebreaksbr }}
            {% endif %}
            {% endwith %}
            </ul>
        {% endfor %}
     </div>
    {% endfor %}

{#<form method="POST" action=".">#}
{#  {%  for field in form %}#}
{#      <ul>#}
{#      <li style="width: 700px"><span>{{ field.label }}:</span></li> <li>{{ field }}</li>#}
{#      </ul>#}
{#  {% endfor %}#}
{#  <input type=submit>#}
</form>

{% endblock %}

{% block footer %}{% endblock %}