{% extends "base.html" %}
{% load common_dict %}

{% block title %}Результаты конкурса "{{ contest }}"{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2>Результаты конкурса по&nbsp;тематике "{{ contest }}"</h2>

<ul>
{% for app,conclusions in appdict.items %}
<li><h4 style="margin:10px 0 10px 0;">{{ forloop.counter }}. <a href="{% url expertShowApplication contest.slug app.id %}">{{ app.worker.fullname }}</a>. Средняя оценка - {{ conclusions|get_dict_value:'avgmark' }}</h4>
<ul>
{% for con in conclusions|get_dict_value:'conclusions' %}
    <li>Эксперт <a href="{{ con.worker.get_absolute_url }}">{{ con.worker.fullname }}</a>.
    <a href="{% url expertShowConclusion contest.slug con.id %}">Просмотреть экспертное заключение.</a>
    Оценка - {{ con.mark }}<br />
    Комментарий - {{ con.comment|safe|linebreaksbr }}
    </li>
    <br/>
{% endfor %}
</ul>
</li>
{% endfor %}
</ul>

{% endblock %}
