{% extends "base.html" %}
{% load common_dict %}

{% block title %}Экспертное заключение заявки ({{ application.worker.fullname }}){% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2>Экспертное заключение заявки ({{ application.worker.fullname }})</h2>
<h3>Эксперт: <a href="{{ expert.get_absolute_url }}" title="Перейти на страницу сотрудника">{{ expert }}</a></h3>
<h4><a href="{% url contest_results contest.slug %}">Назад к результатам конкурса</a></h4>
<ul>
{% for criterion in criteria %}
    {% with value=valdict|get_dict_value:criterion %}
    <li>
    <ul>
<li><h4 style="margin: 15px 0 5px 0; font-weight: bold;">{{ criterion }}</h4></li>
    <li>Оценка: {{ value|get_dict_value:'mark' }}</li>
    <li>Комментарий: {{ value|get_dict_value:'comment'|safe|linebreaksbr }}</li>
    </ul>
    </li>
    {% endwith %}
{% endfor %}
<hr>
    <li><h4 style="margin: 15px 0 5px 0;font-weight: bold;">Мнение эксперта: </h4></li>
<li>{{ comment|safe|linebreaksbr }}</li>
</ul>


{% endblock %}
