div#paste_selection {
    background-color: lightyellow;
    border: 1px solid yellow;
    padding: 10px;
}
div.box h3 {
    margin-bottom: 0;
}
textarea#citation_input {
    height: 250px;
    width: 900px;
}
#parsing_event_form label {
    width: auto;
    padding-left: 6px;
}
div input.lower_case {
    padding: 1px 3px 1px 3px;
    height: 19px;
    width: 108px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.categories_choice label {
    padding-left: 10px;
}

div.categories_choice input {
    float:left;
}
