{% extends "base.html" %}
{% load role_permissions %}
{% load common_dict %}
{% block title %}{{ diploma.title }} - дипломная работа{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_authorscience.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/add_authorscience.js"></script>
{% endblock %}

{% block inlinejs %}

{% endblock %}

{% block content %}
<h2>{{ diploma.title }}<span class="detail_label">дипломная работа ({{diploma.diptype}})</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- diploma detailed information -->
        {% include "common/workers_list_detail.html" with object=diploma %}
        <li>
            <span>Автор:</span>
            <span>{{ diploma.author }}</span>
        </li>
        <li>
          <span>Тип:</span>
          <span>{{ diploma.diptype }}</span>
        </li>
        {% if diploma.organization or diploma.outorganization %}
        <li>
            <span>Организация, в которой проходила защита:</span>
            <span>
              {% if diploma.organization %}
                <a href="{{ diploma.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ diploma.organization.name}}</a>{% if diploma.outorganization %}, {% endif %}
              {% endif %}
              {% if diploma.outorganization %}
                {{ diploma.outorganization }}
              {% endif %}
            </span>
        </li>
        {% endif %}
        {% if diploma.year %}
        <li>
            <span>Год защиты:</span>
            <span>{{ diploma.year }}</span>
        </li>
        {% endif %}
        {% if diploma.abstract %}
        <li>
            <span>Аннотация:</span>
            <span>{{ diploma.abstract }}</span>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=diploma.creator %}
    {% ifhaspermission user "edit" diploma as can_edit %}
        {% if can_edit %}
            {% with authorsdict=diploma.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" {% if not author.flag_validate %}class="unvalidated"{% endif %}>{{ author.worker }}</a>
                    {% if not author.flag_validate %}<span class="authorscience_links small">(<a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},1)">подтвердить</a>,
                    <a onclick="$(this).parent().siblings('.confirm_deletion').show();$(this).parent().hide();">отклонить</a>{% ifequal request.user author.worker.user %}, <a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>{% endifequal %})</span>
                    <span class="confirm_deletion small hide">Вы уверены, что хотите удалить участие данного сотрудника?
                    <a onclick="confirm_authorscience(this,'{{ csrf_token }}',{{ author.id }},0)">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    <span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>{% endif %}
                    {% if not forloop.last%}, {% endif %}
                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% else %}
            {% with authorsdict=diploma.authorscience  %}
            {% if authorsdict %}
            {% for key in authorsdict.keys %}
            <li>
                <span>{{ key }}:</span>
                {% with authors=authorsdict|get_dict_value:key %}
                {% for author in authors %}<span>
                    {% ifequal author.flag_validate 1 %}
                    {% if forloop.counter > 1%}, {% endif %}
                    <a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя">{{ author.worker }}</a>
                    {% endifequal %}
                    {% if not author.flag_validate %}
                    {% ifequal request.user author.worker.user %}
                    {% if forloop.counter > 1%}, {% endif %}<a href="{{ author.worker.get_absolute_url }}" title="Перейти на страницу пользователя" class="unvalidated">{{ author.worker }}</a>
                    <span class="authorscience_links small">(<a onclick="$(this).parent().siblings('.confirm_recall').show();$(this).parent().hide();" >отозвать</a>)</span><span class="confirm_recall small hide">Вы уверены, что хотите отозвать своё участие?
                    <a onclick="recall_authorscience(this,'{{ csrf_token }}',{{ author.id }})">да</a>
                    <a onclick="$(this).parent().siblings('.authorscience_links').show();$(this).parent().hide();">нет</a><br></span>
                    {% endifequal %}
                    {% endif %}

                    </span>{% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% endif %}
    </ul>
</div>

{% include "common/object_actions.html" with object=diploma additional_actions_template="diplomas/additional_actions.html" edit_url="diplomas_edit" delete_url="diplomas_delete" %}

{% endblock %}
