{% with diploma=object %}
<ul class="activity"><!-- diploma short information -->
    <li>
        <b>{{ diploma.year }}</b>
        {% if not no_links %}
            <a href="{{ diploma.get_absolute_url }}" title="Перейти на страницу дипломной работы">{{ diploma.title }}</a>
        {% else %}
            {{ diploma.title }}
        {% endif %}
    </li>
    {% include "common/workers_list.html" with object=diploma %}
    <li>
      Автор: {{ diploma.author }}
      {% if diploma.diptype %} ({{diploma.diptype}}) {% endif %}
    </li>
</ul>
{% endwith %}
