{% load role_permissions %}

{% ifhaspermission user "edit" object.project %}
<br/><a href="{% url projects_edit object.project.id %}">Редактировать НИР</a>
{% endifhaspermission %}

{% ifhaspermission user "sign" object %}
<br/><a href="{% url projects_annotational_report_sign object.id %}">Подписать отчет</a>
{% endifhaspermission %}

{% ifhaspermission user "view_pdf" object %}
<br/><a href="{% url projects_annotational_report_pdf object.id %}">Просмотреть PDF-версию</a>
{% else %}
<br/><span class="quiet">Для просмотра pdf-версии подпишите отчет.</span>
{% endifhaspermission %}
