{% extends "base.html" %}
{% load myforms %}

{% block title %}Добавить аннотационный отчет по НИР{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}projects/css/annotational_report.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h2>Краткий аннотационный отчет о научно-исследовательской работе по теме:</h2>
<h3><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h3>

Остальная информация, кроме результатов, попадает в аннотационный отчет из НИР.
Для ее изменения <a href="{% url projects_edit project.id %}">отредактируйте соответствующий НИР</a>.
Результаты, отражаемые в аннотационном отчете, могут не совпадать с результатами НИР или его этапов.

<form action="" method="post">{% csrf_token %}
    <fieldset>
        <legend>
        	Результаты за {{ year }} год
        </legend>
	  {% show_form form %}
  	</fieldset>

	<input type="submit" value="Сохранить отчет">
</form>

{% endblock %}
