{% extends "base.html" %}

{% block title %}Аннотационный отчет по НИР | {{ project.name }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}projects/css/annotational_report.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}

{% with project=annotational_report.project %}

<div class="span-16 colborder">

<h4 style="float: right">Отчетный год {{ annotational_report.year }}</h4>

<h5>Статус: {{ annotational_report.get_status_display|lower }}</h5>

<ol class="roman">
<li>Отрасль науки: {{ project.specialty }}</li>
<li>Приоритетное направление (ПНР): {{ project.pnr|default_if_none:"" }}</li>
<li>Приоритетное направление технологического прорыва (ТП): {{ project.technological_leap }}</li>
<li>Приоритетное направление (ПН) развития России: {{ project.pnr_russia }}</li>
</ol>

<h3>Краткий аннотационный отчет о научно-исследовательской работе по теме:</h3>

<h4>1. <a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h4>
<ol>
<li>Характер выполняемой работы: {{ project.character|lower }}</li>
<li>Рубрики УДК:
	<ul>
	{% for rubric in project.udc %}
		<li>{{ rubric }}</li>
	{% endfor %}
	</ul>
</li>
<li>Рубрики ГРНТИ:
	<ul>
	{% for rubric in project.grnti %}
		<li>{{ rubric }}</li>
	{% endfor %}
	</ul>
</li>
<li>Номер: {{ project.number }}</li>
<li>Номер ЦИТИС: {{ project.registration_number }}</li>
<li>Подразделение: {% include "organizations/department_ancestors.html" with department=project.department no_leaf=0 %}</li>
</ol>

<h4>2. Руководител{{ project.head_members.count|pluralize:"ь,и" }} работы</h4>
<ul>
{% for worker in project.head_members %}
    <li><a href="{{ worker.get_absolute_url }}" title="перейти на страницу сотрудника">{{ worker.fullname }}</a>{{ worker.degree_rank_str_with_comma }}</li>
{% endfor %}
</ul>

<h4>3. Источники и объемы финансирования, полученные и освоенные</h4>
{% with estimates=annotational_report.estimates %}
{% with sponsor=annotational_report.sponsor %}
<table class="estimate">
	<tr>
		<td rowspan="2">Источники</td>
		<td colspan="2">Объемы (тыс. руб.)</td>
	</tr>
	<tr>
		<td>Получено</td>
		<td>Освоено собственными силами</td>
	</tr>
	<tr>
		<td>{{ sponsor.category }}<br/>{{ sponsor.name }}</td>
		<td>{{ estimates.total|floatformat }}</td>
		<td>{{ estimates.own|floatformat }}</td>
	</tr>
</table>
{% endwith %}
{% endwith %}


<h4>4. Результаты</h4>
{{ annotational_report.results|linebreaks }}

<h4 class="margin-top">5. Ключевые слова</h4>
{{ project.keywords_string }}

<hr class="space">

<ul>
	{% include "common/object_creator.html" with creator=annotational_report.creator %}
</ul>

</div>

{% include "common/object_actions.html" with object=annotational_report edit_url="projects_annotational_report_edit" delete_url="projects_annotational_report_delete" additional_actions_template="projects/annotational_report_additional_actions.html" %}

{% endwith %}

{% endblock %}
