{% load role_permissions %}
{% ifhaspermission user 'edit' project %}
<a class="delete_object_initial" href="">открепить от проекта</a>
<span class="delete_object_question hide">Вы уверены, что хотите открепить диссертацию от проекта?</span>
<a class="delete_object_question confirm hide" href="{% url projects_dissertation_delete project.id dissertation.id %}">да</a>
<a class="delete_object_question cancel hide" href="">нет</a>
{% endifhaspermission %}
