{% extends "base.html" %}
{% load paging_extras myforms %}
{% block title %}{{ project.name }} - НИР{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}projects/css/project_card.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/readmore.js"></script>
{% endblock %}

{% block inlinejs %}

<script type="text/javascript">
  $(document).ready(function() {
        $('#project_description, #project_results').readmore({
            speed: 100,
            collapsedHeight: 120,
            heightMargin: 50,
            moreLink: '<a href="#">Показать полностью</a>',
            lessLink: '<a href="#">Свернуть</a>'
        });
  });
</script>
{% endblock %}

{% block content %}
<h2>{{ project.name }}<span class="detail_label">НИР</span></h2>
<div class="span-16 colborder">
    <ul class="object_detail"><!-- project detailed information -->
        {% include "projects/project_workers_list.html"%}
        {% if project.organization %}
        <li>
            <span>Организация:</span>
            <span><a href="{{ project.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ project.organization.name }}</a></span>
        </li>
        {% endif %}
        {% if project.department %}
        <li>
            <span>Подразделение:</span>
            <span><a href="{{ project.department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ project.department.name }}</a></span>
        </li>
        {% endif %}
        {% if project.outorganization and not project.department %}
        <li>
            <span>Сторонняя организация:</span>
            <span>{{ project.outorganization }}</span>
        </li>
        {% endif %}
        {% if project.startdate or project.enddate %}
        <li>
            <span>Срок исполнения:</span>
            <span>{{ project.startdate|default_if_none:"дата начала не указана" }} - {{ project.enddate|default_if_none:"выполняется" }}</span>
        </li>
        {% endif %}
        <li>
            <span>Номер договора (контракта, соглашения):</span>
            <span>{{ project.number }}</span>
        </li>
        {% if project.registration_number %}
        <li>
            <span>Номер ЦИТИС:</span>
            <span>{{ project.registration_number }}</span>
        </li>
        {% endif %}

        <li>
            <span>Тип:</span>
            {% if project.character %}
            <span>{{ project.character }}</span>
            {% else %}
                <span>не указан</span>
            {% endif %}
        </li>

        <li>
            <span>Приоритетное направление научных исследований:</span>
            {% if project.pnr %}
            <span>{{ project.pnr }}</span>
            {% else %}
                <span>другое</span>
            {% endif %}
        </li>
        {% with pnr_russia=project.pnr_russia %}
        {% if pnr_russia %}
        <li>
            <span>ПН России:</span>
            <span>{{ pnr_russia }}</span>
        </li>
        {% endif %}
        {% endwith %}
        {% with leap=project.technological_leap %}
        {% if leap %}
        <li>
            <span>Направление технологического прорыва России:</span>
            <span>{{ leap }}</span>
        </li>
        {% endif %}
        {% endwith %}
        <li>
        {% if project.keywords.exists %}
            <span>Ключевые слова:</span>
            <span>{{ project.keywords_string }}</span>
        {% endif %}
        </li>
        {% if project.description %}
        <li>
            <span>Описание:</span>
            <span id="project_description">
              <p>{{ project.description }}</p>
            </span>
        </li>
        {% endif %}

        {% if project.main_results %}
        <li>
            <span>Основные результаты:</span>
            <span id="project_results">
              <p>{{ project.main_results }}</p>
            </span>
        </li>
        {% endif %}
        {% if project.contacts and  can_edit_object%}
            <li>
                <span>Контакты:</span>
                <p>{{ project.contacts }}</p>
            </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=project.creator %}
    </ul>

    <div class="step_info">
    {% if project.accomplices.exists %}
        <h3 class="margin-top">Соисполнители НИР</h3>
        <table>
            <tbody>
              {% for accomplice in project.accomplices.all %}
                <tr>
                    <td> {{ accomplice.name  }} </td>
                    <td> {{ accomplice.role  }}  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if project.sponsors.exists %}
        <h3 class="margin-top">Источник финансирования НИР</h3>
        <table>
            <tbody>
              {% for sponsor in project.sponsors.all %}
                <tr>
                    <td> {{ sponsor  }} </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if project.steps.exists %}
        <h3 class="margin-top">Этапы НИР</h3>
        <table>
          <thead>
            <tr>
              <td>#</td>
              <td>Сроки</td>
              <td>Название</td>
            </tr>
          </thead>
          <tbody>
            {% for step in project.steps.all %}
               <tr>
                 <td> {{ step.number }} </td>
                 <td> {{ step.startdate }}-{{ step.enddate }} </td>
                 <td> {{ step.name  }} </td>
               </tr>
               <tr>
                 <td colspan="3"> <strong>Результаты этапа:</strong> {{ step.stepresult|default_if_none:"-" }} </td>
               </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}

    {% if can_view_estimate  %}
        <h3 class="margin-top">Смета (в тыс. рублей)</h3>
        <table border="1">
          <thead>
            <tr>
              <td>Статья</td>
              {% for step in estimate.columns %}
                <td>
                {% if step %}
                  <a title="{{ step.startdate }}-{{ step.enddate }}">этап&nbsp;{{ step.number }} {{ step.enddate|date:"Y" }}</a>
                {% else %}
                  весь&nbsp;проект
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in estimate.data %}
              <tr>
              <td> {{ row.category.name }} </td>
              {% for item in row.values %}
                <td> {{ item|default_if_none:"-" }} </td>
              {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}

    {% paginate project.articles.all from request as articles per_page 10 %}
    {% if articles.objects %}
        <h3 class="margin-top">
            Статьи по НИР
        </h3>
        {% include "publications/article_list_paged.html" with additional_controls_template="projects/delete_publication_link.html" %}
    {% endif %}
    {% if can_edit_object %}
        Для добавления публикаций по проекту, пожалуйста, введите несколько символов названия работы
        в одно из полей ниже (с серой надписью "Добавить новый"), выберите нужную статью или монографию
        и нажмите кнопку "добавить".
    {% endif %}
    {% if can_edit_object %}
        <form id="id_add_article"  method="post">{% csrf_token %}
            {% show_form project_article %}
            <input type="submit" name='add_article' value="Добавить" title="Добавить выбранную статью к НИР">
        <br/>
        </form>
    {% endif %}
    {% if project.books.exists %}
        <h3 class="margin-top">
            Книги по НИР
        </h3>
        {% include "publications/book_list.html" with books=project.books.all additional_controls_template="projects/delete_publication_link.html" %}
    {% endif %}
    {% if can_edit_object %}
        <form id="id_add_book"  method="post">{% csrf_token %}
            {% show_form project_book %}
            <input type="submit" name='add_book' value="Добавить" title="Добавить выбранную книгу к НИР">
        <br/>
        </form>
    {% endif %}
    {% if project.dissertations.exists %}
        <h3 class="margin-top">
            Диссертации по НИР
        </h3>
        {% include "dissertations/dissertation_list.html" with dissertations=project.dissertations.all additional_controls_template="projects/delete_dissertation_link.html" %}
    {% endif %}
    {% if can_edit_object %}
        <form id="id_add_dissertation"  method="post">{% csrf_token %}
            {% show_form project_dissertation %}
            <input type="submit" name='add_dissertation' value="Добавить" title="Добавить выбранную диссертацию к НИР">
        <br/>
        </form>
    {% endif %}
    </div>
</div>


{% include "common/object_actions.html" with object=project edit_url="projects_edit" delete_url="projects_delete" plan_url="plan" additional_actions_template="projects/sign_project_link.html" %}

{% endblock %}
