{% extends "base.html" %}

{% block title %}{{ project_membership.title }} - участие в НИР{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
{% with membership=project_membership %}

<h2>
    {{ membership.title }}<span class="detail_label">участие в НИР</span>
    {% if membership.is_head %}
        <span class="detail_label">руководитель НИР</span>
    {% endif %}
</h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- membership detailed information -->
        <li>
            <span>Сотрудник:</span>
            <span>
                {% if membership.member %}
                    <a href="{{ membership.member.get_absolute_url }}" title="{{ membership.member }} (перейти на страницу сотрудника)">{{ membership.member }}</a>
                {% else %}
                    {{ membership.original_name }}
                {% endif %}
            </span>
        </li>
        <li>
            <span>НИР:</span>
            <span><a href="{{ membership.project.get_absolute_url }}" title="перейти на страницу НИР">{{ membership.project.name }}</a></span>
        </li>
        {% if membership.project.organization %}
        <li>
            <span>Организация:</span>
            <span><a href="{{ membership.project.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ membership.project.organization.name }}</a></span>
        </li>
        {% endif %}
        {% if membership.startdate %}
        <li>
            <span>Дата вступления:</span>
            <span>{{ membership.startdate }}</span>
        </li>
        {% endif %}
        {% if membership.enddate %}
        <li>
            <span>Дата выхода:</span>
            <span>{{ membership.enddate }}</span>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=membership.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=membership edit_url="projects_membership_edit" delete_url="projects_membership_delete" %}

{% endwith %}

{% endblock %}
