{% with membership=object %}
{% with project=membership.project %}
<ul class="activity"><!-- membership short information -->
    <li>
        <b>
            {% if membership.startdate %}
                {% if membership.enddate %}
                    {{ membership.startdate|date:"j E Y" }} - {{ membership.enddate|date:"j E Y" }}
                {% else %}
                    с {{ membership.startdate|date:"j E Y" }}
                {% endif %}
            {% else %}
                {% if membership.enddate %}
                    по {{ membership.enddate|date:"j E Y" }}
                {% endif %}
            {% endif %}
        </b>
        {% if not no_links %}
            <a href="{{ project.get_absolute_url }}" title="Перейти на страницу  НИР">{{ project.name }}</a>
        {% else %}
            {{ project.name }}
        {% endif %}
    </li>
    {% if project.organization %}
    <li>
        {% if not no_links %}<a href="{{ project.organization.get_absolute_url }}" title="Перейти на страницу организации">{% endif %}{{ project.organization.name }}{% if not no_links %}</a>{% endif %}
    </li>
    {% endif %}
    {% with members=project.memberships.all %}
    <li>
        Участники НИР:
        {% if not no_links %}
            {% for member in members %}
                {% if member.member %}
                    <a href="{{ member.member.get_absolute_url }}" title="{{ member.member }} (перейти на страницу сотрудника)">{{ member.member.fullname_short }}</a>{% if not forloop.last %}, {% endif %}
                {% else %}
                    {{ member.original_name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% for member in members %}
                {{ member.workers_string }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    {% endwith %}
</ul>
{% endwith %}
{% endwith %}
