{% extends "base.html" %}
{% load myforms  %}
{% load common_dict %}
{% block title %}{% if add %}Добавление{% else %}Редактирование{% endif %} {{ model.genitive }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}projects/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}projects/js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.metadata.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/worker_info.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}publications/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/add_edit_object.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/formset_add_form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
{% endblock %}

{% block content %}
<table>
</table>
<style>
#tabs>ul>li {max-width: 140px; white-space: normal; height: 40px; line-height: 13px; text-align: center}
next_form {padding: 0;}
</style>

<div id="tabs">
  <ul>
    {% if project %}
    <li><a href="#tabs-1" onclick="xxx('main',1);" >Основная информация</a></li>
    <li><a href="#tabs-2" onclick="xxx('project_steps',2);" >Этапы НИР</a></li>
    <li><a href="#tabs-3" onclick="xxx('accomplices',3);" >Соисполнители и координаторы</a></li>
    <li><a href="#tabs-4" onclick="xxx('sponsors',4);" >Источники финансирования</a></li>
    <li><a href="#tabs-5" onclick="xxx('rubrics',5);" >Рубрики НИР</a></li>
    <li><a href="#tabs-6" onclick="xxx('additional',6);" >Дополнительная информация</a></li>
{% if project.can_edit_estimates %}
    <li><a href="#tabs-7" onclick="xxx('estimates',7);" >Смета НИР</a></li>
{% endif %}
    {% else %}
    <li><a href="#tabs-1" >Основная информация</a></li>
    <li><a href="#tabs-2" >Этапы НИР</a></li>
    <li><a href="#tabs-3" >Соисполнители и координаторы</a></li>
    <li><a href="#tabs-4" >Источники финансирования</a></li>
    <li><a href="#tabs-5" >Рубрики НИР</a></li>
    <li><a href="#tabs-6" >Дополнительная информация</a></li>
    <li><a href="#tabs-7" >Смета НИР</a></li>
    {% endif %}
  </ul>
</div>

<form id="main_form" name="form1" action="" method="post">{% csrf_token %}
    <div id="main_form_div">
        <fieldset>
            <legend>
                {% if current_step_info.title %}
                   {{ current_step_info.title }}
                {% else %}
                    Информация {% if model.locative.0 == 'о' %}об {% else %}о {% endif %}{{ model.locative }}
                {% endif %}
            </legend>
        {% if current_step_info.help_text %}
            {% for message  in current_step_info.help_text %}
            <div class="messages span-22 last">
                    <div class="message info span-22 last">
                        <div class="span-18">
                            <span class="ui-icon"></span>
                            {{ message|safe }}
                        </div>
                    </div>
            </div>
            {% endfor %}
        {% endif %}
            {{ wizard.management_form }}
            {% if previous_forms %}
                    <div id="previous_forms">
                        {% for form in previous_forms %}
                            {% show_form form %}
                        {% endfor %}
                    </div>
            {% endif %}
            {% if not workers_step %}
                {% if not formset %}
                    {% show_form wizard.form %}
                {% else %}
                    {% show_formset wizard.form %}
                {% endif %}
            {% endif %}
        </fieldset>
        {% if workers_step %}
        <fieldset>
            <legend>
                {% if workers_verbose_name_plural %}
                    {{ workers_verbose_name_plural }}.
                {% else %}
                    {% if model.workers_verbose_name_plural %}
                        {{ model.workers_verbose_name_plural }}.
                    {% else %}
                        {{ model.workers_verbose_name_single }}.
                    {% endif %}
                {% endif %}
                Выберите сотрудник{{ wizard.form.forms|length_is:"1"|pluralize:"а,ов" }} из найденных в системе или добавьте нов{{ wizard.form.forms|length_is:"1"|pluralize:"ого,ых" }}</legend>
            {% include "workers/link_workers_form.html" with workers_formset=wizard.form workers_verbose_name_single=workers_verbose_name_single|default:model.workers_verbose_name_single %}
            </legend>
        </fieldset>
        {% endif %}
    {% ifequal current_tab_step 2 %}
        <fieldset>
        <input type="button" id="add_new_step_button" title="Добавить новый этап НИР" value="Добавить еще этап" onclick="form1.add_new_step.value=1; submit();"/>
        <input id="add_new_step_id" type="hidden" name="add_new_step" value="0" type="text" /><br>
        </fieldset>
    {% endifequal %}
    </div>
    <input type="submit" name='steps_results' title="Сохранить данные в систему" value="Сохранить" />
{% if project %}
    <input type="button" id="go_prev_step" title="Вернуться к просмотру НИР" value="Выйти" onclick="if (edit_field>0) {if (confirm(edit_message)) {window.top.location.href='/projects/{{project.id}}/';}} else {window.top.location.href='/projects/{{project.id}}/';}"/>
{% else %}
    <input type="button" id="go_prev_step" title="Отменить добавление НИР" value="Выйти" onclick="if (edit_field>0) {if (confirm(edit_message)) {window.top.location.href='/home/';}} else {window.top.location.href='/home/';}"/>
{% endif %}
    <input id="go_prev_step_button" type="hidden" name="wizard_goto_step" value="" type="text" />
    <input id="current_tab_step_id" type="hidden" name="current_tab_step" value="{{current_tab_step}}" type="text" />
</form>
<script>
  var edit_field=0;
  var name_field="";
  window.addEventListener('load',function () {setTimeout("window.edit_field=0",4)});
  var edit_message = 'Данные не будут сохранены. Вы уверены?';
  var name_field_index=form1.current_tab_step.value;
  window.top.location.hash="tabs-"+name_field_index;
  $(function() {
    $( "#tabs" ).tabs({
        beforeActivate: function( event, ui ) {
            if (edit_field) {var ret_ = confirm(edit_message); if (ret_) edit_field=0; xxx(name_field,name_field_index); return ret_;}
        }
    });
  });
  function xxx(step,index) { 
    name_field = step;
    name_field_index = index;
    if (window.top.location.hash=="#tabs-"+index) { return; }
    if (edit_field) { return; }
    form1.wizard_goto_step.value=step;
    form1.action+="#tabs-"+index;
    form1.style.display='none';
    form1.submit();
  }
</script>

<script>
$(document).ready(function()
{
    $(".ajax_togglable_field").click(function() {
       var url=$(this).attr("href");
       var link = $(this)
       $.ajax({
            "url" : url,
            "success": function(data){
                link.html(data);
            }
       });
       return false
    });
});
</script>
{% endblock %}
