{% extends "base.html" %}

{% block title %}Список НИР{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>Список добавленных НИР</h2>

{% if departments %}
    <h3 class="margin-top">Ваши подразделения</h3>
    <hr />
    <ul class="object_list">
        {% for department in departments %}
        <li>
            <h3><a href="{{ department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ department.name }}</a></h3>
        </li>
        {% endfor %}
    </ul>
    <h3 class="margin-top">НИРы  с участниками из этих подразделений</h3>
        <hr />
    {% if projects %}
        {% include "common/activities_list.html" with objects=projects object_short_template="projects/project_short.html" %}
    {% else %}
        В системе не найдены НИР для данных подразделений.
    {% endif %}
{% else %}
    Для просмотра добавленных НИР ваших подразделений укажите хотя бы одно место работы.
{% endif %}
{% endblock %}
