{% if project.head_members.exists %}
<li>
    <span>Руководител{{ project.head_members.count|pluralize:'ь,и'}} НИР:</span>
    <span>
        {% for member in project.head_members.all %}
            <a href="{{ member.get_absolute_url }}" title="{{ member }} (перейти на страницу сотрудника)">{{ member.fullname_short }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span>
</li>
{% endif %}

{% if project.common_members.exists %}
<li>
    <span>{{ project.workers_verbose_name }}:</span>
    <span>
        {% for member in project.common_members.all %}
            <a href="{{ member.get_absolute_url }}" title="{{ member }} (перейти на страницу сотрудника)">{{ member.fullname_short }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span>
</li>
{% endif %}