{% with project=object %}
<ul class="activity">
    <li>
        <b>
            {% if project.startdate %}
                {% if project.enddate %}
                    {{ project.startdate|date:"j E Y" }} - {{ project.enddate|date:"j E Y" }}
                {% else %}
                    с {{ project.startdate|date:"j E Y" }}
                {% endif %}
            {% else %}
                {% if project.enddate %}
                    по {{ project.enddate|date:"j E Y" }}
                {% endif %}
            {% endif %}
        </b>
        {% if not no_links %}
            <a href="{{ project.get_absolute_url }}" title="Перейти на страницу НИР">{{ project.name }}</a>
        {% else %}
            {{ project.name }}
        {% endif %}
    </li>
    {% if project.department %}
    <li>
        {% if not no_links %}<a href="{{ project.department.get_absolute_url }}" title="Перейти на страницу подразделения">{% endif %}{{ project.department.name }}{% if not no_links %}</a>{% endif %}
    </li>
    {% endif %}
    {% if project.outorganization and not project.department %}
    <li>
        <span>{{ project.outorganization }}</span>
    </li>
    {% endif %}
    {% with members=project.allmembers %}
    <li>
        Участники НИР:
        {% if not no_links %}
            {% for member in members %}
                {% if member %}
                    <a href="{{ member.get_absolute_url }}" title="{{ member }} (перейти на страницу сотрудника)">{{ member.fullname_short }}</a>{% if not forloop.last %}, {% endif %}
                {% else %}
                    {{ member.original_name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% for member in members %}
                {{ member.workers_string }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    {% endwith %}
</ul>
{% endwith %}
