{% extends "base.html" %}
{% block title %}{{ project.name }} - НИР{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>{{ project.name }}<span class="detail_label">НИР</span></h2>

<div>
    <ul class="object_detail">
        {% if project.startdate or project.enddate %}
        <li>
            <span>Срок исполнения:</span>
            <span>{{ project.startdate|default_if_none:"дата начала не указана" }} - {{ project.enddate|default_if_none:"выполняется" }}</span>
        </li>
        {% endif %}
    </ul>

    <div class="step_info">
        <fieldset>
        <h3 class="margin-top">Планируемые показатели выполнения этапа НИР</h3>
        <table>
          <tbody>
               <tr>
                 <td><strong> Этап {{step.number}} </strong></td>
                 <td><strong> {{step.name}} </strong></td>
                 <td><strong> {{step.startdate}}-{{step.enddate}} </strong></td>
               </tr>
          </tbody>
        </table>
        </fieldset>
        <fieldset>
        <form id="id_plan_step{{step.id}}"  name='form{{step.id}}' method="post" >{% csrf_token %}
        <table>
          <tbody>
               <tr>
                 <td><strong> Наименование показателя </strong></td>
                 <td><strong> Количество </strong></td>
               </tr>
            {% for plan in plan_list %}
               <tr>
                 <td><strong> {{plan.name}} </strong></td>
                 <td><div class="form"><div class="field"><input id="id_plan_{{plan.typeid}}" name="plan_{{plan.typeid}}" value="{{plan.value}}" type="text"></div></div></td>
               </tr>
            {% endfor %}
          </tbody>
        </table>
            <input type="hidden" name="status" value="plan"/>
            <input type="hidden" name="step_id" value="{{step.id}}"/>
            <input type="submit" name='plan_save' title="Сохранить информацию в систему" value="Сохранить планируемые показатели" />
            <input type="button" id="go_prev_step" title="Вернуться на предыдущий шаг" value="Отменить" onclick="window.top.location.href='/projects/{{project.id}}/plan/'"/>
        </form>
        </fieldset>
    </div>
</div>
{% endblock %}
