{% extends "base.html" %}
{% block title %}{{ project.name }} - НИР{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>{{ project.name }}<span class="detail_label">НИР</span></h2>

<div>
    <ul class="object_detail">
        {% if project.startdate or project.enddate %}
        <li>
            <span>Срок исполнения:</span>
            <span>{{ project.startdate|default_if_none:"дата начала не указана" }} - {{ project.enddate|default_if_none:"выполняется" }}</span>
        </li>
        {% endif %}
    </ul>

    <div class="step_info">
        <fieldset>
        <h3 class="margin-top">Ожидаемые результаты выполнения этапа</h3>
        <table>
          <tbody>
               <tr>
                 <td><strong> Этап {{step.number}} </strong></td>
                 <td><strong> {{step.name}} </strong></td>
                 <td><strong> {{step.startdate}}-{{step.enddate}} </strong></td>
               </tr>
          </tbody>
        </table>
        </fieldset>
        <fieldset>
        <form id="id_itog_step{{step.id}}"  name='form{{step.id}}' method="post" >{% csrf_token %}
            <div class="field">
                <textarea id="id_stepresult" name="planresult" class="wide">{{step.planresult}}</textarea>
            </div>
            <input type="hidden" name="status" value="planresult"/>
            <input type="hidden" name="step_id" value="{{step.id}}"/>
            <input type="submit" name='step_results' title="Сохранить ожидаемые результаты этапа в систему" value="Сохранить ожидаемые результаты" />
            <input type="button" id="go_prev_step" title="Вернуться на предыдущий шаг" value="Отменить" onclick="window.top.location.href='/projects/{{project.id}}/plan/'"/>
        </form>
        </fieldset>
    </div>
</div>

{% endblock %}
