{% extends "base.html" %}
{% block title %}{{ project.name }} - НИР{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>{{ project.name }}<span class="detail_label">НИР</span></h2>

<div>
    <ul class="object_detail">
        {% if project.startdate or project.enddate %}
        <li>
            <span>Срок исполнения:</span>
            <span>{{ project.startdate|default_if_none:"дата начала не указана" }} - {{ project.enddate|default_if_none:"выполняется" }}</span>
        </li>
        {% endif %}
    </ul>

    <div class="step_info">
    {% if project.steps.exists %}
        <h3 class="margin-top">Этапы НИР</h3>
    {% for step in project.steps.all %}
        <fieldset>
        <table>
          <tbody>
               <tr>
                 <td><strong> {{step.number}} </strong></td>
                 <td><strong> {{step.name}} </strong></td>
                 <td><strong> {{step.startdate}}-{{step.enddate}} </strong></td>
               </tr>
               <tr>
                 <td></td>
                 <td colspan="3"> <strong>{{step.get_sign_info}}</strong></td>
               </tr>
               <tr>
                 <td></td>
                 <td>
                {% if step.show_edit %}
                {% if can_reedit %}
                 <input type="button" id='button_reedit_{{step.id}}' value="Вернуть на доработку" onclick="form{{step.id}}.status.value='reedit';div_form{{step.id}}.style.display='block';button_reedit_{{step.id}}.style.display='none';{% if step.show_confirm %}button_confirm_{{step.id}}.style.display='none';{% endif %}"/>
                {% endif %}
                {% else %}
                {% if can_sign %}
                 <input type="button" id='button_sign_{{step.id}}' value="Подписать" title="Подтвердить операцию" onclick="form{{step.id}}.status.value='sign'; form{{step.id}}.submit();"/>
                {% endif %}
                {% endif %}
                 </td>
                 <td>
                {% if step.show_confirm %}
                {% if can_confirm %}
                 <input type="button" id='button_confirm_{{step.id}}' value="Утвердить этап" title="Подтвердить операцию" onclick="form{{step.id}}.status.value='confirm'; form{{step.id}}.submit();"/>
                {% endif %}
                {% endif %}
                 </td>
               </tr>
          </tbody>
        </table>
        <div style='display:none' id="div_form{{step.id}}" name='div_form_name{{step.id}}' class="form">
            <form id="id_sign_step{{step.id}}"  name='form{{step.id}}' method="post" action="/projects/{{project.id}}/sign/">{% csrf_token %}
            {% if step.show_edit %}
                <div class="field">
                    <label for="id_pstatus_comment">Причина возврата на редактирование</label>
                    <textarea id="id_pstatus_comment" rows="10" cols="50" name="pstatus_comment"></textarea>
                </div>
                <input type="submit" name='sign_project' value="Подтвердить" title="Подтвердить операцию">
                <input type="button" id="go_prev_step" title="Не выполнять данную операцию" value="Отменить" onclick="div_form{{step.id}}.style.display='none';button_reedit_{{step.id}}.style.display='block';{% if step.show_confirm %}button_confirm_{{step.id}}.style.display='block';{% endif %}"/>
            {% endif %}
                <input type="hidden" name="status" value=""/>
                <input type="hidden" name="step_id" value="{{step.id}}"/>
                <br/>
            </form>
        </div>
        </fieldset>
    {% endfor %}
    {% endif %}
    </div>
</div>
    <input type="button" id="exit_id" title="Вернуться к просмотру НИР" value="Выйти" onclick="window.top.location.href='/projects/{{project.id}}/';"/>

{% endblock %}
