{% extends "base.html" %}
{% block title %}{{ project.name }} - НИР{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h3>{{ project.name }}<span class="detail_label">НИР</span></h3>
<a href="{% url projects_detail project.id %}">Вернуться на страницу НИР</a>

<div>
    <ul class="object_detail">
        {% if project.startdate or project.enddate %}
        <li>
            <span>Срок исполнения:</span>
            <span>{{ project.startdate|default_if_none:"дата начала не указана" }} - {{ project.enddate|default_if_none:"выполняется" }}</span>
        </li>
        {% endif %}
    </ul>

    <div class="step_info">
    {% if project.steps.exists %}
        <h3 class="margin-top">Этапы НИР</h3>
    {% for step in project.steps.all %}
        <fieldset>
        <table>
          <tbody>
               <tr>
                 <td><strong> {{step.number}} </strong></td>
                 <td><strong> {{step.name}} </strong></td>
                 <td><strong> {{step.startdate}}-{{step.enddate}} </strong></td>
               </tr>
               <tr>
                 <td></td>
                 <td colspan="3"><strong>{{step.get_sign_info}}</strong></td>
               </tr>
               <tr>
                 <td></td>
                 <td>
                 <input type="button" id='button_plan_{{step.id}}' value="Планируемые показатели" onclick="form{{step.id}}.status.value='plan';form{{step.id}}.submit();"/>
                 </td>
                 <td>
                 {{step.plan_counter}}
                 </td>
               </tr>
               <tr>
                 <td></td>
                 <td>
                 <input type="button" id='button_plan_{{step.id}}' value="Ожидаемые результаты" onclick="form{{step.id}}.status.value='planresult';form{{step.id}}.submit();"/>
                 </td>
                 <td>
                {% if step.is_planresult %}
                    есть
                {% else %}
                    нет
                {% endif %} 
                 </td>
               </tr>
               <tr>
                 <td></td>
                 <td>
                 <input type="button" id='button_itog_{{step.id}}' value="Итоги выполнения этапа" onclick="form{{step.id}}.status.value='itog';form{{step.id}}.submit();"/>
                 </td>
                 <td>
                {% if step.is_stepresult %}
                    есть
                {% else %}
                    нет
                {% endif %} 
                 </td>
               </tr>
               <tr>
                 <td></td>
                 <td>
                 <input type="button" id='button_ktu_{{step.id}}' value="Коэффициенты трудового участия исполнителей" onclick="form{{step.id}}.status.value='ktu';form{{step.id}}.submit();"/>
                 </td>
                 <td>
                 {{step.ktu_members}}
                 </td>
               </tr>
          </tbody>
        </table>
        <form id="id_sign_step{{step.id}}"  name='form{{step.id}}' method="post" action="/projects/{{project.id}}/plan/">{% csrf_token %}
            <input type="hidden" name="status" value=""/>
            <input type="hidden" name="step_id" value="{{step.id}}"/>
            <br/>
        </form>
        </fieldset>
    {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock %}
