{% load common_dates role_permissions %}

{% if can_edit_object %}
    <br/><a href="{% url plan object.id %}" title="Редактировать итоги этапов">Планы, итоги этапов, КТУ</a>
{% endif %}
{% if can_sign_object %}
<br/><a href="{% url projects_sign object.id %}">Подпись этапов НИР</a>
{% endif %}
{% get_nearest_year as year %}
{% with report=object.current_annotational_report %}
{% if report %}
	{% ifhaspermission user "view" report %}
		<br/><a href="{% url projects_annotational_report report.id %}">Просмотреть аннотационный отчет</a>
	{% endifhaspermission %}
{% else %}
	{% ifhaspermission user "add_annotational_report" object %}
		<br/><a href="{% url projects_annotational_report_add object.id year %}">Добавить аннотационный отчет</a>
	{% endifhaspermission %}
{% endif %}
{% endwith %}
