{% with workers=object.workers %}
{% if workers.exists %}
<li>
    <span>{{ object.workers_verbose_name }}:</span>
    {% if not no_links %}
        {% for worker in object.workers_list %}
            <a href="{{ worker.worker.get_absolute_url }}" title="{{ worker.worker }} (перейти на страницу сотрудника)">{{ worker.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% else %}
        {% for worker in object.workers_list %}
            {{ worker.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
</li>
{% endif %}
{% endwith %}
