{% extends "base.html" %}

{% block title %}{{ conference_committee_membership.title }} - членство в программном комитете конференции{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
{% with membership=conference_committee_membership %}
{% with conference=membership.conference %}

<h2>{{ membership.title }}<span class="detail_label">членство в программном комитете конференции</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- membership detailed information -->
        <li>
            <span>Сотрудник:</span>
            <span>
                {% if membership.member %}
                    <a href="{{ membership.member.get_absolute_url }}" title="{{ membership.member }} (перейти на страницу сотрудника)">{{ membership.member }}</a>
                {% else %}
                    {{ membership.original_name }}
                {% endif %}
            </span>
        </li>
        <li>
            <span>Конференция:</span>
            <span><a href="{{ conference.get_absolute_url }}" title="Перейти на страницу конференции">{{ conference.name }}</a></span>
        </li>
        <li>
            <span>Даты проведения:</span>
            <span>{{ conference.dates_text }}</span>
        </li>
        {% if conference.get_location %}
        <li>
            <span>Место проведения:</span>
            <span>{{ conference.get_location }}</span>
        </li>
        {% endif %}
        <li>
            <span>Тип членства:</span>
            <span>{{ membership.get_type_display }}</span>
        </li>
        {% include "common/object_creator.html" with creator=membership.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=membership edit_url="conferences_committee_membership_edit" delete_url="conferences_committee_membership_delete" %}

{% endwith %}
{% endwith %}
{% endblock %}
