{% with membership=object %}
{% with conference=membership.conference %}
<ul class="activity"><!-- membership short information -->
    <li>
        <b>{{ conference.dates_text }}</b>
        {% if not no_links %}
            <a href="{{ membership.get_absolute_url }}" title="Перейти на страницу членства в программном комитете конференции">{{ conference.name }}</a>
        {% else %}
            {{ conference.name }}
        {% endif %}
    </li>

    {% with chairs=conference.chairs_list %}
    {% if chairs %}
    <li>
        Председател{{ chairs|length|pluralize:"ь,и" }} программного комитета:
        {% include "common/workers_list_links_param.html" with workers=chairs %}
    </li>
    {% endif %}
    {% endwith %}

    {% with members=conference.ordinary_members_list %}
    {% if members %}
    <li>
        Член{{ members|length|pluralize:"ы" }} программного комитета:
        {% include "common/workers_list_links_param.html" with workers=members %}
    </li>
    {% endif %}
    {% endwith %}

    {% if conference.get_location %}
    <li>{{ conference.get_location }}</li>
    {% endif %}
</ul>
{% endwith %}
{% endwith %}
