{% extends "base.html" %}
{% load role_permissions %}

{% block title %}{{ conference.name }} - {{ conference.get_category }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
<h2>{{ conference.name }}<span class="detail_label">{{ conference.get_category }}</span></h2>

<div class="span-16 colborder">
<ul class="object_detail"><!-- conference detailed information -->

    {% ifhaspermission user "edit" conference %}
        <li>
            <span>{{ conference.workers_verbose_name }}:</span>
            <span>
                {% for membership in conference.committee_memberships.all %}
                    <a href="{{ membership.get_absolute_url }}">{{ membership.workers_string }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
        </li>
    {% else %}
        {% include "common/workers_list_detail.html" with object=conference %}
    {% endifhaspermission %}

    {% if conference.scope %}
    <li>
        <span>Охват:</span>
        <span>{{ conference.scope }}</span>
    </li>
    {% endif %}
    <li>
        <span>Даты проведения:</span>
        <span>{{ conference.dates_text }}</span>
    </li>
    {% if conference.get_location %}
    <li>
        <span>Место проведения:</span>
        <span>{{ conference.get_location }}</span>
    </li>
    {% endif %}
    {% with organizers=conference.organizers.all %}
    {% if organizers %}
    <li>
        <span>Организатор{{ organizers|length|pluralize:"ы" }}:</span>
        <span><br/>
        {% for organizer in organizers %}
            {% if organizer.department %}
                {% include "organizations/department_ancestors.html" with department=organizer.department no_leaf=0 %}
            {% else %}
                {% if organizer.organization %}
                    <a href="{{ organizer.organization.get_absolute_url }}" title="Перейти на страницу организации">{{ organizer.organization.name }}</a>
                {% else %}
                    {{ organizer.organization_name }}
                {% endif %}
            {% endif %}
            {% if not forloop.last %}<br/>{% endif %}
        {% endfor %}
        </span>
    </li>
    {% endif %}
    {% endwith %}
    {% if conference.participants_count %}
    <li>
        <span>Число участников:</span>
        <span>{{ conference.participants_count }}</span>
    </li>
    {% endif %}
    {% if conference.participants_foreign_count %}
    <li>
        <span>Число иностранных участников:</span>
        <span>{{ conference.participants_foreign_count }}</span>
    </li>
    {% endif %}
    {% if conference.participants_organization_count %}
    <li>
        <span>Число участников из МГУ:</span>
        <span>{{ conference.participants_organization_count }}</span>
    </li>
    {% endif %}
    {% if conference.speakers_count %}
    <li>
        <span>Число докладчиков:</span>
        <span>{{ conference.speakers_count }}</span>
    </li>
    {% endif %}
    {% if conference.url %}
    <li>
        <span>Веб-сайт:</span>
        <span><a href="{{ conference.url }}" target="_blank">{{ conference.url }}</a></span>
    </li>
    {% endif %}
    {% if conference.description %}
    <li>
        <span>Описание конференции:</span>
        <p>{{ conference.description }}</p>
    </li>
    {% endif %}
    {% include "common/object_creator.html" with creator=conference.creator %}
</ul>
<br/><br/>
{% if conference.presentations.count > 0 %}
<h3>Доклады:</h3>
  {% for presentation in conference.presentations.all %}
  {% include "conferences/presentation_short.html" with object=presentation no_conference=1 %}
  {% endfor %}
{% endif %}

</div>

{% include "common/object_actions.html" with object=conference edit_url="conferences_conference_edit" delete_url="conferences_conference_delete" %}

{% endblock %}
