{% with presentation=object %}
{% with conference=presentation.conference %}
<ul class="activity"><!-- presentation short information -->
    <li>
        <b>{{ presentation.year }}</b>
        {% if not no_links %}
            <a href="{{ presentation.get_absolute_url }}" title="Перейти на страницу доклада на конференции">{{ presentation.title }}</a>
        {% else %}
            {{ presentation.title }}
        {% endif %}
        {% if presentation.talk_kind %}
            ({{ presentation.talk_kind_name }})
        {% endif %}
    </li>
    {% include "common/workers_list.html" with object=presentation %}
    {% if not no_conference %}
    <li>
        {% if not no_links %}
            <a href="{{ conference.get_absolute_url }}" title="Перейти на страницу конференции">{{ conference.name }}</a>{% if conference.get_location %}, {{ conference.get_location }}{% endif %}, {{ conference.dates_text }}
        {% else %}
            {{ conference.name }}{% if conference.get_location %}, {{ conference.get_location }}{% endif %}, {{ conference.dates_text }}
        {% endif %}
    </li>
    {% endif %}
</ul>
{% endwith %}
{% endwith %}
