{% extends "base.html" %}
{% load sign_url %}

{% block title %}{{ conference_presentation.title }} - доклад на конференции{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
{% with presentation=conference_presentation %}
{% with conference=conference_presentation.conference %}

<h2>{{ presentation.title }}<span class="detail_label">доклад на конференции</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- presentation detailed information -->
        {% include "common/workers_list_detail.html" with object=presentation %}
        <li>
            <span>{% if conference.scope %} {{ conference.scope.name }} {% endif %} Конференция {% if conference.category and conference.category.name != 'Конференция' %} ({{ conference.category.name }}) {% endif %}:</span>
            <span><a href="{{ conference.get_absolute_url }}" title="Перейти на страницу конференции">{{ conference.name }}</a></span>
        </li>
        <li>
            <span>Даты проведения конференции:</span>
            <span>{{ conference.dates_text }}</span>
        </li>
        {% if presentation.date %}
        <li>
            <span>Дата доклада:</span>
            <span>{{ presentation.date|date:"j E Y" }}</span>
        </li>
        {% endif %}
        <li>
            <span>Тип доклада:</span>
            <span>
            {% if presentation.talk_kind %}
               {{ presentation.talk_kind_name }}
            {% else %}
               не указан
            {% endif %}
            </span>
        </li>
        <li>
          <span>Докладчик:</span>
          <span>
            {% if presentation.speaker %}
                {{ presentation.speaker }}
            {% elif user.get_profile.worker in presentation.authors.all  %}
                <a href="{% sign_url "/sqlreports/createreport/edit_conf_presentations/" %}" title="Добавить данные о докладчике">не указан</a>
            {% else %}
                не указан
            {% endif %}
          </span>
        </li>
        {% if conference.get_location %}
        <li>
            <span>Место проведения:</span>
            <span>{{ conference.get_location }}</span>
        </li>
        {% endif %}
        {% if presentation.abstract %}
        <li>
            <span>Аннотация доклада:</span>
            <p>{{ presentation.abstract }}</p>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=presentation.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=presentation edit_url="conferences_presentation_edit" delete_url="conferences_presentation_delete" %}

{% endwith %}
{% endwith %}
{% endblock %}
