{% extends "base.html" %}

{% block title %}{{ journal_editorial_board_membership.title }} - членство в редколлегии журнала{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
{% with membership=journal_editorial_board_membership %}

<h2>{{ membership.title }}<span class="detail_label">членство в редколлегии журнала</span></h2>

<div class="span-16 colborder">
    <ul class="object_detail"><!-- membership detailed information -->
        <li>
            <span>Сотрудник:</span>
            <span>
                {% if membership.member %}
                    <a href="{{ membership.member.get_absolute_url }}" title="{{ membership.member }} (перейти на страницу сотрудника)">{{ membership.member }}</a>
                {% else %}
                    {{ membership.original_name }}
                {% endif %}
            </span>
        </li>
        <li>
            <span>Журнал:</span>
            <span><a href="{{ membership.journal.get_absolute_url }}" title="Перейти на страницу журнала">{{ membership.journal.name }}</a></span>
        </li>
        <li>
            <span>Тип членства:</span>
            <span>{{ membership.get_role_display }}</span>
        </li>
        <li>
            <span>Дата вступления:</span>
            <span>{{ membership.startdate }}</span>
        </li>
        {% if membership.enddate %}
        <li>
            <span>Дата выхода:</span>
            <span>{{ membership.enddate }}</span>
        </li>
        {% endif %}
        {% include "common/object_creator.html" with creator=membership.creator %}
    </ul>
</div>

{% include "common/object_actions.html" with object=membership edit_url="journals_membership_edit" delete_url="journals_membership_delete" %}

{% endwith %}

{% endblock %}
