{% extends "base.html" %}
{% load  paging_extras compress %}

{% block title %}Результаты поиска{% endblock title %}

{% block extracss %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/search_results.css" type="text/css" media="all" charset="utf-8" />
{% endcompress %}
{% endblock %}

{% block extrajs %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/search_paginating.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}

{% paginate journals_list from request as journals per_page 25 %}

<input type="hidden" id="id_search_string" value="{{ search_string }}">

<form id="id_journals_search" class= "search_form"  action="{% url journals_search %}" method="post">{% csrf_token %}
    <input type="text" value="{{ search_string }}" name="journal_name" class="search_box" >
    <input type="submit"  value="Поиск" title="Поиск по базе журналовв" />
</form>


<h2>Результаты поиска:</h2>
{% if journals_list %}
    {{ journals.paging }}
    <div>

        {% for journal in journals.objects %}
            <div class="journal_short span-24 last">
                <li class="merge_candidate">
                    {% include 'journals/journal_short.html'  %}
                </li>
            </div>
        {% endfor %}

    </div>
    {{journals.paging }}

{% elif search_string_too_short %}
    <h4>Для поиска Вы должны ввести непустую строку.</h4>
{% else %}
    <h4>По вашему запросу ничего не найдено.</h4>
{% endif %}

{% endblock %}
