{% extends "base.html" %}
{% load expand %}

{% block title %}{{ journal.name }} - журнал{% endblock %}

{% block content %}

<h2><a href="{% url journals_detail journal.id %}">{{ journal.name }}</a></h2>

<h4>Показатели цитирования</h4>

<div class="span-16 colborder">
<table>
<th>
  <tr>
    <td>Тип</td>
    <td>Год</td>
    <td>Значение</td>
  </tr>
</th>
<tbody>
{% if user.is_authenticated %}
    {% for ifactor_data in ifactors_data %}
      <tr>
        <td><b>{{ ifactor_data.type }}</b></td><td>{{ ifactor_data.year }}</td> <td>{{ ifactor_data.value|floatformat:3 }}</td>
      </tr>
    {% empty %}
    <tr>
        <td colspan=2 style="text-align: center"><em>нет данных</em></td>
    </tr>
    {% endfor %}
{% endif %}
</tbody>
</table>

{% endblock %}
