{% extends "base.html" %}
{% load expand %}

{% block title %}{{ journal.name }} - журнал{% endblock %}

{% block content %}

<h2><a href="{% url journals_detail journal.id %}">{{ journal.name }}</a></h2>

<h4>Результаты поиска импакт факторов</h4>

<form action="." method="POST">{% csrf_token %}
<table>
<th>
  <tr>
    <td></td>
    <td>Название журнала</td>
    <td>Тип</td>
    <td>Год</td>
    <td>Значение</td>
  </tr>
</th>
<tbody>
  {% for item in data %}
  <tr>
    <td>
      {% if not item.journalrang_id %}
         <input type="checkbox" name="rawid" value="{{ item.jrangraw_id }}"/>
      {% else %}
         {% if item.unmatched_value %}
            <span style="border:2px solid red;" title="Значение из файла ({{ item.value|floatformat:3 }}) не совпадает со значением, ранее сохранееном в базе.">
              {{ item.unmatched_value }}
            </span>
         {% else %}
            <img src="{{STATIC_URL}}base/img/accept-16.png" title="Значение в базе совпадает со значением из загруженного файла."/>
         {% endif %}
      {% endif %} </td>
    <td>{{ item.jname }}</td>
    <td><b>{{ item.iftype }}</b></td><td>{{ item.year }}</td> <td>{{ item.value|floatformat:3 }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
<input type="submit" value="Добавить отмеченные" />
</form>

{% endblock %}
