{% extends "base.html" %}

{% block title %}Информация о журналах{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}journals/js/datatable_utils.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var Table = $('#tblJournals').dataTable({
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ строк на странице",
            "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
            "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": "Показаны строки с 0 по 0 из 0",
            "sInfoFiltered": "(отобрано по условию из _MAX_ записей)",
            "oPaginate": {
               "sNext": "  Следующая",
               "sPrevious": "Предыдущая  "
            },
            "sSearch": "Поиск (по названию):"
        },
        "bProcessing": true,
        "sAjaxSource": '{% url last_added_journals_json %}',
        "aoColumnDefs": [
                    {
                        "mRender": check_status,
                        "aTargets": [ -1 ]
                    },
                    {
                       "mRender": BoolToIcon,
                       "aTargets": [4, 5]
                    },
                    {
                        "bSearchable": false,
                        "aTargets": [ 0,2,3,4,5,6,7]
                    },
                    {
                         "sClass": "id",
                         "aTargets": [ 0 ]
                    },
                    {
                        "sWidth":
                        "30%",
                        "aTargets": [ 1 ]
                    },
                    {
                        "sType":
                        "class-string",
                        "aTargets": [-1, 4 , 5]
                    }
                ],
        "aaSorting": [[ 0, "desc" ]],
        "iDisplayLength": 50
    });

} );
</script>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}journals/css/journal_management.css" type="text/css" media="all" charset="utf-8" />
{% endblock extracss %}

{% block content %}


<b>Список последних 300 добавленных журналов.</b>
<hr/>
<p>
Для сортировки по одному полю нажмите на название поля один или два раза (сортировка по возрастанию или
убыванию). Для сортировки по нескольким полям нажмите на название поля при нажатой клавише SHIFT.
Сортировка производится в порядке выбора полей (сначала по первому выбранному полю, потом - по второму).
</p>
<hr/>
<table id="tblJournals">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Издательство</th>
      <th>Кол-во статей</th>
      <th>ISSN</th>
      <th>Индексы</th>
      <th>Последним редактировал</th>
      <th>Статус</th>
    </tr>
  </thead>
<tbody>
</tbody>
</table>
{% endblock %}

