{% extends "base.html" %}
{% load paging_extras bibtex expand %}

{% block title %}{{ journal.name }} - журнал{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/expand.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/expand.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}base/js/delete_object.js"></script>
{% endblock %}

{% block content %}
{% block short_info %}

 <h2>{{ journal.name }}<span class="detail_label">журнал</span></h2>

<div class="span-16 colborder">
{% if user.is_authenticated %}
Показатели цитирования:
    {% for ifactor_data in journal.get_latest_impact_factors %}
      <b>{{ ifactor_data.type }} {{ ifactor_data.year }}</b> {{ ifactor_data.value|floatformat:3 }}
        {% if forloop.last %}
        <a href="{% url journals_impacts journal.id %}">подробнее</a>
        {% endif %}
    {% empty %}
         нет данных
    {% endfor %}
{% endif %}

<ul class="object_detail"><!-- journal detailed information -->

    {% if journal.aliases.exists %}
    <li>
        <span>Другие названия журнала:</span>
        <span>
            {% filter expand_safe_data:"3,0,</span>" %}
                {% for alias in journal.aliases.all %}
                    <span>{{ alias.full }}</span>{% if not forloop.last %},{% endif %}
                {% endfor %}
            {% endfilter %}
        </span>
    </li>
    {% endif %}

    {% if journal.url %}
    <li>
        <span>Сайт журнала:</span>
        <span><a href="{{ journal.url }}" title="Перейти на веб-сайт журнала">{{ journal.url }}</a></span>
    </li>
    {% endif %}

    {% if journal.publisher %}
        {% include "publishers/detail_short.html" with publisher=journal.publisher %}
    {% endif %}

    {% if journal.language %}
    <li>
        <span>Язык:</span>
        <span>{{ journal.language }}</span>
    </li>
    {% endif %}

    {% if journal.abstract %}
    <li>
        <span>Аннотация:</span>
        <p>{{ journal.abstract }}</p>
    </li>
    {% endif %}
    {% include "common/object_creator.html" with creator=journal.creator %}

    {% endblock short_info %}
</ul>
</div>

{% include "common/object_actions.html" with object=journal %}
<div class="clear"></div>

{% if journal.editorial_board_memberships.exists %}
    <h3 class="margin-top">Редколлегия</h3>
    <hr />
    <ul class="object_detail"><!-- editorial board members detailed information -->
        {% for membership in journal.editorial_board_memberships.all %}
            <li>
                <span>
                    {% if membership.member %}
                        <a href="{{ membership.member.get_absolute_url }}" title="{{ membership.member }} (перейти на страницу сотрудника)">{{ membership.member }}</a>,
                    {% else %}
                        {{ membership.original_name }},
                    {% endif %}
                </span>
                <span>
                    {% if membership.startdate %}
                        {% if membership.enddate %}
                            {{ membership.startdate|date:"j E Y" }} - {{ membership.enddate|date:"j E Y" }}
                        {% else %}
                            с {{ membership.startdate|date:"j E Y" }}
                        {% endif %}
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if not articles_html %}
    {% paginate journal.articles.all from request as articles per_page 10 %}
{% endif %}

{% if articles.objects or articles_html %}
    <h3 class="margin-top">
        Статьи, опубликованные в журнале
        {% show_publication_list_links journal.id 'journals_detail' 'journals_journal_articles_bibtex' 'journals_journal_detail_in_style' %}
    </h3>
    <hr />
    {% if articles.objects %}
        {% include "publications/article_list_paged.html" %}
    {% else %}
        {{ articles_html|safe }}
        {% include "publications/bibtex2html_thanks.html" %}
    {% endif %}
{% endif %}

{% block editor_only_content %}
{% endblock %}

{% endblock %}
