{% extends "journals/journal_detail.html" %}
{% load myforms  %}
{% block extracss %}
{{  block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}journals/css/journal_card.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}
{% block extrajs %}
{{  block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}journals/js/journal_card.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/formset_add_form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/add_edit_object.js"></script>

{% endblock %}

{% block short_info %}
    {{ block.super }}
    <li>
        <span>Количество статей в журнале:</span>
        <span>{{ journal.articles.count }}</span>
        <form action="{% url journals_card_edit object_id=journal.id %}" method="get">
            <input type="submit" title="Перейти к редактированию журнала" value="Редактировать информацию о журнале">
        </form>
    </li>
{% endblock %}

{% block editor_only_content %}

<h3 class="margin-top">Принадлежность спискам ВАК</h3>
<hr />
<table class="journal_vak_table">
    <tbody>
      {% for vak in vak_type_list %}
        <tr>
            <td> {{ vak  }} </td>
            <td>
                <span class="journal_index ui-icon{% if vak in journal_vak_types %} check{% else %} close{% endif %}"
                id="{{vak.id}}">
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3 class="margin-top">ISSN</h3>
<hr />
<form id="issn_formset" method="post">{% csrf_token %}
        {% show_formset issn_formset %}
        <br/>
</form>



<h3 class="margin-top ">Ранги</h3>
<hr />
<form id="ranks_formset" method="post">{% csrf_token %}
        {% show_formset ranks_formset %}
        <br/>
</form>



<h3 class="margin-top">Источники</h3>
<hr />
<form id="source_memberships_formset" method="post">{% csrf_token %}
        {% show_formset sources_formset %}
        <br/>
</form>


<h3 class="margin-top">Рубрики</h3>
<hr />
<form id="rubric_memberships_formset" method="post">{% csrf_token %}
        {% show_formset rubric_formset %}
        <br/>
</form>


<h3 class="margin-top"> Псевдоним{{ journal.aliases.count|pluralize:",ы" }}</h3>
<form id="journal_aliases_formset" method="post">{% csrf_token %}
        {% show_formset journal_aliases_formset %}
        <br/>
</form>

<form id="journal_card_save" method="post" action="{% url journal_card_save journal_id=journal.id %}">{% csrf_token %}
    <input type="submit" value="Сохранить" title="Сохранить изменения на странице">
 </form>

{% endblock %}
