{% with membership=object %}
<ul class="activity"><!-- journal_editorial_board_membership short information -->
    <li>
        <b>
        {% if membership.startdate %}
            {% if membership.enddate %}
                {{ membership.startdate|date:"j E Y" }} - {{ membership.enddate|date:"j E Y" }}
            {% else %}
                с {{ membership.startdate|date:"j E Y" }}
            {% endif %}
        {% endif %}
        </b>
        {% if not no_links %}
            <a href="{{ membership.get_absolute_url }}" title="Перейти на страницу членства в редколлегии журнала">{{ membership.journal.name }}</a>
        {% else %}
            {{ membership.journal.name }}
        {% endif %}
    </li>

    {% if membership.journal.publisher %}
    <li>
        издательство
        <i>
            {% if not no_links %}
                <a href="{{ membership.journal.publisher.get_absolute_url }}" title="Перейти на страницу издательства">{{ membership.journal.publisher.name }}</a>
            {% else %}
                {{ membership.journal.publisher.name }}
            {% endif %}

            {% if membership.journal.publisher.city %}
                ({{ membership.journal.publisher.city }})
            {% endif %}
        </i>
    </li>
    {% endif %}

    {% if membership.journal.url %}
        {% if not no_links %}
            <li><a href="{{ membership.journal.url }}" title="Перейти на веб-сайт журнала">{{ membership.journal.url }}</a></li>
        {% else %}
            {{ membership.journal.url }}
        {% endif %}
    {% endif %}

    {% if membership.show_role_in_snippet %}
    <li>
        <i>{{ membership.get_role_display }}</i>
    </li>
    {% endif %}
</ul>
{% endwith %}
