{% extends "base.html" %}

{% block title %}Информация о журналах{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}journals/js/journal_management.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}journals/js/datatable_utils.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var Table = $('#tblJournals').dataTable({
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ строк на странице",
            "sZeroRecords": "Нет записей, удовлетворяющих условиям поиска",
            "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": "Показаны строки с 0 по 0 из 0",
            "sInfoFiltered": "(отобрано по условию из _MAX_ записей)",
            "oPaginate": {
               "sNext": "  Следующая",
               "sPrevious": "Предыдущая  "
            },
            "sSearch": "Поиск (по названию и ISSN):"
        },
        "bProcessing": true,
        "sAjaxSource": '{% url journals_search_json %}',
        "fnServerParams": search_string_data,
        "aoColumnDefs": [
                    {
                        "mRender": check_status,
                        "aTargets": [ -2 ]
                    },
                    {
                       "mRender": BoolToIcon,
                       "aTargets": [4, 5]
                    },
                    {
                        "bSearchable": false,
                        "aTargets": [ 0,2,3,4,5,6,7]
                    },
                    {
                         "sClass": "id",
                         "aTargets": [ 0 ]
                    },
                    {
                        "sWidth":
                        "30%",
                        "aTargets": [ 1 ]
                    },
                    {
                        "sType":
                        "class-string",
                        "aTargets": [-2, 4 , 5]
                    }
                ],
        "sDom": '<"merge_count_wrap" >lfrtip',
        "fnRowCallback":  select_on_reload
    });
    $('#tblJournals_filter').keyup(function() {
        if (!$('#id_search_in_found').is(':checked')){
            delay(function(){
                Table.fnReloadAjax();
            }, 700 );
        }
    });

    $("#id_search_checkbox").appendTo("#tblJournals_filter");
    $('#id_merge_count_inner').appendTo(".merge_count_wrap");
} );

$(document).ready(function() {
    $('#tblMergeJournals').dataTable(
            {
                "bFilter": false,
                "bSort": false,
                "bPaginate":false,
                "oLanguage": {
                    "sLengthMenu": "Показывать по _MENU_ строк на странице",
                    "sZeroRecords": " ",
                    "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
                    "sInfoEmpty": ""
                },
                "aoColumnDefs": [
                                   {
                                       "mRender": check_status,
                                       "aTargets": [ -2 ]
                                   },
                                   {
                                       "mRender": BoolToIcon,
                                       "aTargets": [4, 5]
                                   },
                                   {    "mData": null,
                                       "fnCreatedCell": create_delete_button,
                                       "aTargets": [ -1 ]
                                   },
                                   {
                                        "sWidth":
                                        "30%",
                                        "aTargets": [ 1 ]
                                   }
                               ]

            }
    );
} );

$(document).delegate("#tblJournals tbody tr", "click",  add_row);
$(document).delegate("#tblMergeJournals tbody tr", "click",  select_main);
$(document).delegate("input.delete", "click",  delete_row);
$(document).delegate("#id_merge_form", "submit",  on_submit);
</script>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}journals/css/journal_management.css" type="text/css" media="all" charset="utf-8" />
{% endblock extracss %}

{% block content %}
<div id="id_search_checkbox">
    <input type="checkbox" id="id_search_in_found">
    <label for="id_search_in_found">Искать в найденном</label>
</div>
<div id="id_merge_count_inner">
    Отобрано на слияние: <span id='candidates_num'>0</span>
</div>

<b>В результатах поиска показывается не более 300 журналов.</b>



<hr/>
<p>
Для сортировки по одному полю нажмите на название поля один или два раза (сортировка по возрастанию или
убыванию). Для сортировки по нескольким полям нажмите на название поля при нажатой клавише SHIFT.
Сортировка производится в порядке выбора полей (сначала по первому выбранному полю, потом - по второму).
Чтобы добавить журнал в список сливаемых, нажмите на соответствующую ему строку. Чтобы удалить журнал из списка сливаемых,
нажмите на соответствующую ему строку  в списке сливаемых.
</p>
<hr/>
<table id="tblJournals">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Издательство</th>
      <th>Кол-во статей</th>
      <th>ISSN</th>
      <th>Индексы</th>
      <th>Последним редактировал</th>
      <th>Статус</th>
      <th> </th>
    </tr>
  </thead>
<tbody>
</tbody>
</table>
<hr/>
<b>Список сливаемых журналов.</b>
<hr/>
 <form name="merge" id="id_merge_form" method="post" action="{% url journals_merge_confirm %}" > {% csrf_token %}
 <table id="tblMergeJournals">
      <thead>
        <tr>
          <th>ID</th>
          <th сlass="width">Название</th>
          <th>Издательство</th>
          <th>Кол-во статей</th>
          <th>ISSN</th>
          <th>Индексы</th>
          <th>Последним редактировал</th>
          <th>Статус</th>
          <th> </th>
        </tr>
      </thead>
    <tbody>
    </tbody>
    </table>
 <input type="hidden" name="main_candidate" id="main_candidate">
 <div class="margin-top">
    <input type="submit" id="id_merge_submit"   title="Объединить выбранные журналы" value="Объединить">
 </div>
 </form>
{% endblock %}

