<ul class="activity"><!-- journal short information -->
    {% if not no_links %}
        <li><a href="{{ journal.get_absolute_url }}" title="Перейти на страницу журнала">{{ journal.name }}</a></li>
    {% else %}
        {{ journal.name }}
    {% endif %}

    {% if journal.url %}
        {% if not no_links %}
            <li><a href="{{ journal.url }}" title="Перейти на веб-сайт журнала">{{ journal.url }}</a></li>
        {% else %}
            {{ journal.url }}
        {% endif %}
    {% endif %}

    {% if journal.publisher %}
    <li>
        издательство
        <i>
            {% if not no_links %}
                <a href="{{ journal.publisher.get_absolute_url }}" title="Перейти на страницу издательства">{{ journal.publisher.name }}</a>
            {% else %}
                {{ journal.publisher.name }}
            {% endif %}

            {% if journal.publisher.city %}
                ({{ journal.publisher.city }})
            {% endif %}
        </i>
    </li>
    {% endif %}

</ul>
