{% extends "base.html" %}

{% block title %}Информация о журналах{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}journals/js/datatable_utils.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var Table = $('#tblJournals').dataTable({
        "bFilter": false,
        "bSort": false,
        "bPaginate":false,
        "oLanguage": {
            "sLengthMenu": "Показывать по _MENU_ строк на странице",
            "sZeroRecords": " ",
            "sInfo": "Показаны строки с _START_ по _END_. Всего: _TOTAL_",
            "sInfoEmpty": ""
        },
        "aoColumnDefs": [
                    {
                        "mRender": check_status,
                        "aTargets": [ -1 ]
                    },
                    {
                       "mRender": BoolToIcon,
                       "aTargets": [4, 5]
                    },
                    {
                        "bSearchable": false,
                        "aTargets": [ 0,2,3,4,5,6,7]
                    },
                    {
                         "sClass": "id",
                         "aTargets": [ 0 ]
                    },
                    {
                        "sWidth":
                        "30%",
                        "aTargets": [ 1 ]
                    },
                    {
                        "sType":
                        "class-string",
                        "aTargets": [-1, 4 , 5]
                    }
                ],
        "bProcessing": true,
        "sAjaxSource": '{% url journals_json_by_id %}',
        "fnServerParams": search_journals_by_ids,
        "fnRowCallback":  select_main_on_load
    });
} );
</script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}journals/js/journal_merge_confirm.js"></script>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}journals/css/journal_management.css" type="text/css" media="all" charset="utf-8" />
{% endblock extracss %}

{% block content %}

<b>Вы уверены, что хотите обеъдинить эти журналы? Цветом выделен журнал, в который будут занесены данные из других
    журналов в этом списке, после чего они будут удалены из системы. ВНИМАНИЕ: изменения не обратимы!
</b>


<form name="merge_confirm" id="id_merge_form" method="post" action="{% url journals_merge %}" > {% csrf_token %}
    <table id="tblJournals">
      <thead>
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Издательство</th>
          <th>Кол-во статей</th>
          <th>ISSN</th>
          <th>Индексы</th>
          <th>Последним редактировал</th>
          <th>Статус</th>
        </tr>
      </thead>
    <tbody>
    </tbody>
    </table>
    <input type="hidden" name="main_candidate"  id="main_candidate" value="{{ main_id }}">
    {% for id in candidate_ids %}
        <input type="hidden" name="candidate_{{ id }}" class="candidate" value="{{ id }}">
    {% endfor %}
    <div class="margin-top">
        <input type="submit" id="id_merge_submit" name="submit"   title="Объединить выбранные журналы" value="Объединить">
        <input type="submit" id="id_merge_return" name="return"   title="Вернуться к выбору журналов" value="Отменить">
    </div>
</form>
<input type="hidden" name="candidate_{{ id }}" class="username" value="{{ request.user.username }}">
<div class="python_merge"> </div>
{% endblock %}

