{% extends "base.html" %}

{% block title %}{{ index.name }} - список журналов{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/expand.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}journals/js/journal_index_detail.js"></script>
{% endblock %}


{% block content %}

 <h2>{{ index.name }}<span class="detail_label">список журналов</span></h2>

<table id="journals">
    <thead>
        <tr>
            <th>№</th>
            <th>Журнал</th>
            <th>Дата включения</th>
        </tr>
    </thead>
    <tbody>
        {% for journal in index.journals.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{{ journal.get_absolute_url }}">{{ journal }}</a></td> 
            <td>{{ index.startdate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4 class="margin-top"><a href="{% url statistics_top_journals %}">Начальная страница списка Топ-25% журналов</a></h4>

{% endblock %}

