{% extends "base.html" %}
{% load myforms  %}

{% block title %}Страница слияния журналов{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block content %}

<h2>Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}.
</h2>

<form id="main_form" action="" method="post">{% csrf_token %}
    <div id="main_form_div">
        <fieldset>
            <legend>Слияние журналов</legend>
            {{ wizard.management_form }}
            {% show_form wizard.form %}
        </fieldset>
    </div>
    {% if wizard.steps.next %}
    <input type="submit" title="Перейти на следующий шаг {% if add %}добавления{% else %}редактирования{% endif %}" value="Продолжить {% if add %}добавление{% else %}редактирование{% endif %} {{ model.genitive_short }}" />
    {% else %}
    <input type="submit" title="Сохранить {{ model.accusative_short }} в систему" value="{% if add %}Добавить{% else %}Сохранить{% endif %} {{ model.accusative_short }}" />
    {% endif %}
    {% if wizard.steps.prev %}
        <button id="go_prev_step_button" class="hide" name="wizard_goto_step" value="{{ wizard.steps.prev }}"></button>
        <input type="button" id="go_prev_step" title="Вернуться на предыдущий шаг и исправить данные" value="Вернуться на предыдущий шаг" />
    {% endif %}
</form>
{% endblock %}
