{% extends "base.html" %}
{% load  paging_extras compress %}

{% block title %}Результаты поиска{% endblock title %}

{% block extracss %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/search_results.css" type="text/css" media="all" charset="utf-8" />
{% endcompress %}
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block content %}
<form id="id_journals_similar_search" class= "search_form"  action="{% url journals_aliases_test %}" method="post">{% csrf_token %}
    <input type="text" value="{{ search_string }}" name="journal_name" class="search_box" >
    <input type="submit"  value="Поиск" title="Поиск по базе журналовв" />
</form>
<input type="hidden" id="id_search_string" value="{{ search_string }}">

{% if journal_names_similar or search_string %}
    <div>
        {% if search_string %}
             {{ search_string }}
             <br>
             {% for similar_journal in search_string_similar %}
                <a href="{{ similar_journal.get_absolute_url }}" title="Перейти на страницу журнала"><strong>{{ similar_journal}} </strong></a>
                <br>
            {% endfor %}
            <hr />
        {% endif %}
        {% for journal, similar_journals in journal_names_similar %}
                <a href="{{ journal.get_absolute_url }}" title="Перейти на страницу журнала">{{ journal}}</a>
                <br>
                 {% for similar_journal in similar_journals %}
                    <a href="{{ similar_journal.get_absolute_url }}" title="Перейти на страницу журнала"><strong>{{ similar_journal}} </strong></a>
                 <br>
                {% endfor %}
        {% if not forloop.last %}<hr /> {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
