{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#security").addClass("current");
</script>


    <h2>Управление ролями и правами доступа</h2>

    На данной странице Вы можете назначить ответственного в своем
    подразделении или выдать права на выполнение отдельных операций в
    системе другим пользователям. Желательно не выдавать пользователям
    "слишком много" прав. Если кому-то необходимо просматривать
    годовой отчет, то ему нужно выдать такую правилегию, но не делать
    ответственным. Лишние привилегии повышают вероятность случайного
    нежелательного изменения данных в системе.

    <hr class="space"/>
    <ul type="disc">
        <li>
            <h4>
                <a href="{% if request.user.representatives.organization_level %}
                            /depadmin/security/permissions/
                         {% else %}
                            /unified_permissions/role_permission/department/add/
                         {% endif %}">
                Добавить разрешение
                </a>
            </h4>
        </li>

        <li>
            <h4>
                <a href="{% if request.user.representatives.organization_level %}
                            /depadmin/security/representatives/
                         {% else %}
                            /organizations/representative/department/add/
                         {% endif %}">
                Назначить ответственного
                </a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="/unified_permissions/user/department/list/">
                Список выданных разрешений
                </a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="/unified_permissions/history/" target="_blank">История изменений</a>
            </h4>
        </li>
    </ul>


{% endblock %}
