{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#security").addClass("current");
</script>


    <h2>Управление ролями и правами доступа</h2>

    На данной странице Вы можете выбрать уровень назначаемого ответственного

    <hr class="space"/>
    <ul type="disc">
        {% if request.user.representatives.organization_level %}
            <li>
                <h4>
                    <a href="/organizations/representative/organization/add/">
                    Назначить ответственного по организации
                    </a>
                </h4>
            </li>
        {% endif %}
        <li>
            <h4>
                <a href="/organizations/representative/department/add/">
                Назначить ответственного по подразделению
                </a>
            </h4>
    </ul>

{% endblock %}
