{% extends "base.html" %}
{% load myforms  %}

{% block title %}Экспорт информации по организациям{% endblock %}

{% block extrajs %}
{% endblock %}

{% block extracss %}
{% endblock extracss %}

{% block content %}
<b>
  Выберите тип информации, которую вы хотите экспортировать, и подразделение.
</b>
    <form name="export_form" id="id_export_form" method="post" action="{% url export_activities %}" > {% csrf_token %}
        {% if export_form %}
            {% show_form  export_form %}
        {% else %}
            Для экспорта информации необходимо необходимо найти себя в базе сотрудников или создать нового.
        {% endif %}
        <input type="submit" id="id_export_submit" name="export"   title="Экспортировать данные" value="Экспортировать">
    </form>
{% endblock %}

