{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block content %}


Вам доступно выполнение следующих операций:

<ul>
  <li>Подготовка годового отчета
    <ul>
      <li>
        <a href="/scireport/" target="_blank">Годовой отчет подразделения (открывается в новом окне)</a>
      </li>
      <li>
        <a href="{% url depadmin_reports_confirm_projects %}">Подтверждение НИР</a>
      </li>

      <li><a href="{% url depadmin_reports_confirm_personal %}">Подтверждение персональных отчетов</a></li>

      <li><a href="{% url achievements_list_all %}">Подтверждение достижений</a></li>
    </ul>
  </li>

  <hr class="space"/>
  <li>Работа со списком пользователей
    <ul>
      <li><a href="{% url depadmin_users_registration %}">Подтверждение регистрации</a></li>
      <li><a href="{% url depadmin_users_posts %}">Изменение должностей</a></li>
    </ul>
  </li>
  
</ul>
{% endblock %}
