{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}


{% block content %}

<p>
 На данной странице будут размещаться ссылки на различные страницы,
которые доступны Вам, как ответственному по подразделению. Основные
группы функций включают следующие. (Краткое описание также
показывается при нажатии на название раздела в верхней строке меню).
</p>

<ul>
  <li><b>Годовой отчёт:</b> информация о научных отчётах подразделения (ссылки
  на отчётные формы, утверждение персональных отчётов
  сотрудников или подразделений), утверждение достижений и т.п. </li>

  <li><b>Управление доступом:</b> различные операции, связанные с
  выдачей другим пользователям прав на выполнение тех или иных функций
  в системе. Например, Вы можете делегировать часть своих полномочий
  другим сотрудникам. </li>

  <li><b>Пользователи:</b> подтверждение регистрации пользователей
  (подтверждение того, что данный сотрудник работает в Вашем
  подразделении), указание даты увольнения сотрудника и другие
  действия.</li>

  <li><b>Исправление данных:</b> различные действия, связанные с
  изменением ошибочно введенных в систему данных.</li>

  <li><b>Редактирование справочников:</b> изменение структуры
  подразделения (изменение названий кафедр, добавление новых кафедр и
  т.п.) и других общих справочников.</li>

  <li><b></b></li>
</ul>
<p>
Информация о новых функциях и внесенных исправлениях будет
периодически распространяться через список рассылки для ответственных.
</p>
{% endblock %}
