<style language="text/css">
#content-left-menu li { margin: 0px 0px 10px 0px; }
</style>

 <script>
$(function() {
  $( "#left-menu-items" ).accordion({
    header: "h3",
    collapsible: true,
    active: false
  });
});
</script>

<!--
<ul>
  <li>Управление доступом</li>
  <li><a href="usersreg/">Подтверждение регистрации</a></li>
  <li>Структура подразделения</li>
  <li>Исправление данных</li>
  <li>Отчеты</li>
  <li>Настройки</li>
</ul>
-->


<div id="left-menu-items">
  <h3>Управление доступом</h3><div></div>

  <h3>Подтверждение регистрации</h3>
  <div>
    <p> <a href="/depadmin/usersreg/">Подтверждение регистрации</a></p>
    <p> <a href="/depadmin/usersreg/">Подтверждение регистрации</a></p>
    <p> <a href="/depadmin/usersreg/">Подтверждение регистрации</a></p>
    <p> <a href="/depadmin/usersreg/">Подтверждение регистрации</a></p>
  </div>

  <h3>Структура подразделения</h3>
  <div>
  </div>

  <h3>Журналы</h3>
  <div>
    <p>
      <a href="/depadmin/usersreg/">Подтверждение регистрации</a>
    </p>
  </div>
  
  <h3>Исправление данных</h3><div></div>
  <h3>Отчеты</h3><div></div>
  <h3>Настройки</h3><div></div>
</div>
