{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}


{% block inlinejs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}sqlreports/js/jquery.jeditable.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}sqlreports/js/jquery-ui.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}sqlreports/js/jquery.validate.js"></script>

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}base/js/xhr_cookie.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
     $('.editable').editable('{% url depadmin_user_post_save_jseditable %}', {
          type   : 'select',
          loadurl : '{% url xhr_editable_list_of_positions %}',
          id   : 'elementid',
          name : 'newvalue'
     });
 });
</script>

{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#manage_users").addClass("current");
</script>


<p>
Ниже приведен список сотрудников, которые в настоящее время работают в
Вашем подразделении (не более {{nrows_limit}} записей). Для уточнения
списка используйте строку поиска по фамилии сотрудника. Вы можете
изменить данные о их месте работы (в том числе, указать, что сотрудник
больше не работает). Для этого нажмите на ссылку <b>'изменить'</b> и
выберите соотвествующее действие на следующей странице.
</p>

<p>
Для изменения должности по указанному месту работы (<b>если нужно
изменить только должность</b>, а даты указаны правильно), пожалуйста, нажмите на название должности
или строчку "должность не указана". Появится список кратких названий
должностей.
</p>

 <hr class="space"/>

<form action="." method="POST">{% csrf_token %}
  <input type="text" value="{% if search_term %}{{search_term}}{% endif %}"
         name="search_term"/>
  <input type="submit" value="Поиск по фамилии"/>
</form>

<table>
<th>
  <tr>
    <td>ФИО</td>
    <td>Место работы</td>
    <td>Даты работы</td>
    <td>Должность</td>
  </tr>
</th>
{% for e in employees %}
<tr>
  <td> <a href="{% url workers_worker_detail e.worker.id %}" target="worker">{{e.worker}}</a></td>
  <td>{{e.department}}</td>
  <td>
    {{e.startdate}}-{% if e.enddate %}{{e.enddate}}{% else %} по наст.вр.{%endif%}
    <br/>
    {% if e.parttime != 0 %}<b>По совместительству</b>{% endif %}
  </td>
  <td>
    <span id="{{e.id}}" class="editable">
    {%if e.position%} {{e.position}} {% else %} <font color="red">должность не указана</font> {% endif %}
    </span>
  </td>
  <td>
    <a href="{% url depadmin_users_posts_edit e.id %}"><b>Изменить</b></a><br/>
    <a href="{% url depadmin_users_posts_cancel e.id %}"><b>Уволить</b></a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="4" align="center">
    Необработанных заявок нет
  </td>
</tr>
{% endfor %}
</table>

{% endblock %}
