{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#manage_users").addClass("current");
</script>



<h2>Редактирование должности сотрудника {{employment.worker}}</h2>
<hr class="space"/>

<p>
Вы можете <b>внести исправления</b> или указать, что у
сотрудника <b>изменилась</b> должность (или сотрудник переведен на
полную ставку). В случае нажатия на кнопку "изменить должность"
введенная дата начала работы (для новой должности) будет
использоваться как дата окончания работы на предыдущей
должности. Перевод сотрудника возможен только внутри подразделения
(нельзя поменять кафедру или факультет).
</p>

<p>
Если сотрудник больше не работает в Вашем подразделении, то ему нужно
указать дату окончания работы.
</p>

<p>
Кнопка <b>удалить</b> полностью удаляет из системы информацию о том,
что этот человек работал в этом подразделении. Это имеет смысл делать
для явно ошибочных записей (дубликат должности, сотрудник никогда не
работал в Вашем подразделении).
</p>

Подразделение: <b>{{employment.department}}</b>

<form action="." method="POST">{% csrf_token %}
  <fieldset>
    <legend>Сведения о месте работы</legend>
    {% show_form form %}
  </fieldset>
  <input type="submit" name="fix" value="Внести исправления">
  <span style="float: right;">
    <input type="submit" name="change_position" value="Изменить должность">
  </span>
  <hr class="space"/><hr/><hr class="space"/>
  <input type="submit" onClick="return confirm('Вы уверены, что хотите удалить эту запись?')" name="delete_position" value="Удалить должность">
</form>

{% endblock %}
