{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Меню администратора{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}


{% block content %}

<script>
  $(".top-menu").find("#manage_users").addClass("current");
</script>


Следующие пользователи указали в качестве своего места работы или
учебы Ваше подразделение.  Пожалуйста, подтвердите или отмените эти
запросы. Если место работы указано с ошибками (например, ошибочная
должность), то Вы можете подтвердить эту запись, а потом
откорректировать ее. <b>Внимание:</b> если Вы нажмете на "крестик", то
заявка на место работы будет удалена.

 <hr class="space"/>

{% comment %}
<div align="right">
  <form action="." method="POST">{%csrf_token%}
    <input type="hidden" name="include_declined" value="yes"/>
    <a onClick="$(this).closest('form').submit()">Показать отклоненные заявки</a>
  </form>
</div>
{% endcomment %}

<table>
<th>
  <tr>
    <td>ФИО, логин, e-mail</td>
    <td>Место работы</td>
    <td>Даты работы</td>
    <td>Должность</td>
  </tr>
</th>
{% for e in employments_to_confirm %}
<tr>
  <td> <b>{{e.worker}}</b> ({{e.worker.username}})<br/> <a href="mailto:{{e.worker.user.email}}">{{e.worker.user.email}}</a></td>
  <td>{{e.department}}</td>
  <td>
    {{e.startdate}}-{% if e.enddate %}{{e.enddate}}{% else %} по наст.вр.{%endif%} 
  </td>
  <td>
    {%if e.position%} {{e.position}} {% else %} должность не указана {% endif %}
  </td>
  <td>
    <a href="{{e.id}}/accept/"><img src="{{STATIC_URL}}base/img/accept-16.png" title="Подтвердить"/></a>
  </td>
  <td>
    <a href="{{e.id}}/decline/" onClick="return confirm('Вы уверены, что хотите отклонить заявку?')"><img src="{{STATIC_URL}}base/img/decline-16.png" title="Отклонить"/></a>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="4" align="center">
    Необработанных заявок нет
  </td>
</tr>
{% endfor %}
</table>


{% endblock %}
