
a.sign:hover .icon {
  background-image: url(/static/equipment/img/check_00ff00_24.png);
}

a.sign .icon {
  background-image: url(/static/equipment/img/check_999999_24.png);
}

a.unlink .icon {
  background-image: url(/static/equipment/img/times_ff0000_24.png)
}

.signed a.sign:hover .icon {
  background-image: url(/static/equipment/img/check_999999_24.png);
}

.signed a.sign .icon {
  background-image: url(/static/equipment/img/check_00ff00_24.png);
}

.signed a.unlink .icon {
  background-image: url(/static/equipment/img/times_999999_24.png);
}

a div.icon {
  width: 24px;
  height: 24px;
}
