/* class that is used to display short information about an activity or employment in several lines */
h4.activity_label {
    padding: 2px;
}
.activity_label {
    background: #e5ecf9;
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: bold;
}
ul.activity {
    margin-bottom: 20px;
}
ul.activity li:first-child {
    font-size: 1.2em;
}

img.article-icon {
    display: block;
}
