.even {
    background: #eee;
}
.odd {
    background: #fff;
}
.force-new-record {
    color: #500;
    font-weight: bold;
}
UL.worker-list {
    list-style-type: none;
}
UL.worker-list li {
    position: relative;
}
.worker-list .selected{
	font-size: 120%;
    font-weight: bold;
}
.worker-list .worker-found{
    color: #040;
}
.worker-list TD.initial-name{
    font-size: 120%;
}
.worker-list A.worker-unknown,
.worker-list A.worker-new {
    color: black;
}
.worker-list A.worker-unknown:hover,
.worker-list A.worker-new:hover,
.worker-list A.worker-found:hover {
	background: transparent;
    border-style: solid;
}
.worker-list .one-way-new A.selected,
.worker-list .multi-way-new A.selected{
	border: none !important;
	cursor: default !important;
}

ul.object_detail ul.radio-ul {
    list-style: none;
    margin: 0 0 0 20px;
}
ul.object_detail ul.radio-ul li * {
    font-size: 0.8em;
}
#add_publication_form label {
    float: none;
    width: auto;
}
#add_publication_form input[type="radio"] {
    width: 20px;
}

.not-found{
	color: #900;
	font-weight: bold;
    font-size: 0.8em;
}
input[type=submit].gostep2{
	background: transparent;
}

ul.object_detail table.worker-list td.initial-name {
    font-size: 0.8em;
}

ul.object_detail table.worker-list th, ul.object_detail table.worker-list td {
    font-size: 0.65em;
}

ul.object_detail table.worker-list {
    margin-bottom: 10px;
}

ul.object_detail span.label {
    font-size: 0.8em;
    font-weight: bold;
}

.ui-dialog .works {
    padding: 20px;
}

.vak-icon {
    display: inline-block;
}

#id_add_work_navigation ul.hmenu > li {
    text-align: center;
    width: 11.5%;
    margin: 2px;
    line-height: 1.5em;
}