/* base tags */
body {
    padding: 0 0 10px 0;
}
h1 {
    margin-top: 20px;
    margin-bottom: 5px;
}
h1 img {
    float: left;
    padding-right: 20px;
}
h2 {
    margin-bottom: 0.5em;
}
h3 {
    margin-bottom: 0.75em;
}
h4 {
    margin-bottom: 0.75em;
}
input {
    background: #fafafa;
    border: 1px solid #ddd;
    font: bold 0.95em arial, sans-serif;
     -khtml-border-radius: 0.4em;
     -moz-border-radius: 0.4em;
    padding: 0.15em;
    width: 300px;
}
input:hover, input:focus {
    background: #f6f6f6;
    border-color: #c5c5c5;
}
input[type=checkbox] {
    width: 15px;
}
input[type=submit] {
    background: #e5ecf9;
    height: 23px;
    width: 300px;
}
input[type=submit]:hover, input[type=submit]:focus {
    background: #e5ecf9;
    border-color: #264409;
    cursor: hand;
    cursor: pointer !important;
}
ul {
    list-style: none;
}
ul.bulleted {
    list-style: disc;
}
li.not_bulleted {
    list-style: none;
}
ul.br {
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover {
    cursor: hand;
    cursor: pointer !important;
}
hr+ul, hr+ol, hr+h4, hr+form {
    /* these elements do not have top margin, that's why they should have top maring immediately after hr */
    margin-top: 0.75em;
}
hr {
    margin: 0;
}
hr.margin, hr.space {
    margin: 0.75em 0 0.75em 0;
}
/*----------------------*/

/* common classes */
a.inner {
    border-bottom: 1px dashed blue;
    color: blue;
    margin: 0 5px 0 5px;
    text-decoration: none;
}
a.inner:hover {
    background: #b0b0ff;
    cursor: pointer;
    text-decoration: none !important;
}
.edit {
    margin-left: 15px;
    font-size: 0.7em;
}
input.edit {
    font-weight: normal;
}
.disabled {
    color: grey;
}
.muted {
    color: grey;
}
.emph {
    font-weight:bold;
}
a.active {
    font-weight: bold;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.float {
    float: left;
    margin: 0 20px 20px 0;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.inline {
    display: inline;
}
.margin-top {
    margin-top: 20px;
}
.margin-left {
    margin-left: 20px;
}
.padding-top {
    padding-top: 20px;
}
.ui-autocomplete-loading, .ui-autocomplete-loading-padded {
    background: url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
.ui-autocomplete-loading-padded {
    padding-right: 20px;
}
.ui-autocomplete {
    text-align: left;
}
img.border {
    border: 1px solid lightgrey;
}
.loading-ui-anim-indicator-on-the-left {
    background: url('../img/ui-anim_basic_16x16.gif') left center no-repeat;
    margin-left: 1px;
    padding-left: 20px;
}
/*----------------------*/

/* used in base.html */
#header li {
    display: inline;
    margin: 10px;
}
#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#header h3 {
    margin-bottom: 0em; /* 0.5em; */
    padding-left: 0px; /* 121px; */
}
#footer {
    margin-top:  10px;
}
.js_off .hide_jsoff ,
.js_on .hide_json {
    display: none;
}
/* messages styles */
.messages {
    margin-left: 18px;
}
.messages .message {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    display: block;
}
.messages .message a {
    text-decoration: underline;
}
.messages .message .ui-icon {
    float: left;
    margin-right: .3em;
}
.messages .debug {
    background: #e5e5e5;
    color: black;
    border-color: #ccc;
}
.messages .debug .ui-icon {
    background-image: url(redmond/images/ui-icons_454545_256x240.png);
    background-position: -176px -112px;
}
.messages .info {
    background: #E5ECF9;
    border-color: lightblue;
}
.messages .info .ui-icon {
    background-image: url(redmond/images/ui-icons_217bc0_256x240.png);
    background-position: -16px -144px;
}
.messages .success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}
.messages .success .ui-icon {
    background-image: url(redmond/images/ui-icons_4eb305_256x240.png);
    background-position: -64px -144px;
    background-position: -208px -192px;
}
.messages .error, .messages .warning {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}
.messages .error .ui-icon, .messages .warning .ui-icon {
    background-image: url(redmond/images/ui-icons_cd0a0a_256x240.png);
    background-position: 0 -144px;
}
a.message_hide {
    margin-left: 20px;
}

/* icons*/
.check {
    background-image: url(redmond/images/ui-icons_4eb305_256x240.png);
    background-position: -64px -144px;

}

 .close {
    background-image: url(redmond/images/ui-icons_cd0a0a_256x240.png);
    background-position: -80px -128px;
}

/*----------------------*/
/*----------------------*/
