/* class that is used to display small labels next ot entity name */
span.detail_label {
    font-size: 0.6em;
    background: #e5ecf9;
    border: 1px lightgrey solid;
    padding: 2px 7px 2px 7px;
    color: #706e69;
    margin-left: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/* class that is used to display properties of entities */
ul.object_detail {
    font-size: 1.5em;
    margin: 0;
    margin-left: 30px;
}
ul.object_detail>li {
    margin: 5px 0 5px 0;
}
ul.object_detail>li>span:first-child {
    font-size: 0.8em;
    font-weight: bold;
}
ul.object_detail ul {
    margin-top: 20px;
}

ul.object_detail span.normal {
    font-size: 0.8em;
}

.ajax_error {
    margin-left: 8px;
    color: #8A1F11;
}

table#attachments {
    padding-left: 12px;
}

table#attachments th {
    padding: 0;
}

table#attachments th.date {
    padding-right: 10px;
}

table#attachments td {
    padding: 4px 10px 4px 0;
}

table#attachments td.number {
    width: 20px;
}

table#attachments .filename {
    width: 1px;
    padding-right: 15px;
    padding-left: 5px;
}

table#attachments td.size {
    width: 60px;
    padding-right: 15px;
}

table#attachments td.delete_attachment {
    width: 30px;
}

table#attachments td.loading {
    width: 30px;
}

table#attachments td.ajax_error {
    width: 50px;
    padding-left: 5px;
}

a.confirm {
    padding-top: 4px;
}

#attachment_container .form_in_formset hr {
    margin: 10px 0 10px 20px;
    width: 50%;
}

#attachment_container input[type="button"] {
    margin-bottom: 5px;
}

#attachment_form {
    padding-top: 0;
}
