/* For use with dialogs.js */

div.dialog_wrapper {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 100;
}

div.dialog {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

div.dialog div.button_box {
  margin-top: 30px;
  margin-bottom: 5px;
}

div.dialog button {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 80px;
}
