/* base tags */
form {
    background: #fff;
    padding: 1em;
}
fieldset {
    border: 1px solid #ddd;
    padding: 0 0.5em 0.5em;
}
fieldset div, form div.field {
    clear: both;
    margin: 0.3em 0;
}
legend {
    color: #0b77b7;
    font-size: 1.2em;
}
legend span {
    text-align: right;
    width: 10em;
}
label {
    float: left;
    font-weight: normal;
    margin-right: 1em;
    text-align: right;
    width: 15em;
}
label.wide {
    width: auto;
    padding-left: 6px;
}

label.wide_fixed {
    width: 200px;
    padding-left: 6px;
}
input.default {
    color: #bbb;
}
input[type=button] {
    height: 23px;
    width: 300px;
}
input[type=button]:hover, input[type=button]:focus {
    border-color: #264409;
    cursor: hand;
    cursor: pointer !important;
}
div.narrow input, input.narrow {
    width: 80px;
}
div.wide input, input.wide, textarea.wide {
    /* the order is important.
     * wide class should go after the 'narrow' class,
     * so that if they occur together, 'wide' overrides 'narrow'.
     */
    width: 700px;
}
#main_form textarea {
    width: 700px;
    height: 100px;
}
span.help_text {
    color: grey;
    margin-left: 8em;
}

textarea.low {
    height: 45px;
}

/*-------------*/

/* errors */
.error-container {
    background: none repeat scroll 0 0 #edd;
    border: 2px solid #fbe3e4;
    padding: 0.8em;
}
.error-container input, input.error {
    padding: 0.2em;
    margin-bottom: 0;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
}
.error-container input {
    height: 2em;
}
div.error {
    /* from jquery-ui, class ui-corner-all */
    /* hack for make it work with a single class, otherwise breaks jquery.validate plugin */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.ui-icon-alert {
    background-image: url(redmond/images/ui-icons_cd0a0a_256x240.png);
    float: left;
    margin-right: .3em;
}
.errorlist, .errorlist li {
    display: inline;
    margin: 0;
}
/*-------------*/

/* radio buttons */
.radio {
    position: relative;
}
.radio div {
    clear: none;
    float: left;
    white-space: nowrap;
}
.radio fieldset {
    border: none;
    padding: 1px 0 0 11em;
    width: auto;
}
.radio label, .radio input {
    background: none;
    border: none;
    display: inline;
    float: none;
    vertical-align: middle;
    width: auto;
}
.radio input.hide {
    display: none; /* otherwise specific rules override general .hide */
}
.radio legend span {
    display: block;
    left: 0;
    position: absolute;
    top: 0.3em;
    width: 10em;
}
.radio legend {
    color: #000;
    font-size: 1em;
}
/*-------------*/

#previous_forms .help_text {
    display: none;
}

#previous_forms br {
    display: none;
}
