/* class that is used to display big lists with border-separated items and h3s */
ul.object_list {
    margin: 0;
}
ul.object_list h3 {
    font-size: 1.5em;
}
ul.object_list>li {
    border-bottom: 1px solid lightgrey;
    margin: 0;
    padding: 10px;
}
ul.object_list>li:last-child {
    border-bottom: 0;
}
ul.avatar>li {
    height: 80px; /* to make room for avatar */
}
ul.avatar>li h3 {
    padding-top: 15px;
}
div.worker_short {
    padding: 0.75em 0 0.75em 0;
    border-bottom: 1px solid lightgrey;
}
div.worker_short:last-child {
    padding: 0.75em 0 0 0;
    border-bottom: 0;
}
ul.startpage_menu>li {
    padding: 3px;
    font-size: 1.2em;
}
ul.home_menu {
    padding: 0;
    margin: 0;
}