.search_labels {
    padding: 2px;
    background: #e5ecf9;
    font-size: 1.3em;
    font-variant: small-caps;
    font-weight: bold;
}
.search_labels a, .search_labels span {
    padding-right: 8px;
    padding-left: 6px;
}

.search_form {
    padding-bottom: 10px;
}
h2 {
    margin-bottom: 2px
}
input.search_box {
    width: 450px;
    height: 18px;
}

form.search_form>input[type=submit] {
    height: 26px;
    width: 60px;
}
.alias_found {
    font-style: italic;
    margin-left: 79px;
}