.selector {
    padding-top: 6px;
}
.selector .selector-chosen h2 {
    background: url("../../admin/img/nav-bg.gif") repeat-x scroll left bottom white;
}

.selector .selector-available h2 {
    color: #111111;
}

.selector h2{
    font-size: 11px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 0px;
}


.selector-filter label {
    margin-right: 0px;
}

.selector-filter input {
    vertical-align: middle;
}

input, textarea, select, .form-row p {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
}
img.help-tooltip {
    cursor: help;
}

/*Select2 css*/
.select2_option_title {
    font-weight: bold;
}
.select2_option_description {
    color: gray;
    font-size: 10px;
}
.select2-highlighted .select2_option_description  {
    color: #ffffff;
}

.select2_add_new {
    font-weight: normal;
}
