{% extends "base.html" %}
{% load paging_extras %}

{% block title %}{{ department.name }} | Работы, добавленные за последние 2 недели{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/activities.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/pagination.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}

<h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

<h2>{{ department.name }}<span class="detail_label">подразделение</span></h2>

<h3>Работы, добавленные за последние 2 недели <a class="edit" href="pdf/">версия для печати</a></h3>

{{ paging }}

<table>
{% with activities=paginator.objects %}
{% include "common/activities_last_added.html" %}
{% endwith %}
</table>

{{ paging }}

<a href="{{ department.get_absolute_url }}" title="Перейти на страницу подразделения">Перейти на страницу подразделения</a></h3>

{% endblock %}
