{% load pytils_numeral organizations_permissions role_permissions %}

{% with workers_count=department.workers_count %}
{% if workers_count %}
    <a href="{% url department_worker_list department.id %}" title="Показать список сотрудников подразделения">{{ workers_count|get_plural:"зарегистрированный сотрудник, зарегистрированных сотрудника, зарегистрированных сотрудников" }}</a>
{% endif %}
{% ifhaspermission user "view_stats" department %}
    {% if stats %}
        <br>{{ department.activities_summary }}
    {% else %}
        [<a href="{% url department_detail_stats department.id %}" title="Перейти на страницу статистики подразделения">статистика</a>]
    {% endif %}
{% endifhaspermission %}
{% endwith %}
