{% extends "base.html" %}
{% load representatives role_permissions %}

{% block title %}{{ department.name }} - подразделение{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}organizations/js/department_detail.js"></script>
{% endblock %}

{% block content %}

<h3>{% include "organizations/department_ancestors.html" with no_leaf=1 %}</h3>

<h2>{{ department.name }}<span class="detail_label">подразделение</span></h2>

<h4 class="margin-left">
    <a href="{% url department_worker_list department.id %}" title="Показать список сотрудников подразделения">список сотрудников</a>
    <br/><a href="{% url department_activities_2weeks department.id %}" title="Показать список работ, добавленных сотрудниками подразделения за последние две недели">работы, добавленные за последние 2 недели</a>
    <br/><a href="{% url department_detail_stats department.id %}" title="Перейти на страницу статистики подразделения">статистика</a>
    {% ifhaspermission user "view_stats" department %}
        <br/><a href="{% url organizations_department_reports_index department.id %}" title="Перейти на страницу отчетов подразделения">отчеты</a>
    {% endifhaspermission %}
    {% ifhaspermission user "department_parameters_view" department %}
        <br/><a href="{% url department_parameters department.id %}" title="Перейти на страницу с параметрами подразделения">параметры</a>
    {% endifhaspermission %}
    {% if department.events.exists and user.is_superuser %}
        <br/><a href="{% url events_list_department department.id %}" title="Перейти на страницу со списком мероприятий, организованных в подразделении">мероприятия, организованные в подразделении</a>
    {% endif %}
    {% if user.username %}
       <br/><a href="{% url pmodel.formulas_for_department department.id %}" title="">опубликованные формулы расчёта персонального рейтинга </a>
    {% endif %}
</h4>

{% with councils=department.dissertation_councils.all %}
{% if councils %}
    <h3 class="margin-top">Диссертационные советы</h3>
    <hr />
    <ul>
        {% for council in councils %}
            <li><a href="{{ council.get_absolute_url }}">{{ council.number }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% with descendants=department.descendants %}
{% if descendants|length > 1 %}
    <h3 class="margin-top">Дочерние подразделения</h3>
    <hr />
    <ul class="object_list">
        {% for descendant, level in descendants %}
            {% if descendant != department %}
                <li class="level-{{ level }}">
                    <h3><a href="{{ descendant.get_absolute_url }}" title="Перейти на страницу подразделения">{{ descendant.name }}</a></h3>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% endblock %}
