{% extends "base.html" %}
{% load i18n myforms %}

{% block title %}Параметры подразделения {{ department.name }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block inlinecss %}
<style>
label {
   width: 40em;
}
</style>
{% endblock %}

{% block content %}

<h2>Параметры подразделения</h2>
<h2>{{ department.name }}</h2>
<h2>{{ year }} год</h2>

<fieldset>
  <legend>Параметры подразделения</legend>
  <form action="." method="post">{% csrf_token %}
	  {% show_form form %}
	  <br/>
	  <input type="submit" value="Сохранить параметры">
  </form>
</fieldset>

{% endblock %}
