{% extends "base.html" %}
{% load i18n myforms role_permissions %}

{% block title %}Параметры подразделения {{ department.name }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/datatables.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" language="javascript" src="{{ STATIC_URL}}base/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	   $('#parameters').dataTable({
	        "bFilter": false,
	        "bSort": false,
	        "bPaginate":false,
	        "oLanguage": {
	            "sZeroRecords": " ",
	            "sInfo": "",
	            "sInfoEmpty": ""
	        }
	   });
	});
</script>
{% endblock %}

{% block content %}

<h2>Параметры подразделения</h2>
<h2>{{ department.name }}</h2>

<table id="parameters" class="datatable">
	<thead>
		<tr>
			<th>Параметр / год</th>
			{% for year in years %}
			<th>{{ year }}</th>
			{% endfor %}
		</tr>
	</thead>
	{% ifhaspermission user "department_parameters_edit" department %}
	<tfoot>
		<tr>
			<td>&nbsp;</td>
			{% for year in years %}
			<td>
				<a href="{% url department_parameters_edit department.id year %}">редактировать</a>
			</td>
			{% endfor %}
		</tr>
	</tfoot>
	{% endifhaspermission %}
	<tbody>
		{% for row in parameters %}
		<tr>
			{% for cell in row %}
			<td>{{ cell }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}