{% load pytils_numeral organizations_permissions role_permissions %}

<ul>
<li>
{% with workers_count=organization.workers_count %}
{% if workers_count %}
    <a href="{% url organization_worker_list organization.id %}" title="Показать список сотрудников организации">{{ workers_count|get_plural:"зарегистрированный сотрудник, зарегистрированных сотрудника, зарегистрированных сотрудников" }}</a>
{% endif %}
{% ifhaspermission user "view_stats" organization %}
    {% if stats %}
        <br>{{ organization.activities_summary }}
    {% else %}
        [<a href="{% url organization_detail_stats organization.id %}" title="Перейти на страницу статистики организации">статистика</a>]
    {% endif %}
{% endifhaspermission %}
{% endwith %}
</li>
</ul>
