{% extends "base.html" %}

{% block title %}{{ organization.name }} - организация{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>{{ organization.name }}<span class="detail_label">организация</span></h2>

<h4 class="margin-left">{% include "organizations/organization_short_info.html" %}</h4>

{% if organization.dissertation_councils.exists %}
    <h3><a href="{% url dissertation_councils_list_by_organization organization.id %}" title="Перейти на страницу со списком диссертационных советов">Список диссертационных советов</a></h3>
{% endif %}

{% if organization.departments.exists %}
    <h3 class="margin-top">Подразделения</h3>
    <hr />
    <ul class="object_list">
        {% for department in organization.root_departments %}
        <li>
            <h3><a href="{{ department.get_absolute_url }}" title="Перейти на страницу подразделения">{{ department.name }}</a></h3>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
