{% extends "base.html" %}

{% block title %}Список организаций{% endblock title %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/list.css" type="text/css" media="all" charset="utf-8" />
{% endblock %}

{% block content %}
<h2>Список организаций</h2>

{% include "organizations/organization_list_included.html" %}

<a href="{% url workers_worker_list_unemployed %}">Список сотрудников, не принадлежащих ни к одной организации</a>

{% endblock %}

