<ul class="object_list">
    {% for organization in organization_list %}
        <li>
            <h3><a href="{{ organization.get_absolute_url }}" title="Перейти на страницу организации">{{ organization.name }}</a></h3>
            {% include "organizations/organization_short_info.html" %}
        </li>
    {% empty %}
        <li>В системе не зарегистрировано ни одной организации.</li>
    {% endfor %}
</ul>
