{% extends "base.html" %}
{% load i18n myforms %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/form.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/add_work.css" type="text/css" media="all" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/detail.css" type="text/css" media="all" charset="utf-8" />

    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/dynatree/ui.dynatree.css" type="text/css" media="all"
          charset="utf-8" id="skinSheet"/>

    <link rel="stylesheet" href="{{ STATIC_URL }}organizations/css/dynatree.css" type="text/css" media="all" charset="utf-8"/>
{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/autocomplete.js"></script>

    <script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery-ui.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree/jquery.dynatree.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}base/js/dynatree_widgets.js" type="text/javascript"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}base/js/add_edit_object.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}myforms/js/formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/formset_add_form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}workers/js/jquery.ui.datepicker-ru.js"></script>
{% endblock %}

{% block title %}
    {% if edit_mode %}
        Отредактировать данные ответственного сотрудника
    {% else %}
        Добавить ответственного сотрудника
    {% endif %}
{% endblock %}

{% block content %}
    <h5>
    {% if edit_mode %}
        {% if self_editing %}
            На данной странице Вы можете отредактировать данные себя как ответственного сотрудника.
        {% else %}
            {% if org_level %}
                На данной странице Вы можете отредактировать параметры некоторого ответственного сотрудника из Вашей
                организации.
            {% else %}
                На данной странице Вы можете отредактировать параметры некоторого ответственного сотрудника из Вашего или
                "дочернего" для Вашего подразделения. Напоминаем, что Вы можете назначить пользователя ответственным по
                некоторому подразделению, только если Вы являетесь ответственным по этому подразделению или если это подразделение
                является "дочерним" для того, по которому Вы являетесь ответственным.
            {% endif %}
        {% endif %}
    {% else %}
        {% if org_level %}
            На данной странице Вы можете назначить пользователя ответственным по Вашей
            организации.
        {% else %}
            На данной странице Вы можете назначить пользователя ответственным по некоторому подразделению: либо по которому
            Вы являетесь ответственным, либо по тому, которое является "дочерним" для подазделения, по которому Вы являетесь
            ответственным.
        {% endif %}
        <br/>
        Для осуществления поиска пользователя, начните его вводить его фамилию
    {% endif %}
    </h5>
    <form action="/organizations/representative/{% if org_level %}organization{% else %}department{% endif %}/{% if edit_mode %}{{ representative_id }}/edit{% else %}add{% endif %}/?redirect_url={% if redirect_url %}{{ redirect_url }}{% else %}/unified_permissions/user/department/list/{% endif %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                Информация об ответственном сотруднике
            </legend>
            <div class="form">
                {% if form.non_field_errors %}
                    <div class="error">
                        <span class="ui-icon ui-icon-alert" ></span>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% for hidden_field in form.hidden_fields %}
                    <div class="field">
                        {{ hidden_field }}
                    </div>
                {% endfor %}
                {% if self_editing %}
                <div class="field">
                    <label>Пользователь</label>
                    <h4>
                        {{ form.instance.user.get_profile.fullname }}
                    </h4>
                </div>
                <div class="field">
                    {% if org_level %}
                        <label>Организация</label>
                        <h4>
                            {{ form.instance.organization.name }}
                        </h4>
                    {% else %}
                        <label>Подразделение</label>
                        <h4>
                            {{ form.instance.department.name }}
                        </h4>
                    {% endif %}
                </div>
                {% endif %}
                {% for field in form.visible_fields %}
                    <div class="field{% if field.errors %} error-container{% endif %}">
                        {% if field.errors %}
                            <div class="error">
                                <span class="ui-icon ui-icon-alert"></span>
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {% if field.label %}{{ field.label_tag }}{% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <br/><span class="help_text">({{ field.help_text }})</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <input type="submit" value="{% if edit_mode %}Сохранить{% else %}Назначить{% endif %}"/>
        <input type="submit" name="cancel_button" value="Отмена"/>
    </form>
{% endblock %}