<table>
    <tr>
        <th>№</th>
        {% if not organization_level %}
            <th>Подразделение</th>
        {% endif %}
        <th>Сфера компетенции</th>
        <th></th>
        <th>Ответственный</th>
        <th>Должность</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Адрес</th>
        <th>Примечание</th>
        {% if full %}<th>Активен</th>{% endif %}
    </tr>
    {% for rep in representatives %}
    <tr>
        <td>{{ forloop.counter }}</td>
        {% if not organization_level %}
            <td>{{ rep.department_str }}</td>
        {% endif %}
        <td>{{ rep.scope }}</td>
        <td>
                {% include "common/avatar.html" with size=64 user=rep.user %}
        </td>
        <td>{% if rep.user %}<a href="{% url user_profile_public rep.user.username %}" title="Перейти на страницу пользователя {{ rep.username }}">{{ rep.fullname }}</a>{% else %}{{ rep.comment }}{% endif %}</td>
        <td>{{ rep.post }}</td>
        <td><a href="mailto:{{ rep.email }}" title="Написать письмо">{{ rep.email }}</a></td>
        <td>{{ rep.phone_number }}</td>
        <td>{{ rep.address }}</td>
        <td>{% if rep.user %}{{ rep.comment }}{% endif %}</td>
        {% if full %}<td>{% if rep.is_active %}да{% else %}нет{% endif %}</td>{% endif %}
    </tr>
    {% empty %}
    <tr><td colspan="9">Нет ни одного активного ответственного.</td><tr>
    {% endfor %}
</table>