{% load sign_url %}
<form method="POST" action="{% sign_url url adata=adata  %}">
  {% csrf_token %}
<table>
    {% for row in dparam %}

    <tr>
      {% if row.type != 'hidden' %}
        <th style="text-align:right;" >{{ row.name }}</th>
        {% endif %}
{% if row.type == 'text' or row.type == 'hidden' %}
        <td><input type="{{ row.type }}" name="{{ row.id }}"{% if row.maxlen %} maxlength="{{ row.maxlen}}"{% endif %}{% if row.defvalue %} value="{{ row.defvalue}}"{% endif %}></td>
{% endif %}
{% ifequal row.type 'select' %}
        <td><SELECT name="{{ row.id }}">
            {% for ls in row.list %}
            <option
            {% if row.defvalue %}
                {% ifequal row.defvalue ls.id %}
                    selected
                {% endifequal %}
            {% endif %}
            value={{ls.id}}>{{ls.name}}</option>
            {% endfor %}
        </SELECT></td>
{% endifequal %}
    </tr>

    {% endfor %}
</table>
<input type="submit" value="Обновить" >
<hr class="space"/>
<input type="submit" name="PDF" value="Список для печати"/>
Расстояние между строчками в PDF (0.1-4.0), если "съезжает" подпись:
<input name="spacing" value="2.0" style="width:50px"/>
</form>
