<h3>last added activities</h3>
<p>Список последних добавленных работ.</p>
<form action="{% url benchmarks.views.last_added_activities %}" method="get">
    <table>
        {{ form }}
        <tr><td>&nbsp;</td><td><input type="submit" /></td></tr>
    </table>
</form>
