<h3>worker short</h3>
<p>Краткая информация о пользователе отображается на странице разрешения неоднозначностей. Кроме того, режим "с ссылками" позволяет оценить скорость загрузки публичного проифиля сотрудника.</p>
<form action="{% url benchmark_worker_short_form %}" method="get">
    <table>
        {{ form }}
        <tr><td>&nbsp;</td><td><input type="submit" /></td></tr>
    </table>
</form>

